// Design Hotels SASS
// ==================
// Animations
//

@keyframes bounce {
    0%, 50%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    25% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }

    75% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}
