// Design Hotels SASS
// ==================
// Global Styles which apply throughout the entire site 
//

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// Mobile and Desktop only classes 

@include respond-to(small-only) {
    // Prevent scrolling while mobile nav is open
    html, body {
        overflow-x: hidden;

    }
    .desktop-only {
        display: none;
    }
}

@include respond-to(medium) {

    html, body {
        height:100%;
        width:100%;
    } 
    .mobile-only {
        display: none;
    }
}

.clearfix {
    clear: both;
}

.sitewrap {
    position: relative;
}

h1, h2, h3, h4, h5 {
    font-family: Plantin, serif;
    font-weight: normal;
}

h2 {
    font-size: 29px;
}

a {
    text-decoration: none;
    border-bottom: 1px solid $color-gold;
    color: $color-gold;
}

@mixin link-transition {
    -webkit-transition: all 280ms ease-in-out;
    -moz-transition: all 280ms ease-in-out;
    -ms-transition: all 280ms ease-in-out;
    -o-transition: all 280ms ease-in-out;
    transition: all 280ms ease-in-out;
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin horizontal-align($position: relative) {
  position: $position;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

@mixin center-align($position: relative) {
  position: $position;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

@mixin button-yellow {
    background: $color-yellow;
    color: $color-black;
    border: 0;
    text-transform: uppercase;
    font-family: DINWebProCondBold, sans-serif;
    font-size: 0.9rem;
    line-height: 1rem;
    padding: 0.8rem 1.5rem 0.6rem;
    padding: 13px 24px 10px;
    cursor: pointer;
    vertical-align: bottom;
    @include link-transition;
}

@mixin button-black {
    background: $color-black;
    color: $color-white;
    border: 0;
    text-transform: uppercase;
    font-family: DINWebProCondBold, sans-serif;
    font-size: 0.9rem;
    line-height: 1rem;
    padding: 0.8rem 1.5rem 0.6rem;
    padding: 13px 24px 10px;
    cursor: pointer;
    vertical-align: bottom;
    @include link-transition;
}

@mixin button-white {
    background: $color-white;
    color: $color-black;
    border: 0;
    text-transform: uppercase;
    font-family: DINWebProCondBold, sans-serif;
    font-size: 0.9rem;
    line-height: 1rem;
    padding: 0.8rem 1.5rem 0.6rem;
    padding: 13px 24px 10px;
    cursor: pointer;
    vertical-align: bottom;
    @include link-transition;
}

@mixin button-transp {
    @include button-black;
    background: none;
    border: 1px solid $color-white;
    @include link-transition;
}

@mixin button-transp-black {
    @include button-black;
    background: none;
    border: 1px solid $color-black;
    color: $color-black;
    @include link-transition;
}

@mixin dh-box-shadow {
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
}

@mixin dh-text-shadow {
    text-shadow: 0 1px 4px rgba(0,0,0,0.3);
}

::-moz-selection {
    background: $color-yellow;
    text-shadow: none;
    color: $color-black;
}

::selection {
    background: $color-yellow;
    text-shadow: none;
    color: $color-black;
}

button {
    @include button-yellow;
}

.trans-cta {
    @include button-transp;
}

.trans-cta:hover {
    background: rgba(255,255,255,0.3);
}

.trans-cta:active {
    background: rgba(0,0,0,0.3);
}

.cms-white, .goldenstage-white section h1, .goldenstage-white section p, .goldenstage-white section a {
    border-color: $color-white;
    color: $color-white;
}

.cms-black, .goldenstage-black section h1, .goldenstage-black section p, .goldenstage-black section a {
    border-color: $color-black;
    color: $color-black;
}

a.cms-white:hover, .goldenstage-white section a.gs-cta:hover {
    @include button-white;
    border: 1px solid $color-white;
}

a.cms-black:hover, .goldenstage-black section a.gs-cta:hover {
    @include button-black;
    border: 1px solid $color-black;
}

#social-sidebar {
    display: none;
}
       
article.goldenstage-dinweb section h1, article.goldenstage-dinweb section p {
    font-family: DINWebProCondBold, sans-serif;
    text-transform: uppercase;
}

article.goldenstage-dinweb section h1 {
    letter-spacing: -2px;
}

article.goldenstage-plantin section h1, article.goldenstage-plantin section p {
    font-family: Plantin, serif;
}

article.video section h1 {
    letter-spacing: 0.05em;
}

.two-column, .three-column {
    width: 100%;
    float: none;
    position: relative;
    
    h2 {
        a {
            text-decoration: none;
            border: 0;
            color: $color-black;
        }
    }
}

.themes-wrapper {
    background: $color-off-white;
    padding: 2.4rem 0;
    
    .theme-wrapper {
        text-align: left;
    }
}

.single-theme {
    width: 33%;
    margin: 1rem 0;
    text-decoration: none;
    text-align: left;
    border-bottom: none;
    display: inline-block;
    
    span.theme-meta {
        @include link-transition;
        margin: 0.9rem 0 0 0;
        display: inline-block;
        color: $color-grey;
        font-family: Plantin, serif;
        font-size: 1.1rem;
        float: right;
        width: 80%;

        span.theme-desc {
            font-family: DINWebPro, sans-serif;
            font-size: 0.8rem;
        }
    }

    .csi-wrap {
        display: inline-block;
        width: 50px;
        height: 50px;
        float: left;
        width: 20%;
        
        .csi-bg {
            position: relative;
            display: inline-block;
            width: 50px;
            height: 50px;
            
            i.csi-circle {
                @include link-transition;
                position: absolute;
                display:inline-block;
                width:0;
                height:0;
                line-height:0;
                border:1.5em solid $color-icon-grey;
                border-radius:1.5em;
                left:0em;
                top:0em;
            }
            
            i.csi-strike {
                @include link-transition;
                position: absolute;
                display:inline-block;
                width:15px;
                height:1px;
                background-color:$color-icon-grey;
                left:2.9em;
                top:1.5em;
            }
            
            i.icon-default {
                position: absolute;
                color: $color-white;
                font-size: 65px;
                top: -8px;
                left: -3px;
                @include link-transition;
            }
        }
    }
}

.checkpoint {
    overflow: auto;
    margin: 2.5rem 0;
    
    span.checkpoint-meta {
        @include link-transition;
        margin: 0.5rem 0 0 0;
        display: inline-block;
        color: $color-black;
        font-family: Plantin, serif;
        font-size: 1.1rem;
        float: right;
        width: 80%;
        text-align: left;

        span.checkpoint-desc {
            font-size: 1rem;
            font-style: italic;
        }
    }
    
    .checkpoint-wrap {
        display: inline-block;
        width: 38px;
        height: 38px;
        float: left;
        width: 15%;
        
        .checkpoint-bg {
            position: relative;
            display: inline-block;
            width: 38px;
            height: 38px;
            
            i.checkpoint-circle {
                @include link-transition;
                position: absolute;
                display:inline-block;
                width:0;
                height:0;
                line-height:0;
                border:1.2em solid $color-black;
                border-radius:1.2em;
                left:0em;
                top:0em;
            }
            
            i.checkpoint-strike {
                @include link-transition;
                position: absolute;
                display:inline-block;
                width:15px;
                height:1px;
                background-color:$color-black;
                left:2.3em;
                top:1.2em;
            }
            
            i:last-child {
                position: absolute;
                color: $color-white;
                font-size: 11px;
                left: 11px;
                top: 14px;
            }
        }
    }
}


.single-theme:hover {
    span.theme-meta {
        color: $color-darker-grey;
    }

    .csi-wrap {
        .csi-bg {
            i.csi-circle {
                border-color: $color-darker-grey;
            }
            i.csi-strike {
                background-color: $color-darker-grey;
            }
        }
    }
}

@include respond-to(medium-only) {
    .single-theme {
        width: 32%;
        vertical-align: top;
        
        .csi-wrap {
            width: 29%;            
        }
        
        span.theme-meta {
            width: 68%;
        }
    }
    .checkpoint {
        span.checkpoint-meta {
            width: 70%;
        }
    }
}

@include respond-to(small-only) {

    div#sidebar {
        background: #222;
        z-index: 20001;
        overflow: auto;
        padding: 1rem;
        color: $color-light-grey;
        
        .menu-btn {
            color: $color-light-grey;
            cursor: pointer;
            float: right;
        }
        
        .menu-logo {
            a {
                border: 0;
                
                img {
                    height: 24px;
                    width: 24px;
                }
            }
        }
        
        nav#mainMenu {
            clear: both;
//            margin-top: 2.3rem;
            margin-top: 1rem;
            border-bottom: 1px solid $color-dark-grey;
            
            ul {
                padding: 0;
                margin-bottom: 0;
                list-style: none;
            }
            
            ul li a {
                display: block;
                padding: 0.6rem 0px 0.4rem;
                text-decoration: none;
                text-transform: uppercase;
                font-family: DINWebProMedium, sans-serif;
                color: $color-light-grey;
                border-bottom: 0;
                border-top: 1px solid rgba(255, 255, 255, .1);
            }
        }

        p {
            margin: 1rem 0;
            
            .sidenav-button {
                @include button-yellow;
                display: inline-block;
                padding: 8px 32px 4px;
                line-height: 28px;
                margin-right: 0.5rem;
            }
            
            .sidenav-button:hover {
                //@include button-black;
                padding: 8px 32px 4px;
                line-height: 28px;
                display: inline-block;
            }
            
            .sidenav-button:last-child {
                @include button-black;
                padding: 8px 32px 4px;
                line-height: 28px;
                display: inline-block;
                margin-right: 0.5rem;
            }
        }
        
        p.sidebar-tagline {
            font-family: Plantin, serif;
            font-size: 0.9rem;
        }
        
        p.nav-social-icons a {
            display: inline;
            font-size: 1.7rem;
            margin-right: 0.3rem;
            text-transform: none;
            border: 0;
            color: $color-grey;
        }
        
        p.nav-social-icons a:hover {
            color: $color-white;
        }
        
        .mobile-currency {
            position: relative;
            font-family: DINWebProMedium, sans-serif;
            font-size: 0.9rem;
            color: $color-light-grey;
            
            span {
                color: $color-white;
                
                i {
                    position: relative;
                    top: 2px;
                    margin-right: 2px;
                }
            }
            
            span.selected-currency {
                font-weight: bold;
                color: $color-light-grey;
                
                i {
                    font-size: 0.3rem;
                    margin-left: 5px;
                    top: -2px;
                    color: #777;
                }
            }
            
            select {
                position: absolute;
                top: 0px;
                left: 0;
                opacity: 0;
                color: #555;
            }
        }
    }
    
    .theme-wrapper {
        margin: 0 0.5rem;
        
        .single-theme {
            width: 100%;
            
            .csi-wrap {
                width: 15%;
                text-align: right;
            }
        }
    }
    
    .checkpoint {
        .checkpoint-wrap {
            text-align: right;
        }
    }
}

@include respond-to(medium) {

    .wrapper {
        margin: 0 auto;
        padding: 0 1rem;
    }

    div#sidebar {
        display: none;
    }

    .container-push {
        transform: translate3d(0px, 0px, 0px);
    }
    
    .three-column {
        width: 30%;
        float: left;
        margin-right: 3%;
    }

    .two-column {
        width: 45.5%;
        float: left;
        margin-right: 4.5%;
    }
    
    .destination-wrapper {
        margin-left: 4.5%;
        margin-right: 0;
    }
    
    .deals-wrapper {
        margin: 0px 2%;
    }
    
    .new-hotels-wrapper {
        margin: 0 0 0 3%;
    }
    
    #social-sidebar {
        display: block;
        position: fixed;
        bottom: 80px;
        right: -48px;
        z-index: 3000;
        overflow: hidden;
    }
    #social-sidebar a {
        display: block;
        border: 0;
        margin: 0 0 -2px -1px;
        background: $color-white;
        color: $color-icon-grey;
    }
    #social-sidebar a:hover {
        background: $color-off-white;
        color: $color-social-hover;
    }
    #social-sidebar a i {
        font-size: 48px;
    }
     
}

@include respond-to(large) {
    .themes-wrapper {
        .theme-wrapper {
            text-align: center;
        }
    }
}

@include respond-to(oldwrapper) {

    .wrapper {
        width: 1090px;
    }
}

@include respond-to(xlarge) {

    .wrapper {
        width: 1090px;
    }
}
