
$sectionBottomSpacing: 70px;
$color-green: #B1D398;
$color-red: #F29A79;
$color-yellow: #FFF59B;
$color-blue: #C0DFDA;

@mixin cal-cell-hover {
    background: linear-gradient(to bottom, #484848 0%, #484848 59%, #2e2e2e 60%, #2e2e2e 100%);
    background: -webkit-linear-gradient(93deg, #000000 45%,#262626 20%);
    background: -webkit-gradient(linear, top, bottom, color-stop(0.5, #000000), color-stop(1, #262626));
}






div#search-bar-calendar {
    position: absolute;
    right: 230px;
    top: 70px;
    
    .calendar-tail {
        position: absolute;
        width: 20px;
        height: 15px;
        left: 283px;
        top: -15px;
        background: url('/assets/images/dh-light/calendar-tail.png') no-repeat left top;
        display: none;
    }
    
    div.dividerCal{
        height: 165px;
        left: 294px;
        position: absolute;
        top: 70px;
        width: 1px;
        background:#c3c3c3;
        display:none;
    }

    div.datePickerClose {
        background: url('../images/dh-light/calendar-close.png') no-repeat top right;
        display: none;
        width: 15px;
        height: 15px;
        position: absolute;
        right: 15px;
        top: 15px;
        cursor: pointer;
    }

    div.datePickerArrow {
        background: url('../images/sprites.png') no-repeat -460px 0px;
        display: none;
        height: 11px;
        left: 283px;
        position: absolute;
        top: -11px;
        width: 22px;
    }
    
    div.datePickerLegend {
        display: none;
        position: absolute;
        bottom: 10px;
        left: 40px;
        font-family: DINWebPro,Arial,sans-serif;
        color: #555;
        
        span {
            display: inline-block;
            height: 12px;
            width: 12px;
            margin: 0 4px 0 10px;
        }
        
        span:first-child {
            margin-left: 0;
        }
        
        .dp-legend-green {
            background: $color-green;
        }
        
        .dp-legend-red {
            background: $color-red;
        }
        
        .dp-legend-yellow {
            background: $color-yellow;
        }
        
        .dp-legend-blue {
            background: $color-blue;
        }
    }

    div.datePickerClearAll {
        bottom: 11px;
        display: none;
        font-family: DINWebPro, Arial, sans-serif;
        font-size: 12px;
        padding-left: 14px;
        position: absolute;
        right: 39px;

        a {
            border-bottom: 1px solid #c3c3c3;
            color: #000;
        }

        span.clearIcon {
            background: url('../images/sprites.png') no-repeat -179px -13px;
            display: block;
            height: 6px;
            left: 0;
            position: absolute;
            top: 6px;
            width: 6px;
        }
    }

    a.datePickerCycleMonth {
        display: none;
        height: 38px;
        position: absolute;
        top: 133px;
        width: 21px;

        span {
            display: block;
            height: 14px;
            position: absolute;
            top: 13px;
            width: 8px;
        }
    }

    a.datePickerPrevMonth {
        left: 10px;

        span {
            background: url('../images/sprites-ux-updates.png') no-repeat -137px -8px;
            left: 7px;
        }
    }

    a.datePickerNextMonth {
        right: 10px;

        span {
            background: url('../images/sprites-ux-updates.png') no-repeat -112px -8px;
            right: 7px;
        }
    }

    div.datepicker {
        background: #FFFFFF;
        box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.3);
        height: 277px;
        width: 591px;
    }

    div.datepickerContainer > table > tbody > tr > td {
        padding: 0 0 52px 38px;

    }

    div.datepickerContainer > table > tbody > tr > td:first-child {
        //border-right: 1px solid #c3c3c3;
        padding: 0 38px 52px 39px;
    }

    table.datepickerViewDays {
        width: 216px;

        tr.calHead {
            th {
                font-size: 14px;
            }

            th.datepickerMonth {
                color: #040404;
                font-family: plantin;
                text-align: center;
                padding-bottom: 5px;
                padding-top: 19px;

                span.datepickerMonthYear {
                    color: #999 ;
                }
            }
        }

        tr.datepickerDoW {
            th {
                color: #666;
                font-family: plantin;
                font-size: 11px;
                line-height: 31px;
                text-align: center;
                text-transform: uppercase;
            }
        }

        td {
            background: #e0e0e0;
            border: 1px solid #f5f5f0;
            height: 26px;
            text-align: center;

            a {
                color: #333;
                display: block;
                font-size: 12px;
                font-family: DINWebPro, Arial, sans-serif;
                height: 26px;
                line-height: 28px;
                width: 30px;
            }
        }
        
        td:hover {
            background: #333;
            //@include cal-cell-hover;
            a {
                color: #FFFFFF;
            }
        }
        
        td.date-available {
            background: $color-green;
        }
        
        td.date-available:hover {
            @include cal-cell-hover;
        }
        
        td.date-booked {
            background: $color-red;
        }
        
        td.date-booked:hover {
            @include cal-cell-hover;
        }
        
        td.date-noarrival {
            background: $color-yellow;
        }
        
        td.date-noarrival:hover {
            @include cal-cell-hover;
        }
        
        td.date-conditions {
            background: $color-blue;
        }
        
        td.date-conditions:hover {
            @include cal-cell-hover;
        }

        td.datepickerNotInMonth,
        td.datepickerNotInMonth.datepickerSelected,
        td.datepickerDisabled {
            background: #f7f7f6 !important;

            a {
                color: #f7f7f6;
                cursor: default;
            }
        }
        
        td.datepickerDisabled {
            a {
                color: #b3b3b3;
            }
        }
        
        td.datepickerNotInMonth {
            a {
                color: #f7f7f6;
            }
        }

        td.datepickerSelectedDisabled {
            background: #333333 !important;

            a {
                color: #fff;
            }
        }
        
        td.datepickerSelected {
            background: #b5b5b5;

            a {
                color: #6c6c6c;
            }
        }
        
        td.date-checkin,
        td.date-checkout {
            background: #333333;

            a {
                color: #fff;
            }
        }
        
        tbody.datepickerMonths,
        tbody.datepickerYears {
            display: none;
        }
    }
}
