// DINWebPro
@font-face {
    font-family: DINWebPro;
    src: url("../fonts/DINWebPro.eot");
}

@font-face {
    font-family: DINWebPro;
    src: url("../fonts/DINWebPro.woff") format("woff");
}


// DINWebPro-Medium
@font-face {
    font-family: DINWebProMedium;
    src: url("../fonts/DINWebPro-Medium.eot");
}

@font-face {
    font-family: DINWebProMedium;
    src: url("../fonts/DINWebPro-Medium.woff") format("woff");
}


// DINWebPro-CondBold
@font-face {
    font-family: DINWebProCondBold;
    src: url("../fonts/DINWebPro-CondBold.eot");
}

@font-face {
    font-family: DINWebProCondBold;
    src: url("../fonts/DINWebPro-CondBold.woff") format("woff");
}


// Plantin
@font-face {
    font-family: Plantin;
    src: url("../fonts/Plantin.eot");
}

@font-face {
    font-family: Plantin;
    src: url("../fonts/Plantin.woff") format("woff");
}

@font-face {
    font-family: Plantin;
    font-style: italic;
    src: url("../fonts/Plantin-Italic.eot");
}

@font-face {
    font-family: Plantin;
    font-style: italic;
    src: url("../fonts/Plantin-Italic.woff") format("woff");
}

// Classes for CMS replacement

.font-dinwebpro {
    font-family: DINWebPro, sans-serif;
}

.font-dinwebpromedium {
    font-family: DINWebProMedium, sans-serif;
}

.font-dinwebprocond {
    font-family: DINWebProCondBold, sans-serif;
}

.font-plantin {
    font-family: Plantin, serif;
}


// Icons
@font-face {
	font-family: 'dh-icons';
	src:url('../fonts/dh-icons.eot?-hvzfon');
	src:url('../fonts/dh-icons.eot?#iefix-hvzfon') format('embedded-opentype'),
		url('../fonts/dh-icons.woff?-hvzfon&master-7.08.95') format('woff'),
		url('../fonts/dh-icons.ttf?-hvzfon') format('truetype'),
		url('../fonts/dh-icons.svg?-hvzfon#dh-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'dh-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-Design-Hotels-Deals-Icon-Breakfast-onBlack:before {
  content: "\e600";
}
.icon-Design-Hotels-Social-Link-Facebook:before {
  content: "\e601";
}
.icon-Design-Hotels-Social-Link-GooglePlus:before {
  content: "\e602";
}
.icon-Design-Hotels-Social-Link-Instagram:before {
  content: "\e603";
}
.icon-Design-Hotels-Social-Link-Pinterest:before {
  content: "\e604";
}
.icon-Design-Hotels-Social-Link-Twitter:before {
  content: "\e605";
}
.icon-Design-Hotels-Social-Link-YouTube:before {
  content: "\e606";
}
.icon-LHN-Icon-Assistance:before {
  content: "\e607";
}
.icon-LHN-Icon-Currency-V2:before {
  content: "\e608";
}
.icon-LHN-Icon-Login:before {
  content: "\e609";
}
.icon-Design-Hotels-Deals-Icon-Discount-onBlack:before {
  content: "\e60a";
}
.icon-Design-Hotels-Deals-Icon-EarlyCheckin-LateCheckout-onBlack:before {
  content: "\e60b";
}
.icon-Design-Hotels-Deals-Icon-Mini-Bar-onBlack:before {
  content: "\e60c";
}
.icon-Design-Hotels-Deals-Icon-Need-To-Know-onGrey:before {
  content: "\e60d";
}
.icon-Design-Hotels-Deals-Icon-Spa-onBlack:before {
  content: "\e60e";
}
.icon-Design-Hotels-Deals-Icon-Transfer-Airport-onBlack:before {
  content: "\e60f";
}
.icon-Design-Hotels-Deals-Icon-Upgrade-onBlack:before {
  content: "\e610";
}
.icon-Design-Hotels-Deals-Icon-Welcome-Drink-onBlack:before {
  content: "\e612";
}
.icon-Design-Hotels-Deals-Icon-Wifi-onBlack:before {
  content: "\e613";
}
.icon-Design-Hotels-Icon-Warning-Black:before {
  content: "\e614";
}
.icon-arrow-down-black:before {
  content: "\e615";
}
.icon-arrow-down-grey:before {
  content: "\e616";
}
.icon-arrow-left:before {
  content: "\e617";
}
.icon-arrow-right:before {
  content: "\e618";
}
.icon-arrow-small-down:before {
  content: "\e619";
}
.icon-arrow-small-up:before {
  content: "\e61a";
}
.icon-arrow-up-black:before {
  content: "\e61b";
}
.icon-calendar:before {
  content: "\e61c";
}
.icon-close-small:before {
  content: "\e61d";
}
.icon-close-whole:before {
  content: "\e61e";
}
.icon-external-link:before {
  content: "\e61f";
}
.icon-full-screen-whole:before {
  content: "\e620";
}
.icon-geolocator:before {
  content: "\e621";
}
.icon-Icon-Correct:before {
  content: "\e622";
}
.icon-magnifier:before {
  content: "\e623";
}
.icon-menu:before {
  content: "\e624";
}
.icon-share:before {
  content: "\e625";
}
.icon-LHN-Icon-Logout:before {
  content: "\e626";
}
.icon-arrows:before {
  content: "\e627";
}
.icon-logo:before {
  content: "\e628";
}
.icon-map-icon:before {
  content: "\e629";
}
.icon-slideshow-arrow-left:before {
  content: "\e62a";
}
.icon-slideshow-arrow-right:before {
  content: "\e62b";
}
.icon-icon-breakfast:before {
  content: "\e62c";
}
.icon-icon-invitation:before {
  content: "\e62d";
}
.icon-icon-miles_and_more:before {
  content: "\e62e";
}
.icon-icon-sales:before {
  content: "\e62f";
}
.icon-icon-wifi:before {
  content: "\e630";
}
.icon-icon-check_in:before {
  content: "\e631";
}
.icon-icon-drink:before {
  content: "\e632";
}
.icon-icon-minibar:before {
  content: "\e633";
}
.icon-icon-spa:before {
  content: "\e634";
}
.icon-icon-upgrade:before {
  content: "\e635";
}
.icon-icon-need_to_know:before {
  content: "\e636";
}
.icon-icon-services_2:before {
  content: "\e637";
}
.icon-arrow-new4:before {
  content: "\e638";
}
.icon-cart:before {
  content: "\e639";
}
.icon-Design-Hotels-Social-Link-Linkedin-Trans2:before {
  content: "\e63a";
}
.icon-box-share-email:before {
  content: "\e800";
}
.icon-box-share-facebook:before {
  content: "\e801";
}
.icon-box-share-googleplus:before {
  content: "\e802";
}
.icon-box-share-linkedin:before {
  content: "\e803";
}
.icon-box-share-twitter:before {
  content: "\e804";
}
.icon-circled-help:before {
  content: "\e805";
}
.icon-magnify-glass:before {
  content: "\e806";
}
.icon-themes-beach:before {
  content: "\e900";
}
.icon-themes-cities:before {
  content: "\e901";
}
.icon-themes-familyfriendly:before {
  content: "\e902";
}
.icon-themes-greenhotels:before {
  content: "\e903";
}
.icon-themes-mountain:before {
  content: "\e908";
}
.icon-themes-newhotels:before {
  content: "\e909";
}
.icon-themes-offbeat:before {
  content: "\e90a";
}
.icon-themes-wellness:before {
  content: "\e90b";
}
.icon-themes-wine:before {
  content: "\e90c";
}
.icon-ux2-calendar-booking:before {
  content: "\e90d";
}
.icon-ux2-deal:before {
  content: "\e90e";
}
.icon-ux2-hotels:before {
  content: "\e90f";
}
.icon-ux2-sale-50:before {
  content: "\e910";
}
.icon-ux2-single-hotel:before {
  content: "\e911";
}
.icon-checkmark:before {
  content: "\e912";
}
.icon-arrow-right2:before {
  content: "\e913";
}
.icon-arrow-slider-left-new-again:before {
  content: "\e914";
}
.icon-arrow-slider-right-new-again:before {
  content: "\e915";
}
.icon-themes-romantic-getaways:before {
  content: "\e916";
}
.icon-themes-rooftop:before {
  content: "\e917";
}
.icon-themes-yoga:before {
  content: "\e918";
}
.icon-themes-nyc:before {
  content: "\e919";
}
.icon-Design-Hotels-Social-Link-Instagram-new .path1:before {
  content: "\e904";
  // color: rgb(153, 153, 153);
}
.icon-Design-Hotels-Social-Link-Instagram-new .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(34, 34, 34);
}
.icon-Design-Hotels-Social-Link-Instagram-new .path3:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(34, 34, 34);
}
.icon-Design-Hotels-Social-Link-Instagram-new .path4:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(34, 34, 34);
}
