
@mixin mobile-yellow-button {
	text-align: center;
	font-family: DINWebProCondBold, Arial, sans-serif;
	font-size: 16px;
	line-height: 44px;
	color: #222222;
	text-transform: uppercase;
	letter-spacing: 0.5px;

	background: #ffed1d;
	background: -moz-linear-gradient(top, #ffed1d 50%, #f5e313 50%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#ffed1d), color-stop(50%,#f5e313));
	background: -webkit-linear-gradient(top, #ffed1d 50%,#f5e313 50%);
	background: -o-linear-gradient(top, #ffed1d 50%,#f5e313 50%);
	background: -ms-linear-gradient(top, #ffed1d 50%,#f5e313 50%);
	background: linear-gradient(to bottom, #ffed1d 50%,#f5e313 50%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffed1d', endColorstr='#f5e313',GradientType=0);
}

footer#mainFooter {
    background-color: #222222;
    color: #FFFFFF;
    margin-top: 5rem;
    
    > div {
        max-width: 1090px;
        padding: 0px 15px;
        margin: 0 auto;
    }
    
    a {
        color: #888;
        border: none;
    }

    a:hover {
        text-decoration: underline;
        color: #EEEEEE;
    }

    ul#footerLinks {
        overflow: auto;
        margin-bottom: 35px;
        
        > li {
            width: 16.6%;
            font-family: DINWebProMedium, Arial, sans-serif;
            font-size: 12px;
            text-transform: uppercase;
            line-height: 25px;
            float: left;
                        
            > ul {
                padding-right: 22px;
            }
        }
        
        .sectionHeadingBar {
            margin-top: 35px;
            margin-bottom: 18px;
            height: 1px;
            width: 18px;
            background: #404040;
            line-height: 1px;
        }
        
        .footerURL {
            margin-bottom: 9px;
            line-height: 16px;
            margin-top: 5px;
            
            a:hover {
                color:#EEEEEE;
                text-decoration:none;
            }
        }
    }

    li.header {
        font-family: DINWebProCondBold, Arial, sans-serif;
        font-size: 18px;
        line-height: 20px;
        padding-bottom: 7px;
    }

    p#footerQuote {
        font-family: plantin;
        font-size: 25px;
        font-style: italic;
        padding-left: 30px;
        margin-bottom: 45px;

        span.spacer {
            background-color: #fff;
            display: inline-block;
            height: 5px;
            margin-bottom: 6px;
            margin-right: 12px;
            width: 88px;
        }
    margin-top: 5rem;

        span.credit {
            font-style: normal;
            font-size: 13px;
        }
    }

    div#logos {
        margin-bottom: 24px;

        a {
            background: url('../images/sprites.png') no-repeat 0px 0px;
            display: block;
            float: left;
            height: 40px;
            margin-right: 22px;
        }

        a.visa {
            background-position: -40px -157px;
            width: 64px;
        }

        a.paypal {
            background-position: -104px -157px;
            width: 64px;
        }

        a.americanExpress {
            background-position: 0px -157px;
            width: 40px;
        }

        a.lufthansa {
            background-position: -168px -157px;
            height: 43px;
            float: right;
            margin-right: 0;
            width: 109px;
        }
    }

    p#copyright {
        line-height: 44px;
        font-family: plantin;
        font-size: 13px;
        color: #888;
        float: left;
        margin-top: 22px;
    }

    div#socialMedia {
        float: right;
        $sprite: url('../images/sprites.png') no-repeat 0px -122px;
        padding: 0 35px;
        margin-top: 22px;
        margin-bottom: 17px;

        ul {
            
            li {
                /*background: $sprite;*/
                float: left;
                margin-right: 11px;
                margin-top: 3px;
                font-size:35px;

                a {
                    display: block;
                    height: 35px;
                    width: 35px;
                }
                a:hover{
                    text-decoration:none;
                }
            }

        }

        span.vertical-bar {
            width: 1px;
            height: 17px;
            margin-top: 12px;
            margin-left: 7px;
            display: inline-block;
            background-color: #404040;
        }

       .norton {
            background: $sprite;
            background-position: -328px -156px;
            float: right;
            margin-right:0;
            margin-left: 18px;
            height: 44px;
            width: 83px;
            
            a{
                height: 44px;
                width: 83px;
            }
        }
    }
}

@include respond-to(medium-only) {
    footer#mainFooter {
        div#socialMedia ul li {
            margin-right: 5px;
        }
        
        div#socialMedia .norton {
            margin-left: 13px;
        }
    }
}

@include respond-to(footer-early-mobile, '(max-width: 840px)') {
    footer#mainFooter {
        p#copyright {
            float: none;
            text-align: center;
            font-size: 12px;
            line-height: 20px;
            padding: 0 10px 10px;
            width: auto;
            margin: 0px;
        }
        
        div#socialMedia {
            float: none;
            margin: 0px;
            padding: 0 0 45px;
            text-align: center;
            
            span.vertical-bar,
            .norton { 
                display: none;
            }
            
            ul li {
                float: none;
                display: inline-block;
                margin: 0px 5px;
            }
        }
    }
}

@include respond-to(small-only) {
    .mobile-footer-currency .mobile-currency select {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border: 0 none;
        color: #fff;
        opacity: 0;
        position: absolute;
        top: 0;
    }
    
    footer#mainFooter {
        position: relative;
		clear:both;
        margin: 3rem 0 0;
        padding: 0px 0px 41px 0px;
        overflow: auto;
        
        > div {
            padding: 0px;
        }
        
        ul#footerLinks {
            margin: 45px 0 25px;

            li {
                width: auto;
                display: block;
                padding: 0;

                ul {
                    padding: 0;

                    li {
                        padding: 0;

                        i {
                            float: right;
                            color: #404040;
                            font-size: 12px;
                        }
                    }

                    li.footerURL {
                        display: none;

                        .icon-external-link {
                            display: none !important;
                        }
                    }

                    li.external-link {
                        .icon-external-link {
                            display: block !important;
                        }
                    }

                    li.sectionHeadingBar {
                        display: none;
                    }
                }
            }

            > li {
                border-top: 1px solid #404040;
                padding-top: 15px;
                margin: 0 10px;
                float: none;
            }

            >li:last-child {
                border-bottom: 1px solid #404040;
            }

            li.header {
                font-size: 19px;
                margin-bottom: 10px;

                i {
                    float: right;
                    font-size: 6px;
                    line-height: 15px;
                    color: #404040;
                }
            }
        }
    }
    
    
    footer.mobile-footer {
        position: fixed;
        bottom: -1px;
        height: 41px;
        width: 100%;
        background: #000;
        color: #fff;
        font-family: DINWebPro, Arial, sans-serif;
        text-align: center;
        z-index: 20000;
        
        a {
            color: #FFFFFF;
            border: 0;
        }
        
        > div {
            background: url(/assets/images/mobile/sticky-footer-border.png) repeat-y right center;
            display: block;
            float: left;
            padding: 8px 13px;
            font-size: 15px;
            line-height: 40px;

            a {
                display: block;
                height: 100%;
                width: 100%;

                i {
                    font-size: 21px;
                    color: #777;
                    position: relative;
                    top: 4px;
                    right: 2px;
                }
            }

        }
        
        .mobile-footer-currency {
            background: transparent;
        }
        
        .mobile-footer-currency .mobile-currency {
            font-size: 12px;
            font-family: DINWebProMedium, arial;
            position: relative;
        }
        
        .mobile-footer-currency .mobile-currency span {
            display: none;
        }

        .mobile-footer-currency .mobile-currency select {
            width: 100%;
            height: 100%;
            left: 0;
        }
        
        .mobile-footer-currency .mobile-currency div.selected-currency i {
            position: relative;
            font-size: 4px;
            left: 4px;
            color: #777;
            top: -2px;
        }

    }

    footer.mobile-footer-standard {
        min-width: 320px;

        > div {
            padding: 0;
            font-size: 12px;
        }

        .mobile-footer-call {
            width: 126px;
            
            .icon-LHN-Icon-Assistance {
                top: 2px;
                font-size: 16px;
            }
        }
        
        .mobile-footer-location {
            width: 123px;
            
            .icon-geolocator {
                top: 2px;
                right: 3px;
                font-size: 13px;
            }
        }

        .mobile-footer-currency {
            width: 61px;
        }
    }

    footer.mobile-footer-availability, footer.mobile-footer-book-now {
        > div {
            padding: 0;
        }

        .mobile-footer-call {
            width: 12%;
            
            .icon-LHN-Icon-Assistance {
                top: 2px;
                font-size: 16px;
            }
        }

        .mobile-footer-location {
            width: 12%;
            
            .icon-geolocator {
                top: 2px;
                right: 1px;
                font-size: 13px;
            }
        }

        .mobile-footer-currency {
            width: 20%;
            border-right: 0;
        }

        .mobile-footer-cta {
            width: 56%;

            a {
                @include mobile-yellow-button;
                display: block;
                font-size: 14px;
                text-shadow: 1px 1px 0 #fff;
                line-height: 40px;
            }

        }

    }
}
