// Design Hotels SASS
// ==================
// Header -- Desktop and Mobile
//

#header-wide-bg {
    display: none;
}

#title {
    float: left;
    margin: 2.1rem 0px 0.8rem;
        
    a {
        display: block;
/*
        background: url(../images/dh-light/logo-dh.png) no-repeat center;
        background-size: contain;
        height: 36px;
        width: 240px;
        text-indent: -10000px;
*/
        border: 0;
        font-size: 2.3rem;
        color: $color-black;
    }
}

nav#topnav {
    color: $color-grey;
    font-family: DINWebProMedium, sans-serif;
    font-size: 0.8rem;
    float: right;
    
    ul {
        margin: 1rem 0 0;
    }
    
    li {
        display: inline-block;
        margin-right: 1rem;
        
        > a:hover {
            color: $color-black;
        }
    }
    
    li:last-child {
        margin-right: 0;
    }
    
    a {
        color: $color-grey;
        text-decoration: none;
        border: 0;
    }
        
    .currencySwitchButton {
        a {
            cursor: pointer;
                
            i {
                font-size: 4px;
                position: relative;
                top: -0.1rem;
            }
        }
        
        > a:hover {
            color: $color-black;
        }
    }
    
    .currencySwitchList {
        display: none;
        position: absolute;
        top: 40px;
        width: 230px;
        background: $color-white;
        box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
        z-index: 2000;
        
        ul {
            max-height: 400px;
            overflow: auto;
            margin: 0;
            padding: 0;

            li {
                display: block;
                margin: 0;
                
                a {
                    display: block;
                    padding: 0.45rem 0.45rem 0.3rem;
                    border-bottom: 1px solid $color-light-grey;
                    cursor: pointer;
                    
                    span {
                        font-weight: bold;
                    }
                }
               
                a:hover {
                    background: $color-yellow;
                    color: $color-black;
                }
            }
            
            li:last-child {
                a {
                    border-bottom: 0;                    
                }
            }
        }
        
        .currencySwitchArrow {
            background: transparent url("/assets/images/dh-light/sprites.png") no-repeat scroll -272px -8px;
            top: -11px;
            height: 11px;
            left: 57px;
            position: absolute;
            width: 18px;
        }
    }
}

nav#mainnav {
    clear: right;
    float: right;
    margin-top: 1rem;
    
    li {
        display: inline-block;
        margin-right: 1rem;
        
        a {
            @include link-transition;
            border-bottom: 1px solid $color-white;
            color: $color-black;
            text-transform: uppercase;
            font-family: DINWebProCondBold, sans-serif;
            font-size: 1.2rem;
            padding-bottom: 0.2rem;
        }
        
        a:hover {
            border-bottom: 1px solid $color-grey;
        }
    }
    
    li:last-child {
        margin-right: 0;
    }
}

#search-bar {
    background: rgba(255,255,255,0.8);
    position: absolute;
    width: 100%;
    z-index: 100;
    -webkit-transition: background 420ms ease-in-out;
    -moz-transition: background 420ms ease-in-out;
    -ms-transition: background 420ms ease-in-out;
    -o-transition: background 420ms ease-in-out;
    transition: background 420ms ease-in-out;
    
    a {
        border: none;
    }
    
    .calendar-icon {
        width: 19px;
        height: 17px;
        background: url('../images/dh-light/sprites.png') no-repeat -529px -49px;
        display: inline-block;
        position: relative;
        left: -2px;
        top: 3px;
    }
    
    #search-form {
        float: left;
        //width: 25%;
        position: relative;
        
        i {
            position: relative;
            top: 4px;
            color: $color-grey;
            @include link-transition;
            font-size: 22px;
        }
        
        #search-input {
            display: none;
            background: none;
            border: 0;
            border-left: 1px solid $color-grey;
            font-family: DINWebPro,sans-serif;
            font-size: 0.9rem;
            color: $color-black;
            padding: 0.8rem 0.7rem 0.4rem;
            margin: 0.7rem 0.5rem;
            width: 90%;
            outline: none;
        }
    }
    
    #search-form.error {
        #search-input {
            color: $color-error;
        }
        
        #search-input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
            color: $color-error;
        }
        
        #search-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
           color: $color-error;
           opacity:  1;
        }
        
        #search-input::-moz-placeholder { /* Mozilla Firefox 19+ */
           color: $color-error;
           opacity:  1;
        }
        
        #search-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
           color: $color-error;
        }
    }
    
    #search-params {
        float: right;
        position: relative;
        
        > span {
            display: inline-block;
            border-left: 1px solid $color-grey;
            margin: 0.6rem 0;
            padding: 0.5rem 1rem;
            color: $color-black;
            font-family: DINWebPro,sans-serif;
            font-size: 0.9rem;
            
            i {
                margin: 0 0.3rem 0 0;
                cursor: pointer;
            }
            
            i.icon-arrow-small-down {
                font-size: 4px;        
                position: relative;
                top: -0.1rem;
                margin: 0 0 0 0.3rem;
            }
            
            span.label {
                width: 82px;
                display: inline-block;
                cursor: pointer;
            }
        }
        
        span#choose-guests {
            width: 179px;
            padding: 0.9rem 1rem 0.5rem;

            br {
                display: none;
            }

            span {
                cursor: pointer;
            }

            li[id^='ageForChild'] {
                border-top: 2px solid #C3C3C3;
                box-shadow: 0px 2px 0px 0px #ffffff;
            }

            span.label_child {
                line-height: 40px;
                height: 25px;
                display: block;
            }
            span.label_child_hint {
                line-height: 25px;
                height: 10px;
                float: left;
                font-style: italic;
                font-size: x-small;
            }
        }
        
        button {
            padding: 1.4rem 3rem 1.2rem;
            font-size: 1.2rem;
        }

        button#search-start:hover {
            background: #fff669;
        }
    }
}

#searchEngineAutocomplete {
    display: none;
    position: absolute;
    top: 57px;
    left: 34px;
    width: 300px;
    border: 1px solid #C3C3C3;
    @include dh-box-shadow;
    
    a {
        color: #000000;
    }
    
    li {
        background: #fff;
        display: block;
        font-family: DINWebPro, Arial, sans-serif;
        font-size: 14px;
        height: 46px;
        line-height: 46px;
        position: relative;

        ul {
            display: none;
            position: absolute;
            top: 1px;
            left: 290px;
            @include dh-box-shadow;
            width: 300px;
            max-height: 280px;
            overflow-y: auto;

            li {
                overflow: hidden;
                position: relative;
                padding: 0 10px;
            }
            
            li:hover {
                background: $color-auto-sugg-hover;
            }
        }

        span {
            color: #000000;
        }
        
        > div {
            padding: 0 20px 0 40px;
            z-index: 200;
            position: relative;
            border-top: 1px solid #d5d3d1;
            
            .icon {
                position: absolute;
                left: 16px;
                top: 13px;
                font-size: 18px;
                color: #95928b;
            }
        }
    }

    li.auto-suggest-list > div {
        border: none;
    }
    
    li:hover {
        cursor: pointer;

        ul {
            display: block;
        }
        
        div {
            background: $color-auto-sugg-hover;
        }
    }
    
    li.auto-suggest-list:hover {
        div {
            background: transparent;
        }
        
        div:hover {
            background: $color-auto-sugg-hover;
        }
        
        div.selected {
            background: $color-auto-sugg-hover;
        }
    }
    
    li:last-child {
        
    }
    
    > li {
        height: 47px;
        
        div.selected {
            background: $color-auto-sugg-hover;
        }
    }
    
    > li.auto-suggest-list {
        background-color: #fff;
        height: auto;
        overflow-y: auto;
    }
    
    .shadow-fix {
        position: absolute;
        display: none;
        width: 10px;
        height: 47px;
        right: 0px;
        top: 0px;
        background: #FFFFFF;
    }
}

@include respond-to(medium) {
    #search-bar.search-bar-fixed {
        position: fixed;
        width: 100%;
        top: 0;
        background: rgba(235,235,230,1);
        @include dh-box-shadow;
    }
}

@include respond-to(large) {
    #search-bar {
        #search-form {
            //width: 45%;
        }
    }
}

@include respond-to(small-only) {

    #mobile-header {
        text-align:center;
        padding: 1.5rem 0.9rem 0px 0.9rem;
        border-bottom: 1px solid $color-light-grey;
        
        position: fixed;
        width: 100%;
        background: $color-white;
        z-index: 10000;
        
        
        #mobile-main-header {
            padding-bottom: 0.9rem;
            background: $color-white;
            z-index: 100;
            
            .menu-btn {
                float: left;
                cursor: pointer;
                
                i {
                    font-size: 1.1rem;
                }
            }
            
            .icon-logo {
                font-size: 1.5rem;
                position: relative;
                top: -3px;
            }
            
            > a {
                border: 0;
                color: $color-black;
                
                img {
                    height: 20px;
                    width: auto;
                }
            }
            
            > i {
                float: right;
                cursor: pointer;
            }
        }
        
        #mobile-search-bar {
            display: none;
            position: relative;
            
            button {
                position: relative;
                top: -1px;
                margin-bottom: -1px;
                padding: 0.6rem 0.7rem;
                width: 25%;
                z-index: 100;
            }
            
            #mobile-search-autosuggest {
                position: absolute;
                width: 100%;
                background: $color-white;
                border: 1px solid $color-light-grey;
                border-top: 0;                
                z-index: 10;
                -webkit-transition: all .3s ease;
               -moz-transition:     all .3s ease;
                -ms-transition:     all .3s ease;
                    transition:     all .3s ease;
            }
            
            #mobile-search-autosuggest.as-open {
                transform: translate(0px, 0px);
                opacity: 1;
                z-index: 10;
            }

            #mobile-search-autosuggest.as-closed {
                transform: translate(0px, -110%);
                opacity: 0;
                z-index: -1;
            }
        }
        
        .mobile-search-shadow {
            @include dh-box-shadow;
        }
    }
}

@include respond-to(medium-only) {
    #search-bar {
        #search-params {
            span#choose-guests {
                width: 117px;
                padding: 0.3rem 1rem;
                position: relative;
                top: 4px;
                margin-top: 0.4rem;
                
                br {
                    display: inline;
                }
            }
        }
    }
}

#choose-guests {
    position: relative;
}

ul#guestsPicker {
    background: #fff;
    border: 1px solid #c3c3c3;
    display: none;
    left: -1px;
    position: absolute;
    top: 44px;
    width: 169px;

    li {
        color: #000;
        font-family: DINWebPro, Arial, sans-serif;
        font-size: 12px;
        height: 46px;
        line-height: 50px;
        padding-left: 10px;
        position: relative;

        div.spinner {
            border-left: 1px solid #e6e6e6;
            box-shadow: -1px 0 0px 0px #f2f2f2;
            font-size: 13px;
            height: 46px;
            padding-left: 17px;
            position: absolute;
            right: 0;
            top: 0;
            width: 59px;

            span.spinnerValue {
            }

            a.spinnerIncrease,
            a.spinnerDecrease {
                display: block;
                height: 23px;
                overflow: hidden;
                position: absolute;
                text-indent: 100px;
                right: 0;
                top: 0;
                width: 33px;
            }

            a.spinnerIncrease {
                background: url('../images/sprites.png') no-repeat -107px -19px;
            }

            a.spinnerDecrease {
                background: url('../images/sprites.png') no-repeat -140px -19px;
                top: 23px;
            }
        }
    }

    li:first-child {
        border-bottom: 1px solid #c3c3c3;
    }

}

#sidebar {
    .menu-font {
        color: #707070;
        margin-right: 9px;
    }

    #logout {
        color: #cfcfcf;
        text-decoration: none;
        border-bottom: none;
        font-size: 12px;

        &:hover {
            color: #a96c16;
        }
    }
}

