/* lightboxes */
#lightboxLogin {
    .emailAddressConfirmLabelWrap{
        float:left;
    }
    .emailAddressConfirmWrap {
        float: left;
        width:100%;
    }

    .forgotpasswordWrap {
        float: right;
    }
}

#lightboxRegister {
    p {
        text-align: justify;
    }

    .lightboxCheckboxWrapper label a {
        padding-top: 4px;
    }
}

div#lightboxResetSuccess {
    display: none;
    min-height: 214px;
    position: relative;
}
div#lightboxUpdatePreferencesSuccess, div#lightboxResetMessage {
	display:none;
}
div#lightboxUpdatePreferences {
    display: none;
    position: relative;

    h5 {
        margin-bottom: 30px;
    }
    li{
		margin-bottom: 47px;

	}
	form {
	    padding-bottom:50px;
            margin-top: 10px;
	}
	p {
		color: #666666;
                line-height: 1.5;
	}
	span.toggler-cntr{
		margin: 0px;
	}
	.element-label{
		width: 80%;
		display: block;
		float: right;
                line-height: 17px;
		.label-headline{
			font-size: 13px;
			color:#000000;
                        font-family: DINWebProMedium;
                }
                .subheadline {
                        font-size: 13px; 
			color:#000000;
                }
	}

        .lightboxFooter {
            p{
                a {
                    text-decoration: underline;
                }
            }
        }
}
#gobtnfix {
    margin-left: 100px;
    margin-top: 30px;
}

div.ui-dialog {

	z-index: 100005;
}

div.ui-widget-overlay {
    background: #fff;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; /* IE 8 */
    filter: alpha(opacity=80); /* IE 5-7 */
    top: 0;
    z-index:10000;
}

div.ui-dialog.ui-corner-all {
    border-radius: 0;
}

div.ui-widget-content {
    background: #fff;
    border: 0;
    box-shadow: 0 0 2px 1px rgba(0,0,0,0.1);
    color: #222;
    padding: 0;
}

.ui-front {
    z-index: 102;
}


div.ui-dialog {
    div.ui-dialog-content {
        font-family: DINWebPro, Arial, sans-serif;
        font-size: 12px;
        padding: 20px;
        position: relative;
        overflow: visible;
        div#lightboxResetForm, div#lightboxRegisterForm{
            form {
               margin-top:20px;
            }
        }
        h5 {
            font-family: Plantin, Arial, serif;
            font-size: 16px;
            margin-bottom: 26px;
            text-align: center;
        }

        form {
            //background-color: #f5f5f5;
			background-color: #F7F7F4;
            margin-bottom: 9px;
            padding: 40px 40px 20px;
            position: relative;

            ul {
                overflow: hidden;
                padding-right: 44px;
            }

            li {
                margin-bottom: 30px;
                display: block;
                position: relative;

                div.errorMessage {
                    color: #a96c16;
                    font-family: DINWebPro, Arial, sans-serif;
                    font-size: 12px;
                }

                div.valid {
                    background: url('/assets/images/sprites.png') no-repeat -149px -49px;
                    display: none;
                    height: 27px;
                    left: 309px;
                    position: absolute;
                    top: 33px;
                    width: 27px;
                }
            }

            li.lightboxCheckboxWrapper {
                overflow: hidden;

                span.checkbox {
                    background: url("/assets/images/sprites.png") no-repeat scroll -128px -101px rgba(0, 0, 0, 0);
                    cursor: pointer;
                    display: block;
                    float: left;
                    height: 21px;
                    margin-right: 15px;
                    width: 21px;
                }

                span.checkbox.checked {
                    background-position: -107px -101px;
                }

                span.label {
                    float: left;
                    line-height: 25px;
                }

                input {
                    display: none;
                }
            }

            label {
                font-family: DINWebProMedium, Arial, sans-serif;
                font-size: 13px;
                display: block;
                margin-bottom: 8px;
                overflow:auto;
            }

            input {
                background-color: #fff;
                border: 0;
                box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.5);
                color: #000;
                font-family: DINWebPro, Arial, sans-serif;
                font-size: 14px;
                height: 46px;
                line-height: 46px;
                position: relative;
                text-indent: 12px;
                margin-bottom: 10px;
                width: 300px;
            }

            li.error {
                input {
                    -webkit-appearance: none;
                    box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.5), inset 0 0 0 5px #bf883b;
                }
            }
        }

        div#lightboxRegisterSuccess{
            display: none;
            min-height: 214px;
            position: relative;

            p#lightboxRegisterThanks {
                margin-bottom: 26px;
                text-align: center;
            }

            p.help {
                text-align: center;

                span.icon.phone {
                    left: 0;
                    position: relative;
                    top: 4px;
                }
            }
        }

        p.links {
            clear: left;
        }

        a.close {
            background: #4e4e4e;
            border: 0;
            display: block;
            height: 35px;
            position: absolute;
            right: 0;
            top: 0;
            width: 35px;
            outline: none;
            padding:0;
            span {
                background: url('/assets/images/sprites.png') no-repeat -268px -141px;
                display: block;
                height: 15px;
                left: 11px;
                position: absolute;
                top: 10px;
                width: 14px;
            }
        }

        a {
            color: #a96c16;
            border-bottom: 1px solid #a96c16;
        }

        a.submit {
            background: #222222;
            color: #fff;
            display: inline-block;
            font-family: DINWebProCondBold, Arial, sans-serif;
            font-size: 14px;
            height: 35px;
            letter-spacing: 1px;
            line-height: 37px;
            padding: 0 28px;
            text-transform: uppercase;

            bottom: 0;
            border: 0;
            position: absolute;
            right: 0;
        }
        a.submit:hover {
            background: #000000;
        }
        a.submit:active {
            -webket-box-shadow: 5px 7px 3px -4px #000000 inset;
            box-shadow: 5px 7px 3px -4px #000000 inset;
            background: #222222;
        }
        a.gobtn{
            background: #222222;
            color: #fff;
            display: inline-block;
            font-family: DINWebProCondBold, Arial, sans-serif;
            font-size: 14px;
            height: 35px;
            letter-spacing: 1px;
            line-height: 37px;
            padding: 0 28px;
            text-transform: uppercase;
            margin:10px 0 40px 0px;
        }
        a.gobtn:hover {
            background: #000000;
        }
        a.gobtn:active {
            -webket-box-shadow: 5px 7px 3px -4px #000000 inset;
            box-shadow: 5px 7px 3px -4px #000000 inset;
            background: #222222;
        }
        div.lightboxFooter {
            height: 15px;
            margin-bottom: 8px;

            p.cancel {
                display: inline-block;
                float: left;
                padding:0;
            }

            p.help {
                display: inline-block;
                float: right;
                position: relative;
                padding:0;
            }

            div.keepMeLoggedIn {
                display: inline-block;
                float: right;
                top: 10px;
                position: relative;

                .checkbox {
                    position: absolute;
                    right: 107px;
                    top: -3px;
                    width: 16px;
                    height: 16px;
                    background: #FFFFFF;
                    -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.5);
                    -moz-box-shadow:    1px 1px 2px 0px rgba(0, 0, 0, 0.5);
                    box-shadow:         1px 1px 2px 0px rgba(0, 0, 0, 0.5);
                    cursor: pointer;
                }

                .checkbox-check {
                    position: absolute;
                    right: 107px;
                    top: -3px;
                    width: 18px;
                    height: 14px;
                    background: url('../images/icon-checkmark.png');
                    cursor: pointer;
                    display: none;
                }

                .checkbox-check-visible {
                    display: block;
                }
            }
        }

        span.icon.phone {
            background: url("../images/sprites.png") no-repeat scroll -107px -82px rgba(0, 0, 0, 0);
            display: inline-block;
            height: 19px;
            left: -25px;
            margin-right: 10px;
            position: absolute;
            top: -4px;
            width: 19px;
        }
    }
}

div.lightboxDialog div.ui-dialog-titlebar {
    display: none;
}

div.lightbox {
    background-color: #fff;
    display: none;
    padding: 20px 20px 0 20px;
    overflow: hidden;
    position: relative;

    p {
       padding: 0 35px;
       text-align: center;

    }

    sup {
       font-size: 8px;
    }
}

div#lightboxSignupWelcome {
    .wrapper {
        width: auto;
    }
    .inside-content {
        text-align: center;
        padding: 123px 0;

        .intro {
            width: 420px;
            margin: 0 auto;

            .bigLine {
                margin: 0 auto 40px;
            }

            h3 {
                font-family: Plantin,Arial,serif;
                font-size: 29px;
                line-height: 35px;
            }
            p {
                font-size: 12px;
                line-height: 17px;
                display: block;
                margin: 20px 0 40px;
            }
        }

        a, span {
            display: inline-block;
            margin: 0 8px;
        }

        span {
            font-family: DINWebProCondBold;
            font-size: 14px;
        }
    }
}

#secureCampaign{
    h5{
        font-size:28px;
        margin:44px 140px;
        span{
            font-style:italic;
        }
    }
    div#lightboxPromoForm{
        form{
            padding: 20px 0 90px;
            text-align: center;

            .requiredWarning{
                text-align: right;
                padding: 0 20px;
            }
            .promoWrapper{
                display: inline-block;
                margin-top: 35px;
                label{
                    text-align: left;
                    margin-bottom: 14px;
                }
                input {
                    float: left;
                    width: 390px;
                }
                a{
                    background: #222222;
                    color: #fff;
                    display: inline-block;
                    font-family: DINWebProCondBold, Arial, sans-serif;
                    font-size: 14px;
                    height: 35px;
                    letter-spacing: 1px;
                    line-height: 37px;
                    padding: 0 28px;
                    text-transform: uppercase;
                    float: left;
                    bottom: auto;
                    right: auto;
                    height: 46px;
                    padding: 0 55px;
                    line-height: 48px;
                    position: static;
                }
                .error{
                    display:none;
                    color:#eb0000;
                    clear:both;
                    text-align:left;
                }
            }
        }
    }
}


.fb-lightbox-content {
    background: #f7f7f4;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 71px;
    margin-bottom: 13px;
}

.fb-sign-button {
    font-family: DINWebProCondBold, Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    background: #47669d;
    color: #FFFFFF;
    width: 190px;
    height: 35px;
    display: inline-block;
    line-height: 36px;
    letter-spacing: 0.5px;
    cursor: pointer;
    position: relative;
    text-align: left;
    
    .fb-icon {
        display: inline-block;
        width: 34px;
        height: 30px;
        background: url('../images/sprites.png') no-repeat -510px 0px;
        position: absolute;
        left: 0px;
        top: 0px;
    }
    
    .label {
        display: inline-block;
        padding-left: 46px;
    }
}

.fb-or {
    color: #000000;
    font-family: DINWebProMedium, Arial, sans-serif; 
    font-size: 13px;
    line-height: 60px;
}

.not-fb-sign-button {
    font-family: DINWebProCondBold, Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    background: #222222;
    color: #FFFFFF;
    width: 190px;
    height: 35px;
    display: inline-block;
    line-height: 36px;
    letter-spacing: 0.5px;
    cursor: pointer;
}

.not-fb-sign-button:hover {
    background: #000000;
}

div.ui-dialog div.ui-dialog-content h5 {
    font-family: Plantin,Arial,serif;
    font-size: 16px;
    margin-bottom: 26px;
    text-align: center;
    margin-top: 0px;
}

#lightboxRegisterAuto {
    padding: 0px;
    box-sizing: content-box;
    
    h5 {
        font-size: 29px;
        line-height: 100px;
        margin: 0px;
    }
    
    sup {
        position: relative;
        top: -3px;
        line-height: 10px;
    }
    
    .wrapper {
        height: 610px;
        width: auto;
        padding: 0px;
    }
    
    .register-content {
        position: relative;
        width: 736px;
        height: 460px;
        margin-left: 23px;
        
        .inside-content {
            //width: 418px;
            height: 460px;
            background: url('../images/signup-bg/lines.png') no-repeat center top;
            margin: 0px auto;
            
            .intro {
                font-family: Plantin, Arial, serif;
                font-size: 22px;
                color: #FFFFFF;
                text-align: center;
                padding-top: 78px;
                line-height: 28px;
                
                a {
                    border-bottom: 1px solid #a96c16;
                }
            }
            
            .checkbox {
                position: absolute;
                left: 161px;
                top: 257px;
                width: 16px;
                height: 16px;
                background: #FFFFFF;
                -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.5);
                -moz-box-shadow:    1px 1px 2px 0px rgba(0, 0, 0, 0.5);
                box-shadow:         1px 1px 2px 0px rgba(0, 0, 0, 0.5);
                cursor: pointer;
            }
            
            .checkbox-check {
                position: absolute;
                left: 161px;
                top: 257px;
                width: 18px;
                height: 14px;
                background: url('../images/icon-checkmark.png');
                cursor: pointer;
                display: none;
            }
            
            .checkbox-please {
                position: absolute;
                left: -55px;
                top: 202px;
                width: 265px;
                height: 56px;
                background: url('../images/please-agree.png');
                display: none;
                p {
                    line-height: 1.3;
                    text-align: left;
                    padding: 10px;
                }
            }
            
            .checkbox-error {
                border: 3px solid #a96c16;
                width: 10px;
                height: 10px;
            }
            
            .email-address-error {
                color: #FFFFFF;
                background: #bf883b;
            }
            
            .checkbox-check-visible {
                display: block;
            }
            
            .checkbox-label {
                position: absolute;
                left: 192px;
                top: 257px;
                color: #FFFFFF;
                line-height: 18px;
                text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
                
                a {
                    color: #FFFFFF;
                    border-bottom: 1px solid #FFFFFF;
                }
            }
            
            .email-address {
                position: absolute;
                left: 161px;
                top: 292px;
                font-family: DINWebPro,Arial,sans-serif;
                height: 37px;
                line-height: 37px;
                text-indent: 16px;
                width: 313px;
                border: none !important;
                border-radius: 0px !important;
                -webkit-box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.25);
                -moz-box-shadow:    -1px 1px 2px 0px rgba(0, 0, 0, 0.25);
                box-shadow:         -1px 1px 2px 0px rgba(0, 0, 0, 0.25);

            }
            
            .join-button {
                position: absolute;
                right: 155px;
                top: 292px;
                
                background: linear-gradient(178deg, #ffed1d 0%,#ffed1d 57%,#f5e313 58%,#f5e313 100%);
                filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffed1d, endColorstr=#f5e313);
                background: -webkit-linear-gradient(93deg, #f5e313 45%, #ffed1d 20%);
                color: #222;
                font-size: 16px;
                font-family: DINWebProCondBold, Arial, sans-serif;
                display: inline-block;
                height: 37px;
                letter-spacing: 1px;
                line-height: 39px;
                text-align: center;
                text-shadow: rgba(255,255,255,0.75) 1px 1px 0px;
                text-transform: uppercase;
                padding: 0 10px;
                cursor: pointer;
            }
        }
    }
    
    .register-content0 {
        background: url('../images/signup-bg/join-community-bg-kenoa.jpg');
    }
    
    .register-content1 {
        background: url('../images/signup-bg/join-community-bg-americano.jpg');
    }
    
    .register-content2 {
        background: url('../images/signup-bg/join-community-bg-ion.jpg');
    }
    
    .register-content3 {
        background: url('../images/signup-bg/join-community-bg-anemi.jpg');
    }
    
    .register-content4 {
        background: url('../images/signup-bg/join-community-bg-fabriken-furillen.jpg');
    }
    
    .register-content5 {
        background: url('../images/signup-bg/join-community-bg-haymarket.jpg');
    }
    
    .register-content6 {
        background: url('../images/signup-bg/join-community-bg-illu2.jpg');
    }
    
    .register-content7 {
        background: url('../images/signup-bg/join-community-bg-sir-terence-conran.jpg');
    }
    
    .register-content8 {
        background: url('../images/signup-bg/join-community-bg-danielle-kihlgren.jpg');
    }
    
    .register-content9 {
        background: url('../images/signup-bg/join-community-bg-reto-gurtner.jpg');
    }
    
    .register-content10 {
        background: url('../images/signup-bg/join-community-bg-waterhouse.jpg');
    }
    
    .register-content11 {
        background: url('../images/signup-bg/join-community-bg-illu3.jpg');
    }
    
    .register-content12 {
        background: url('../images/signup-bg/join-community-bg-rodrigo-machaz.jpg');
    }
    
    .register-content13 {
        background: url('../images/signup-bg/join-community-bg-illu1.jpg');
    }
    
    .register-content14 {
        background: url('../images/signup-bg/join-community-bg-stue-berlin.jpg');
    }
    
    #lightboxRegisterAutoSuccess {
        display: none;
    }
    
    .lightboxFooter {
        font-size: 11px;
        line-height: 1.5;
        padding: 10px 20px;
    }
}

#lightboxChildAgeMenuSearch {
    div.content {
        border-bottom: 1px solid #D0D0D0;
        text-align: center;
        padding: 50px 75px 25px 75px;
        font-size: medium;
        font-weight: lighter;
        opacity: 0.8;
    }
    div.childWrapper {
        border-bottom: 1px solid #D0D0D0;

        div.control-children {
            // border-bottom: 1px solid grey;
            width: 85%;
            display: inline-block;
            height: auto;
            position: relative;
            margin-left: 5%;
            margin-top: 15px;
            div.label {
                span {
                    color: #6f6f6f;
                }
                height: 22px;
                padding-left: 16px;
                position: relative;
                font-family: DINWebPro, Arial, sans-serif;
                font-size: 14px;
                cursor: pointer;

                select {
                    position: absolute;
                    width: 100%;
                    height: 22px;
                    left: 0px;
                    top: 0px;
                    z-index: 1;
                    opacity: 0;
                }
            }
            span.icon, span.age {
                right: 10px;
                font-size: 5px;
                top: 5px;
                cursor: pointer;
                position: absolute; 
                color: #6f6f6f;
            }

            span.age {
                display: none;
                font-size: medium;
                right: 11px;
                top: 0px;
            }
        }
    }

    div.lightboxAgeMenuClose {
        text-align: center;
        color: #D0D0D0;
        font-size: x-large;
        padding: 30px;
        cursor: pointer;
    }
}
