@mixin mobile-input {
    border: 1px solid #c7c7c7;
    background: url(/assets/images/mobile/mobile-search-gps.png) no-repeat right center;
    padding: 11px 38px 11px 18px;
    font-family: DINWebPro, Arial, sans-serif;
    font-size: 14px;
    /*line-height: 42px;*/
    height: 20px;
    margin: 0px;
    letter-spacing: -0.5px;
    outline: none;
    -webkit-appearance: none;
    border-radius: 0;
}


#mobile-search-bar {
    box-sizing: content-box;
    
    a {
        border: none;
    }
    
    .mobile-header-button {
        float: left;
        padding: 23px 4.5%;
        text-align: center;

        i {
            font-size: 18px;
        }
    }

    .search-button {
        float: right;
    }

    .logo {
        line-height: 65px;
        height: 64px;
        text-align: center;
        font-size: 24px;
        padding-top: 3px;
    }

    .search {
        clear: both;
        position: relative;

        .search-box {
            @include mobile-input;

            display: inline-block;
            vertical-align: top;
            margin-bottom: 10px;
        }

        .attention {
            background: #bf883b;
            color: #FFFFFF;
            border-color: #bf883b;
        }

        .attention::-webkit-input-placeholder { /* WebKit browsers */
            opacity: 1;
            color: #FFFFFF;
        }
        .attention:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            opacity: 1;
            color: #FFFFFF;
        }
        .attention::-moz-placeholder { /* Mozilla Firefox 19+ */
            opacity: 1;
            color: #FFFFFF;
        }
        .attention:-ms-input-placeholder { /* Internet Explorer 10+ */
            opacity: 1;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; /* IE 8 */
            filter: alpha(opacity=100); /* IE 5-7 */
            color: #FFFFFF;
        }

        .button {
            @include mobile-yellow-button;

            display: inline-block;
            width: 68px;
        }

        .geo-location-button {
            position: absolute;
            height: 32px;
            width: 32px;
            right: 85px;
            top: 6px;
            background: #FFFFFF;
            opacity: 0;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
            filter: alpha(opacity=0); /* IE 5-7 */
        }

        .auto-suggest {
            position: absolute;
            left: 0px;
            top: 44px;
            background: #FFFFFF;
            border-left: 1px solid #c7c7c7;
            border-right: 1px solid #c7c7c7;
            display: none;
            z-index: 20001;
            overflow-y: auto;
            text-align: left;

            > li {
                border-bottom: 1px solid #c7c7c7;
            }

            div {
                font-family: DINWebPro, Arial, sans-serif;
                font-size: 14px;
                color: #010101;
                line-height: 26px;
                padding: 8px 15px;
            }

            .count {
                color: #999999;
            }
            
            .suggestion .icon {
                display: inline-block;
                margin-right: 10px;
                color: #95928b;
                font-size: 18px;
                position: relative;
                top: 2px;
            }
        }
    }

    .search-more {
        display: none;
        text-align: left;

        .row {
            padding: 11px 0px 13px 0px;
            height: 22px;
            position: relative;
            border-top: 1px solid #c7c7c7;

            .input-holder {
                position: absolute;
                right: 0px;
                top: 11px;
                width: 50%;
                height: 22px;

                .label {
                    font-family: DINWebPro, Arial, sans-serif;
                    font-size: 14px;
                    color: #000000;
                    line-height: 22px;
                    padding-left: 20px;

                    i {
                        float: right;
                        margin: 3px 7px 0 0;
                    }
                }

                .label-checkout {
                    i {
                        margin-right: 0;
                    }
                }

                select {
                    width: 100%;
                    height: 22px;
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    opacity: 0;
                    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
                    filter: alpha(opacity=0); /* IE 5-7 */
                }
            }

            .input-holder:first-child {
                right: auto;
                left: 0px;
                border-right: 1px solid #c7c7c7;

                .label {
                    padding-left: 0px;
                }
            }

            .icon-dropdown {
                position: absolute;
                background: url('../images/sprites.png') no-repeat -164px 0px;
                width: 12px;
                height: 18px;
                right: 8px;
                top: 1px;
            }

            .icon-dropdown-children {
                right: 0px;
            }
        }

        .row:first-child {
            padding: 4px 0px 10px 0px;
            border-top: none;

            .input-holder {
                top: 4px;
            }
        }


    }

    .one-search {
        .search {
            display: block;
        }
    }

    .two-search {
        .search {
            display: block;
        }

        .search-more {
            display: block;
        }
    }
    
    .calendar-holder {
		border: 1px solid #c7c7c7;
		border-bottom: none;
		display: none;
		background:#ffffff;

		.datepicker {
			.datepickerContainer {
                padding: 0px 2px 0px 1px;
            }

            .datepickerContainer > table {
                width: 100%;

                > tbody > tr > td > table {
                    width: 100%;

                    .datepickerMonths,
                    .datepickerYears {
                        display: none;
                    }

                    th, td {
                        text-align: center;
                    }

                    .datepickerMonth {
                        font-family: Plantin;
                        font-size: 16px;
                        color: #000000;
                        line-height: 30px;
                        padding-bottom: 2px;
                    }

                    .datepickerDoW th {
                        font-family: Plantin;
                        font-size: 13px;
                        color: #929292;
                        line-height: 22px;
                        padding-bottom: 2px;
                    }

                    .datepickerDays a {
                        font-family: DINWebPro,Arial,sans-serif;
                        font-size: 13px;
                        display: block;
                        height: 27px;
                        background: #e0e0e0;
                        line-height: 30px;
                        color: #333333;
                        margin: 0px 0px 1px 1px;
                    }

                    .datepickerSelected a {
                        background: #000000;
                        color: #FFFFFF;
                    }

                    .datepickerGoPrev,
                    .datepickerGoNext {
                        font-family: DINWebPro, Arial, sans-serif;
                        font-size: 16px;
                        color: #828282;
                    }

                    .datepickerGoPrev {
                        text-align: left;
                        padding-left: 10px;
                    }

                    .datepickerGoNext {
                        text-align: right;
                        padding-right: 10px;
                    }

                    .datepickerGoPrev:before {
                        content: '<';
                    }

                    .datepickerGoNext:before {
                        content: '>';
                    }
                    
                    td.datepickerSelected a {
                        color: #6c6c6c;
                        background: #b5b5b5;
                    }
                    
                    td.datepickerSelectedFirst a,
                    td.datepickerSelectedLast a {
                        background: #333333;
                        color: #FFFFFF;
                    }
                    
                    td.datepickerDisabled a {
                        color: #b3b3b3;
                        background: #f7f7f6;
                    }
                    
                    td.datepickerNotInMonth a {
                        color: #f7f7f6;
                        background: #f7f7f6;
                    }
                }
            }
		}
		.datepickerDisabled a{
		    background:#666666;
		}
		.clear-all {
			float: right;
			font-family: DINWebPro, Arial, sans-serif;
			font-size: 16px;
			color: #666666;
			line-height: 30px;
			margin-right: 4px;

			span {
				text-decoration: underline;
				font-size: 12px;
				line-height: 30px;
			}
		}
	}
}