@import "../reset";

@font-face {
  font-family: DINWebProCondBold;
  src: url("../../fonts/DINWebPro-CondBold.eot"); }

@font-face {
    font-family: DINWebPro;
    src: url("../../fonts/DINWebPro.woff") format("woff");
}

@font-face {
    font-family: DINWebProMedium;
    src: url("../../fonts/DINWebPro-Medium.woff") format("woff");
}

@font-face {
    font-family: DINWebProCondBold;
    src: url("../../fonts/DINWebPro-CondBold.eot");
}
@font-face {
  font-family: DINWebProCondBold;
  src: url("../../fonts/DINWebPro-CondBold.woff") format("woff"); }

@font-face {
    font-family: PlantinItalic;
    font-style: italic;
    src: url("../../fonts/Plantin-Italic.eot");
}

@font-face {
  font-family: PlantinItalic;
  font-style: italic;
  src: url("../../fonts/Plantin-Italic.woff") format("woff"); }

@font-face {
    font-family: Plantin;
    src: url("../../fonts/Plantin.eot");
}

@font-face {
    font-family: Plantin;
    src: url("../../fonts/Plantin.woff") format("woff");
}
@import "../_grid";
@import "../_general.scss";

html, body{
    padding: 0;
    margin: 0;
	min-width: 916px;
}

html>body #footerWrap{position:fixed}

body#lp1 {
    .lightbutton{
        background: linear-gradient(178deg, #ffed1d 0%,#ffed1d 57%,#f5e313 58%,#f5e313 100%);
	    background: -webkit-linear-gradient(93deg, #f5e313 45%,#ffed1d 20%);
	    color: #222;
	    font-size: 16px;
	    font-family: DINWebProCondBold, Arial, sans-serif;
	    display: inline-block;
	    height: 35px;
	    letter-spacing: 1px;
	    line-height: 39px;
	    overflow: hidden;
	    text-align: center;
	    text-shadow: rgba(255,255,255,0.75) 1px 1px 0px;
	    text-transform: uppercase;
	    width: 154px;
	    cursor:pointer;
	    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffed1d, endColorstr=#f5e313);
	}
    div.lightboxFooter{
		font-size:12px;
		color:#222222;
	}
	.lightbutton:hover {
	    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffed1d), to(#ffed1d)); /* Chrome, Safari 4+ */
	    background-image: -webkit-linear-gradient(top, #ffed1d, #ffed1d); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
	    background-image:    -moz-linear-gradient(top, #ffed1d, #ffed1d); /* Firefox 3.6-15 */
	    background-image:      -o-linear-gradient(top, #ffed1d, #ffed1d); /* Opera 11.10-12.00 */
	    background-image:         linear-gradient(to bottom, #ffed1d, #ffed1d); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
	    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f6e842, endColorstr=#f6e842);
	}

	.lightbutton:active {
	    -webket-box-shadow: 5px 7px 3px -4px rgba(0,0,0,0.3) inset;
	    box-shadow: 5px 7px 3px -4px rgba(0,0,0,0.3) inset;
	}
    
    #bg{
        position:absolute;
		top:0;
		left:0;
		margin:auto;
		bottom:0;
		right:0;
	
        img{
            width:100%;
            //position:absolute;
            top:0;
            left:0;
            min-width:1130px;
        }
	}
	#content{
	    position:relative;
	    //top:50%;
	   // left:25%;
	    margin:290px auto 0;
        color:#ffffff;
        width: 870px;
		margin-bottom: 30px;
		z-index:3;


	    #col1, #col2,#col3{
	        float:left;
	    }
	    #col2{
	        padding:0 24px; 
	        border-right:1px solid #bea45e;
	        height:188px;
	        width: 200px;

	        #title{
	            font-family: DINWebProCondBold,Arial,sans-serif;
	            color:#edd083;
	            font-size:35px;
	            line-height: 30px;
	            text-transform:uppercase;
	            sup{
	                font-size:12px;
	            }
	            span{
	                color:#ffffff;
	            }
	        }
	        #slogan{
	            font-size:18px;
	            margin-top:18px;
	            line-height:18px;
	            font-family: PlantinItalic;
	            font-style: italic;
	        }
	    }

	    #col3{
			width: 363px;
	        padding: 0 21px;
	        #copy{
	            font-size:16px;
	            font-family: Plantin;
	            sup{
	                font-size:7px;
	            }
	        }
	        #seperator{
	            float:left;
	            margin-top:20px;
	            height:1px;
	            border-bottom:1px solid #bea45e;
	            width:225px;
	            margin-right:10px;
	            margin-bottom:25px;

	        }
	        #mandatory{
	            float:left;
	            font-family: Plantin;
	            font-size:13px;
	            margin-top:10px;
	        }
	        #emailform{
	            clear:both;
	            
                .error{
					color:#f51414;
					margin-top:10px;
					margin-left:55px;
					margin-bottom:10px;
					display:none;
					
				}
	            label{
	                font-family:DINWebProCondBold;
	                font-size:16px;
	                vertical-align: bottom;
	            }
	            input#email{
	                width:286px;
	                height:45px;
	                background:#ffffff;
	                border:1px solid #686867;
	                padding:0 10px;
	                margin-left:10px;
	                font-size:20px;
	            }
	            #join{
	                float:right;
					margin-right: 2px;
	            }
	        }
	    }

	}
	#footerWrap{
	    
		bottom:0;
		width:100%;
		height:30px;
        min-width: 870px;
		#footer{
			
			background:#000000;
			height:30px;
			color:#ffffff;
			font-size:13px;

			#footerlinks{
				margin-top: 5px;
				float:right;
				margin-right:20px;
				font-family: Plantin;

				a{  
					font-family: Plantin;
					color:#ffffff;
					text-decoration:underline;
				}
			}
		}
    }
    #lightboxRegister .lightboxCheckboxWrapper label a {
        text-decoration: underline;
    }
}










@mixin dark-fade {
    background: #454545;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ1NDU0NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMzMzMzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #454545 0%, #333333 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#454545), color-stop(100%,#333333));
    background: -webkit-linear-gradient(top,  #454545 0%,#333333 100%);
    background: -o-linear-gradient(top,  #454545 0%,#333333 100%);
    background: -ms-linear-gradient(top,  #454545 0%,#333333 100%);
    background: linear-gradient(to bottom,  #454545 0%,#333333 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#454545', endColorstr='#333333',GradientType=0 );
}

@mixin smoothify {
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

.draggable, .unselectable {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#dh-publish-widget {
    z-index: 30000;
    color: #fff;
    text-shadow: 0 -2px 0 #000;
    display: inline-block;
    position: fixed;
    top: 20px;
    right: 20px;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.4);

    #dh-publish-widget-collapsed {
        @include dark-fade;
        @include smoothify;
        padding: 5px 12px;
        font-size: 30px;
        line-height: 30px;
        border-radius: 3px;
        cursor: pointer;
    }

    #dh-publish-widget-collapsed:hover {
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -o-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
    }
    
    #dh-publish-widget-expanded {
        display: none;
        background: #333;
        border-radius: 3px;
        min-width: 300px;

        .pubwidg-heading {
/*
            @include dark-fade;
*/
            background: url(/assets/images/approval_widget/bg-grooves.png) no-repeat center;
            cursor: move;
            padding: 6px 12px;

            span {
                text-transform: uppercase;
                color: #999;
                font-weight: bold;
                letter-spacing: 1px;
                text-shadow: 0 1px 0 #000;
            }

            #pubwidg-btn-collapse {
                float: right;
                font-size: 40px;
                line-height: 7px;
                cursor: pointer;
            }
        }

        .pubwidg-subheading {
            width: 300px;
            color: #fff;
            text-shadow: 0 1px 0 #000;
            background: #454545;
            border-top: 1px solid #555;
            border-bottom: 1px solid #151515;
            padding: 18px 12px;
            line-height: 20px;
            font-family: DINWebProMedium,Arial,sans-serif;
            font-size: 18px;

            input[type="checkbox"] {
                margin-right: 4px;
            }
        }

        .pubwidg-content {
            padding: 0 14px;
            
            .tree-closed {
                background: url(/assets/images/approval_widget/icon-tree-closed.png) no-repeat left center;
            }

            .tree-open {
                background: url(/assets/images/approval_widget/icon-tree-open.png) no-repeat left center;
            }
            
            p {
                text-transform: uppercase;
                color: #999;
                font-size: 11px;
                font-weight: bold;
                letter-spacing: 1px;
                text-shadow: 0 1px 0 #000;
                border-bottom: 1px solid #000;
                margin: 0;
                padding: 13px 0 13px 15px;
                cursor: pointer;
            }

            ul {
                display: none;
                margin: 0;
                padding: 12px 0;
                list-style: none;

                li {
                    line-height: 25px;
                    font-family: DINWebProMedium,Arial,sans-serif;
                    font-size: 14px;
                    
                    span.tree-arrow {
                        background: url(/assets/images/approval_widget/icon-tree-closed.png) no-repeat left center;
                        display: inline-block;
                        height: 12px;
                        width: 8px;
                        cursor: pointer;
                        margin-right: 4px;
                    }

                    span.tree-arrow.tree-open {
                        background: url(/assets/images/approval_widget/icon-tree-open.png) no-repeat left center;
                    }

                    input {
                        margin-right: 3px;
                    }

                    a {
                        display: none;

                        img {
                            float: right;
                            margin-top: 4px;
                        }
                    }
                    
                    ul {
                        padding: 3px 5px 3px 27px;

                        li {
                            padding: 0 5px;
                        }

                        li:hover {
                            background: #555;
                            border-radius: 4px;
                            
                            a {
                                display: inline;
                            }
                        }
                    }
                }
            }
            
            ul:nth-child(2) {
                border-top: 1px solid #555;
            }
            
            > ul > li:hover {
                > a.btn-edit {
                    display: inline;
                    
                    img {
                        margin-right: 10px;
                    }
                }
            }
        }

        #publish-now-cta {
            padding: 12px;

            a {
                text-align: center;
                color: #fff;
                text-shadow: 0 -1px 0 #00417c;
                background: #0067ae;
                border-bottom: 1px solid #00417c;
                border-radius: 4px;
                display: block;
                padding: 7px;

                span {
                    font-size: 14px;
                    font-weight: bold;
                    margin-left: 7px;
                }
            }
            a:hover {
                background: #0086e3;
            }
        }
    }
}
