
@mixin cal-cell-hover {
    background: #484848;
}

$color-green: #B1D398;
$color-red: #F29A79;
$color-yellow: #FFF59B;
$color-blue: #C0DFDA;


#availability-widget-holder {
    width: 320px;

    li[id^='ageForChild'] {
        border-top: 2px solid #C3C3C3;
    }

    span.label_child {
        line-height: 40px;
        height: 25px;
        display: block;
    }
    span.label_child_hint {
        line-height: 25px;
        height: 10px;
        float: left;
        font-style: italic;
        font-size: x-small;
    }
}

#pdp.tabAtaglance {
    #availability-widget-holder {
        float: right;
        margin: 30px 35px 0px 0px;
        position: relative;
        z-index: 100;
    }
}

#pdp.tabDeals {
    #availability-widget-holder {
        float: left;
        margin: 30px 30px 30px 35px;
    }
}

#rooms.tabDeals {
    #availability-widget-holder {
        margin-bottom: 30px;
    }
}

#availability-widget {
    position: relative;
    background: #ebebe6;
    color: #000000;
    padding: 26px 30px 0px 30px;
    
    h2 {
        font-family: Plantin;
        font-size: 29px;
        text-align: center;
        line-height: 28px;
        margin-bottom: 15px;
        color: #222222;
        
        span {
            display: block;
            font-style: italic;
        }
    }
    
    p.intro {
        display:none;
        font-family: Plantin;
        font-style: italic;
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 28px;
        text-align: center;
    }
    
    a.why-book {
        color: #aa6c16;
        text-decoration: underline;
    }
    
    .control {
        border-top: 1px solid #c3c3c3;
        height: 49px;
        position: relative;
        
        .label {
            font-family: DINWebPro;
            font-size: 14px;
            line-height: 49px;
            cursor: pointer;
        }
        
        .icon {
            position: absolute;
            right: 15px;
            top: 17px;
            color: #a3a3a3;
            cursor: pointer;
        }
        
        .icon-arrow-down-black {
            font-size: 6px;
            color: #7f7f7e;
            top: 19px;
        }
    }
    .control-mobile-in,.control-mobile-out,.calendar-holder{
        display:none;
    }
    .yellow-button {
        width: 100%;
        height: 46px;
        line-height: 50px;
        letter-spacing: 0.5px;
    }
    
    .contact {
        text-align: center;
        color: #888888;
        font-size: 12px;
        padding-top: 12px;
        padding-bottom: 17px;
        line-height: 18px;
        font-family: DINWebPro;
        
        .phone-label {
            display: inline-block;
            margin-right: 5px;
            margin-left: 5px;
        }
        
        .phone-number {
            display: inline-block;
            font-weight: bold;
            /*padding-left: 3px;
            padding-right: 3px;*/
            
            .icon {
                font-size: 16px;
                position: relative;
                top: 1px;
            }
        }
    }
    
}

ul#guestsPickerWidget {
        background: #fff;
        border: 1px solid #c3c3c3;
        display: none;
        left: -1px;
        position: absolute;
        top: 46px;
        width: 100%;
        z-index:1;

        li {
            color: #000;
            font-family: DINWebPro, Arial, sans-serif;
            font-size: 12px;
            height: 46px;
            line-height: 50px;
            padding-left: 10px;
            position: relative;
            
            div.spinner {
                background: linear-gradient(178deg, #ffffff 0%,#ffffff 48%,#f2f2f2 49%,#f2f2f2 100%);
                border-left: 1px solid #e6e6e6;
                box-shadow: -1px 0 0px 0px #f2f2f2;
                font-size: 13px;
                height: 46px;
                padding-left: 17px;
                position: absolute;
                right: 0;
                top: 0;
                width: 42px;

                span.spinnerValue {
                }

                a.spinnerIncrease,
                a.spinnerDecrease {
                    display: block;
                    height: 23px;
                    overflow: hidden;
                    position: absolute;
                    text-indent: 100px;
                    right: 0;
                    top: 0;
                    width: 33px;
                }

                a.spinnerIncrease {
                    background: url('../images/sprites.png') no-repeat -107px -19px;
                }

                a.spinnerDecrease {
                    background: url('../images/sprites.png') no-repeat -140px -19px;
                    top: 23px;
                }
            }
        }
    }

div#availability-widget-datePicker {
    position: absolute;
    z-index: 200;

    div.dividerCal{
        height: 165px;
        left: 294px;
        position: absolute;
        top: 70px;
        width: 1px;
        background:#c3c3c3;
        display:none;
    }

    div.datePickerClose {
        background: url('../images/sprites.png') no-repeat top right;
        display: none;
        width: 15px;
        height: 15px;
        position: absolute;
        right: 15px;
        top: 15px;
        cursor: pointer;
    }
    
    div.datePickerArrow {
        background: url('../images/sprites.png') no-repeat -460px 0px;
        display: none;
        height: 11px;
        position: absolute;
        right: 11px;
        top: -11px;
        width: 22px;
    }
    
    div.datePickerLegend {
        display: none;
        position: absolute;
        bottom: 10px;
        left: 40px;
        font-family: DINWebPro,Arial,sans-serif;
        color: #555;
        
        span {
            display: inline-block;
            height: 12px;
            width: 12px;
            margin: 0 4px 0 10px;
        }
        
        span:first-child {
            margin-left: 0;
        }
        
        .dp-legend-green {
            background: $color-green;
        }
        
        .dp-legend-red {
            background: $color-red;
        }
        
        .dp-legend-yellow {
            background: $color-yellow;
        }
        
        .dp-legend-blue {
            background: $color-blue;
        }
    }
    
    div.datePickerClearAll {
        bottom: 11px;
        display: none;
        font-family: DINWebPro, Arial, sans-serif;
        font-size: 12px;
        padding-left: 14px;
        position: absolute;
        right: 39px;

        a {
            border-bottom: 1px solid #c3c3c3;
            color: #000;
            text-decoration: none;
        }

        span.clearIcon {
            background: url('../images/sprites.png') no-repeat -179px -13px;
            display: block;
            height: 6px;
            left: 0;
            position: absolute;
            top: 4px;
            width: 6px;
        }
    }

    a.datePickerCycleMonth {
        color: #4e4e4e;
        display: none;
        height: 38px;
        position: absolute;
        top: 133px;
        width: 21px;

        span {
            display: block;
            height: 15px;
            position: absolute;
            top: 13px;
            width: 8px;
        }
    }

    a.datePickerPrevMonth {
        left: 10px;

        span {
            background: url('../images/sprites-ux-updates.png') no-repeat -137px -8px;
            left: 7px;
        }
    }

    a.datePickerNextMonth {
        right: 10px;

        span {
            background: url('../images/sprites-ux-updates.png') no-repeat -112px -8px;
            right: 7px;
        }
    }

/*
    a.datePickerCycleMonth:hover {
        background-color: #f2f2f2;
    }
*/

    div.datepicker {
        background: #f5f5f0;
        box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.3);
        height: 284px;
        width: 591px;
    }

    div.datepickerContainer > table > tbody > tr > td {
        padding: 0 0 52px 38px;
    }

    div.datepickerContainer > table > tbody > tr > td:first-child {
        //border-right: 1px solid #c3c3c3;
        padding: 0 38px 52px 39px;
    }

    table.datepickerViewDays {
        width: 216px;

        tr.calHead {
            th {
                font-size: 14px;
            }

            th.datepickerMonth {
                color: #040404;
                @include fontplantin;
                text-align: center;
                padding-bottom: 5px;
                padding-top: 19px;

                span.datepickerMonthYear {
                    color: #999 ;
                }
            }
        }

        tr.datepickerDoW {
            th {
                color: #666;
                @include fontplantin;
                font-size: 11px;
                line-height: 31px;
                text-align: center;
                text-transform: uppercase;
            }
        }

        td {
            background: #e0e0e0;
            border: 1px solid #f5f5f0;
            height: 26px;
            text-align: center;

            a {
                color: #333;
                display: block;
                font-size: 12px;
                font-family: DINWebPro, Arial, sans-serif;
                height: 26px;
                line-height: 28px;
                width: 30px;
                text-decoration: none;
            }
        }
        
        td:hover {
            @include cal-cell-hover;
            a {
                color: #FFFFFF;
            }
        }
        
        td.date-available {
            background: $color-green;
        }
        
        td.date-available:hover {
            @include cal-cell-hover;
        }
        
        td.date-booked {
            background: $color-red;
        }
        
        td.date-booked:hover {
            @include cal-cell-hover;
        }
        
        td.date-noarrival {
            background: $color-yellow;
        }
        
        td.date-noarrival:hover {
            @include cal-cell-hover;
        }
        
        td.date-conditions {
            background: $color-blue;
        }
        
        td.date-conditions:hover {
            @include cal-cell-hover;
        }
        
        td.date-not-loaded a {
            color: #999;
        }
        
        td.datepickerNotInMonth,
        td.datepickerNotInMonth.datepickerSelected,
        td.datepickerDisabled {
            background: #fff !important;

            a {
                color: #999;
                cursor: default;
            }
        }

        td.datepickerSelected {
            @include cal-cell-hover;

            a {
                color: #fff;
            }
        }

        tbody.datepickerMonths,
        tbody.datepickerYears {
            display: none;
        }
        
        td.datepickerSelectedDisabled a {
            background: #484848;
            color: #FFF;
        }
    }
}

#availability-widget .calendar-holder,
#availability-widget-search .calendar-holder {
    a {
        text-decoration: none;
    }
    
    table.datepickerViewDays {
        td.date-available a {
            background: $color-green;
            color: #333333;
        }
        
        td.date-booked a {
            background: $color-red;
            color: #333333;
        }
        
        td.date-noarrival a {
            background: $color-yellow;
        }

        td.date-not-loaded a {
            color: #c0c0c0;
        }
        
        td.datepickerDisabled a {
            background: #e8e8e8;
            color: #878787;
        }
        
        td.datepickerSelected a {
            background: #000000;
            color: #fff;
        }
    }
}


body.pdpPage {
    div#availability-widget-datePicker {
        right: -20px;
        
        div.datePickerArrow {
            right: 31px;
        }
    }
}

body.roomsPage {
    div#availability-widget-datePicker {
        top: 50px;
        left: -20px;
        
        div.datePickerArrow {
            right: inherit;
            left: 195px;
        }
    }
}

body.dealsPage {
    div#availability-widget-holder{
        width:260px;
        
        div#availability-widget-datePicker {
            left: 0;

            div.datePickerArrow {
                right: inherit;
                left: 167px;
            }
        }
    }
}

#lightboxWhyBookWithUs {
    font-family: Plantin;
    
        
    h5 {
        font-size: 29px;
        font-style: italic;
        padding-top: 12px;
    }
    
    .content {
        padding-bottom: 10px;
        
        .item {
            padding-left: 108px;
            width: 444px;
            margin-bottom: 29px;
            position: relative;
            
            .checkmark {
                display: block;
                position: absolute;
                left: 62px;
                top: 5px;
                width: 27px;
                height: 27px;
                background: url('../images/sprites-ux-updates.png') no-repeat -70px -2px;
            }
            
            .why {
                font-size: 18px;
            }
            
            .sub-why {
                font-size: 18px;
                font-style: italic;
            }
        }
    }
}

body#deal.dealPage, 
body.roomsPage{
    div#availability-widget-holder{
        width:260px;
        float:left;
        #availability-widget{
            padding: 26px 27px 0px 27px;
        }
        h2{
            font-size:25px;
            margin-bottom:30px;
        }
        p.intro{
            display:none;
        }
    }
}
body.pdpPage{
    div#availability-widget-holder{
        p.intro{
            display:block;
        }
    }
}

// date picker styled the same as main search
body#pdp.tabDeals {

    div#availability-widget {
        div#availability-widget-datePicker,
        div.mobile-only {
            div.datepicker {
                background: #FFF;
            }
            table.datepickerViewDays td.datepickerNotInMonth, 
            table.datepickerViewDays td.datepickerNotInMonth.datepickerSelected,
            table.datepickerViewDays
            td.datepickerDisabled {
                background: #f7f7f6 !important;
            }

            table.datepickerViewDays
            td.datepickerDisabled a {
                color: #b3b3b3;
                background: #f7f7f6;
            }
            table.datepickerViewDays
            td.datepickerNotInMonth a {
                color: #f7f7f6;
                background: #f7f7f6;
            }

            table.datepickerViewDays
            td.date-booked, table.datepickerViewDays
            td.date-available {
                background: #e0e0e0;
            }

            table.datepickerViewDays
            td.date-booked:hover, table.datepickerViewDays
            td.date-available:hover {
                background: #333;
            }

            table.datepickerViewDays
            td.datepickerSelected {
                background: #b5b5b5;

                a {
                  color: #6c6c6c;
                }
            }

            table.datepickerViewDays td.datepickerNotInMonth.datepickerSelected {
                background: #f7f7f6 !important;
                a {
                  color: #f7f7f6;
                }
            }

            table.datepickerViewDays
            td.date-checkin, table.datepickerViewDays
            td.date-checkout {
                background: #484848;

                a {
                  color: #fff;
                }
            }
            
            table.datepickerViewDays td.datepickerSelectedDisabled {
                background: #333333 !important;

                a {
                    background: initial;
                }
            }

            div.datePickerLegend {
                display: none !important;
            }
        }

        div.calendar-holder  {
            background: #FFF;
            padding-bottom: 45px;

            table.datepickerViewDays
            td.date-booked:hover, table.datepickerViewDays
            td.date-available:hover {
                background: transparent;
            }

            div.clear-all {
                top: 245px;
            }

            table.datepickerViewDays td.date-available a, 
            #availability-widget-search .calendar-holder
            table.datepickerViewDays td.date-available a {
                background: initial;
            }
        }
    }
}

body.dealsPage, body.dealPage {
    div#availability-widget-holder{
        div.promoField {
            display: none;
        }
    }
}

body.pdpPage, body.roomsPage {
    div#availability-widget-holder{
        div.promoField {
            position: relative;
            padding-bottom: 10px;
            width: 100%;
            height: 46px;

            input {
              font-family: DINWebPro, Arial, sans-serif;
              text-align: center;
              font-size: 14px;
              width: 100%;
              height: 100%;
              border: none;

            }
            // style the placeholder 
            #txtPromoCodeInput::-webkit-input-placeholder { /* Chrome/Opera/Safari */
              color: #b7b7b1;
            }
            #txtPromoCodeInput::-moz-placeholder { /* Firefox 19+ */
              color: #b7b7b1;
            }
            #txtPromoCodeInput:-ms-input-placeholder { /* IE 10+ */
              color: #b7b7b1;
            }
            #txtPromoCodeInput:-moz-placeholder { /* Firefox 18- */
              color: #b7b7b1;
            }
        }
    }
}

@media (min-width: 1265px) {
    body#deal.dealPage div#wrapper div#main div.imageWrapper #availability-widget-holder {
        position: absolute;
        right: 5px;
        top: 0px;
    }
}
