#availability-widget-search-holder {
    width: 100%;
}

#pdp.tabAtaglance {
    #availability-widget-search-holder {
        margin: 30px 35px 0px 0px;
    }
}

#pdp.tabDeals {
    #availability-widget-search-holder {
        float: left;
        margin: 30px 30px 30px 35px;
    }
}



#availability-widget-search {
    background: #ebebe6;
    color: #000000;
    padding: 26px 30px 0px 30px;
    margin:0 3%;
    h2 {
        font-family: Plantin;
        font-size: 29px;
        text-align: center;
        line-height: 28px;
        margin-bottom: 15px;
        color: #222222;
        
        span {
            font-style: italic;
        }
    }
    
    p.intro {
        font-family: Plantin;
        font-style: italic;
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 28px;
        text-align: center;
    }
    
    a {
        color: #aa6c16;
        text-decoration: underline;
    }
    
    .control {
        border-top: 1px solid #c3c3c3;
        border-bottom: 1px solid #c3c3c3;
        height: 44px;
        position: relative;
        width:24%;
        float:left;
        margin-right:1%;
        
        .label {
            font-family: DINWebPro;
            font-size: 14px;
            line-height: 49px;
        }
        
        .icon {
            position: absolute;
            right: 15px;
            top: 17px;
            color: #a3a3a3;
        }
        
        .icon-arrow-down-black {
            font-size: 6px;
            color: #7f7f7e;
            top: 19px;
        }
    }
    
    .yellow-button {
        width: 25%;
        height: 46px;
        line-height: 50px;
        letter-spacing: 0.5px;
    }
    
    .contact, .contact-last {
        text-align: center;
        color: #888888;
        font-size: 16px;
        padding-top: 12px;
        
        line-height: 18px;
        font-family: DINWebPro;
        .headline-label{
            font-family: Plantin;
            font-style: italic;
            font-size:25px;
        }
        .email-label{
        
        }
        .phone-label {
            display: inline-block;
            margin-right: 5px;
            margin-left: 5px;
        }
        
        .phone-number {
            display: inline-block;
            font-weight: bold;
            /*padding-left: 3px;
            padding-right: 3px;*/
            
            .icon {
                font-size: 16px;
                position: relative;
                top: 1px;
            }
        }
    }
    
    .contact-last{
        padding-bottom: 17px;
        margin-bottom: 53px;
    }
}

#lightboxWhyBookWithUs {
    font-family: Plantin;
    
    h5 {
        font-size: 29px;
        font-style: italic;
        padding-top: 12px;
    }
    
    .content {
        padding-bottom: 10px;
        
        .item {
            padding-left: 108px;
            width: 444px;
            margin-bottom: 29px;
            position: relative;
            
            .checkmark {
                display: block;
                position: absolute;
                left: 62px;
                top: 5px;
                width: 27px;
                height: 27px;
                background: url('../images/sprites-ux-updates.png') no-repeat -70px -2px;
            }
            
            .why {
                font-size: 18px;
            }
            
            .sub-why {
                font-size: 18px;
                font-style: italic;
            }
        }
    }
}

@media (max-width: 1149px) {
    

}

@media (min-width: 1150px) and (max-width: 1264px) {
}

@media only screen and (min-width: 1px) and (max-width: 768px) {
    #pdp.tabDeals #availability-widget-search-holder,
    #pdp.tabAtaglance #availability-widget-search-holder, 
    #availability-widget-search-holder {
        float: none;
        width: auto;
        margin: 10px;
    }
    
    #availability-widget-search {
        padding: 2px 5% 0px;
        line-height: 0px;
        
        h2{
            padding: 30px 6% 0;
        }
        
        .control {
            border-top: none;
            width: 100%;
            display: inline-block;
            padding: 11px 0px 10px 0px;
            height: auto;
            
            .label {
                height: 22px;
                line-height: 22px;
                padding-left: 16px;
                position: relative;
                border-right:none;

                select {
                    position: absolute;
                    width: 100%;
                    height: 22px;
                    left: 0px;
                    top: 0px;
                    z-index: 1;
                    opacity: 0;
                    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
                }
            }
            
            .icon {
                color: #666666;
                top: 15px;
                right: 12px;
            }
            
            .icon-arrow-down-black {
                font-size: 5px;
                top: 19px;
                right: 13px;
            }
        }
        
        .mobile-controls {
            padding-bottom: 3px;
        }
        .yellow-button{
            width:100%;
            margin-top:15px;
        }
        
        .calendar-holder {
            border-top: none;
            border-bottom: 1px solid #c3c3c3;
        }
    }
    
    #lightboxWhyBookWithUs {
        h5 {
            margin-bottom: 26px;
        }
        
        .content {
            .item {
                padding-left: 58px;
                padding-right: 20px;
                width: auto;
                
                .checkmark {
                    left: 12px;
                }
                
                .why {
                    font-size: 15px;
                }
                
                .sub-why {
                    font-size: 15px;
                    font-style: italic;
                }
            }
        }
    }
}
