@media only screen and (min-width: 1px) and (max-width: 768px) {
    
    body#deal.dealPage div#availability-widget-holder,
    #pdp.tabDeals #availability-widget-holder,
    #pdp.tabAtaglance #availability-widget-holder, 
    #availability-widget-holder {
        float: none;
        width: auto;
        margin: 10px;
    }

    #rooms.tabDeals #availability-widget-holder {
        float: none;
        margin-bottom: 20px;
    }
    
    body#deal.dealPage div#wrapper div#main #pdpDealimage div.imageWrapper #availability-widget-holder {
        clear: both;
    }
    
    body#deal.dealPage div#availability-widget-holder div#availability-widget, 
    #availability-widget {
        padding: 2px 0px 0px 0px;
        line-height: 0px;
        
        h2, 
        p.intro,
        .contact {
            display: none !important;
        }
        
        .control {
            border-top: none;
            width: 49%;
            display: inline-block;
            padding: 11px 0px 10px 0px;
            height: auto;
            
            .label {
                height: 22px;
                line-height: 22px;
                padding-left: 16px;
                position: relative;
                
                select {
                    position: absolute;
                    width: 100%;
                    height: 22px;
                    left: 0px;
                    top: 0px;
                    z-index: 1;
                    opacity: 0;
                    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
                }
            }
            
            .icon {
                color: #666666;
                top: 15px;
                right: 12px;
            }
            
            .icon-arrow-down-black {
                font-size: 5px;
                top: 19px;
                right: 13px;
            }
        }
        .control-mobile-in,.control-mobile-out{
            display:inline-block;
        }
        .calendar-holder{
            display:none;
        }
        .control-adults, 
        .control-check-in {
            .label {
                border-right: 1px solid #c3c3c3;
            }
        }
        
        .control-check-out,
        .control-children {
            .icon {
                right: 9px;
            }
            
            .icon-arrow-down-black {
                right: 10px;
            }
        }
        
        .mobile-controls {
            border-top: 1px solid #c3c3c3;
            padding-bottom: 3px;
        }
    }
    
    #lightboxWhyBookWithUs {
        h5 {
            margin-bottom: 26px;
        }
        
        .content {
            .item {
                padding-left: 58px;
                padding-right: 20px;
                width: auto;
                
                .checkmark {
                    left: 12px;
                }
                
                .why {
                    font-size: 15px;
                }
                
                .sub-why {
                    font-size: 15px;
                    font-style: italic;
                }
            }
        }
    }

    body.pdpPage, body.roomsPage{
        div#availability-widget-holder{
            div.promoField {
                padding-bottom: initial;
                border-top: 1px solid #c3c3c3;

                input {
                    background-color: #ebebe6;
                }

                // style the placeholder
                #txtPromoCodeInput::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                  color: #a6a6a1;
                }
                #txtPromoCodeInput::-moz-placeholder { /* Firefox 19+ */
                  color: #a6a6a1;
                }
                #txtPromoCodeInput:-ms-input-placeholder { /* IE 10+ */
                  color: #a6a6a1;
                }
                #txtPromoCodeInput:-moz-placeholder { /* Firefox 18- */
                  color: #a6a6a1;
                }
            }
        }
    }

    #lightboxChildAgeMenuWidget,
    #lightboxChildAgeMenuSearch {
        div.content {
            border-bottom: 1px solid #D0D0D0;
            text-align: center;
            padding: 50px 75px 25px 75px;
            font-size: medium;
            font-weight: lighter;
            opacity: 0.8;
        }
        div.childWrapper {
            border-bottom: 1px solid #D0D0D0;

            div.control-children {
                // border-bottom: 1px solid grey;
                width: 85%;
                display: inline-block;
                height: auto;
                position: relative;
                margin-left: 5%;
                margin-top: 15px;
                div.label {
                    span {
                        color: #6f6f6f;
                    }
                    height: 22px;
                    padding-left: 16px;
                    position: relative;
                    font-family: DINWebPro, Arial, sans-serif;
                    font-size: 14px;
                    cursor: pointer;

                    select {
                        position: absolute;
                        width: 100%;
                        height: 22px;
                        left: 0px;
                        top: 0px;
                        z-index: 1;
                        opacity: 0;
                    }
                }
                span.icon, span.age {
                    right: 10px;
                    font-size: 5px;
                    top: 5px;
                    cursor: pointer;
                    position: absolute;
                    color: #6f6f6f;
                }

                span.age {
                    display: none;
                    font-size: medium;
                    right: 11px;
                    top: 0px;
                }
            }
        }

        div.lightboxAgeMenuClose {
            text-align: center;
            color: #D0D0D0;
            font-size: x-large;
            padding: 30px;
            cursor: pointer;
        }
    }

    body#deal.dealPage div#availability-widget-holder div#availability-widget .calendar-holder,
    #availability-widget .calendar-holder,
    #availability-widget-search .calendar-holder {
        background: #f5f5f0;
        position: relative;
        padding-bottom: 85px;
        
        .datepickerDays {
            td {
                background: #FFFFFF;
                border-right: 1px solid #f5f5f0;
                border-bottom: 1px solid #f5f5f0;
                width: 14%;
            }
            
            a {
                margin: 0px;
                color: #333;
                font-family: DINWebPro,Arial,sans-serif;
                font-size: 12px;
                line-height: 28px;
            }
        }
        
        .datepicker .datepickerContainer {
            > table > tbody > tr > td {
                padding: 0px 40px;
            }
            
            > table > tbody > tr > td > table .datepickerDoW th {
                color: #666;
                font-family: Plantin,Arial,serif;
                font-size: 11px;
                line-height: 31px;
                text-align: center;
                text-transform: uppercase;
            }
            
            > table > tbody > tr > td > table .datepickerGoPrev::before,
            > table > tbody > tr > td > table .datepickerGoNext::before {
                content: "";
            }
            
            > table > tbody > tr > td > table .datepickerDays .datepickerNotInMonth,
            > table > tbody > tr > td > table .datepickerDays .datepickerDisabled {
                background: #FFF;
                
                a {
                    display: block;
                    color: #999;
                    background: #FFF;
                }
            }
            
            > table > tbody > tr > td > table .datepickerDays .datepickerSelectedDisabled {
                a {
                    background: #484848;
                    color: #FFF;
                }
            }
        }
        
        table.datepickerViewDays tr.calHead th.datepickerMonth {
            color: #040404;
            font-family: Plantin,Arial,serif;
            padding-bottom: 5px;
            padding-top: 19px;
            text-align: center;
            line-height: 17px;
            
            span.datepickerMonthYear {
                color: #999;
            }
        }
        
        div.datePickerLegend {
            top: 256px;
            color: #555;
            font-family: DINWebPro,Arial,sans-serif;
            left: 40px;
            position: absolute;
            
            span {
                display: inline-block;
                height: 12px;
                margin: 0 4px 0 10px;
                width: 12px;
            }
            
            .dp-legend-green {
                background: #b1d398;
                margin-left: 2px;
            }
            
            .dp-legend-red {
                background: #f29a79;
            } 
            .dp-legend-yellow {
                background: $color-yellow;
            }
        }
        
        .clear-all {
            position: absolute;
            right: 40px;
            top: 290px;
            
            span {
                text-decoration: none;
                color: #000000;
            }
        }
        
        .datePickerCycleMonth {
            color: #4e4e4e;
            height: 38px;
            position: absolute;
            top: 133px;
            width: 21px;
            
            span {
                display: block;
                height: 15px;
                position: absolute;
                top: 13px;
                width: 8px;
            }
        }
        
        .datePickerPrevMonth {
            left: 10px;
            
            span {
                background: url('../images/sprites-ux-updates.png') no-repeat -137px -8px;
                left: 7px;
            }
        }
        
        .datePickerNextMonth {
            right: 10px;
            
            span {
                background: url('../images/sprites-ux-updates.png') no-repeat -112px -8px;
                right: 7px;
            }
        }
    }
}
