@media (min-width: 769px) and (max-width: 1023px) {

    #availability-widget-holder {
        width: 246px;
    }
    
    #availability-widget {
        padding: 26px 20px 0px 20px;
    }
    
    body#deal.dealPage div#wrapper div#main div.imageWrapper #availability-widget-holder {
        float: left;
        margin: 0px;
        width: 100%;
    }
    
    body#deal.dealPage, 
    body.roomsPage{
        div#availability-widget-holder{
            width:780px;
            margin-bottom:30px;
            #availability-widget{
                padding:36px 27px 0px 27px;
                
                div#availability-widget-datePicker{
                    left:-75px;
                }
                h2{
                    margin-bottom:24px;
                    
                    span{
                        display:inline;
                    }
                }
                .control, .yellow-button{
                    width:21%;
                    float:left;
                    border-bottom:1px solid #c3c3c3;
                    margin:0 2%;
                    height:44px;
                }
                .contact{
                    padding-top: 60px;
                    padding-bottom:34px;
                }
                .control-mobile-in,.control-mobile-out,.calendar-holder{
                    display:none;
                }
            }
        }
    }

    body.roomsPage {
        div#availability-widget-holder{
            div.promoField {
                width: 21%;
                float: left;
                margin: 0 2%;
                height: 44px;

                // style the placeholder 
                #txtPromoCodeInput::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                    font-size: 12px;
                }
                #txtPromoCodeInput::-moz-placeholder { /* Firefox 19+ */
                    font-size: 12px;
                }
                #txtPromoCodeInput:-ms-input-placeholder { /* IE 10+ */
                    font-size: 12px;
                }
                #txtPromoCodeInput:-moz-placeholder { /* Firefox 18- */
                    font-size: 12px;
                }
            }

            div.yellow-button {
                margin: 10px 39% 10px 39% !important;
            }
        }
    }
}
