@media (min-width: 1150px) and (max-width: 1264px) {
    #availability-widget-holder {
        width: 285px;
    }
    
    body#deal.dealPage div#wrapper div#main div.imageWrapper #availability-widget-holder {
        float: left;
        margin: 0px;
        width: 100%;
    }
    
    body#deal.dealPage, 
    body.roomsPage{
        div#availability-widget-holder{
            width:908px;
            margin-bottom:30px;
            #availability-widget{
                div#availability-widget-datePicker{
                    left:-50px;
                }
                padding:36px 27px 0px 27px;
                
                h2{
                    margin-bottom:24px;
                    
                    span{
                        display:inline;
                    }
                }
                .control, .yellow-button{
                    width:21%;
                    float:left;
                    border-bottom:1px solid #c3c3c3;
                    margin:0 2%;
                    height:44px;
                }
                .contact{
                    padding-top: 60px;
                    padding-bottom:34px;
                }
                .control-mobile-in,.control-mobile-out,.calendar-holder{
                    display:none;
                }
            }
        }
    }

    body.roomsPage {
        div#availability-widget-holder{
            div.promoField {
                width: 21%;
                float: left;
                margin: 0 2%;
                height: 44px;
            }

            div.yellow-button {
                margin: 10px 39% 10px 39% !important;
            }
        }
    }
}
