// this rule NEEDS to be more specific

div#main {
    letter-spacing: normal;

    margin-top: 47px;
    padding-top: 35px;
	position:relative;
    
    .sectionSubHeading{
        sup{
            font-size: 7px;
        }
        span.SubHeadline{
            font-style: italic;
            font-size: 18px;
        }
    }
    .sectionSubSubHeading {
        font-size: 13px;
        font-family: DINWebPro;
        line-height: 18px;
        margin-top: 15px;
        color: #555;
        a {
            color: #ff482e;
        }
    }
}

.noLoginSection {
    opacity: 0.4;
    pointer-events: none;
}
#benefits .breadcrumbs{
    margin-left:35px;
	margin-top: 13px;
}
.communityNoLogin {
    height: 100%;
    background-color: rgb(255, 255, 255);
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
    filter: alpha(opacity=50); /* IE 5-7 */
	width: 100%;
    //top: 800px;
	top: 0;
	right: 0;
    position: absolute;
}

section#noLogin {
	position: relative;
	z-index: 1;
	padding-top: 26px;
	margin-bottom:60px;
	div.sectionHeadings{
		div.sectionSubHeading{
			font-style:normal;
			margin-bottom: 4px;
		}
	}
    div.loginAsMember {
        p {
            float: right;

            a {
                border-bottom: 1px solid #a3a3a3;
                color: #5e5e5e;
                padding-bottom: 2px;
            }
        }
    }
	div#littleArrow{
	    width: 16px;
		height:9px;
		margin:0 auto;
		background:url("../images/sprites.png") -440px 0 ;
	}
    div.nonMemberSection {
        width: 100%;
        //height: 450px;
		position: relative;
        //background-image: url("../images/no-login.jpg");
		background-color: #ffffff;
        //-webkit-box-shadow: 1px 228px 15px -217px #c7c7c7;
        //box-shadow: 1px 228px 15px -217px #c7c7c7;

		> img {

			position: absolute;
			z-index: 0;
			bottom: 0;
		}

		> img.man {

			right: 0;
		}

        div#joinBenefitOverview {
            margin: auto;
            color: #000000;
            @include fontplantin;
            text-align: center;
            position: relative;
            font-size: 22px;
            padding: 34px 5% 0 5%;
            line-height: 28px;
            
            a{
                font-weight:bold;
                color:#a96c16;
                display:inline-block;
                border-bottom: 1px solid #a96c16;
            }
        }
        
        div#communityBenefits {
            margin: auto;
            position: relative;
            //margin-top: 47px;
            
                #getWhatDeserve {
                    margin: auto;
                    font-family: DINWebProCondBold;
                    font-size: 18px;
                    text-align: center;
                    sup {
                        font-size: 7px;
                    }
                }

            li.benefitList,li.benefitListWide {

                float: left;
                width: 126px;
                text-align: center;

                img {

                }

                div.benefitTitle {
                    font-family: DINWebProCondBold;
                    font-size: 18px;
                }
                div.benefitSubtitle {
                    @include fontplantin;
                    font-style: italic;
                    font-size: 13px;
                }
                div.benefitDetails {
                    font-family: DINWebProCondBold;
                    font-size: 29px;
                    color: #e0af75;
                    line-height: 45px;
                }
            }
            li.benefitListWide{
                width:235px;
                div.benefitTitle{
                    margin-top:2px;
                }
                a{
                    display:inline-block;
                    border-bottom:1px solid #000000;
                }
            }

            div.benefiticon{
                margin:auto;
                width:39px;
                height:58px;
            }

            div.breakfast{
                background: url('../images/sprites.png') no-repeat -0px -349px;
            }
            div.exclusive{
                background: url('../images/sprites.png') no-repeat -38px -349px;
            }
            div.airplane{
                background: url('../images/sprites.png') no-repeat -384px -349px;
            }
            div.private{
                background: url('../images/sprites.png') no-repeat -77px -349px;
            }
            div.wifi{
                background: url('../images/sprites.png') no-repeat -116px -349px;
            }
            div.check{
                background: url('../images/sprites.png') no-repeat -494px -349px;
            }
        }
        
        
        
        .emailInput {
            text-align: center;
            margin-top: 10px;
            input#email {
                background-color: #f7f7f4;
                border: 0 none;
                box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.5);
                color: #000000;
                font-family: DINWebPro;
                font-size: 14px;
                height: 46px;
                position: relative;
                text-indent: 12px;
                margin-bottom: 10px;
                width: 320px;
                line-height: 20px;
            }

            input::-webkit-input-placeholder {
                @include fontplantin;
                font-style: normal;
                color: #666666;
                font-size: 14px;
            }
            input::-moz-placeholder {
                @include fontplantin;
                font-style: normal;
                color: #666666;
                font-size: 14px;
            }
            input:-ms-input-placeholder {
                @include fontplantin;
                font-style: normal;
                color: #666666;
                font-size: 14px;
            }

            button#joinByEmail {
                @include lightbutton;
                border: none;
                height: 46px;
                line-height: 36px;
                width: 120px;
                padding: 0;
                letter-spacing:0;
                cursor: pointer;
                margin-right:30px;
            }

            button#joinByEmail:hover {
                @include lightbuttonhover;
            }
            button#joinByEmail:active {
                @include lightbuttonclick;
            }
        }
        .discoverBenefits {
            color: #000000;
            @include fontplantin;
            font-style: italic;
            font-size: 18px;
            width: 270px;
            margin: auto;
            margin-top: 36px;
            padding-bottom:36px;
            
            div.discover-icon{
                width:25px; 
                height:30px; 
                font-size:10px; 
                float:left; 
                line-height:20px
            }
            div.discover-copy{
                height:50px;
                width:300px;
            }
        }

		div.emailInput {

			position: relative;
		}
    }
    div.standard, div.sneak_peeks {

            div#communityBenefits {
                width: 902px;
                height: 208px;
                color: #000000;

                #getWhatDeserve {
                    padding: 23px 5% 40px 5%;
                }

                ul {
                    margin-left: 20px;
                }

                li.benefitList,li.benefitListWide {
                    width: 126px;
                    margin: 47px 24px 20px;

                    img {
                        margin-top: -17px;
                    }
                    
                    div.benefitTitle {
                        margin-top: 15px;
                    }
                }
            }
        }

        div.member_only, div.member_only_soon {
            div#communityBenefits {
                margin: 0 auto;
                width: 90%;
                height: 222px;

                #getWhatDeserve {
                    padding-top: 23px;
                }
                li.benefitList,li.benefitListWide {
                     width: 16%;
                     margin: 54px 3px 20px;

                     div.benefitTitle {
                         margin-top: 15px;
                     }
                }
                li.benefitListWide {
                    width: 23%;
                    margin: 0 45px;
                }
            }
        }
}
/* Section Overview */
body#overview {
    .communityHeader {
        div.sectionHeadings {
            text-align: center;

            div.sectionHeading,
            div.sectionSubHeading {
                padding-left: 0;
                font-style: normal;
            }

            div.sectionSubHeading {
                span.sectionSubSubHeading {
                    font-size: 13px;
                    font-family: DINWebPro;
                    line-height: 18px;
                    margin-top: 15px;
                    color: #555;
                }
            }
        }
    }
}

body#salescontacts {
    div.sectionHeadings {
        text-align: center;
        
        div.sectionHeading, div.sectionSubHeading {
            text-align: center;
        }
        .sectionSubSubHeading {
            font-size: 13px;
            font-family: DINWebPro;
            line-height: 18px;
            margin-top: 15px;
            color: #555;
        }
    }
}

body#bookings{
	#main{
		ul.breadcrumbs{
			padding-bottom: 10px;
            margin: 0 35px;
		}
		#myaccountBookingsWrapper{
			margin-top: 38px;
            div.nobookingmessage{
                margin-top:15px;
                color: #a96c16;
                font-family: Plantin, Arial, sans-serif;
                font-size: 14px;
            }
		}
		#myaccountBookings{
			div.sectionSubHeading{
				font-style:normal;

			}
		}
	}
}

#myaccountBookings, #myaccountOverview, #noLogin, #myaccountBenefits, #contactCancel {
    letter-spacing: normal;
    padding: 0 35px;
	padding-right: 30px;
    overflow: hidden;

    div.toggleUpcomingHeight {
        height: 710px !important;
    }

    div.togglePastHeight {
        height: 720px !important;
    }

    header#centerHeader {
        text-align: center;

        div.sectionHeadings {
            div.sectionHeading {
                padding-top: 0;
            }
        }
    }

    div.sectionHeadings {
        border: none;
        margin-bottom: 0;

        sup {
            font-size: 10px;
            //vertical-align: super;
        }
    }

    div.sectionHeading {
        margin-bottom: 0;
        //padding-top: 20px;
    }

    div.clearBoth {
        clear: both;
    }

    div.floatLeft {
        float: left;
    }

    div.roomImage {

    }

    div.roomInfo {
        line-height: 16px;

        div {
            margin: 14px 20px;
        }

        h1 {
            font-family: DINWebProCondBold;
            font-size: 15px;
            margin-bottom: 5px;
        }

        p {
            font-family: DINWebProMedium;
            color: #000;
            font-size:13px;
        }

        li {
            list-style: initial;
            list-style-position: inside;
            font-family: DINWebProMedium;
            color: #676767;
        }

        .roomClick {
            color: #A96c16;
            border-bottom: 1px solid #dfc39d;
            cursor: pointer;
            font-family: DINWebPro;
        }

        .editInfo {
            border-bottom: none;
        }

        .bronze {
            color: #A96c16;
        }

        .roomName {
            text-transform: uppercase;
            font-family: DINWebProCondBold;
            font-size: 18px;

            .location {
                color: #666666;
            }

            .confirmNumber {
                color: #A96c16;
            }
        }

        .smallLine {
            height: 1px;
            background-color: #b1b1b1;
            width: 15px;
        }

        .roomAddress {
        }

        .roomDate {
        }
    }

    div.toggleRoomInfo {
        margin-left: -20px !important;
        display: none;
        width: 100% !important;
    }

    div.roomPrice {
        background: #222;
        color: #FFFFFF;
        height: 60px;
        width: 100%;
        font-family: DINWebProMedium;

        div {
            height: 100%;
        }

        #detailPrice {
            //background-color: #BF883B;
            width: 83%;
    
            span#booking-cancel-cta {
                margin: 22px 0 0 20px;
                display: inline-block;
                
                a {
                    font-size: 13px;
                    color: #fff;
                    border-bottom:1px solid #dfc39d;
                }
            }

            span#leftPrice {
                float: right;
                margin-right: 27px;
                line-height: 18px;
                margin-top: 12px;

                .detail {
                    float: left;
                    font-size:13px;
                }

                .price {
                    margin-left: 15px;
                    float: right;
                }
            }
        }

        #totalPrice {
            //background-color: #986721;
            width: 16%;
            border-left: 1px solid #333;
            font-size: 16px;
            text-align: center;
            line-height: 60px;
        }
    }

    #upcomingBooking {
        header {
            //border-bottom: 1px solid #fff;

            .sectionHeadings {
                //border-bottom: 1px solid #ccc;
            }
        }

        margin-bottom: 77px;

        .upcomingBookingOutsideWrapper {
            /*border-top: 1px solid #cccccc;*/
            margin-top: 30px;
            overflow:hidden;
            background:#ffffff;
        }

        .upcomingBookingWrapper {
            @include imageshadow;

            width: 100%;
            min-height: 395px;
            background: #fff;

            div.roomImage {
                //height: 398px;
                width: 63%;
				img{
					 width: 100%;
				}
            }

            div.roomInfo {
                min-height: 398px;
                width: 35%;
            }
        }
    }
    
    #cancelledBooking, 
    #pastBooking {
        padding-bottom: 45px;
        margin-top: 65px;

        .pastBookingOutsideWrapper {
            /*border-top: 1px solid #cccccc;*/
            margin-top: 30px;
            overflow:hidden;
            background:#ffffff;
        }

        #cancelledBookingWrapper, 
        #pastBookingWrapper {
            //border-top: 1px solid #ccc;

            .pastBookRoom {
                @include imageshadow;

                /*position: relative;*/
                background-color: #fff;

                margin-top: 30px;
                height: 225px;
                min-height: 245px;

                .roomImage {
                    width: 31%;
                    min-height: 225px;
                }

                .roomInfo {
                    width: 63%;
                    min-height: 225px;
                }

                .cancelled {
                    img.cancellImage {
                        height: 14px;
                        width: 17px;
                    }

                    .discountMsg {
                        font-family: DINWebPro;
                    }

                    background-image: linear-gradient(180deg, #373737 50%, #222222 50%);
                    background-image: -webkit-gradient(linear, 0 0, 0 50, from(#373737), to(#222222)); /* Chrome, Safari 4+ */
                    background-image: -webkit-linear-gradient(270deg, #373737 50%, #222222 50%); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
                    background-image:    -moz-linear-gradient(270deg, #373737 50%, #222222 50%); /* Firefox 3.6-15 */
                    background-image:      -o-linear-gradient(180deg, #373737 50%, #222222 50%); /* Opera 11.10-12.00 */
                    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#373737, endColorstr=#222222);
                }

                .cancelled:after {
                    background-image: linear-gradient(128deg, #373737 50%, #222222 50%);
                    background-image: -webkit-gradient(linear, 128deg, from(#373737), to(#222222)); /* Chrome, Safari 4+ */
                    background-image: -webkit-linear-gradient(320deg, #373737 50%, #222222 50%); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
                    background-image:    -moz-linear-gradient(320deg, #373737 50%, #222222 50%); /* Firefox 3.6-15 */
                    background-image:      -o-linear-gradient(128deg, #373737 50%, #222222 50%); /* Opera 11.10-12.00 */
                    width: 15px;
                    height: 15px;
                    margin-left: -27px;
                    margin-top: -18px;
                    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#373737, endColorstr=#222222) ;
                }

                .cancelledTriangle {
                    border-left-color: #000000;
                    margin-left: 83px;
                }
            }

            .roomPrice {
                display: none;
            }
        }

        .hidingcontent {
            overflow: hidden;
            height: 420px;
        }
        
        #show-more-cancelled-bookings, 
        #show-more-past-bookings {
            clear: both;
            background: url(../images/vertical-fade-white.png) repeat-x top center;
            padding-top: 200px;
            text-align: center;
            display: block;
            width: 100%;
            position: relative;
            margin-top: -200px;
            font-family: DINWebProMedium;
            font-size: 13px;
            color: #777;

            span {
                display: block;
                margin-bottom: 7px;
            }
        }

        #show-more-cancelled-bookings:hover, 
        #show-more-past-bookings:hover {
            color: #000;
            cursor: pointer;
        }
    }
        
    #cancel-step2 {
        background: #fff;
        position: relative;
        
        .cancel-step2-holder {
            position: relative;
        }
        
        .roomImage {
            width: 63%;
            line-height: 0px;
            
            img {
                width: 100%;
                height: auto;
            }
        }
        
        .roomInfo {
            position: relative;
            min-height: 290px;
            width: 35%;
        }
        
        #cancel-booking-button {
            @include darkbutton;
            position: absolute;
            right: 0;
            bottom: 0;
            border: 0;
        }
        #cancel-booking-button:hover {
            @include darkbuttonhover;
        }
        #cancel-booking-button:active, #cancel-booking-button:focus {
            @include darkbuttonclick;
        }
        
        #cancel-booking-button.cancel-booking-relative {
            position: relative;
            float: right;
        }
    }
}

.contactCancelResult {
    div.sectionHeadings {
        div.sectionSubHeading {
            font-size: 16px;
            margin-top: 5px;
        }
    }
}

section#contactCancel {
    padding-bottom: 35px;
    
    header {
        padding: 0;
    }
}

#confirm-cancel-lightbox {
    h3 {
        text-align: center;
        font-family: Plantin,Arial,serif;
        margin: 0px 0 20px;
        font-size: 18px;
    }
    p {
        margin: 0 0 30px;
        font-weight: bold;
    }
    
    input {
        width: auto;
        height: auto;
    }
    
    .checkbox-pair {
        margin: 0px 0px 10px -15px;
    }
    
    .input-pair {
        padding-bottom: 40px;

        span {
            margin: 20px 0 10px;
            display: block;
            font-size: 13px;
        }
        
        input {
            width: 300px;
        }
    }
    
    #btn-cancel-booking {
        @include darkbutton;
        border: 0;
        margin: 0;
        width: auto;
        position: absolute;
        bottom: 0;
        right: 0;
		text-indent: 0;
    }
    #btn-cancel-booking:hover {
        @include darkbuttonhover;
    }
    #btn-cancel-booking:active {
        @include darkbuttonclick;
    }


}

body#reset, body#accountJoin {
	div#main{
		margin-top:8px;
		padding-top:1px;
	}
}

body#accountJoin {
    div#myaccountJoinForm {
        p {
            font-size: 13px;
        }
    }
}

#myaccountBenefits {
	padding-top:0px;
}
#myaccountReset, #myaccountJoin {
    letter-spacing: normal;
    position:relative;
    background-color: #f7f7f4;
    height: 300px;
    margin: 45px 30px 257px 30px;

    #greyLine{
			width:100%;
			height:1px;
			background:#c7c7c7;
			position: absolute;
			margin-bottom: 1px;
	}
    .sectionHeadings {
        border-bottom: none;
        margin: 0;
        padding-top: 28px;

        .sectionHeading {
            border-bottom: 1px solid #c7c7c7;
            @include fontplantin;
            font-size: 29px;
            padding: 18px 0 12px 15px;
        }

        #resetRequiredField {
            font-family: DINWebPro;
            font-size: 12px;
            position: absolute;
            right: 0px;
            text-align: right;
            top: 60px;
        }
    }

    #myaccountResetWrapper, #myaccountJoinWrapper {
        padding: 30px 0;
        //width: 94%;


        p {
            font-family: DINWebPro;
            a {
               color:#666666;
               text-decoration:underline;
            }
        }

        ul {
            /*height: 137px;*/

            li {
                padding-top: 15px;
                padding-right: 17px;

                label {
                    color: #000000;
                    display: block;
                    font-family: DINWebProMedium;
                    font-size: 13px;
                    line-height: 17px;
                    margin-bottom: 7px;
                    padding-top: 20px;
                }

                input {
                    background-color: #ffffff;
                    border: 0 none;
                    box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.5);
                    color: #000000;
                    font-family: DINWebPro;
                    font-size: 14px;
                    height: 46px;
                    position: relative;                    
                    margin-bottom: 10px;
                    width: 300px;
                    text-indent: 10px;
                }
            }
        }

        .errors {
            color: #a96c16;
            font-size: 12px;
			font-size:DINWebPro,Arial;
			& input{
				box-shadow:0 1px 2px -1px rgba(0, 0, 0, 0.5), 0 0 0 3px #a96c16 inset;
			}
        }

        .resetSubmitButton, .joinSubmitButton {
            position: absolute;
            right: 0;
            cursor: pointer;
            display: block;
            text-align: center;
            width: 121px;
            height: 36px;
            color: #FFFFFF;
            line-height: 35px;
            font-family: DINWebProCondBold;
            font-size: 16px;
            background-image: linear-gradient(179deg, #262626 50%, #000000 50%);
            background-image: -webkit-linear-gradient(272deg, #262626 50%, #000000 50%);
            background-image: -moz-linear-gradient(179deg, #262626 50%, #000000 50%);
            background-image: -o-linear-gradient(179deg, #262626 50%, #000000 50%);
            filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#262626, endColorstr=#000000) ;
        }
		div.spacer{
			margin-top:116px;
			border-top: 1px solid #c7c7c7;
			border-bottom: 1px solid #fff;
			margin-bottom:1px;
			clear:both;
		}
    }
}

#myaccountReset {
    #greyLine{
        bottom: 28px;
	}

    #myaccountResetWrapper {
        ul {
            li {
                float: left;
            }
        }

        .resetSubmitButton {
            position: absolute;
            top: 298px;
        }
    }
}

#myaccountJoin {
    #greyLine {
        position: relative;
        top: 20px;
	}
    
    #myaccountJoinWrapper {
        ul {
            li {
                .agreeTerms {
                    padding-top: 0;

                    .label {
                        line-height: 23px;
                    }

                    a {
                        color: #a96c16;
                    }

                    .checkbox {
                        background: url("/assets/images/sprites.png") no-repeat scroll -128px -101px transparent;
                        cursor: pointer;
                        display: block;
                        float: left;
                        height: 21px;
                        margin-right: 15px;
                        width: 21px;
                    }

                    .checkbox.checked {
                        background-position: -107px -101px;
                    }
                }

                .errorMessage {
                    color: #a96c16;
                    font-family: DINWebPro, Arial, sans-serif;
                    font-size: 12px;
                }
            }

            li.error {
                input {
                    box-shadow: 0 1px 2px -1px rgba(0,0,0,0.5),inset 0 0 0 5px #a96c16;
                }
            }
        }

        .resetSubmitButton {
            position: absolute;
        }
        

        .joinSubmitSection {
            padding-right: 0;			
			text-align: center;			
			margin-left: auto;
			margin-right: auto;
			float: right;						
        }

        .joinSubmitButton {
            margin-top: 32px;
            position: static;
        }
    }
}

#lightboxExplore {
    div#lightboxRegisterSuccess {
        display: block;
    }
}

#myaccountNewsWrapper{
    float:left;
    //width:670px;
	width: 65.6%;
    //margin-bottom:50px;
    header {
		@include fontplantin;
        margin-bottom:5px;
        div.sectionHeadings {
            //border-bottom: 1px solid #FFFFFF;
			span{
				font-style: italic;
			}
            div.sectionSubHeading {
                //border-bottom: 1px solid #C7C7C7;
                margin-bottom: 0;
                padding-bottom:20px;
            }
        }
    }

    #column1{
        //margin-right:30px;
		margin-right: 4.6%;

        img{
            //box-shadow: -30px 0 30px -25px rgba(0, 0, 0, 0.35);
        }
    }
    .newsColumn{
        float:left;
        //width:320px;
		width: 47.7%;

        h3{
            font-family: Plantin, Georgia, serif;
            font-size:29px;
            margin: 0 0 15px 0;
            font-style: italic;
        }
        h4{
           font-family: DINWebProCondBold;
           font-size:16px;
           margin-bottom:10px;
           text-transform: uppercase;
        }
        >p{
           @include fontplantin;
           font-size:15px;
           line-height:25px;
        }
        a{
            color:#a96c16;
            text-decoration:underline;
        }
        .news{

            .imgWrap{
                float:left;
                img{
                    width:81px;
                    height:81px;
                    margin-right:18px;
                    margin-bottom: 14px;

                }
            }
            .newsInfo{
                float:left;
                font-family: DINWebPro;
                font-size:13px;
				width: 65%;
				margin-bottom:17px;
                //width: 221px;
                line-height: 1.5;
            }
            .line{
                height:1px;
                background:#b1b1b1;
                width:18px;
                margin-bottom:14px;
                clear:both;
            }
        }

    }
}
#myaccountUpcomingBookingWrapper{
    float:left;
    //width:320px;
    //margin-left:30px;
	width: 31.4%;
	margin-left: 3%;
	#bookingPropertyImage{
	    width:100%;
	}
    img{
        @include imageshadow;
    }
    header {
        margin-bottom:8px;
        div.sectionHeadings {
            //border-bottom: 1px solid #FFFFFF;
			span{
				font-style: italic;
			}
            div.sectionSubHeading {
                //border-bottom: 1px solid #C7C7C7;
                margin-bottom: 0;
                padding-bottom:20px;
            }
        }
    }
    #upcomingBookings{
        background: #BF883B;
        color: #FFFFFF;
        padding-left:16px;
        padding-top:20px;
        margin-top:-5px;

        h3, h4{
            font-family: DINWebProCondBold;
            font-size:18px;
            text-transform:uppercase;
        }

        h4{
           color:#e8cba2;

        }
        h5{
           font-family: DINWebProCondBold,Arial,sans-serif;
           font-size:15px;
           text-transform:uppercase;
           margin-top:16px;
           margin-bottom:5px;

        }
        p{
            font-size:13px;
            line-height:18px;
        }
        div.seperator > div {
            margin:15px 0;
        }
        p.button {
            margin-top:35px;
        }
    }
    #noUpcomingBookings{
        background: #BF883B;
        color: #FFFFFF;
        text-align: center;
        padding: 30px 0 0;
        h3{
            @include fontplantin;

            font-size: 18px;
            line-height: 25px;
            padding-bottom: 17px;
            font-style:italic;
        }
        h4{
            font-family: DINWebProCondBold,Arial,sans-serif;
            font-size: 18px;
            line-height: 18px;
            text-transform: uppercase;
        }
        p{
            @include fontplantin;
            font-size: 13px;
            font-style: italic;
            line-height: 18px;
            margin-bottom: 25px;
        }
        .discount{
            color: #E0B072;
            display: inline-block;
            font-family: DINWebProCondBold,Arial,sans-serif;
            font-size: 29px;
            font-style: normal;
            line-height: 29px;
            padding-top: 3px;
        }
        div.seperator > div {
            margin: 0 auto 20px;
        }


    }
    p.button {
        text-align: right;
        a {
            background: linear-gradient(178deg, #262626 0%,#262626 57%,#000 58%,#000 100%);
            background: -webkit-linear-gradient(93deg, #000000 45%,#262626 20%);
            background: -webkit-gradient(linear, top, bottom, color-stop(0.5, #000000), color-stop(1, #262626));
            color: #fff;
            display: inline-block;
            font-family: DINWebProCondBold, Arial, sans-serif;
            font-style: normal;
            font-size: 14px;
            height: 35px;
            letter-spacing: 1px;
            line-height: 37px;
            padding: 0 28px;
            text-transform: uppercase;
            filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#262626, endColorstr=#262626) ;
        }
        a:hover {
            @include darkbuttonhover;
        }
        a:active {
            @include darkbuttonclick;
        }
    }
    div.seperator > div {
        background-color: #E8CBA2;
        display: block;
        height: 1px;
        width: 17px;
    }
}
#myaccountOverview {
    padding-top: 0;

    div#myaccountOverviewWrapper {
        //margin-top:40px;
        
        div.divider-line {
            margin-bottom: 30px;
        }
         
        div#communitySales:target:before {
                content: '';
                display: block;
                margin-top: -69px;
                height: 69px;
        }
        div#communitySales {
            header {
                div.sectionHeadings {
                    margin-bottom: 0;
                    //padding-bottom: 29px;
                    //border-bottom: 1px solid #C7C7C7;
                    span{
						font-style:italic;
					}
                    div.sectionSubHeading {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    .communitySalesWrapper {
        .noLogin{

            opacity: 0.5;
            filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50); /* IE 5.5+*/

            a {
                pointer-events: none;
                cursor: default;
            }
        }
        .privateSales {
            width: 100%;
            padding: 30px 0;
            border-top: 1px solid #FFFFFF;
            border-bottom: 1px solid #c7c7c7;
            clear: both;


			> a {

				display: block;
			}

            .roomImages {
                height: 600px;
                width: 100%;
                position: relative;

                img {
                    width: 99.9%;
                    height: 99.9%;
                    display: block;
                }

                .discountSection {
                    position: relative;
                    background-color: #FFFFFF;
                    height: 60px;
                    margin: -138px 30px 0 30px;
                    padding-top: 46px;

                    .floatLeft {
                        @include fontplantin;
                        margin-left: 30px;
                        margin-top: -15px;

                        h3 {
                            font-size: 30px;
                            color: #a96c16;
							//max-width:620px;
                        }

                        p {
                            font-size: 15px;
                            font-style: italic;
                        }
                    }
                    .discountLabel span{
                        font-family:PlantinItalic;
                        color:#ffffff;
                        font-size:13px;
                    }
                    .floatRight {
                        float: right;

                        ul {
                            li {
                                display: inline-block;
                                border-left: 1px solid #c3c3c3;
                                padding-left: 10px;
                                padding-right: 20px;

                                img {
                                    width: 30px;
                                    height: 30px;
                                    float: left;
                                    margin-right: 7px;
                                }

                                .discountDetail {
                                    float: right;
                                }

                                .discountCategory {
                                    @include fontplantin;
                                    font-style: italic;
                                }

                                .futureOffer {
                                    color: #9a9a9a;
                                }

                                .discountValue {
                                    font-family: DINWebPro;
                                    color: #a96c16;
                                    padding-top: 5px;
                                }
                            }
                        }
                    }
                }
            }

            .roomDetails {
                width: 100%;
                position: relative;
                font-family: DINWebPro;
                line-height: 1.5;
                margin-top: 30px;

                p, ul {
                    margin-top: 10px;
                    margin-left: 30px;
                }

                p {
                    color: #515151;
                    width: 70%;

                }

                ul {
                    color: #000000;

                    li {
                        list-style: initial;
                        list-style-position: inside;
                    }
                }

                .priceBook {
                    position: absolute;
                    //bottom: 37%;
					bottom: 0;
                    right: 0;
                    text-align: center;

                    .newPrice {
                        color: #ac612a;
                    }

                    .oldPrice {
                        position: relative;
                        color: #7b7b7b;
                    }

                    .oldPrice:before {
                        position: absolute;
                        content: "";
                        left: 0;
                        top: 50%;
                        right: 0;
                        border-top: 2px solid;
                        border-color: #d5aa80;
                        -webkit-transform:rotate(-20deg);
                        -moz-transform:rotate(-20deg);
                        -ms-transform:rotate(-20deg);
                        -o-transform:rotate(-20deg);
                        transform:rotate(-20deg);
                    }

                    .book {
                        margin-top: 8px;
                        font-family: DINWebProCondBold;
                        font-size: 16px;
                        width: 154px;
                        height: 34px;
                        background-image: linear-gradient(180deg, #ffed1d 50%, #f5e313 50%);
                        background-image: -webkit-linear-gradient(270deg, #ffed1d 50%, #f5e313 50%); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
                        background-image:    -moz-linear-gradient(270deg, #ffed1d 50%, #f5e313 50%); /* Firefox 3.6-15 */
                        background-image:      -o-linear-gradient(180deg, #ffed1d 50%, #f5e313 50%); /* Opera 11.10-12.00 */
                        line-height: 34px;
                        border: none;
                        cursor: pointer;
                        //pointer-events: none;
                        filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffed1d, endColorstr=#f5e313);
                    }
                    .book:hover {
                        @include lightbuttonhover;
                    }
                    .book:active {
                        @include lightbuttonclick;
                    }
                    .dialog {
                        display: none;
                        position: absolute;
                        background-color: #fff;
                        top: -45px;
                        padding: 15px;
                        box-shadow: 0px 1px 7px 2px #ccc;
                        left: -10px;
                        width: 144px;
                        text-align: left;
                    }

                    .downTriangle {
                        display: none;
                        position: absolute;
                        width: 0;
                        height: 0;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-top: 10px solid #fff;
                        margin-top: -40px;
                        margin-left: 70px;
                    }
                }
            }
        }
        
        .privateSales:first-child {
            border-top: 0;
        }
    }
}

body#myAccountSettings,
body#travelpro-signup {
    div#main{
		padding-top: 37px;
		ul.breadcrumbs{
			padding-bottom: 10px;
			margin-left: 35px;
		}
    }
    p.common-link {

        //float: left;
        //margin-top: -53px;
        //margin-left: 35px;
		position: absolute;
		left: 0px;
		bottom: 10px;
        letter-spacing: normal;
        font-family: DINWebPro,Arial,sans-serif;
        font-size: 13px;
        border-bottom: 1px solid #A96C16;

        > a:link, > a:active, > a:visited, > a:hover {

			line-height: 1.2;
            color: #A96C16;
        }
    }

    section {
        padding: 0 35px;
        margin-bottom: 70px;
        letter-spacing: normal;
    }
    div.sectionHeadings {
        sup{
            font-size: 10px;
        }
    }
    section#profileSettings {
        header#centerHeader {
            div.sectionHeadings {
                //margin-bottom: 35px;
                text-align: center;


                div.sectionSubHeading {
					font-style:normal;
                    margin-bottom: 0;
                }
            }
        }

        div.personal-data .desktop-only h3 {
            font-style: italic;
            font-size: 18px;
        }

        div.form-cntr {
            position: relative;
            padding: 0 0 70px 0;
            //background: none repeat scroll 0 0 #F5F5F5;

            div.sectionHeading {
                //padding-top: 20px;
                //padding-left: 15px;
                padding-bottom: 18px;
                border-bottom: 1px solid #C7C7C7;
                @include fontplantin;
                font-size: 29px;
                line-height: 29px;
                //text-transform: uppercase;
            }

            div.requireNote {
                position: absolute;
                font-family: DINWebProMedium;
                color: #000000;
                right: 0;
                top: 60px;
            }

            div.form-elements {
                padding-top: 30px;
                border-top: 1px solid #FFFFFF;
				//border-bottom: 1px solid #FFFFFF;
                font-size: 13px;
                color: #666666;

				p.footer-notes {

					padding: 30px 0;
					border-bottom: 1px solid #C7C7C7;
				}

                .element-label {
                    margin-bottom: 12px;
                    line-height: 1;
                    font-family: DINWebProMedium;
                    color: #000000;

                    .element-desc {
                        display: block;
                        font-family: DINWebPro;
                    }
                }

                input.text {
                    height: 46px;
                    width: 300px;
                    position: relative;
                    border: 0 none;
                    background-color: #FFFFFF;
                    box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.5);
                    font-family: DINWebPro;
                    font-size: 14px;
                    text-indent: 12px;
                    color: #000000;
                }

                input#txtPostcode {
                    width: 108px;
                }

                input#txtPhone {
                    width: 300px;
                }

                input#txtMiles {
                    width: 228px;
					margin-right: 15px;
                }

                input#txtEmail, input#txtPass {
                    margin-right: 15px;
                }

                select {
                    width: 140px;
                }

                select#dateBirthYear {
                    width: 140px;
                }

                select#dateBirthMonth, select#dateBirthDate {
                    width: 100px;
                }

                select#country, select#countryCompany {
                    width: 300px;
                }

                select#city {
                    width: 288px;
                }

                select#currency {
                    width: 300px;
                }

                div.elements-cntr {
                    padding: 16px 0;

                    p.error {
                        margin-top: 10px;
                        font-family: DINWebPro,Arial,sans-serif;
                        font-size: 13px;
                        color: #BF883B;
                    }
                }

                div.elements-cntr.id {
                    .member-number {
                        font-family: DINWebPro;
                        font-size: 14px;
                        color: #000000;
                        //text-indent: 12px;
                    }
                }

                div.elements-cntr.name,
                div.elements-cntr.hotel-info-line,
                div.elements-cntr.hotel-facilities-line,
                div.elements-cntr.hotel-description-line,
                div.elements-cntr.contact-info-line {
                    > span {
                        margin-right: 15px;
                        display: inline-block;
                        vertical-align: top;
                    }

                    > span.check-mark {
                        display: none;
                        margin-bottom: 10px;
                        vertical-align: bottom;
                    }
                }

                div.elements-cntr.gender {
                    position: relative;
                    z-index: 6;
                }

                div.elements-cntr.birth-date {
                    position: relative;
                    z-index: 4;

                    > div.tzSelect {
                        margin-right: 15px;
                    }
                }

                div.elements-cntr.address {
                    padding-bottom: 0;

                    > input {
                        width: 608px;
                        margin-bottom: 15px;
                        margin-right: 15px;
                    }
                }

                div.elements-cntr.country {
                    position: relative;
                    z-index: 3;

                    div.tzSelect {
                        margin-right: 15px;
                    }
                }

                div.elements-cntr.postal-code {
                    position: relative;
                    z-index: 2;

                    > span {
                        margin-right: 15px;
                        display: inline-block;
                        vertical-align: top;
                    }

                    > span.check-mark {
                        display: none;
                        margin-bottom: 10px;
                        vertical-align: bottom;
                    }
                }
            }
        }

        div.communication-pref.form-cntr {

			padding-bottom: 60px;

            div.form-elements {

				border-bottom: 1px solid #FFFFFF;
                span.toggler-wrapper{
                    display:block;
                    float:left;
                    margin-top:1px;
                }
                div.togglers-cntr {
                    margin: 25px 0;

                    div.label-wrapper{
                        float:left;

                        span.element-label {
                            margin-right: 40px;

                            span.subheadline{
                                font-family: DINWebPro;
                            }
                        }
                    }
                }
            }
        }

        div.company-info.form-cntr {
            display: none;
        }
    }
}

span.toggler-cntr {

    width: 74px;
    height: 29px;
    position: relative;
    display: inline-block;
    margin: -5px 15px 0 15px;
    background-image: url('../images/btn-off.png');
    background-repeat: no-repeat;
    background-position: 2px 1px;
    vertical-align: middle;
    overflow: hidden;

    span.toggler-label {
        position: absolute;
        top: 5px;
        right: -10px;
        z-index: 1;
        font-family: DINWebPro;
		line-height: 1.8;
    }

    span.toggler {
        display: inline-block;
        position: relative;
        width: 29px;
        height: 29px;
        left: 45px;
        background-image: url('../images/btn-draggable.png');
        background-repeat: no-repeat;
        cursor: pointer;
        z-index: 2;
    }
}

.userTypeOn {
    font-family: DINWebProMedium;
    color: #000000;
}

.userTypeOff {
    font-family: DINWebProRegular !important;
    color: #666666 !important;
}

span.toggler-cntr.on {
    background-image: url('../images/btn-on.png');

    span.toggler-label {
        right: 18px;
        color: #FFFFFF;
    }

    span.toggler {
        left: 0;
    }
}

#userType {
    span.toggler-cntr.off {
        background-image: url('../images/btn-on.png');
        span.toggler-label {
            left: 18px;
            color: #000000;
        }

        span.toggler {
            left: 45px;
        }
    }
}

span.toggler-cntr.off {
    background-image: url('../images/btn-off.png');
    //background-image: url('../images/btn-on.png');
    span.toggler-label {
        left: 18px;
        color: #000000;
    }

    span.toggler {
        left: 45px;
    }
}

// this rule is not specific enough!!
div.tzSelect {
    display: inline-block;

    ul.dropDown {
        max-height: 231px;
        overflow-x: hidden;
        overflow-y: scroll;
    }
}

.benefitPage {
    margin-top: 0 !important;
    /*padding-top: 70px !important;*/
}
section#myaccountBenefits {
    padding-left: 0;
    padding-right: 0;
    #centerHeader {
        padding: 0 35px;
    }
    .sectionHeading {
        font-family: PLANTIN, Arial, sans-serif;
        font-size: 29px;
        padding-bottom: 25px;
        padding-left: 0;
        /*border-bottom: 1px solid #c7c7c7;*/
        .italic {
            font-style: italic;
        }
    }
    .sectionSubHeading {
        margin-bottom: 0;
    }
}

div#myaccountBenefitsWrapper {
    width: 100%;

    .floatRight {
        float: right;
    }

    div#benefitsOverview {
        /*border-top: 1px solid #ffffff;*/
        @include fontplantin;
        margin: 0px 35px;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        p {
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }
    div#benefitsDetails {
        width: 100%;
        height: 100%;
		margin-bottom:67px;

        .benefitWrapper.posRight {
            right: 0;
        }
        .benefitWrapper.posLeft {
            left: 0;
        }
        .benefitWrapper.floatRight {
            float: right;
        }
        .benefitWrapper.floatLeft {
            float: left;
        }
        .benefitsBlock.desktop-only {
            position: relative;

            img {
                position: absolute;
                width: 100%;
            }

            .benefitWrapper {
                position: absolute;
                top: 0;
            }
        }
        .benefitsBlock {
            width: 100%;
            height: 600px;

            .benefitWrapper {
                width: 50%;
                height: 100%;
                display: table;
                .benefitInfo {
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center;
                    color: #000000;
                    padding: 0 105px;

                    .nth-benefit {
                        width: 71px;
                        height: 86px;
                        font-family: PLANTIN;
                        font-size: 29px;
                        margin: auto;
                        padding-top: 18px;
                    }
                    .benefitHeadline {
                        font-family: DINWebProCondBold;
                        font-size: 18px;
						text-transform:uppercsase;
                    }
                    .benefitCopy {
                        font-family: PLANTIN;
                        font-size: 15px;
                        line-height: 25px;

                        a {
                            color: #a96c16;
                            text-decoration: underline;
                        }
                    }
                    .benefitLink {
                        text-transform: uppercase;
                        a {
                            @include darkbutton;
                            border-left: 1px solid #838381;
                            border-right: 1px solid #838381;
                            padding: 0 23px;
                            margin-top: 20px;
                        }
                        a:hover {
                            @include darkbuttonhover;
                        }
                        a:click {
                            @include darkbuttonclick;
                        }
                    }
                }
            }
        }
    }
    .doubleLine {
        margin: 0 35px;
        border-top: 1px solid #c7c7c7;
        border-bottom: 1px solid #ffffff;
    }
    .doubleLine.first {
        margin-bottom: 1px;
    }

}

body#storiesOverviewPage {
	#main {
            #storiesListing {
		header {
		    div.sectionHeadings {
			text-align: center;
                        .bigLine {
                            margin: auto;
                            margin-bottom: 18px;
                        }
                        div.sectionHeading {
			    padding-left: 0;
			}
		    }
		}
                div.doubleLine {
			margin: auto;
			width: 93.5%;
			border-top: 1px solid #C7C7C7;
			border-bottom: 1px solid #FFF;
		}
                div.doubleLine.top {
		    margin-bottom: 30px;
		}
                div#storiesWrapper {
		    margin: 35px;
                    text-align: center;

                    div.story {
			text-align: center;
                        display: inline-block;
                        vertical-align: top;
                        width: 25%;
                        margin: 27px 4% 50px;

                        span.storyCategory {
                            font-family: DINWebProCondBold;
                            font-size: 12px;
                            color: #000000;
                            text-transform: uppercase;
                        }
                        span.storyImage {
			    display: block;
                            margin: 17px auto 23px;
                            width: 160px;
                            position: relative;

				div.arrow {
					@include darkbutton;
                                        position: absolute;
                                        bottom: 3px;
                                        right: 0;
                                        padding: 0;
				}
				div.arrow:hover {
					@include darkbuttonhover;
				}
				div.arrow:active {
					@include darkbuttonclick;
				}
                        }
                        span.storyCopy, span.storyItalicCopy {
			    font-size: 20px;
                            font-family: Plantin, sans-serif;
			}
                        span.storyItalicCopy {
				font-style: italic;
			}
		    }
		}
	    }
	}
}

body#stories, body#stories .fixed-wrapper {
    .doubleLine {
        margin: auto;
        width: 93.5%;
        border-top: 1px solid #c7c7c7;
        border-bottom: 1px solid #ffffff;
    }
    .doubleLine.first {
        margin-top: 30px;
        margin-bottom: 1px;
    }
    .doubleLine.top {
        margin-bottom: 30px;
    }
    .storyPage {
        ul.breadcrumbs {
            padding-bottom: 8px;
            margin-left: 35px;
        }
        #myaccountStories {
            .bigLine {
                margin: auto;
                margin-bottom: 18px;
            }
            #centerHeader {
            text-align: center;
                padding: 0 35px;
                position: relative;
                .partnerLogo {
                    position: absolute;
                    right: 35px;
                    bottom: -20px;
                    width: 125px;
                    height: 90px;
                }
                .sectionHeadings {
                    .sectionSubHeading {
                        margin-bottom: 21px;
                    }
                }
            }
        }
        #myaccountStoriesWrapper {
            overflow: auto;
            /* margin-bottom: 56px; */

            .blockDivider {
                display: none;
            }
            .contentWithImages {
                width: 100%;
                overflow: hidden;
				#textBlock1{
					height: 640px;
				}
				#textBlock2{
				   height: 475px;
				}
				#textBlock3{
				    height: 320px;
/*                    a.cta{
                        margin-left: 75px;
                    }*/
				}
				#imageBlock1{
					height: 640px;
				}
				#imageBlock2{
					height: 475px;
				}
				#imageBlock3{
					height: 320px;
                                        
                                        img {
                                            width: 50%;
                                            height: 320px !important;
                                        }
				}
                .leftImage {
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .floatLeft {
                    float: left;
                    width: 50%;
                }
                p {
                    font-family: PLANTIN;
                    font-size: 15px;
                    color: #000000;
                    line-height: 25px;
                    a {
                        color: #a96c16;
                    }
                }
                h1 {
                    font-family: DINWebProCondBold;
                    font-size: 18px;
                    color: #000000;
                    text-transform: uppercase;
                }
                a.cta {
                    @include darkbutton;
                    margin-top: 20px;
                    padding: 0 15px;
                }
                a.cta:hover {
                    @include darkbuttonhover;
                }
                a.cta:active {
                    @include darkbuttonclick;
                }
                .smallLine {
                    margin: auto;
                    width: 18px;
                    border-top: 1px solid #c3c3c3;
                    margin-top: 20px;
                }
                .contentWrapper {
                    display: table;
                    .content.textCenter {
                        display: table-cell;
                        vertical-align: middle;
                    }
                    .content.textLeft.topBlock {
                        display: table-cell;
                        vertical-align: middle;
                        padding: 0 75px;
                    }
                    .content.textLeft {
                        text-align: left;
                        padding: 72px 75px 0;
                        h1 {
                            margin-top: 23px;
                        }
                    }
                    .content.textCenter {
                        text-align: center;
                        padding: 0 152px;
                    }
                }
            }

            #moreToDiscover {
                width: 100%;
                text-align: center;
                h1 {
                    font-family: DINWebProCondBold;
                    font-size: 18px;
                    color: #000000;
                    margin-top: 60px;
                    margin-bottom: 24px;
                }
                #discoverWrapper {
                    .article {
                        float: left;
                        .category {
                            font-family: DINWebProCondBold;
                            font-size: 12px;
                            color: #000000;
                            text-transform: uppercase;
                        }
                        .articleImage {
                            width: 160px;
                            height: 160px;
                            margin: auto;
                            margin-top: 20px;
                            margin-bottom: 26px;
                            position: relative;
                            .arrow {
                                @include darkbutton;
                                height: 35px;
                                width: 35px;
                                padding: 0;
                                position: absolute;
                                bottom: 0;
                                right: 0;
                            }
                        }
                        .articleImage:hover {
                            .arrow:hover {
                                @include darkbuttonhover;
                            }
                            .arrow:active {
                                @include darkbuttonclick;

                            }
                            .arrow:active {
                                @include darkbuttonclick;
                            }
                        }
                        p {
                            max-width: 240px;
                            font-family: PLANTIN;
                            font-size: 20px;
                            margin: auto;
                        }
                        p {
                            max-width: 240px;
                            font-family: PLANTIN;
                            font-size: 20px;
                            margin: auto;
                        }
                    }
                }
            }
        }
    }
}

body#stories .fixed-wrapper {
    #moreToDiscover {
        width: 100%;
        text-align: center;
        h1 {
            font-family: DINWebProCondBold;
            font-size: 18px;
            color: #000000;
            margin-top: 60px;
            margin-bottom: 24px;
        }
        #discoverWrapper {
            .article {
                float: left;
                .category {
                    font-family: DINWebProCondBold;
                    font-size: 12px;
                    color: #000000;
                    text-transform: uppercase;
                }
                .articleImage {
                    width: 160px;
                    height: 160px;
                    margin: auto;
                    margin-top: 20px;
                    margin-bottom: 26px;
                    position: relative;
                    .arrow {
                        @include darkbutton;
                        height: 35px;
                        width: 35px;
                        padding: 0;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                    }
                }
                .articleImage:hover {
                    .arrow:hover {
                        @include darkbuttonhover;
                    }
                    .arrow:active {
                        @include darkbuttonclick;

                    }
                    .arrow:active {
                        @include darkbuttonclick;
                    }
                }
                p {
                    max-width: 240px;
                    font-family: PLANTIN;
                    font-size: 20px;
                    margin: auto;
                }
                p {
                    max-width: 240px;
                    font-family: PLANTIN;
                    font-size: 20px;
                    margin: auto;
                }
            }
        }
    }
}

body#stories {
    .fixed-wrapper, .full-wrapper {
        .blockDivider {
            display: none;
        }
    }
}

body#blog {
    #main {
        #blogContents {
            header {
                div.sectionHeadings {
                    text-align: center;
                    .bigLine {
                        margin: auto;
                        margin-bottom: 18px;
                    }
                    div.sectionHeading {
                        padding-left: 0;
                    }
                }
            }
            div.doubleLine {
                margin: auto;
                width: 93.5%;
                border-top: 1px solid #C7C7C7;
                border-bottom: 1px solid #FFF;
            }
            div.doubleLine.top {
                margin-bottom: 30px;
            }
            div#blogWrapper {
                margin: 0 35px 35px 35px;
                text-align: center;
                height: 1000px;

                iframe {
                    border: none;
                    width: 100%;
                    height: 100%;
                    border: none;
                }
            }
        }
    }
}

.more-to-discover {
    overflow: auto !important;
    margin-bottom: 56px !important;
}

input.my-account-save {
    width: 120px;
    height: 35px;
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: center;
    border: 0;
    background: linear-gradient(178deg, #262626 0%, #262626 57%, #000000 58%, #000000 100%);
    background: -webkit-linear-gradient(93deg, #000000 45%, #262626 20%);
    font-family: DINWebProCondBold;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#262626, endColorstr=#262626);
}
input.my-account-save:hover {
    @include darkbuttonhover;
}
input.my-account-save:active {
    @include darkbuttonclick;
}

span.check-mark {
    display: none;
    width: 27px;
    height: 27px;
    overflow: hidden;
    background: url("../images/sprites.png") no-repeat scroll -149px -49px rgba(0, 0, 0, 0);
    vertical-align: middle;
}

#lightboxAccountSavedForm {
    p {
        text-align: center;
    }
}

#lightboxAccountDelete.lightbox, #lightboxAccountDeleteConfirmation.lightbox {
    padding: 0;
    padding-bottom: 55px;

    h5 {
        padding-top: 30px;
    }

    p {
        text-align: center;
    }

    form {
        position: absolute;
        right: 0;
        bottom: 0;
        margin-bottom: 0;
        background-color: transparent;

        > a {
            width: 64px;
            text-align: center;
        }
    }

    a#cancel {
        position: absolute;
        left: 18px;
        bottom: 10px;
    }
}

body#myAccountSettings {
    .ui-dialog {
        padding: 0;
    }
	#main{
		padding-top: 40px;
	}

    section#profileSettings div.form-cntr div.form-elements div.elements-cntr.elements-floated {
        overflow: auto;
    }
}

div.checkbox-group {
    width: 50%;
    float: left;
}

div.checkbox-group .checkbox-pair {
    margin-bottom: 10px;
}

div.checkbox-group .checkbox-pair label {
    padding-left: 27px;
}

.take-break {
    .form-elements {
        p {
            color: #000;
        }

        label {
            display: block;
            position: relative;
            margin-top: 10px;
            margin-right: 18px;
            float: left;

            input[type='radio'], span.radio {
                width: 21px;
                height: 21px;
            }

            input[type='radio'] {
                position: absolute;
                opacity: 0;
                z-index: 1;

                &:after {
                    position: absolute;
                    display: none;
                    content: '';
                }

                &:focus + span.radio {
                    outline-style: dotted;
                    outline-width: 1px;
                }

                &:checked + span.radio {
                    outline: none;
                }

                &:checked + span.radio:after {
                    content: '';
                    display: block;
                    position: absolute;
                    background: transparent url("/assets/images/sprites.png") no-repeat scroll -107px -101px;
                    width: 21px;
                    height: 21px;
                }
            }

            span.radio {
                background: transparent url("/assets/images/sprites.png") no-repeat scroll -128px -101px;
                display: inline-block;
                vertical-align: -5px;
                margin-right: 4px;
            }

            span.label {
                font-family: DINWebProMedium,Arial,sans-serif;
                font-size: 13px;
                color: #000;
            }
        }
    }
}

div.benefitPage {
    ul {
        li.selected-nav {
            margin-left: -9px;
        }

        li[data-page="bookings"],
        li[data-page="stories"],
        li[data-page="sales-contacts"],
        li[data-page="events"],
        li[data-page="blog"] {
            margin-left: -9px;

            a {
                &:hover {
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }
        }

        li[data-page="settings"],
        li[data-page="overview"] {
            margin-left: -10px;

            a {
                &:hover {
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }
        }
    }
}

div.blogPage {
    ul {
        li[data-page="overview"],
        li[data-page="benefits"],
        li[data-page="bookings"],
        li[data-page="settings"],
        li[data-page="sales-contacts"] {
	    // push vertical bar
            span {
                left: 1px;
            }
	    // pull vertical bar
	    &:hover {
	    	span {
		    left: 0px;
		}
	    }
        }
    }
}

div.communityOverviewPage {
    ul {
        li[data-page="blog"],
        li[data-page="benefits"],
        li[data-page="bookings"],
        li[data-page="settings"],
        li[data-page="sales-contacts"] {
            span {
                left: 1px;
            }
	    &:hover {
	    	span {
		    left: 0px;
		}
	    }
        }
    }
}

div.bookingsPage {
    ul {
        li[data-page="blog"],
        li[data-page="overview"],
        li[data-page="benefits"],
        li[data-page="settings"],
        li[data-page="sales-contacts"] {
            span {
                left: 1px;
            }
	    &:hover {
	    	span {
		    left: 0px;
		}
	    }
        }
    }
}

div.settingsPage {
    ul {
        li[data-page="blog"],
        li[data-page="overview"],
        li[data-page="benefits"],
        li[data-page="bookings"],
        li[data-page="sales-contacts"] {
            span {
                left: 1px;
            }
	    &:hover {
	    	span {
		    left: 0px;
		}
	    }
        }
    }
}

div.salesContactsPage {
    ul {
        li[data-page="blog"],
        li[data-page="overview"],
        li[data-page="benefits"],
        li[data-page="bookings"],
        li[data-page="settings"] {
            span {
                left: 1px;
            }
	    &:hover {
	    	span {
		    left: 0px;
		}
	    }
        }
    }
}

div.travelProEventsPage {
    ul {
        li[data-page="blog"],
        li[data-page="overview"],
        li[data-page="benefits"],
        li[data-page="bookings"],
        li[data-page="settings"],
        li[data-page="sales-contacts"] {
            span {
                left: 1px;
            }
	    &:hover {
	    	span {
		    left: 0px;
		}
	    }
        }
    }
}

