@media only screen and (min-width: 1px) and (max-width: 768px) {

	#myAccountSettings {
		#profileSettings {
			div.checkbox-group {
				float: none;
				width: auto;
				margin-top: 10px;
			}
			div.checkbox-group:nth-child(2) {
				margin-top: 30px;
			}
		}
	}

	#mobile-community-header {
		h1 em {
			font-size: 22px;
			display: block;
			margin-bottom: 15px;
		}
	}

	body#blog {
	    #main {
	        #blogContents {
	            header {
	                div.sectionHeadings {
	                    text-align: center;
	                    .bigLine {
	                        margin: auto;
	                        margin-bottom: 18px;
	                    }
	                    div.sectionHeading {
	                        padding-left: 0;
	                    }
	                }
	            }
	            div.doubleLine {
	                margin: auto;
	                width: 93.5%;
	                border-top: 1px solid #C7C7C7;
	                border-bottom: 1px solid #FFF;
	            }
	            div.doubleLine.top {
	                margin-bottom: 30px;
	            }
	            div#blogWrapper {
	                margin: 0 35px 35px 35px;
	                text-align: center;
	                height: 1000px;
	                -webkit-overflow-scrolling: touch !important;
	                iframe {
	                    border: none;
                        height: 100%;
                        min-width: 100%;
                        width: 100px;
                        padding-top: 10px;
	                }
	            }
	        }
	    }
	}

 //reset password
	#myaccountReset, #myaccountJoin {
		margin: 45px 10px 0;
		height:auto;

		#greyLine{
			bottom:6px;

		}
	    .bigLine{
			display:none;
		}
		.sectionHeadings {
			#resetRequiredField{
				position:static;
				border-bottom:1px solid #c7c7c7;
				padding-bottom:10px;
			}
			.sectionHeading{
			    border-bottom:none;
				text-align:center;
			}
		}
		#myaccountResetWrapper, #myaccountJoinWrapper {
		    p{
				text-align:center;
				line-height:20px;
				font-size:15px;
				a{
					display:block;
					color:#a96c16;
					margin-top:10px;
					margin-bottom:30px;
				}
			}
		    padding:10px 0;
			form{
				border-bottom:1px solid #c7c7c7;
			}
		    ul li{
				padding-top:0;
				padding-right:0;
				float:none;
				input{
					width:99.6%;
					border: 1px solid #c7c7c7;
					box-shadow:none;
				}
			}
			.resetSubmitButton, .joinSubmitButton {
				position:relative;
				top:0;
				float:right;
                margin: 36px 0 20px;
			}
			div.spacer{
				display:none;
			}
		}

	}

    #myaccountReset {
        #myaccountResetWrapper {
            .resetSubmitButton {
                margin:25px 0;
            }
        }
    }

    #myaccountJoin {
        #greyLine {
            top: 10px;
        }

        #myaccountJoinWrapper {
            ul li {
                .agreeTerms {
                    padding-top: 20px;
                }
                
                .joinSubmitButton {
                    margin: 36px 0 20px;
                }
            }
        }
    }

	body#bookings{
		#main{
			#myaccountBookingsWrapper{
			    div.nobookingmessage{
				text-align: center;
			    }
			}
		}
	}

	body#benefits {
		div#myaccountBenefitsWrapper {

		    div#benefitsOverview {
			margin: 0px 20px;

			p {
				padding-bottom: 0;
			}
		    }

		    div#benefitsDetails {
			    .benefitsBlock {
				    height: auto;

				    .benefitWrapper {
					width: 100%;
					height: auto;
					display: block;
					float: none;

					.benefitInfo {
						padding: 0 10px;
						display: block;

						.nth-benefit {
							height: 40px;
							width: 40px;
							margin-top: 20px;
							padding-top: 7px;
							font-size: 20px;
						}

						.benefitHeadline {
							text-transform: uppercase;
							font-size: 30px;
						}

						a.readmore {
							display: block;
							margin: 5px 0 20px;
							font-size: 14px;
							font-family: DINWebPro;
							color: #333;
							cursor: pointer;

							i {
								font-size: 5px;
								position: relative;
								top: -2px;
								left: 3px;
							}
						}

						.benefit-toggle {
							display: none;

							img {
								width: 100%;
								height: auto;
								margin-top: 10px;
							}

							.benefitCopy {
								margin-bottom: 20px;
							}

							.benefitLink {
								a {
									margin: 10px 0 0;
									text-decoration: none;
								}
							}
						}
					}
				}
			    }
		    }
	        }
	}

        body#storiesOverviewPage {
            #main {
                #storiesListing {
                    div#storiesWrapper {
                        margin: 0 10px 35px;

                        div.story {
                            width: 92%;
                        }
                    }
                }
            }
        }

	body#stories, body#stories .fixed-wrapper {
        #main.storyPage {
            #centerHeader {
                display: block;
            }

            #centerHeader.centerHeaderPublic {
                padding-top: 12px;
            }

            .sectionHeadings {
                .sectionHeading {
                    padding-bottom: 0px;
                }

                .sectionSubHeading {
                    display: block;
                }
            }
        }

        .storyPage{
		    #myaccountStories{

				.partnerLogo, .top{
					display:none;
				}
				.doubleLine{
					width:100%;
				}
				.first{
					margin-top:20px;
				}

			}
            #myaccountStoriesWrapper{
			    padding:0 10px;

				section.contentbox {
					margin-bottom: 0;
				}

                .contentWithImages{
                    a.cta{
						margin-left: 0px;
					}
				    .smallLine{
						display:none;
					}
				    h1{
						font-size:28px;
					}
				    .floatLeft {

						width:100%;
						height:auto ;

					}
				    #textBlock1, #textBlock2, #textBlock3, #imageBlock1, #imageBlock2, #imageBlock3{
					    height:auto ;
					}
					#imageBlock1, #imageBlock2,  #imageBlock3{
						margin-bottom:20px;
					}
					#textBlock2{
					    margin-top:35px;
						margin-bottom:20px;
					}
					#textBlock3{
						text-align:center;
                        a.cta{
                            margin-left: 0;
                        }
						.content {
						    text-align:left;
						}
					}

					.contentWrapper{
						height:auto;
						.content.textLeft.topBlock{
							padding: 0;
							display:block;
						}
						.content.textCenter{
							padding:0 35px;

						}
						.content.textLeft{
							padding:0;
						}
					}
			    }
				#moreToDiscover {
				    h1{
						font-size:28px;
						margin-top:20px;
					}
				    #discoverWrapper{

						.article{
							width:100% !important;
							text-align:left;
							float:none;
							overflow:hidden;
							border-bottom:1px solid #c7c7c7;
							margin-bottom:10px;
							padding-bottom:10px;
							position:relative;
							.articleImage{
								margin:0 15px 0 0;
								float:left;
								width:100px;
								height:100px;
								.arrow{
									display:none;
								}
								img{
									width:100%;
								}
							}
							p{
								font-size:16px;
								max-width:none;
								padding-right:35px;
							}
							.arrow{
								background:url('../images/sprites.png') -327px -100px;
								width:10px;
								height:18px;
								position:absolute;
								right:10px;
								top:40%;
								bottom:60%;

							}
						}
					}
				}
			}
		}
	}

	body#stories, body#stories .fixed-wrapper, body#stories .full-wrapper {
		.top {
			display: none;
		}

		.doubleLine.first {
			margin-top: 20px;
		}

		.doubleLine {
			width: 100%;
		}

		section.contentbox {
			margin-bottom: 0;
		}
	}

	body#stories {
		.full-wrapper {
			.img-padding {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}

	body#stories, body#stories .fixed-wrapper {
		#moreToDiscover {
			h1{
				font-size:28px;
				margin-top:20px;
			}
			#discoverWrapper{
				.article{
					width:100% !important;
					text-align:left;
					float:none;
					overflow:hidden;
					border-bottom:1px solid #c7c7c7;
					margin-bottom:10px;
					padding-bottom:10px;
					position:relative;
					.articleImage{
						margin:0 15px 0 0;
						float:left;
						width:100px;
						height:100px;
						.arrow{
							display:none;
						}
						img{
							width:100%;
						}
					}
					p{
						font-size:16px;
						max-width:none;
						padding-right:35px;
					}
					.arrow{
						background:url('../images/sprites.png') -327px -100px;
						width:10px;
						height:18px;
						position:absolute;
						right:10px;
						top:40%;
						bottom:60%;
					}
				}
			}
		}
	}

	body#stories #main {
		margin-top: 39px;
	}

	section#contactCancel {
		padding: 0 0 35px;
		
		header {
			div.sectionHeadings {
				padding: 0 10px;
				margin-bottom: 0;
				border-bottom: 0;
			}
			
			div.sectionHeading {
				padding-left: 0;
			}		
				
			section#pdpTabs {
				margin-bottom: 24px;
			}
		}
		
		div.sectionHeadings {
			padding: 0 15px;
		}
		
		div.sectionHeading {
			padding-left: 0;
		}			

		#cancel-step2 {
			margin: 0 10px;
			
			.roomImage {
			    display: none;
			}
			
			.roomInfo {
			    width: 100%;
			    padding-bottom: 40px;
			    min-height: inherit;
			    
			    div {
				    margin: 14px 10px;
			    }
			    
			    .viewAllDetails {
				    span.icon-arrow-small-down, span.icon-arrow-small-up {
					    font-size: 6px;
				    }
		
				div.toggleRoomInfo {
					margin: 20px -10px !important;
				}
			    }
			}
			
			#cancel-booking-button {
				position: relative;
				float: right;
			}
		    }
		}

		.contactCancelResult {
		    div.sectionHeadings {
			div.sectionSubHeading {
			    font-size: 16px;
			    margin-top: 5px;
			}
		    }
		}

		section#contactCancel {
		    padding-bottom: 35px;
		    
		    header {
			padding: 0;
		    }
		}
	
		section#myaccountBookings {
			div.roomPrice {
				height: 100px;
				
				#detailPrice {
				    span#booking-cancel-cta {
					margin: 20px 0 0 20px;
					display: block;
				    }
				}
				
				#totalPrice {
					line-height: 100px;
				}
			}

		}

    .take-break {
        .form-elements {
            margin-bottom: 60px;
        }
    }
}
