@media (min-width: 1150px) and (max-width: 1264px) {
    #myaccountNewsWrapper {
        #column1 img {
            width: 100%;
        }
        
       .newsColumn .news {
            .imgWrap {
                // display: none;
            }
        
            .newsInfo {
                width: 65%;
            }
        }
    }
    
    #myaccountOverview .communitySalesWrapper .privateSales .roomImages .discountSection .floatLeft {
        h3 {
            font-size: 24px;
        }
        
        p {
            font-size: 14px;
        }
    }
    body#stories{
        .storyPage{
            #myaccountStoriesWrapper{
                .contentWithImages{
                    .contentWrapper{
                        .content.textCenter{
                            padding: 0 122px;
                        }
                    }
                }
            }
        }
    }
    section#noLogin div.nonMemberSection div#communityBenefits{
        margin-top:5px;
        width:866px;
        height:202px;
    }
    
    section#noLogin div.nonMemberSection div#communityBenefits li.benefitList{
        width:120px;
        margin: 40px 24px 20px;
    }
    section#noLogin div.nonMemberSection div#communityBenefits li.benefitListWide{
        width: 235px;
        margin: 0 31px 0 33px;
    }
    section#noLogin div.sneak_peeks div#communityBenefits li.benefitListWide {
        width:120px;
        margin: 40px 24px 20px;
    }
    section#noLogin div.nonMemberSection div.emailInput{
        width: 470px;
        margin: 10px auto 0 auto;
	}
    section#noLogin {
            div.miles_more, div.member_only, div.member_only_soon {
                div#communityBenefits{
                   li.benefitList{
                       width:107px;
                       margin: 40px 17px 20px;
                   }
               }
            }
    }
}