@media (max-width: 1149px) {
    #myaccountNewsWrapper {
        #column1 img {
            width: 100%;
        }
        
       .newsColumn .news {
            .imgWrap {
                display: none;
            }
        
            .newsInfo {
                width: 100%;
            }
        }
    }
    
    #myaccountOverview .communitySalesWrapper .privateSales .roomImages .discountSection .floatLeft {
        h3 {
            font-size: 22px;
        }
        
        p {
            font-size: 14px;
        }
    }
    body#stories{
        .storyPage{
            #myaccountStoriesWrapper{
                .contentWithImages{
                    #textBlock3{
                        a.cta{
                            margin-left: 40px;
                        }
                    }
                
                    .contentWrapper{
                        .content.textLeft{
                            padding: 0 40px;
                        }
                        .content.textCenter{
                            padding: 0 92px;
                        }
                    }
                }
            }
        }
    }
    section#noLogin div.nonMemberSection div#joinBenefitOverview
    {
        padding: 34px 3% 0 3%;
    }
    section#noLogin div.nonMemberSection div#communityBenefits{
        margin-top: 5px;
        margin-left: 14px;
        width:822px;
        height:202px;
    }
    
    section#noLogin div.nonMemberSection div#communityBenefits li.benefitList{
        width:105px;
        margin: 40px 22px 20px;
    }
    section#noLogin div.nonMemberSection div#communityBenefits li.benefitListWide{
        width: 235px;
        margin: 0 23px 0 24px;
    }
    section#noLogin div.sneak_peeks div#communityBenefits li.benefitListWide {
        width:120px;
        margin: 40px 24px 20px;
    }
    section#noLogin div.nonMemberSection div.emailInput{
        width: 470px; 
        margin: 10px auto 0 auto;
    }
    section#noLogin {
        div.sneak_peeks, div.member_only, div.member_only_soon {
            div#communityBenefits li.benefitList {
                width:100px;
                margin: 40px 15px 20px;
            }
        }
    }
}