@media (max-width: 1149px) {
    html#booking {
        background-color: #222;
        width: auto;
        
        body {
            min-width: 1024px; // iPad+Safari fix (real with is 980px)
        }
        
        header#bookingHeader {
            width: auto;
            
            // a#logo {
                // outline: 5px solid #0ff;
            // }
            div#bookingSteps ul {
                left: 60px;
            }
            > div {
                width: 1024px;

                div#bookingSteps ul li {
                    width: 200px;
                    
                    div.name {
                        margin-left: -125px;
                    }
                    
                    div.step {
                        left: 0;
                        right: auto;
                    }
                    
                    div.stepNumber {
                        left: 25px;
                    }
                }
            }
            
        }
        div#bookingStepsLine {
            width: 57%;
            
        }
        div#bookingContentWrapper {
            width: 100%;
            
            div#bookingContent {
                width: 1024px;
            
                div#bookingStep {
                    width: 790px;
                    padding:46px 0 0 0;
                    
                    div#bookingCalendar div.datepickerContainer > table > tbody > tr > td:last-child {
                        display: none;
                    }
                }
            }
            
            div#bookingContent.step5 div#bookingStep {
                width: 940px;
                
                div#bookingThankYouImage {
                    width: 460px;
                    
                    img {
                        width: 100%;
                    }
                    
                    div#bookingThankYouImage2 {
                        display: block;
                    }
                }
                
                div#bookingThankYouInfo {
                    height: 510px;
                    width: 450px;
                }
                
                div#bookingThankYouCommunityWrapper div#bookingThankYouCommunity {
                    background-position: -140px 0px;
                }
            }
        }
        
        ul#bookingRoomRates > li > ul li div.bookingRoomImage {
            height: auto;
            width: 300px;
            
            img {
                width: 100%;
            }
        }
        
        ul#bookingRoomRates > li > ul li div.bookingRoomNoImage {
            height: 225px;
            width: 300px;
        }
        
        ul#bookingRoomRates > li > ul li div.bookingRoomInfo {
            width: 300px;
        }
        
        div#bookingCalendar div#loadingimg2 {
            width: 1px;
            height: 1px;
            visibility: hidden;
        }
        
        div#bookingCalendar div#loadingimg1 {
            left: 0;
            text-align: center;
            width: 100%;
            
            img {
                margin: 120px;
            }
        }
        form#bookingStep3>ul {
            li.bookingLastnameWrapper{
                div.valid{
                    left: 283px;
                }
            }
            li.bookingPhoneWrapper{
                div.valid{
                    left: 265px;
                }
                div.phone-underline {
                    width: 320px !important;
                }
            }
            li.bookingConfirmWrapper{
                p.messageBar, p.confirm-fyi{
                    width:498px;
                    height:auto;
                    top: 10px;
                    .messageBarBreak{
                        display:block;
                        height:21px;
                        line-height: 22px;
                    }
                }
            }
            li.bookingFirstnameWrapper,li.bookingLastnameWrapper{
                input#bookingFirstName,input#bookingLastName{
                    width:270px;
                }
            }
            li.bookingEmailWrapper{
                input#bookingEmail{
                    width:410px;
                }
            }
            li.bookingSpecialRequestWrapper{
                textarea{
                    width:430px;
                }
            }
            
           
        }
        
        div#bookingContentWrapper div#bookingContent div#bookingStep div.bookingSection form#bookingStep3>p{
            span.messageBar{
                height:auto;
                span.messageBarBreak{
                    display:block;
                    line-height: 22px;
                }
            }
        }
    }
}
