html#booking {
    #sidebar{
		display:none;
	}
	div#main{
		margin:0 !important;
		padding:0;
	}
    div.tzSelect{
		display:block;
	}
	select#bookingAdults, select#bookingChildren{
		display:none;
    }
    background-color: #222;

    #searchEngine {
        display: none;
    }

    .currencyDd{
        width:50px;
        padding-left:0px;

        li{
            display:block;
            font-family: DINWebPro;
            a{
                text-decoration:none;
            }
        }

        li.locationSwitch,
        li.currencySwitch {
            position: relative;

            span.icon {
                background: url('../images/sprites.png') no-repeat 0px 0px;
                height: 17px;
                position: absolute;
                left: 0;
                top: 3px;
                width: 17px;
            }

            a {
				span.currency {
					color:#000;
				}
                span.arrow {
                    background: url('../images/sprites.png') no-repeat -153px -18px;
                    display: inline-block;
                    height: 1em;
                    margin-left: 10px;
                    width: 8px;
                }
            }

        }

        li.locationSwitch {
            padding-left: 25px;

            span.icon {
                background-position: -173px -19px;
            }
        }

        li.currencySwitch {
            span.icon {
                background-position: -190px -19px;
            }

            div.currencySwitchList {
                top: 25px;
                box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);
                display: none;
                left: 10px;
                position: absolute;
                width: 225px;
                z-index: 1000;

                ul {
                    max-height: 400px;
                    overflow-y: scroll;
                    overflow-x: hidden;
                    background: #fff;
                    padding-left:0;

                    li {

                        border-bottom: 1px solid #cfcfcf;
                        width: 100%;
                        padding: 10px 0 10px 10px;
                        text-align: left;


                        a {
                            display: block;

                        }
                    }

                    li:last-child {
                        border-bottom: 0;
                    }

                    li:hover {
                        background-color: #ffed00;
                        a {
                            color: #000;
                        }
                    }
                }
                .mCSB_container {
                    margin-right: 0;
                }

                div.currencySwitchArrow {
                    background: url('../images/sprites.png') no-repeat -274px -10px;
                    top: -9px;
                    height: 11px;
                    left: 28px;
                    position: absolute;
                    width: 18px;
                }
            }
        }
    }
    header#bookingHeader {
        background: #fff;
        > div {
            height: 91px;
            margin: 0 auto;
            position: relative;
            width: 1265px;
            z-index: 1;

            a#logo {
                // background: url('../images/sprites.png') no-repeat -364px 0px;
				background-image: url('../images/dh_web_logo.gif');
				background-repeat: no-repeat;
                display: block;
                height: 140px;
                left: 28px;
                position: absolute;
                top: 33px;
                width: 138px;
                z-index: 1;
            }

            div#headerLinks {
                padding: 40px 25px 0 0;
                position: absolute;
                right: 0;
                top: 0;
                color: #000000;
                font-size: 12px;
                font-family: DINWebPro;

				> ul {

					> li {

						> a {
							text-transform: none;
							color: #000000;
							font-size: 12px;
						}
                        
                        i.icon-LHN-Icon-Assistance {
                            font-size: 18px;
                            position: relative;
                            top: 2px;
                            margin-right: 5px;
                        }

                        i.icon-share {
                            font-size: 12px;
                            position: relative;
                            top: 1px;
                            margin-right: 5px;
                        }
					}
				}
            }
        }
        div#bookingTopBarWrapper{
            width:100%;
            height: 90px;
            background-color: #fff;
        }
        div#bookingTopBar{
            position:relative;
            width: 1202px;
            margin: 0 auto;
        }
        div#bookingTitle {
            @include fontplantin;
            font-size: 29px;
            line-height: 24px;
            position: absolute;
            text-align: center;
            text-transform: uppercase;
            top: 116px;
            width: 100%;

            div#reservationFor {
                font-size: 16px;
                color: #868685;
            }

            div#bookingPropertyAddress {
                color: #666;
                font-size: 16px;
                line-height: 18px;
            }
        }

        div#bookingSteps {
            ul {
                display: block;
                height: 65px;
                // overflow: hidden;
                left: 8px;
                position: absolute;
                bottom: -186px;

                li {
                    color: #bbb;
                    display: block;
                    float: left;
                    position: relative;
                    width: 260px;

                    div.name {
                        font-family: DINWebProCondBold, Arial, sans-serif;
                        font-size: 18px;
                        margin-left: -62px;
                        text-align: center;
                        text-transform: uppercase;
                    }
                    
                    div.check {
                        display: inline-block;
                        width: 14px;
                        height: 13px;
                        background: url('../images/check.png') no-repeat left top;
                        position: relative;
                        left: 3px;
                        top: -1px;
                    }

                    div.step {
                        @include fontplantin;
                        font-style: italic;
                        font-size: 12px;
                        letter-spacing: 1px;
                        position: absolute;
                        right: 175px;
                        top: 31px;
                    }

                    div.stepNumber {
                        background-color: #ccc;
                        border-radius: 50%;
                        color: #fff;
                        font-family: DINWebProCondBold, Arial, sans-serif;
                        font-size: 16px;
                        height: 25px;
                        line-height: 27px;
                        text-align: center;
                        overflow: hidden;
                        left: 88px;
                        position: absolute;
                        top: 36px;
                        width: 25px;
                    }
                }

                li.current {
                    color: #000;

                    div.stepNumber {
                        background-color: #000;
                        box-shadow: 0 1px 2px rgba(0,0,0,0.3);
                    }
                }

                li.completed {
                    color: #8ab264;
                    cursor: pointer;

                    div.stepNumber {
                        background-color: #8ab264;
                    }
                }
            }
        }

    }
    div#bookingStepsLine {
        position: absolute; 
        background: #d4d0ce;
        width: 63%;
        left: 103px;
        height: 1px;
        bottom: -170px;
    }
    div#bookingContentWrapper {
        background-color: #F7F7F4;
        //padding-top: 46px;
        margin-top: 167px;
        position: relative;
        width: 100%;

        div#bookingContent {
            margin: 0 auto;
            overflow: hidden;
            position: relative;
            width: 1265px;

            div#bookingStep {
                float: left;
                padding: 23px 30px 0 0;
                width: 990px;

                div.bookingSection {
                    //background-color: #f5f5f5;
                    margin-bottom: 30px;
                    position: relative;
                    
                    
                    span.messageBar,span.messageBarMobile{
                        font-family: Plantin, Arial, sans-serif !important;
                        font-size: 20px;
                        font-style: italic;
                        width:96.7%;
                        background-color:#c2c2bc;
                        padding: 15px;
                        display:block;
                        color:#fff;
                        letter-spacing:0.4px;
                            
                    }
                    div.bookingSectionHeading {
                        border-bottom: 1px solid #fff;
                        margin: 0 30px 0 30px; // 28px
                        padding-top: 28px;

                        
                        span.bookingSectionHeadingBar {
                            @include header-bar(#000, 88px, 5px, 0);
                        }

                        span.infoBar {
                            border-bottom: 1px solid #c7c7c7;
                        }

                        span.span-h2 {
							@include fontplantin;
                            font-size: 29px;
                            line-height: 29px;
                            padding: 18px 0 12px 15px;
                            vertical-align: 10px;
                        }

                        span.heading-down {
                            margin-top: 15px;
                            font-family: DINWebPro, Arial, sans-serif;
                        }

                        span.span-signin-box {
                            border: 1px solid;
                            border-color: #7c7c7d;
                            padding: 3px;
                            font-weight: bold;
                            text-transform: uppercase;
                            font-family: DINWebProCond, Arial, sans-serif;
                            
                            a {
                                outline: none;
                            }
                        }

                        h2 {
                            border-bottom: 1px solid #c7c7c7;
							@include fontplantin;
                            font-size: 29px;
                            line-height: 29px;
                            padding: 18px 0 12px 15px;
                        }

                        p#bookingRequiredFields {
                            font-family: DINWebPro, Arial, sans-serif;
                            font-size: 12px;
                            position: absolute;
                            right: 30px;
                            text-align: right;
                            top: 60px;
                        }
                        
                        span.messageBar{
                            padding:0 10px 0 19px;
                            
                            span.right{
                                float:right;
                                letter-spacing:0.5px;
                                padding-right: 9px;
                                
                                a{
                                    color:#000;
                                    text-decoration:underline;
                                    letter-spacing:0.6px;
                                    margin-left:-1px;
                                }
                            }
                        }
                    }

                    div.bookingSectionContent {


                        label {
                            font-family: DINWebProMedium, Arial, sans-serif;
                            font-size: 13px;
                        }
                    }
                }
            }

            div#bookingSummaryWrapper {
                float: right;
                margin-bottom: $sectionBottomSpacing;
                margin-top: 51px;
                width: 232px;

                div#bookingSummary {
                    h2 {
                        background-color: #fff;
                        color: #000;
                        @include fontplantin;
                        font-size: 16px;

                        padding: 30px 0 30px 0;

                        text-align: center;
                        a {
                            text-decoration:none;
                            color: #BF883B;

                        }
                    }

                    img#bookingPropertyImage {
                        display: block;
                        width: 100%;
                    }

                    li {
                        color: #000;
                        display: block;
                        font-family: DINWebProMedium, Arial, sans-serif;
                        font-size: 13px;
                        line-height: 20px;

                        a {
                            color: #BF883B;
                            border-bottom: 1px solid #BF883B;
                        }
                    }

                    ul#bookingSummaryInfo {
                        background-color: #fff;
                        padding: 26px 15px 0 15px;
                        li.bookingPropertyName a{
                            border-bottom:none;
                            @include fontplantin;
                            font-size:16px;
                        }
                        li {
                            text-align: left;
                        }

						li.bookingSummaryDate:last-child {
							padding-bottom: 26px;
						}
                    }

                    ul#bookingSummaryCosts,ul#bookingSummaryCostsTotal {
                        background-color: #fff;
                        color: #fff;
                        // padding: 26px 0;

                        li {
                            margin: 0 15px;

                            span.value {
                                float: right;
                            }
                        }

                        li#bookingSummaryRoom {
                            border-bottom: 1px solid #c7c7c7;
							border-top: 1px solid #fff;
                            text-align: left;
                            padding-bottom: 26px;
							padding-top: 26px;

							> div {
								font-size: 12px;
                                font-family: DINWebPro;
							}
                        }

						li#bookingSummaryRateInfo,li#bookingSummaryWhyBook {

							padding: 26px 0;
							border-bottom: 1px solid #c7c7c7;
							border-top: 1px solid #fff;

							> div {
								font-size: 12px;
                                font-family: DINWebPro;
							}
                            > div.ratePlan{
                                font-family: DINWebProMedium, Arial, sans-serif;
                            }
                            
						}
                        li#bookingSummaryWhyBook {
                            font-size:12px;
                            border:none;
                            p{
                                color:#8ab264;
                                font-size:13px;
                                padding-bottom: 6px;
                            }
                        }
                        
                        li#bookingSummaryRate, li#bookingSummaryCurrency {
                            border-bottom: 1px solid #c7c7c7;
                            border-top: 1px solid #fff;
                            padding-bottom: 8px;
                            padding-top: 12px;
                        }

                        li#bookingSummaryCurrency {
                            border-top: 1px solid #c7c7c7;
                            
                            color:#000;
                            .currencyDd{
                                float:right;
                                width:60px;
                                .currencySwitchButton{
                                    width:60px;
                                }
                                li a{
                                   border-bottom:none;
                                }
                                div.currencySwitchList{
                                    width: 215px;
                                    left:-160px;

                                    li{
                                       margin: 0;
                                       a{
                                            color: #000000;
                                            font-size: 12px;
                                        }
                                    }
                                    div.currencySwitchArrow{
                                        left:180px;
                                    }
                                }

                            }
                        }
                        li#bookingSummaryTax {
                            border-top: 1px solid #fff;
                            padding-bottom: 10px;
                            padding-top: 12px;
                        }

                        li#bookingSummaryTotal {
                            background-color: #000;
                            color:#fff; 
                            font-size: 16px;
                            padding: 17px 15px 0 15px;
                            text-transform: uppercase;
							margin: 0;
                            #hotelCurrency{
                                color: #999999;
                                font-size: 12px;
                                padding-bottom: 10px;
                                text-align: right;
                            }
                        }

                        li#bookingSummaryCopy {
                            border-top: 1px solid #444444;
                            background-color: #000;
                            color: #fff;
                            font-size: 12px;
                            line-height: 17px;
                            padding: 17px 15px;
                            text-align: center;
                            p.headline{
                                color:#8ab264;
                            }
                            p.subheadline{
                                color:#888888;
                            }
                            a{
                                color:#fff;
                                border-bottom: 1px solid #fff;
                            }
                        }
                    }
                    ul#bookingSummaryCostsTotal{ 
                        background-color:#000;
                    }
                }

                div#bookingCommunity {
                    background: #bf883b url('../images/booking/community.png') no-repeat bottom center;
                    color: #fff;
                    text-align: center;
                    margin-top: 50px;
                    padding: 34px 15px 0 15px;

                    h2 {
                        @include fontplantin;
                        font-size: 16px;
                        line-height: 16px;
                        padding-bottom: 17px;
                    }

                    h3 {
                        font-family: DINWebProCondBold, Arial, sans-serif;
                        font-size: 18px;
                        line-height: 18px;
                        text-transform: uppercase;
                    }

                    div.seperator {
                        width: 100%;

                        > div {
                            background-color: #e8cba2;
                            display: block;
                            height: 1px;
                            margin: 0 auto;
                            width: 17px;
                        }
                    }

                    p {
                        font-size: 13px;
                        @include fontplantin;
                        font-style: italic;
                        line-height: 18px;
                        margin-bottom: 18px;

                        span.discount {
                            color: #e0b072;
                            display: inline-block;
                            font-family: DINWebProCondBold, Arial, sans-serif;
                            font-size: 29px;
                            font-style: normal;
                            line-height: 29px;
                            padding-top: 3px;
                        }
                    }

                    p.description {
                        font-family: DINWebPro, Arial, sans-serif;
                        font-style: normal;
                        margin-bottom: 30px;
                        margin-top: 15px;
                    }

                    p#teaser {
                        font-family: DINWebPro, Arial, sans-serif;
                        font-style: normal;
                        margin-bottom: 0;
                        margin-top: 152px;
                        padding-bottom: 18px;
                    }
                }
            }
        }
        div#bookingContent.step2 div#bookingStep div.bookingSection div.bookingSectionHeading{
			margin: 0 0 0 30px;
		}
        div#bookingContent.step4 div#bookingStep {
            padding: 62px 43px;
            width: 1194px;

            div.bookingSection {
                background-color: #F7F7F4;
                margin-bottom: 30px;
                position: relative;

                div.bookingSectionHeading {
                    .bookingSectionHeadingWrap{
                        padding-left:55px; 
                        min-height:70px;
                        background:url("../images/booking/bookingCheckMark.png") no-repeat;
                        background-size: 54px 54px;
                    }
                    border-bottom: none;
                    margin: 0;
                    margin-top:8px;
                    padding-top: 10px;

                    h2 {
                        padding-top:0;
                        border-bottom: none;
                    }
                }
            }
        }
    }

    footer {
        background-color: #222;
        color: #888;
        margin-left: 0;
        padding: 0;
        width: 100%;

        > div {
            margin: 0 auto;
            max-width: 1280px;
            min-width: 1000px;
            padding-bottom: 52px;
            padding-top: 30px;
            position: relative;

            a {
                color: #888;
                text-decoration: none;
                text-transform: uppercase;
            }

            ul {
                font-family: DINWebProMedium, Arial, sans-serif;
                font-size: 12px;
                overflow: hidden;
                padding: 0 30px;

                li {
                    float: left;
                    display: block;
                    margin-bottom: 8px;
                    margin-right: 18px;
                }
            }

            p {
                @include fontplantin;
                font-size: 13px;
                padding: 0 30px;
            }

            ul#bookingFooterIcons {
                overflow: hidden;
                padding: 0 24px 0 0;
                position: absolute;
                right: 0;
                top: 30px;

                li {
                    display: block;
                    float: right;
                    margin: 0 0 0 25px;
                }

                li.truste {
                    background: url('../images/booking/truste.png') no-repeat top left;
                    height: 61px;
                    width: 60px;
                }

                li.norton {
                    background: url("../images/sprites.png") no-repeat scroll -328px -156px;
                    height: 44px;
                    margin-top: 9px;
                    width: 84px;
                }
            }
        }
    }

    // Step 1
    ul#bookingPeople {
        padding-bottom: 30px;
        margin-left: 30px;
        margin-top: 31px;
        height: 70px;

        > li {
            float: left;

            label {
                display: block;
                margin-bottom: 8px;
            }

            div.tzSelect {
                margin-right: 15px;
            }

            select#bookingAdults,
            select#bookingChildren {
                width: 80px;
            }
        }

    }

    div#bookingCalendar {
        //background-color: #fff;
        //margin-bottom: 30px;
		margin-left:30px;
        margin-top: 12px;
        padding-bottom: 30px;
        position: relative;

        @include calendar;

        div#loadingimg {
            width:480px;
            height:300px;
            position:absolute;
            background: #ffffff;
            z-index:10;
            right:0;
            top:50px;
            display:none;

            img {
                margin: 150px 0 0 208px;
            }
        }

        div#loadingimg1 {
            width:480px;
            height:300px;
            position:absolute;
            background: #ffffff;
            z-index:10;
            left:0;
            top:50px;
            display:none;

            img {
                margin: 150px 0 0 208px;
            }
        }

        div#loadingimg2 {
            width:480px;
            height:300px;
            position:absolute;
            background: #ffffff;
            z-index:10;
            right:0;
            top:50px;
            display:none;

            img {
                margin: 150px 0 0 218px;
            }
        }

        div.datepickerContainer > table > tbody > tr > td:first-child {
            padding: 0 15px 0 0 !important;
        }

        div.datepickerContainer {
            //padding-left: 3px;
            padding-right: 1px;
        }

        div.datepickerContainer > table {
            margin: 0 auto;
        }

        table.datepickerViewDays tr.datepickerDoW th {
            color: #040404;
            opacity: 0.5;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
            filter: alpha(opacity=50); /* IE 5-7 */
        }

        a#bookingPrevMonth,
        a#bookingNextMonth {
            background: #4d4d4c;
            height: 50px;
            position: absolute;
            top: 184px;
            width: 27px;

            span {
                background: #4d4d4c url('../images/sprites.png') no-repeat;
                display: block;
                height: 14px;
                width: 8px;
				position:absolute;
				top:19px;
            }
        }

        a#bookingPrevMonth {
            left: -30px;

            span {
                background-position: -291px -17px;
				left:9px;
            }
        }

        a#bookingNextMonth {
            right: -27px;

            span {
                background-position: -299px -17px;
				right:9px;
            }
        }
    }

    div#bookingContinueStep1Buttons {
        overflow: hidden;

        a#bookingContinueStep1 {
            @include lightbutton;

            float: right;
            width: 120px;
        }
        a#bookingContinueStep1:hover {
            @include lightbuttonhover;
        }
        a#bookingContinueStep1:active {
            @include lightbuttonclick;
        }
    }

    p#bookingCalendarClear {
        bottom: 10px;
        font-family: DINWebPro, Arial, sans-serif;
        font-size: 12px;
        margin-top: 0px;
        left: 5px;
        padding-right: 10px;
        position: absolute;

        span {
            background: url('../images/sprites.png') no-repeat -178px -12px;
            display: inline-block;
            height: 7px;
            margin-right: 8px;
            width: 7px;
        }

        a {
            color: #000;
            border-bottom: 1px solid #c3c3c3;
        }
    }

    p#bookingCalendarClear:hover {
        cursor: pointer;
    }

    // Step 2
    ul#bookingRoomRates {
        background: #fff;
        margin: 25px 0 0 30px;
        .showMoreRooms{
            border-bottom: 1px solid #A96C16;
            color: #A96C16;
            .lessText{
               display:none;
            }
        }
        li .hide{
            display:none;
        }
		li.show-more-container{
			text-align:center;
			border-bottom:none;
			margin-bottom:0;
			text-size:14px;
			font-family:DINWebPro;
			.rooms-show-full{
				display:none;
			}
			a{
				display:block;
				border:none;
				text-decoration:underline;
				margin-top:8px;
			}

		}
        > li {

            h3.bookingRateName {
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#ffffff), color-stop(51%,#f4f4f4), color-stop(100%,#f4f4f4)); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 50%,#f4f4f4 51%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */
                background: linear-gradient(to bottom, #ffffff 0%,#ffffff 50%,#f4f4f4 51%,#f4f4f4 100%); /* W3C */
                box-shadow: 0 0 2px 0px rgba(0,0,0,0.2);
                font-family: DINWebProCondBold, Arial, sans-serif;
                font-size: 18px;
                height: 43px;
                line-height: 17px;
                margin-bottom: 25px;
                padding-top: 8px;
                padding-left: 48px;
                position: relative;
                text-transform: uppercase;

                span.arrow {
                    background: url('../images/sprites.png') no-repeat -283px -132px;
                    display: block;
                    height: 8px;
                    left: 15px;
                    position: absolute;
                    top: 23px;
                    width: 15px;
                }

                span.label {
                    color: #666;
                    font-size: 11px;
                    font-family: DINWebProCondBold, Arial, sans-serif;
                }
            }

            h3.bookingRateName:hover {
                cursor: pointer;
            }

            > ul {
                display: none;

                li {
                    border-bottom: 1px solid #eee;
                    clear: left;
                    margin: 0 30px;
                    overflow: hidden;
                    padding: 20px 0;

                    div.bookingRoomImage,
                    div.bookingRoomNoImage {
                        height: 300px;
                        float: left;
                        width: 400px;
						position: relative;

						.img-count {

							cursor: pointer;
						}
                        img{
							width:100%;
						}
						> div.img-count {

						//	position: absolute;
						//	width: 44px;
						//	height: 34px;
							right: 15px;
							top: 15px;
						//	background-image: url('/assets/images/popup-count.png');
						//	font-family: DINWebPro, Arial, sans-serif;
						//	font-size: 11px;
						//	color: #FFFFFF;
						//	text-align: center;
						//	line-height: 36px;
						}
                    }

					//div.room-carousel {

					//	display: none;

					//	> ul.slides {

					//		> li {

					//			margin-left: 0;

					//			img {

					//				width: 100%;
					//				height: 100%;
					//			}
					//		}
					//	}
					//}

                    div.bookingRoomNoImage {
                        background-color: #bf883b;
                    }

                    div.bookingRoomInfo {
                        float: left;
                        font-family: DINWebPro, Arial, sans-serif;
                        min-height: 250px;
                        margin-left: 20px;
                        overflow: hidden;
                        position: relative;
                        padding-bottom:50px;
                        width: 425px;

                        a {
                            border-bottom: 1px solid #a96c16;
                            color: #a96c16;
                        }

                        span.roomId {
                            display: none;
                        }

                        h4 {
                            font-family: DINWebProCondBold, Arial, sans-serif;
                            font-size: 18px;
							line-height: 18px;
                            margin-bottom: 10px;
                            text-transform: uppercase;
                        }

                        span.bookingRoomInfoSeperator {
                            @include header-bar(#c3c3c3, 17px, 1px, 10px);
                        }

                        p.bookingRoomDesc {
                            color: #343434;
                            font-size: 13px;
                            line-height: 19px;
                            margin-bottom: 10px;
                        }
                        .fullDesc{
                            display:none;
                        }
                        p.bookingRoomDescShort {
                            color: #000;
                            font-size: 13px;
                            line-height: 20px;
                            margin-bottom: 10px;
                        }

                        p.bookingRoomCancelPolicy {
                            font-size: 13px;
                        }

                        p.bookRoomFrom {
                            bottom: 41px;
                            color: #000;
                            @include fontplantin;
                            font-size: 16px;
                            font-style: italic;
                            position: absolute;
                            right: 10px;
                            text-align: right;

                            span.rate {
                                color: #a96c16;
                                font-family: DINWebPro, Arial, sans-serif;
                                font-style: normal;
                            }
                        }

                        div.spinnerWrapper {
                            bottom: 0;
                            font-size: 12px;
                            height: 35px;
                            line-height: 35px;
                            position: absolute;
                            right: 170px;
                            width: 105px;
                            
                            div.spinner {
                                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#ffffff), color-stop(51%,#f4f4f4), color-stop(100%,#f4f4f4)); /* Chrome,Safari4+ */
                                background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 50%,#f4f4f4 51%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */
                                background: linear-gradient(to bottom, #ffffff 0%,#ffffff 50%,#f4f4f4 51%,#f4f4f4 100%); /* W3C */
                                box-shadow: 0 0 2px 0px rgba(0,0,0,0.2);
                                position: absolute;
                                top: 0;
                                right: 0;
                                width: 60px;
                                /*width: 45px;
                                margin-right:15px;*/
                                
                                span.spinnerValue {
                                    display: block;
                                    margin-left: 5px;
                                    text-align: center;
                                    width: 35px;
                                }

                                a.spinnerIncrease,
                                a.spinnerDecrease {
                                    background: url('../images/sprites.png') no-repeat -109px -28px;
                                    border: none;
                                    color: transparent;
                                    display: block;
                                    height: 17px;
                                    overflow: hidden;
                                    position: absolute;
                                    right: 0;
                                    text-indent: -100px;
                                    width: 30px;
/*                                    display:none;*/
                                }

                                a.spinnerIncrease {
                                    top: 0;
                                }

                                a.spinnerDecrease {
                                    background-position: -142px -19px;
                                    top: 18px;
                                }
                            }
                        }

                        div.singleRoomSpinner {
                            select{
                                -webkit-touch-callout: none;
                                -webkit-user-select: none;
                                -khtml-user-select: none;
                                -moz-user-select: none;
                                -ms-user-select: none;
                                user-select: none;
                            }
                            div.spinner {
                                width: 45px;
                                margin-right:15px;

                                a.spinnerIncrease,
                                a.spinnerDecrease {
                                    display:none;
                                }
                            }
                        }

                        a.selectRoom {
                            @include lightbutton;

                            border-bottom: none;
                            bottom: 0;
                            color: #222;
                            position: absolute;
                            right: 0;
                            float:right;
                        }
                        a.selectRoom:hover {
                            @include lightbuttonhover;
                        }
                        a.selectRoom:active {
                            @include lightbuttonclick;
                        }
                        
                    }
                }
            }
        }

        > li.open {
            h3.bookingRateName {
                box-shadow: 0 0 2px 0px rgba(0,0,0,0.2), 0 15px 20px -24px #000;

                span.arrow {
                    background-position: -268px -132px;
                }
            }

            ul {
                display: block;
            }
        }
    }

    // Step 3 & 4 Forms
    form#bookingStep3,
    form#bookingStep4 {
        ul:not(.dropDown) {
            padding: 0 30px;

            li {
                display: block;
                position: relative;

                div.errorMessage {
                    color: #ea0000;
                    font-family: DINWebPro, Arial, sans-serif;
                    font-size: 12px;
                }

                div.valid {
                    background: url('../images/sprites.png') no-repeat -149px -49px;
                    display: none;
                    height: 27px;
                    left: 318px;
                    position: absolute;
                    top: 71px;
                    width: 27px;
                }
            }

            li.error {
                input {
                    @include biginputErrorBooking;
                }
            }

            label:not(.lbl-dh-chk) {
                color: #000;
                display: block;
                font-family: DINWebProMedium, Arial, sans-serif;
                font-size: 13px;
                line-height: 17px;
                padding-top: 20px;
                margin-bottom: 7px;

                span.description {
                    font-family: DINWebPro, Arial, sans-serif;
                    font-size: 12px;
                }
            }

            input:not(.dh-chk) {
                @include biginput;

                width: 250px;
            }

            input,
            div.bookingCountry_selectbox {
                margin-bottom: 10px;
            }
        }
    }

    // Step 3 - Guest Info
    form#bookingStep3 {
        ul:not(.dropDown) {
            li.bookingTitleWrapper,
            li.bookingFirstnameWrapper,
            li.bookingLastnameWrapper,
            li.bookingEmailWrapper,
            li.bookingPhoneWrapper,
            li.bookingTPguestFirstnameWrapper,
            li.bookingTPguestLastnameWrapper {
                padding-top: 15px;
                float: left;
            }
            
            li.bookingFirstnameWrapper,
            li.bookingLastnameWrapper,
            li.bookingPhoneWrapper,
            li.bookingPostcodeWrapper,
            li.bookingTPguestLastnameWrapper,
            li.bookingTPguestPostcodeWrapper {
                margin-left: 16px;
            }
    
            li.bookingEmailWrapper {
                clear: left;
                padding-bottom: 15px;
                span{
                    padding-left:10px;
                }
            }
            
            li.bookingTitleWrapper,
            li.bookingCountryWrapper,
            li.bookingTPguestCountryWrapper {

				width: 100%;
                padding-top: 9px;
                float: left;
                z-index:10;

                ul.bookingCountry_dropdown{
                   height: 400px;
                   overflow-y: auto;
                }
                ul.bookingTitle_dropdown{
                   height: 140px;
                   overflow-y: auto;
                }
            }
            li {
                 select {
                    border: none;
                    box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
                    cursor: pointer;
                    font-family: DINWebProMedium,Arial,sans-serif;
                    font-size: 14px;
                    height: 46px;
                    line-height: normal;
                    text-indent: 7px;
                }
                select#bookingTitle {
                    width: 105px;
                }
            }
            li.bookingTitleWrapper{
                padding-top:15px;
                width:auto;
            }

            li.bookingStateWrapper,
            li.bookingProvinceWrapper,
            li.bookingTPguestStateWrapper,
            li.bookingTPguestProvinceWrapper {
                display: none;
                float: left;
                padding-top: 10px;
                //margin-left: 16px;
                .tzSelect{
                    z-index:5;
                }
            }

            li.bookingAddressWrapper,
            li.bookingTPguestAddressWrapper {
                clear: left;

                div.valid {
                    left: 618px;
                    top: 56px;
                }
            }

            li.bookingPhoneWrapper {
                div.valid {
                    left: 270px;
                }
            }

            div.underline {
                clear: left;
                padding-bottom: 15px;
                border-bottom: 1px solid #c7c7c7;
            }

            li.bookingCityWrapper,
            li.bookingPostcodeWrapper,
            li.bookingTPguestCityWrapper,
            li.bookingTPguestPostcodeWrapper {
				padding-bottom: 20px;
                float: left;

                div.valid {
                    left: 434px;
                    top: 56px;
                }
            }

            li.bookingTPguestCityWrapper {
                clear: left;
            }

            li.bookingContinueWrapper {

                clear: left;
                height: 80px;
                width: 100%;
				border-top: 1px solid #FFFFFF;
				padding-top: 29px;

                p {
                    font-family: DINWebPro, Arial, sans-serif;
                    font-size: 12px;
                    line-height: 17px;
					float: right;
					clear: both;
                    //position: absolute;
                    //right: -30px;
                    //bottom: 45px;
                    text-align: center;
                    width: 200px;
					padding-top: 10px;
                }

                a#bookingContinueStep3 {
                    @include lightbutton;

					//float: right;
					//clear: both;
                    //position: absolute;
                    //right: -30px;
                    //bottom: 0;
                    // width: 200px;
                    height: 49px;
                    line-height: 16px;
                    padding-top: 16px;
                    //position: absolute;
                    //bottom: 0;
                    float: right;
                    clear: both;
                    right: -30px;
                    width: 200px;

                    span {
                        @include fontplantin;
                        font-size: 14px;
                        font-style: italic;
                        line-height: 16px;
                        text-transform: lowercase;
                    }
                }
                a#bookingContinueStep3:hover {
                    @include lightbuttonhover;
                }
                a#bookingContinueStep3:active {
                    @include lightbuttonclick;
                }
            }

			li.bookingIataWrapper {

				display: block;
				clear: both;
				border-top: 1px solid #C7C7C7;
				//border-bottom: 1px solid #C7C7C7;
				padding-bottom: 19px;

				> label {

					padding-top: 29px;
					border-top: 1px solid #FFFFFF;
				}

				> input {

					width: 300px;
				}

                .bookingTPtype {
                    width: 280px;
                    margin-right: 16px;

                    select#bookingTPType {
                        width: 100%;
                    }
                }

                .bookingTPnumber {
                    width: 280px;

                    input {
                        width: 100%;
                    }
                }
			}

            div.bookingCountry_selectbox,div.bookingTitle_selectbox {
                margin-bottom: 10px;
            }
            div.bookingTitle_selectbox{
                width: 105px;
            }
            input#bookingFirstName,
            input#bookingLastName,
            input#bookingEmail,
            select#bookingTitle,
            input#bookingCountry,
            select#bookingState,
            select#bookingProvince,
            input#bookingCity,
            input#bookingTPguestFirstName,
            input#bookingTPguestLastName,
            select#bookingTPguestCountry,
            select#bookingTPguestState,
            select#bookingTPguestProvince,
            input#bookingTPguestCity {
                width: 300px;
            }

            input#bookingAddress1,
            input#bookingAddress2,
            input#bookingTPguestAddress1,
            input#bookingTPguestAddress2 {
                width: 600px;
            }

            input#bookingPostcode,
            input#bookingTPguestPostcode {
                width: 100px;
            }
        }

        #guestTPbookingDetails {
            display: none;
        }
        
    }

    // Step 3 Credit Card
    form#bookingStep3 {
        > p {
            font-size: 12px;
            font-family: DINWebPro, Arial, sans-serif;
            padding: 32px 30px 14px 30px;

            span {
                font-family: Plantin, Arial, sans-serif;
            }

            a.help {
                background: url('../images/sprites.png') no-repeat -150px -103px;
                display: inline-block;
                height: 17px;
                margin-left: 2px;
                width: 18px;
				vertical-align: middle;
            }
        }

        > ul {
            li.bookingCCNameWrapper {
                input {
                    width: 390px;
                }

                div.valid {
                    left: 270px;
                    top: 56px;
                }
            }
            li.bookingEmailWrapper{
                div.valid {
                    top:55px;
                }
            }
            li.bookingCCTypeWrapper {
                margin-right:17px;
                select#bookingCCType {
                    width: 218px;
                }

                div.bookingCCType_selectbox {
                    float: left;
                    margin-bottom: 10px;
                }

                div.bookingCCTypes {
                    float: left;
                    margin-left: 12px;
                    padding-top: 45px;
                    margin-right:17px;
                    .ccAA,.ccVisa,.ccMC{
                        display:none;
                    }
                }
            }
            li.bookingCCTypeSpacer {
                border-left:1px solid #cecece;
                height:18px;
                width:90px;
                float:left;
                margin-top:60px;
                >table {
                    margin:-14px 0 0 17px;
                }
            }

            li.bookingCCNumberWrapper {
                clear: left;
                float: left;

                input {
                    width: 300px;
                }
            }

            li.bookingCCCVSWrapper {

                float: left;
                margin-left: 15px;
                width: 110px;
                
                input#bookingCCCVS {
                    width: 80px;
                }

                label.bookingCCCVS {
                    padding-top: 14px;
                }

                a.help {
                    background: url('../images/sprites.png') no-repeat -150px -103px;
                    display: inline-block;
                    height: 17px;
                    margin-left: 2px;
                    width: 18px;
                }

                div.valid {
                    left: 101px;
                    top: 56px;
                }
            }

            li.bookingCCExpireWrapper {
                border-bottom: 1px solid #c7c7c7;
                clear: left;
                height: 121px;

                select#bookingCCMonth {
                    width: 99px;
                }

                select#bookingCCYear {
                    width: 141px;
                }

                div.tzSelect {
                    float: left;
                    margin-bottom: 32px;
                    margin-right: 15px;
                }
            }

            li.bookingAgreeTCWrapper {

				padding-bottom: 22px;
				border-bottom: 1px solid #C7C7C7;

                label {
                    border-top: 1px solid #fff;
                    font-size: 12px;
                    font-family: DINWebPro, Arial, sans-serif;
                    height: 21px;
                    line-height: 15px;
                    //margin: 28px 0 0 0;
                    padding: 0;
					padding-top: 29px;

                    span.checkbox {
                        background: url('../images/sprites.png') no-repeat -128px -101px;
                        display: block;
                        height: 21px;
                        float: left;
                        width: 21px;
                    }

                    span.checkbox.checked {
                        background-position: -107px -101px;
                    }

                    span#bookingAgreeTCLabel {
                        float: left;
                        margin-top: 3px;
                        margin-left: 15px;
                    }

                    span.checkbox,
                    span#bookingAgreeTCLabel:hover {
                        cursor: pointer;
                    }

                    a {
                        border-bottom: 1px solid #a96c16;
                        color: #a96c16;
                        float: left;
                        margin-top: 3px;
                    }
                }

                input {
                    display: none;
                }
            }
            li.bookingSpecialRequestWrapper{
                p{
                    padding:27px 0 8px;
                    font-family: DINWebProMedium, Arial, sans-serif;
                    font-size:13px;
                    span{
                        font-family: DINWebPro, Arial, sans-serif;
                        font-size:12px;
                        padding-left:16px;
                    }
                }
                textarea{
                    height:111px;
                    width:604px;
                    resize:none;
                }
            }
            li.bookingConfirmWrapper {
                clear: left;
                height: 65px;
                // width: 96.7%;
                width: 100%;
				//border-top: 1px solid #FFFFFF;
				padding-top: 26px;

                p {
                    font-family: DINWebPro, Arial, sans-serif;
                    font-size: 12px;
                    line-height: 17px;
                    //position: absolute;
                    //right: -30px;
                    //bottom: 75px;
					float: right;
					clear: both;
                    text-align: center;
                    width: 200px;
					padding-top: 10px;
                }
                p.confirm-fyi{
                    float:left;
                    width:660px;
                    // background-color:#8ab264;
                    text-align:left;
                    position: absolute;
                    bottom: 29px;
                    //height:22px;
                    color:#676765;
                    padding: 5px 17px 5px 0;
                    line-height:16px;

                    a {
                        text-decoration: underline;
                    }
                }
                a#confirmBooking {
                display:inline-block;
                    @include lightbutton;
                    
                    padding-top:19px;
                    height: 46px;
                    line-height: 16px;
                    position: absolute;
                    top: 10px;
					float: right;
					clear: both;
                    right: 0px;
                    width: 200px;

                    span {
                        @include fontplantin;
                        font-size: 14px;
                        font-style: italic;
                        line-height: 16px;
                        text-transform: lowercase;
                    }
                }
                a#confirmBooking:hover {
                    @include lightbuttonhover;
                }
                a#confirmBooking:active {
                    @include lightbuttonclick;
                }
            }
            li.li-messageBar {
                padding: 32px 0 14px 0;
            }
        }
    }

    // Step 4 Confirmation
    div.step4 {

        div.bookingSection {
            margin-bottom: 70px !important;
        }

        div.bookingSectionHeading {
            h2 {
                padding-bottom: 0 !important;
            }

            p {
                @include fontplantin;
                font-size: 18px;
                font-style: italic;
                padding-left: 23px;
                margin-bottom: 19px;

                span {
                    color: #a96c16;
                }
            }
        }

        div#bookingThankYouSummary {
            padding-bottom: 44px;

            div#bookingThankYouImage {
                float: left;
                margin-left:39px;
                img {
                    width:721px;
                    float: left;
                }

                div#bookingThankYouImage2 {
                    display: none;
                }
            }

            div#bookingThankYouInfo{
                background-color: #fff;
                /*height: 416px;*/
                float: left;
                font-family: DINWebPro, Arial, sans-serif;
                font-size: 13px;
                line-height: 20px;
                padding-top: 30px;
                width: 432px;
                p, h2, h3{
                    margin-left:30px;
                    margin-right:30px;
                    span{
                        float:right;
                    }
                }
                p.bookingSummaryDates {
                    span {
                        float: none;
                    }
                }
                div.seperator{
                    margin-left:30px;
                }
                h2 {
                    font-family: DINWebProCondBold, Arial, sans-serif;
                    font-size: 18px;
                    line-height: 18px;
                    text-transform: uppercase;
                    margin-bottom: 1px;
                }

                h2.propertyAddress {
                    color: #666;
                }

                h2.confirmation {
                    color: #a96c16;
                }

                h3 {
                    font-family: DINWebProCondBold, Arial, sans-serif;
                    font-size: 15px;
                    line-height: 20px;
                    text-transform: uppercase;
                }

                p {
                    margin-bottom: 7px;

                    a {
                        border-bottom: 1px solid #a96c16;
                        color: #a96c16;
                    }

                    span.tax{
                        line-height:2px;
                        padding: 0px 27px 0 0;
                    }
                }

                div.seperator {
                    @include header-bar(#b1b1b1, 18px, 1px, 12px);

                    margin-top: 10px;
                }
                span.rateWrapper{
                    span{
                        padding: 0px 17px 0 0;
                    }                    
                    h3{
                        font-family: DINWebProMedium, Arial, sans-serif;
                        font-size:13px;

                    }
                    p{
                        font-family: DINWebPro, Arial, sans-serif;
                        font-size:12px;
                    }
                    
                    h3.nightRateTop, h3.taxesTop{
                    
                        text-transform:none;
                        border-top:1px solid #d7d7d7;
                    }
                    h3.nightRateTop{
                        margin-top:25px;
                        padding: 13px 0 0;
                    }
                    h3.taxesTop{
                        margin-top: 13px;
                        padding: 13px 3px 0;
                    }
                    h3.totalTop, p.totalBottom,p.guarantee{
                        background-color:#222222;
                        color:#fff;
                        margin:0;
                        padding:0 33px;
                        
                    }
                    h3.totalTop{
                        margin-top: 12px;
                        font-size:16px;
                        padding-top:19px;
                    }
                    p.totalBottom{
                        padding-bottom: 4px;
                    }
                    p.guarantee{
                        border-top:1px solid #444444;
                        color:#888888;
                        padding: 9px 50px 9px 33px;
                    }
                    

                    
                }
            }
            div#bookingThankYouCost {
                background-color: #bf883b;
                clear: left;
                color: #fff;
                font-family: DINWebProMedium, Arial, sans-serif;
                height: 60px;
                position: relative;
                width: 100%;

                div#bookingThankYouRateWrapper {
                    float: right;
                    font-size: 13px;
                    line-height: 20px;

                    table {
                        margin-right: 25px;
                        margin-top: 10px;

                        td {
                            padding-left: 20px;
                        }
                    }
                }

                div#bookingThankYouTotal {
                    background-color: #986721;
                    font-size: 16px;
                    height: 60px;
                    padding: 0 24px;
                    float: right;
                    text-transform: uppercase;

                    div.totalPrice {
                        margin-top: 23px;
                    }
                    span.hotelPrice {
                        color: #999999;
                        float: right;
                    }
                }
            }
        }

        div#bookingThankYouCommunityWrapper {
            border-top: 1px solid #fff;
            padding-top: 39px;

            div#bookingThankYouCommunity {
                //background: url('../images/booking/booking_confirmation.jpg') no-repeat top left;
                color: #fff;
                height: 580px;
                text-align: center;
                width: 100%;

                h2 {
                    @include fontplantin;
                    font-size: 29px;
                    line-height: 29px;
                    padding-bottom: 17px;
                    padding-top: 72px;

                    sup {
                        font-size: 10px;
                    }
                }

                h3 {
                    font-family: DINWebProCondBold, Arial, sans-serif;
                    font-size: 18px;
                    line-height: 18px;
                    text-transform: uppercase;
                }

                div.seperator {
                    width: 100%;

                    > div {
                        background-color: #e8cba2;
                        display: block;
                        height: 1px;
                        margin: 0 auto;
                        width: 17px;
                    }
                }

                p {
                    font-size: 13px;
                    @include fontplantin;
                    font-style: italic;
                    line-height: 18px;
                    margin-bottom: 18px;

                    span.discount {
                        color: #e0b072;
                        display: inline-block;
                        font-family: DINWebProCondBold, Arial, sans-serif;
                        font-size: 29px;
                        font-style: normal;
                        line-height: 29px;
                        padding-top: 3px;
                    }
                }

                p.description {
                    font-family: DINWebPro, Arial, sans-serif;
                    font-style: normal;
                    margin-bottom: 30px;
                    margin-top: 15px;
                }

                p#bookingThankYouCommunityLink {
                    font-style: normal;
                }

                p#teaser {
                    font-family: DINWebPro, Arial, sans-serif;
                    font-style: normal;
                    margin-bottom: 0;
                    margin-top: 12px;
                }

                a {
                    @include darkbutton;

                    padding: 0 12px;
                }

                a.desktop-only {
                    background: none;
                    padding: 0;
                }
            }
        }
    }
}

