@media only screen and (min-width: 1px) and (max-width: 768px) {
	$roominfo: 15px;
    .div.ui-dialog{
		overflow:hidden;
	}
	div.tzSelect div.selectBox{
		border:1px solid #c7c7c7;
		box-shadow:none;
	}

	html#booking{
	    body{
			min-width:320px;
			padding-bottom:0;
			overflow-x:hidden;
		}
		div.tzSelect {
			display:none;
		}
		#sidebar{
			display:block;
	    }
        div#main{
			overflow:hidden;
		}

        header#bookingHeader {
            position: relative;
            background: #F7F7F4;

            > div {
                width: 100%;
                height: auto;

                div#bookingSteps {
                    ul {
                        li {
                            width: auto;

                            div.stepNumber {
                            left: inherit;
                            }
                        }
                    }
                }
            }
            
            div#title {
                text-align: center;
                padding-top: 20px;
                
                a {
                    i {
                        font-size: 36px;
                    }
                }
            }
            
            div#bookingTitle {
                position: relative;
                padding: 20px 10px 0;
                top: inherit;
				width:auto;

                div#reservationFor {
                    color: #000;
                    text-transform: none;
                    font-size: 17px;
                }

                div#bookingPropertyName {
                    font-size: 20px;
                }

                div#bookingPropertyAddress {
                    font-size: 13px;
                }
            }

            div#bookingSteps {
                ul {
                    position: relative;
                    height: auto;
                    left: inherit;
                    bottom: inherit;
                    text-align: center;
                    li {
                        float: none;
                        display: inline-block;
                        margin: 15px 5px 0;

                        div.name, div.step {
                            display: none;
                        }

                        div.stepNumber {
                            position: relative;
                            width: 35px;
                            height: 35px;
                            line-height: 37px;
                            top: inherit;
                            left: inherit;
                        }
                    }
                }
            }
            div#bookingTopBarWrapper{
                background: none;
                height:auto;
            }
            div#bookingTopBar{
                width: auto;
            }
        }
        div#bookingStepsLine {
            display:none;
        }
        div#bookingContentWrapper {
            margin-top:0;
            width:100%;

            div#bookingContent {
                width:100%;

                div#bookingStep {
                    width:100%;
                    padding-top:10px;

                    div.bookingSection {
                        margin-bottom:20px;

                        div.bookingSectionHeading {
                            padding-top:0;
                            margin:0 10px;

                            span.bookingSectionHeadingBar {
                                display:none;
                            }

                            h2 {
                                font-size:20px;
                                padding-left:0;
                            }

                            p#bookingRequiredFields {
                            top:30px;
                                right:10px;
                            }
                        }
                    }
                }
            }
        }

        ul#bookingPeople{
            height:40px;
            margin-left:10px;
            margin-top:10px;
        }

        div#bookingContinueStep1ButtonMobile{
            overflow:hidden;
            a#bookingContinueStep1Mobile{
                @include mobile-yellow-button;
                width:95%;
                margin:0 10px;
                display:block;
                margin-bottom:20px;
            }
        }

    	div#bookingContentWrapper{
		    width:100%;
		    div#bookingContent, div#bookingContent.step2{
			    width:100%;
				div#bookingStep{
				    width:100%;
				    padding-top:0;
					div.bookingSection{
					    margin-bottom:20px;
						clear:both;
						div.bookingSectionHeading{
						    padding-top:0;
						    margin:0 10px;
							span.bookingSectionHeadingBar{
								display:none;
							}
							h2{
								font-size:20px;
								padding-left:0;
							}
							p#bookingRequiredFields{
							    top:30px;
								right:10px;
							}
							#greenCheckMark{
								width:45px;
								height:45px;
								margin:15px auto;
								background:url("../images/sprites.png") -460px -297px;
							}
						}
					}
				}
				div#bookingSummaryWrapper{
					width:auto;
					float:none;
					margin:0 auto;
					padding: 0 10px;
					div#bookingSummary{
					    width:100%;
						h2{
						    padding-top:10px;
							background:none;
							padding: 15px 0 0;
							color:#333333;

							a{
								display:none;
							}
						}
						img#bookingPropertyImage{
							display:none;
						}
						li {
						    a {
							text-decoration: underline;
							border: 0;
						    }
						}
						ul#bookingSummaryInfo{
							background:none;
							padding:5px 0 0;
							li{
							    text-align:center;
							}
							li.bookingSummaryDate:last-child{
								padding-bottom:0;
							}
						}
						ul#bookingSummaryCosts {
						    background: inherit;
						    text-align: center;
						    li {
							margin: 0;
						    }
						    li#bookingSummaryRoom {
							padding: 0 0 6px;
							border: 0;
							border-bottom: 1px solid #d7d7d7;
							text-align: center;
							> div {
							    display: none;
							}
						    }
						    li#bookingSummaryRateInfo, li#bookingSummaryCurrency {
							display: none;
						    }
						    li#bookingSummaryRate, li#bookingSummaryTax {
							display: inline-block;
							margin: 0 5px;
							border: 0;
							padding: 8px 0 5px;
							span {
							    float: none;
							}
						    }
						    li#bookingSummaryTotal, li#bookingSummaryCopy {
							background: none;
							padding: 0;
							span {
							    float: none;
							}
							#hotelCurrency {
							    text-align: center;
							    padding-bottom: 0;
							}
						    }
						    li#bookingSummaryTotal {
							border-top: 1px solid #d7d7d7;
							border-bottom: 5px solid #000;
							padding: 8px 0;
							margin-bottom: 10px;
						    }
						    li#bookingSummaryCopy {
							padding-bottom: 7px;
							margin-bottom: 7px;
						    }
						}
					}
				}
			}
			div#bookingContent.step2 div#bookingStep div.bookingSection div.bookingSectionHeading{
				border:none;
			}
			div#bookingContent.step1 #bookingSummaryWrapper{
				display:none;
			}

			div#bookingContent.step4 #bookingStep{
				padding:0 !important;
				width:100% !important;
				div.bookingSection{
					div.bookingSectionHeading{
					    text-align:center;
						font-family:Plantin;
						margin:0 10px !important;
						border-bottom:1px solid #c7c7c7 !important;
						h2{
						    font-size:33px;
							padding-top:10px;
							margin-bottom:28px;
						}
						p{
							padding-left:0;
							font-size:16px;
						}
					}
				}
				div#bookingThankYouSummary {
					border-top:1px solid #c7c7c7  !important;
					margin-top:2px;
					margin:2px 10px 44px;
					padding:0;
					border:none;
				    div#bookingThankYouImage{
					    display:none;
					}
					div#bookingThankYouInfo{
						/*padding-left:14px;*/
						width:100%;
						height:auto;
						h2.confirmation{
							font-size:28px;
							width:220px;
							line-height:29px;
						}
                        span{
                            padding:0;
                        }
                        .rateWrapper{
                            p.totalBottom{
                                padding-bottom: 20px;
                            }
                            p.guarantee{
                                padding:9px 0;
                                margin:9px 33px 50px;
                            }
                        }
                        span.total{
                            display:block;
                            height:100%;
                            background-color:#222222;
                        }
					}
					div#bookingThankYouCost{
					    height:120px;
						div#bookingThankYouTotal{
						    float:none;
							position:absolute;
							top:60px;
							width:100%;
							padding:0;

							span{
								padding:0 24px;
							}
						}
						div#bookingThankYouRateWrapper{
							float:none;
							position:absolute;
							top:0;
						}
					}
				}
				div#bookingThankYouCommunityWrapper{
				    padding:0 10px;
					div#bookingThankYouCommunity{
					    background:#bf883b;
					}
				}
			}

			div#bookingContent.step3 {
				div#bookingLoginWrap {
					border-bottom: 1px solid #fff;
					border-top: 1px solid #C7C7C7;
					margin: 10px;
					div#bookingLogin {
						padding: 10px 0;
						border-bottom: 1px solid #C7C7C7;
                        background:#c2c2bc;
                        
						p {
							font-family: Plantin,Arial,sans-serif;
							font-size: 20px;
							text-align: center;
                            font-style: italic;
							color: #fff;
                            line-height: 17px;
							a {
								
								
								color: #000;
								text-decoration: underline;
								border: 0px none;
							}
						}
					}
				}
			    div#bookingStep{
				    li.bookingCCCVSWrapper {
					div.valid {
					    right: 5px;
					    top: 47px;
					    left: inherit;
					}
				    }

				    li {
					div.valid {
					    left: auto;
					    right: 5px;
					    top: auto;
					    bottom: 18px;
					}
				    }

				    li.bookingLastnameWrapper {
					div.valid {
					    bottom: 17px;
					}
				    }

				    li.bookingCCExpireWrapper {
					div.valid {
					    bottom: 22px;
					}
				    }

				    select {
					display: block !important;
					text-indent: 7px;
					background: #fff;
				    }

					div.bookingSection{
						div.bookingSectionHeading{
								span.bookingSectionHeadingBar{
							}
							h2{
								padding:0 0 5px;
							}
							p#bookingRequiredFields{
								top:10px;
							}
						}
                        .messageBarMobile{
                            line-height:18px;
                            height:auto;
                            padding: 10px 4%;
                            width: 92%;
                        }
                        .messageBarSecond{
                            margin-top: 10px;
                        }
						form#bookingStep3 {
							> ul {
								padding: 0 10px;
								li {
								margin: 0;
								padding: 0;
								float: none;
								}
								li.bookingCCTypeWrapper {
									div {
										float: none !important;

										select#bookingCCType {
										width: 100%;
										}
									}
								}
								li.bookingEmailWrapper, li.bookingCountryWrapper{
									border-bottom:none;
								}
                div.underline {
                    display: none;
                }
								label {
									padding-top: 10px;
								}
								input#bookingFirstName, input#bookingLastName, input#bookingEmail, select#bookingTitle, select#bookingCountry, select#bookingState, select#bookingProvince, select#bookingCCType, select#bookingCCMonth, select#bookingCCYear, input#bookingCity, input#bookingAddress1, input#bookingAddress2, input#bookingPostcode, input#bookingIata, input#bookingCCName, input#bookingCCNumber, input#bookingCCCVS, select#bookingTPType{
									width: 100%;
									border: 1px solid #c7c7c7;
									box-shadow: none;
									height: 40px;
									line-height: normal;
                                                                        font-family: inherit;
                                                                        font-size: 12px;
								}
                                                                select#bookingCountry {
                                                                    text-indent: 0;
                                                                }
                                input#bookingCCNumber {
                                    width: 75%;
                                }

                                input#bookingCCCVS {
                                    width: 80%;
                                }

								input#bookingPostcode {
									width: 50%;
								}
								li.bookingCCExpireWrapper {
									height: 90px;
									padding-right: 42px;

									select#bookingCCMonth, select#bookingCCYear {
										width: 30%;
										float: left;
										margin: 0 1% 0 0;
									}
									select#bookingCCYear {
										margin: 0 0 0 1%;
									}
								}
								select {
									display: block !important;
									text-indent: 7px;
									background: #fff;
								}
                                
                                li.bookingCCCVSWrapper{
                                    float:left;
                                }
                                li.bookingCCTypeSpacer{
                                    float:left;
                                    margin-top:50px;
                                    border-left:none;
                                    >table {
                                        margin-left: 0;
                                    }
                                    iframe#cybertrust {
                                        margin: -10px 0 0 -10px;
                                    }
                                }
							}
                            
                            .chk-book-for-guest {
                                margin: 0 10px 20px;
                            }

                            #guestTPbookingDetails {
                                ul {
                                    padding: 0 10px;
                                    li {
                                        padding-top: 0;
                                    }
                                    li.bookingTPguestAddressWrapper {
                                        input#bookingTPguestAddress1 {
                                            width: 100%;
                                        }
                                    }
                                    li.bookingTPguestAddress2Wrapper {
                                        input#bookingTPguestAddress2 {
                                            width: 100%;
                                        }
                                    }
                                }
                                    select#bookingTPguestCountry, select#bookingTPguestProvince {
                                        width: 100%;
                                        border: 1px solid #c7c7c7;
                                        box-shadow: none;
                                        height: 40px;
                                        line-height: normal;
                                    }
                            }
                            
							div.bookingSectionHeading {
								h2 {
									padding-top: 15px;
								}
							}
							p {
								padding: 10px 10px 0;
							}
							li.bookingCCExpireWrapper {
								border: 0;
							}
							li.bookingAgreeTCWrapper {
								border-top: 1px solid #c7c7c7;
								
								label {
									a {
										border: 0;
										text-decoration: underline;
									}
								}
							}
                            li.bookingSpecialRequestWrapper{
                                p{
                                    padding:10px 0 0;
                                    span{
                                        display:block;
                                        padding:3px 0 7px;
                                        line-height:17px;
                                    }
                                }
                            }
							li.bookingConfirmWrapper {
								// padding: 20px 0 50px;
                                width:100%;
								a {
									display: block;
									width: 100%;
                                    padding: 10px 0;
									height: auto;
                                    position:relative;
                                    margin: 16px 0;
								}
								p {
                                    
                                    text-align: center;
									float: none;
									width: 100%;
									padding: 13px 0 10px;
									font-weight: bold;
									letter-spacing: -1px;
									font-size: 14px;
                                    position:initial;
								}
                                p.confirm-fyi {
                                    text-align: left;
                                    float:right;
                                    padding-top: 0px;
                                    padding-bottom: 10px;
                                    position: relative;
                                    font-weight: normal;
                                    top: 0px;
                                    font-size: 12px;
                                    letter-spacing: normal;
                                    line-height: 16px;
                                    > a {
                                        display: inline;
                                        width: auto;
                                        position: auto;
                                        margin: none;
                                        text-decoration: underline;
                                    }
                                }
							}
						}
					}
                    
                    
			    }
                div#bookingSummary li#bookingSummaryCopy{
                    a{
                        text-decoration:none;
                    }
                }
			}
		}

		.booking-input-holder{
		    position:relative;
			background:#fff;
			border:1px solid #c7c7c7;
			padding: 10px;
			width:60px;
			margin-right:15px;
			.icon-dropdown{
				background: url("../images/sprites.png") no-repeat scroll -164px 0 rgba(0, 0, 0, 0);
				height:18px;
				position:absolute;
				top:10px;
				right:15px;
				width:12px;
			}
			.display{
				color:#666666;
				font-family:DINWebPro;
				font-size:14px;
				line-height:22px;
			}
			select#bookingAdults, select#bookingChildren, select#bookingRoomsNumber{
				display:block !important;
				position:absolute;
				top:0;
				left:0;
				opacity:0;
                                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
                                filter: alpha(opacity=0); /* IE 5-7 */
				height:40px;
				width:100%;
			}
		}



		ul#bookingPeople{
		    height:40px;
			margin-left:10px;
			margin-top:10px;
		}

		ul#bookingDates{
		    margin-left:10px;
			margin-top:10px;
			margin-bottom:10px;
			overflow:hidden;
			>li{
				float:left;
				width:50%;
			}
			#checkIn,#checkOut{
				padding:15px 10px;
				border:1px solid #c7c7c7;
				color:#301010;
				margin-top:10px;
				background:#fff;
				margin-right:10px;
				i{
					float:right;
				}
			}
		}
		div#bookingContinueStep1ButtonMobile{
			overflow:hidden;
			a#bookingContinueStep1Mobile{
				@include mobile-yellow-button;
				width:95%;
				margin:0 10px;
				display:block;
			    margin-bottom:20px;
			}
        }


		ul#bookingRoomRates {
			margin:0 10px;

			> li.open{
				h3.bookingRateName{
					margin-bottom:0;
					span.arrow{
						background-position:-317px -133px;
					}
				}
			}

			> li {
				h3.bookingRateName{
					box-shadow:none;
					background:#222222;
					color:#fff;
					height:auto;
					font-size:29px;
					line-height:29px;
					padding:12px 35px 10px 10px !important;
					margin-bottom:10px;
					text-align:center;
					padding-left:0;
					span.label{
						display:none;
					}
					span.arrow{
						left:auto;
						top:20px;
						right:10px;
							background-position:-304px -132px;
					}
				}
				> ul li{
					margin:0;
					padding:0 0 25px;
					border-bottom-color:#c7c7c7;
					margin-bottom:25px;
					div.bookingRoomNoImage{
						display:none;
					}
					div.bookingRoomImage{
						width:100%;
					}
					div.bookingRoomInfo{
						width:100%;
						margin:0;

						h4{
							font-size:28px;
							line-height:28px;
							color:#333;
							margin-left: $roominfo;
							margin-right: $roominfo;
							margin-top:25px;
						}
						span.bookingRoomInfoSeperator{
							margin-left:$roominfo;

						}
						p{
							margin-left:$roominfo;
							margin-right: $roominfo;
						}
						a.selectRoom{
							width:90px;
							height:37px;
						}
						div.spinnerWrapper{
							right:100px;
							height:37px;
							width:132px;
							div.spinner {
							    display:none;
								//box-shadow:none;
								//border:1px solid #c7c7c7;
							}
							.booking-input-holder{
								position:absolute;
								top:0;
								right:0;
								padding:6px 10px;
								margin-right:0;
								.icon-dropdown{
									top:8px;
								}
							}
						}
					}
				}
			}
		}
	}
}


@media only screen and (min-width: 1px) and (max-width: 375px) {
    html#booking {
        li.bookingAgreeTCWrapper {
            padding-bottom: 20px !important;
            a:nth-of-type(2) {
                margin-left: 15px !important;
            }
        }
    }
}
