@media (min-width: 1150px) and (max-width: 1264px) {
    html#booking {
        background-color: #222;
        width: auto;
        
        header#bookingHeader {
            width: auto;
            
            // a#logo {
                // outline: 5px solid #0ff;
            // }
            
            > div {
                width: 1150px;
                div#bookingSteps ul {
                    left: 60px;
                }
                div#bookingSteps ul li {
                    width: 250px;
                    
                    div.name {
                        margin-left: -175px;
                    }
                    
                    div.step {
                        left: 0;
                        right: auto;
                    }
                    
                    div.stepNumber {
                        left: 25px;
                    }
                }
            }
            
        }
        div#bookingStepsLine {
            width: 65%;
            
        }
        div#bookingContentWrapper {
            width: 100%;
            
            div#bookingContent {
                width: 1150px;
            
                div#bookingStep {
                    width: 889px;
                    padding:46px  0 0 0;
                    div#bookingCalendar table.datepickerViewDays td a {
                        height: 22px;
                        min-width: 55px;
                    }
                }
                div#bookingSummaryWrapper{
                    margin-left:30px;
                    width:202px;
                }
            }
            
            div#bookingContent.step5 div#bookingStep {
                width: 1066px;
                
                div#bookingThankYouImage {
                    width: 675px;
                    
                    img {
                        width: 100%;
                    }
                }
                
                div#bookingThankYouInfo {
                    height: 366px;
                    width: 361px;
                }
                
                div#bookingThankYouCommunityWrapper div#bookingThankYouCommunity {
                    background-position: -80px 0px;
                }
            }
        }
        
        ul#bookingRoomRates > li > ul li div.bookingRoomImage {
            height: auto;
            width: 325px;
            
            img {
                width: 100%;
            }
        }
        
        ul#bookingRoomRates > li > ul li div.bookingRoomNoImage {
            height: 244px;
            width: 325px;
        }
        
        ul#bookingRoomRates > li > ul li div.bookingRoomInfo {
            width: 400px;
        }
        
        div#bookingCalendar div#loadingimg2 {
            right: 2px;
            text-align: center;
            width: 422px;
            
            img {
                margin: 120px;
            }
        }
        
        div#bookingCalendar div#loadingimg1 {
            left: 4px;
            text-align: center;
            width: 422px;
            
            img {
                margin: 120px;
            }
        }
        form#bookingStep3>ul {
            li.bookingConfirmWrapper{
                p.messageBar, p.confirm-fyi{
                    width:572px;
                }
            }
            div.phone-underline {
                border-bottom: 1px solid #c7c7c7;
                padding-bottom: 15px;
                margin-left: -16px;
                margin-top: 1px;
                width: 630px;
            }
        }
    }
}
