@media (max-width: 1149px) {
    #mapWrapper {
        #mapCanvas {
            width: 100%;
        }
    }
    
    #campaign .campaignPage {
		height:91%;
	}
    #hotelsWrapper #hotelsList .memberHotels {
        div.hotelImage {
            width: 430px;
        }
        
        div.hotelInfo {
            div.order > p {
                display: none;
            }

            ul.featurePrice > li {
                display: none;
            }

            ul.featurePrice > li:first-child {
                display: block;
            }
        }
    }

    section#pdpDealimage {
        div.imageWrapper {
            > img {
                height:495px;
                width:654px;
            }
        }

    }
}