@media only screen and (min-width: 1px) and (max-width: 768px) {
	#campaignOverview {
	    #centerHeader .sectionHeadings {
			.bigLine,.sectionSubHeading{
				display:none;
			}
		}
		#centerHeader .doubleLine.top{
			display:none;
		}
		div.sectionHeadings div.sectionHeading{
			padding:5px 10px;
		}
	}
	#currentDeals{
		padding:0 10px;
		.currentDeal{
			width:100%;
			margin:0 0 20px;
			.description{
				position:relative;
				text-align:center;
				p.shortDesc{
					display:none !important;
				}
				p.longDesc{
					display:block !important;
				}
			}
			.intro{
				margin-top:0;
				height:auto;
				img{
					position:relative;
                    height: auto;
				}
			}
			.doubleLine {
				display:none;
			}
		}
	}
	section#pdpDealimage {
	    padding:0 10px;
	    div.imageWrapper {

			> img{
				display:none;
			}
		}

	}
	#campaign {
	   .readmore, .readless{
			text-align:center;
			font-size:13px;
			font-family:DINWebPro;
			margin-top:16px;
			letter-spacing:normal;
			span{
				display:inline-block;
				height:6px;
				margin-left:5px;
				width:10px;
			}
			.arrowUp{
				background:url("../images/sprites.png") repeat scroll -207px -25px rgba(0, 0, 0, 0)
			}
			.arrowDown{
				background:url("../images/sprites.png") repeat scroll -120px -34px rgba(0, 0, 0, 0)
			}
		}
	   .campaignPage{
			position:relative;
			width:100%;
			padding:42px 0 18px;

			.overview{
				.deal{
					.dealTitle{
						h1{
							width:auto;
							font-size:29px;
							line-height:29px;
							padding:0 10px;
						}
					}
				}
				#dealBottomPart {
					.period{
						display:none;
					}
					.dealBenefits{
						.dealBenefit{
							border:none;
							height:50px;
						}
						padding:0 10px;
					}
					.short-desc{
						text-align:center;
						font-size:16px;
						padding:0 10px;
						margin-top:18px;

					}
				}
			}
			.diagonalLine{
				display:none;
			}
		}
		section#pdpDealinfo {
			margin:0 10px;
			border-bottom:none;
			div.info {
			    display:none;
				padding-top:0;
				padding-bottom:20px;
				div.copy{
					width:100%;
					margin-top:28px;
				}
				div.joinWrapper{
					width:100%;
					padding:0;
					float:none;
				}
			}
		}
		#partHotels{
			padding-top:0;
			#hotelsNav {
			    h3, 
                h4{
					font-family:Plantin;
					margin:0 30px 20px;
					font-size:20px;
					line-height:25px;
					text-transform:none;
					.italic{
						font-size:29px;
						text-transform:none;
					}
				}
			}
			#hotelsWrapper #hotelsList .memberHotels div.hotelInfo div.order div.book .mobile-only div.learnmorebtn{
			    display:none ;
			}
			#hotelsWrapper #hotelsList .memberHotels div.hotelInfo div.order div.book div.button {
			    position: relative;
			    float: right;
			    margin-top: 5px;
			    right: inherit;
			    bottom: inherit;
			}
			#hotelsWrapper #hotelsList .memberHotels div.hotelInfo div.order div.book div.button.bookbtn {
			    position: relative;
			    float: right;
			    margin-top: 0;
			    right: 0;
			    bottom: 0;
			}
		}

	}

	.discountLabel{
		top:10px;

        span.text{
            color:#ffffff;
        }
	}


}

@media only screen and (min-width: 321px) and (max-width: 768px) {
	#currentDeals {
		.currentDeal {
			width: 48%;
			margin: 0 1% 20px;
		}
	}
}

@media only screen and (min-width: 321px) and (max-width: 480px) {
	#currentDeals {
		.currentDeal {
			.description {
				padding: 32px 10px;
				p {
					line-height: 21px;
				}
			}
		}
	}
}
