@media (min-width: 1150px) and (max-width: 1264px) {
    #mapWrapper {
        #mapCanvas {
            width: 100%;
        }
    }
    #campaign .campaignPage {
		height:92.3%;
	}
    #hotelsWrapper #hotelsList .memberHotels div.hotelInfo {
        ul.featurePrice > li {
            display: none;
        }
        
        ul.featurePrice > li:first-child {
            display: block;
        }
    }
}