body.search{
	div#wrapper{
		div#main{
			margin-top:11px;
		}
	}
}
#campaignOverview {
    #centerHeader {
        text-align: center;
        .sectionHeadings {
            .bigLine {
                margin: 0 auto;
                margin-bottom: 15px;
            }
            sup {
                font-size: 12px;
            }
            .sectionSubHeading {
                font-size: 18px;
				margin-bottom: 12px;
            }
        }
        .doubleLine.top {
            border-top: 1px solid #c7c7c7;
            border-bottom: 1px solid #ffffff;
            width: 93.5%;
            margin: auto;
            margin-top: 0;
            margin-bottom: 35px;
        }
    }

}


#campaign {
    .imageWrapper{
		padding-bottom:10px;
	}
    .iconWrap{
		display:table-cell;
		vertical-align:middle;
	}
    div#main {
        section.communityNoLogin {
            z-index:1;
        }
        ul.breadcrumbs{
			margin-left:35px;
			margin-bottom:13px;
		}
		section#calendar {
			
			padding-bottom: 0;
			padding-top: 23px;
			
			
			> header {
				
				> h1 {
					
					> span {
						
						@include fontplantin;
					}
				}
			}
		}
	
		section.youmayalsolike {
			margin-top: 80px;
		}
    }
    #partHotels #hotelsNav{
		border:none;
	}
    .campaignPage {
        @include fontplantin;
        color: #ffffff;
        width: 26.15%;
        height: 92.1%;
        top: 0;
        left: 0;
        padding: 20px 35px 15px;
        position: absolute;
        background: #222222;
		
        .overview {
		    border-collapse: collapse;
			display: table;
			height: 100%;
			overflow: hidden;
			position: relative;
			width: 100%;
	
            .deal {
                display:table-cell;
				vertical-align:middle;
                width: 100%;
                .dealTitle {
                    text-align: center;
                    .diagonalLine {
                        width: 17px;
                        height: 1px;
                        background: #888888;
                        margin: auto;
                        margin-top: 25px;
                        margin-bottom: 25px;
                        transform:rotate(45deg);
                        -ms-transform:rotate(45deg); /* IE 9 */
                        -webkit-transform:rotate(45deg); /* Opera, Chrome, and Safari */
                    }
                    h1 {
                        font-size: 35px;
                        line-height: 42px;
                        width: 235px;
                        text-align: center;
                        margin: auto;
                    }
                }
            }
			#dealBottomPart{
			    display:table-row;
				height:1px;
				vertical-align:bottom;				
				width:100%;
				.period {
					font-size: 13px;
					line-height: 16px;
				}
				.dealBenefits {
					margin-top: 15px;
					.dealBenefit {
						display: table;
						border-top: 1px solid #888888;
						font-size: 18px;
						
						height: 70px;
						width: 100%;
						.benefitDesc {
							display: table-cell;
							vertical-align: middle;
							width:100%;
							
						}
					}
					.dealBenefit:last-child {
						margin-bottom: 0px;
					}
				}
			}
        }
        .downArrow {
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid #222222;
            position: absolute;
            bottom: -10px;
            left: 0;
            right: 0;
            margin: auto;
            z-index: 1;
        }
    }
    section#pdpDealinfo {
        border-bottom: 1px solid #fff;
        width: 93.7%;
		padding:0;
		margin:0 35px 30px 35px;
        div.info {
            border-bottom: 1px solid #c7c7c7;
            margin-left: 0;
            padding-bottom: 30px;
            overflow: auto;
            h2,
            h5 {
                font-family: DINWebProCondBold, Arial, sans-serif;
                font-size: 18px;
				line-height:25px;
                margin-bottom: 0;
            }
            div.copy {
                padding-left: 0;
                margin-top: 0;
            }
            .needtoknow {
                ul {
                    li {
                        @include fontplantin;
                        list-style: disc inside;
                        line-height: 25px;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

div#bookingCalendar {
    @include calendar;
}

p#notableLocalEvents,
p#pdpBookCalendarClear {
    font-family: DINWebPro, Arial, sans-serif;
    font-size: 12px;
    margin-top: 11px;
    
    span {
        background: url('../images/sprites.png') no-repeat -266px 0px;
        display: inline-block;
        height: 7px;
        margin-right: 11px;
        width: 7px;
    }
}

p#notableLocalEvents {
    float: left;
    padding-left: 47px;
}

p#pdpBookCalendarClear {
    float: right;
    padding-right: 56px;
        
    a {
        color: #000;
        border-bottom: 1px solid #c3c3c3;
    }
        
    span {
        background-position: -178px -12px;
        margin-right: 8px;
    }
}
    
p#pdpBookCalendarClear:hover {
    cursor: pointer;
}
    
a#pdpBookPrevMonth,
a#pdpBookNextMonth {
    background: #4e4e4e;
    height: 50px;
    position: absolute;
    top: 184px;
    width: 27px;
    
    span {
        display: block;
        height: 14px;
        position: absolute;
        top: 19px;
        width: 8px;
    }
}
    
a#pdpBookPrevMonth {
    left: -1px;
    
    span {
        background: url('../images/sprites.png') no-repeat -291px -17px;
        left: 9px;
    }
}

a#pdpBookNextMonth {
    right: -1px;
    
    span {
        background: url('../images/sprites.png') no-repeat -299px -17px;
        right: 9px;
    }
}

.left {
    float: left;
    padding-left: 18px;
    border-left: 1px solid #c3c3c3;
}

.left:first-child {
    padding-right: 30px;
}

.special {
    background: linear-gradient(176deg, #b87d2b 50%, #a96c16 50%);
    outline: none;
    
    .test {
        outline: none;
    }
}

.discover {
    position: absolute;
    // width: 160px;
    height: 35px;
    font-family: DINWebPro;
    font-size: 12px;
    right: 67px;
    top: 50px;
    z-index: 1;
    
    select#discoverCampaigns {
        // width:200px;
    }
    
    div.tzSelect div.selectBox {
        box-shadow: -5px 5px 2px -4px #bbb;
        font-family: DINWebPro;
        font-size: 12px;
        height: 35px;
        line-height: 35px;
        
        span.icon {
            background: url('../images/sprites.png') no-repeat -207px -25px;
            height: 5px;
            right: 10px;
            top: 16px;
            width: 8px;
        }
    }
    
    div.tzSelect ul.dropDown {
        top: 35px;
        
        li {
            font-family: DINWebPro;
            font-size: 12px;
            height: 35px;
            line-height: 35px;
        }
    }
}

.search #partHotels #hotelsNav {
    padding-top: 8px;
}

#partHotels {
    
    margin-bottom: 0;
    letter-spacing: normal;

    .searchPage {
        overflow: visible;
    }

    #hotelsNav {
        border-top: 1px solid #fff;
        height: 41px;
        //padding: 40px 35px 30px 35px;
		padding: 40px 0 30px 0;
		margin: 0 30px;

        h3,
        h4 {
            float: left;
            font-size: 18px;
            font-family: DINWebProCondBold, Arial, sans-serif;
            line-height: 37px;
            text-transform: uppercase;
            word-spacing: 0.1em;
            .italic {
                @include fontplantin;
                font-style: italic;
                text-transform: none;
            }
        }
        
        nav {
            float: right;
            font-family: DINWebProMedium;
            
            div {
                float: left;
            }
            
            .navLabel {
                line-height: 37px;
            }
            
            #sort {
                .sortSearch_selectbox {
                    font-size: 12px;
                    height: 35px;
                    line-height: 38px;
                    
                    span.icon {
                        background: url('../images/sprites.png') no-repeat -207px -25px;
                        height: 5px;
                        right: 10px;
                        top: 16px;
                        width: 8px;
                    }
                }
                
                .sortSearch_dropdown {
                    overflow-y: hidden;
                    top: 35px;
                    
                    li {
                        font-size: 12px;
                        height: 35px;
                        line-height: 38px;
                    }
                }
                
                li {
                    float: left;
                    margin-right: 13px;
                    
                    #sortings_dd {
                        width: 150px;
                    }
                    
                    div {
                        font-family: DINWebPro;
                        width: 150px;
                    }
                }
            }
            
            #view {
                li {
                    float: left;
                    margin-left: 13px;
                    div {
                        height: 35px;
                        width: 35px;
                        padding: 0;
                    }
                }
                
                li#listView {
                    border-bottom: 1px solid #fff;
                    position: relative;
                    
                    &:hover {
                        cursor: pointer;
                    }
                    
                    span.icon {
                        background: url('../images/sprites.png') no-repeat -318px 0;
                        height: 10px;
                        left: 12px;
                        position: absolute;
                        top: 13px;
                        width: 12px;
                    }
                }
                
                li#mapView {
                    border-bottom: 1px solid #fff;
                    position: relative;
                    
                    &:hover {
                        cursor: pointer;
                    }
                    
                    span.icon {
                        background: url('../images/sprites.png') no-repeat -330px 0;
                        height: 20px;
                        left: 12px;
                        position: absolute;
                        top: 8px;
                        width: 12px;
                    }
                }
            }
        }
    }
        
    .notActive {
        background-color: #fff;
        border-bottom: 0 !important;
        box-shadow: -1px 1px 2px -1px rgba(0,0,0,0.2);
    }
}

.active {
    background: linear-gradient(180deg, #dcdcdc 50%, #e9e9e9 50%);
    box-shadow: 4px 4px 5px -4px #bbbbbb inset, 0 -5px 5px -4px #ffffff inset;
}

.ui-slider {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 90%;
    margin-left: 4%;
}

.right {
    float: right;
}

div.ui-slider-horizontal {
    height: 0.0em;
    
    .ui-slider-handle {
        top: -0.6em;
        border-radius: 50%;
        background: #000000;
        border: none;
        
        &:hover {
            cursor: pointer;
        }
    }
}

.checked {
    background-image: url("../images/sprites.png") !important;
    background-position: -180px -212px;
}

.closeTag {
    background: url("../images/sprites.png") no-repeat -278px -21px;
}

#hotelsWrapper {
    clear: both;
    overflow: hidden;
    padding: 0 35px;
    
    div.ui-widget-content  {
        background: #fff;
        border: 0;
        border-top: 1px solid #000;
        box-shadow: none;
        color: #222;
    }
    
    .sidebarHelper {
        clear: both;
        float: left;
        width: 18%;
        
        #sidebarMap {
            @include imageshadow;
            
            padding-top: 0;
            position: relative;
            max-width: 180px;
            width: 100%;
            
            &:hover {
                cursor: pointer;
            }
            img{
                width:100%;
                max-width:180px;
            }
            p#sidebarMapCopy {
                bottom: 33px;
                font-family: DINWebPro;
                font-size: 12px;
                position: absolute;
                right: 70px; 
            }
        }
        
        .sidebarDiv {
            font-size: 13px;
            font-family: DINWebProMedium;
            padding-bottom: 19px;
            padding-top: 22px;
            border-bottom: 1px solid #bdbdbd;
            width:100%;
            max-width:180px;
            
            div#priceOption {
                margin-left: 8px;
                // width: 164px;
                
                label#minAmount {
                    left: -7px;
                    position: relative;
                }
                
                div.ui-slider-horizontal .ui-slider-handle {
                    height: 12px;
                    top: -7px;
                    width: 12px;
                }
            }
            
            /*::-webkit-scrollbar {
                    width: 15px;
            }

            ::-webkit-scrollbar:single-button {
                background-color: #FFFFFF;
            }

            ::-webkit-scrollbar-track {
                background-color: #cccccc;
                border-radius: 10px;
            }
            ::webkit-scrollbar-thumb {
                background-color: #FFFFFF;
                border-raidus: 10px;
            }*/
            
            .toggle {
                float: right;
                cursor: pointer;
                height: 12px;
                line-height:1em;
                margin-right: 5px;
            }
            
            ul.filterList {
                font-family: DINWebPro;
                
                // overflow-y: scroll;
                margin-top: 15px;
				height:150px;
                                max-height: 150px;
				
                
                li {
                    padding-bottom: 12px;
                    cursor:pointer;
                    span.numbers {
                        color: #666;
                    }
                }
                
                li:hover { 
                    color: #a96c16;
                }

                li.selected {
                    font-family: DINWebProMedium, Arial, sans-serif;
                }
            }
        }
        
        #clearAll {
            float: right;
            padding-top: 14px;
            padding-bottom: 17px;
            font-family: DINWebPro, Arial, sans-serif;
            font-size: 12px;
            
            .clearIcon {
                /*background: url("../images/sprites.png") no-repeat -179px -13px;
                heigth: 6px;
                display: block;
                left: 0;
                width: 6px;
                position: absolute;
                top: 6px;*/
            }
            
            a {
                border-bottom: 1px solid #c3c3c3;
                color: #000;
            }
        }
    }

    #hotelsList {
        width: 80%;
        float: left;
        margin-left: 2%;
        padding-top: 0;
        
        .memberHotels {
            @include imageshadow;
            
            background-color: #fff;
            margin-bottom: 30px;
            overflow: hidden;
            position: relative;
            
            div.hotelImage {
                float: left;
                width: 460px;
                
                img {
                    display: block;
                    width: 100%;
                }
            }
            
            div.hotelInfo {
                float: left;
                width: 41%;
                padding-top: 2.4%;
                padding-left: 2%;
                
                div.hotelName {
                    padding-right: 4%;
                    font-family: DINWebProCondBold, Arial, sans-serif;
                    font-size: 18px;
                    line-height: 18px;
                    text-transform: uppercase;
                    
                    .location {
                        color: #666;
                    }
                    
                    #rate {
                        float: right;
                        margin-top: -10%;
                        font-family: DINWebPro, Arial, sans-serif;
                        color: #963;
                    }
                }
            
                div.line {
                    width: 17px;
                    background-color: #c3c3c3;
                    height: 1px;
                    margin-top: 5%;
                    margin-bottom: 0;
                }
                
                p {
                    padding-top: 5%;
                    padding-bottom: 14%;
                    line-height: 19px;
                    padding-right: 6%;
                    font-family: DINWebPro, Arial, sans-serif;
                    color: #000;
                    font-size: 13px;
                }
                
                div.order {
                    //height: 63px;
                    margin-top: 4px;
					//position: absolute;
					bottom: 0;
					right: 0;
                    
                    #compare {
                        float: left;
                        margin-top: 36px;
                        font-family: DINWebPro, Arial, sans-serif;
                        color: #000;
                        
                        input[type="button"].checkbox {
                            background-image: url("../images/check-box.png");
                            vertical-align:middle;
                            heigth: 16px;
                            width: 16px;
                            background-color: transparent;
                            background-repeat: no-repeat;
                            border: none;
                        }
                        
                        span {
                            margin-left: 10px;
                        }
                    }
                    
                    div.book {
                        text-align: center;
                        float: right;
                        display: block;
                        
                        div.price {
                            bottom: 45px;
                            @include fontplantin;
                            font-size: 14px;
                            font-style: italic;
                            position: absolute;
                            right: 18px;
                            
                            span {
                                color: #a96c16;
                                font-family: DINWebPro, Arial, sans-serif;
                                font-style: normal;
                            }
                        }
                        
                        div.button {
                            @include lightbutton;
                            
                            bottom: 0;
                            position: absolute;
                            right: 0;
                        }

                        div.button:hover {
                            @include lightbuttonhover;
                        }
                        div.button:active {
                            @include lightbuttonclick;
                        }
                        div.learnmorebtn{
                            @include darkbutton;
                            
                            bottom: 0;
                            position: absolute;
                            right: 0;
                        }
                         div.learnmorebtn:hover {
                            @include darkbuttonhover;
                        }
                        div.learnmorebtn:active {
                            @include darkbuttonclick;
                        }
                        a {
                           color: #000;
                        }
                    }
                }
            }
        }
    }
}

.newOffer {
    position: absolute;
    top: 19px;
    left: -8px;
    
    div {
        float: left;
    }
    
    .newHotel {
        background-image: linear-gradient(179deg, #b87d2b 50%, #a96c16 50%);
        background-image: -webkit-linear-gradient(270deg, #b87d2b 50%, #a96c16 50%);
        background-iamge: -moz-linear-gradient(179deg, #b87d2b 50%, #a96c16 50%);
        background-image: -o-linear-gradient(179deg, #b87d2b 50%, #a96c16 50%);
        width: 150px;
        height: 22px;
        text-align: center;
        line-height: 24px;
        color: #FFFFFF;
        font-style: italic;
        @include fontplantin;
        position: relative;
    }
    
    .newHotel:after {
        position: absolute;
        background-image: linear-gradient(129deg, #b87d2b 50%, #a96c16 50%);
        background-image: -webkit-linear-gradient(-40deg, #b87d2b 50%, #a96c16 50%);
        background-image: -moz-linear-gradient(-40deg, #b87d2b 50%, #a96c16 50%);
        background-image: -o-linear-gradient(129deg, #b87d2b 50%, #a96c16 50%);
        content: '';
        width: 13px;
        height: 11px;
        -webkit-transform: rotate(39deg) skewX(5deg) skewY(24deg);
        -ms-transform: rotate(39deg) skewX(5deg) skewY(24deg);
        -moz-transform: rotate(39deg) skewX(5deg) skewY(24deg);
        -o-transform: rotate(39deg) skewX(5deg) skewY(24deg);
        right: -7px;
        top: 5px;
    }

    /*.triangle {
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-left: 12px solid #b87d2b;
        border-bottom: 12px solid transparent;
    }*/
    
    .bottomTriangle {
        width: 0;
        height: 0;
        border-right: 9px solid #846a37;
        border-bottom: 9px solid transparent;
        margin-top: 22px;
        margin-left: -150px;
    }
}

#mapWrapper {
    position: relative;
    height: 641px;
    // margin-top: 70px;
    letter-spacing: normal;
    clear: both;
    top: auto;
    visibility: visible;
    
    &.hidden {
        height: 1px;
        position: absolute;
        top: 0;
        visibility: hidden;
        
        div {
            visibility: hidden;
        }
    }
    
    div.ui-widget-content  {
        background: #fff;
        border: 0;
        border-top: 1px solid #000;
        box-shadow: none;
        color: #222;
    }
    
    #mapCanvas {
        height: 640px;
        width: 1090px;
        
        .gm-style {
		    div{
		        line-height:55px !important;
				
		    }
			.gm-style-cc div{
			    line-height:15px !important;
			}
            .gmnoprint {
                right: 86px;
				
            }
			
        }

    }
   
    .sidebarHelper {
        position: absolute;
        width: 17%;
        float: left;
        top: 27px;
        background: url('../images/mapbar_bg.png');
        //opacity: 0.9;
        left: 25px;
        padding: 0px 10px;
        box-shadow: 1px 1px 2px 0px #ccc;
        
        /*::-webkit-scrollbar {
                    width: 15px;
            }

        ::-webkit-scrollbar:single-button {
            background-color: #FFFFFF;
        }

        ::-webkit-scrollbar-track {
            background-color: #cccccc;
            border-radius: 10px;
        }
        ::webkit-scrollbar-thumb {
            background-color: #FFFFFF;
            border-raidus: 10px;
        }*/
        
        .sidebarDiv {
            font-size: 13px;
            font-family: DINWebProMedium;
            padding-bottom: 15px;
            padding-top: 19px;
            border-bottom: 1px solid #bdbdbd;
            max-width: 180px;
            width: 100%;
            
            div#mapPriceOption {
                margin-left: 8px;
                // width: 164px;
                
                label#mapminAmount {
                    left: -7px;
                    position: relative;
                }
                
                div.ui-slider-horizontal .ui-slider-handle {
                    height: 12px;
                    top: -7px;
                    width: 12px;
                }
            }
            
            .toggle {
                float: right;
                cursor: pointer;
                height: 12px;
                line-height: 1em;
                margin-right: 5px;
            }
            
            ul.filterList {
                font-family: DINWebPro;
                height: 150px;
                margin-top: 15px;
		max-height: 150px;
                
                li {
                    padding-bottom: 12px;
                    cursor:pointer;
                    span.numbers {
                        color: #666;
                    }
                }
                
                li.selected {
                    font-family: DINWebProMedium;
                }
            }
        }
        
        #clearAll {
            float: right;
            padding-top: 14px;
            padding-bottom: 17px;
            font-family: DINWebPro, Arial, sans-serif;
            font-size: 12px;
            
            .clearIcon {
                /*background: url("../images/sprites.png") no-repeat -179px -13px;
                heigth: 6px;
                display: block;
                left: 0;
                width: 6px;
                position: absolute;
                top: 6px;*/

            }
            
            a {
                border-bottom: 1px solid #c3c3c3;
                color: #000;
            }
        }
    }
}

.infobox {
    background-color: #ffffff;
    width: 373px;
    height: 122px;
    left: -326.998px;
    bottom: 83.009px;
    box-shadow: -1px 2px 8px 3px rgba(0,0,0,0.2);
	
	> img {
		width:27px;
        height:27px;
		z-index: 5;
	}
		
	> a {
	
		z-index: 10;
	}
    
    .mapHotels {
        padding: 0px;
        width: 373px;
        height: 122px;
		position: relative;
		z-index: 2;
        
        img, .hotelInfo, #close {
            float: left;
        }
        
        img {
            width: 122px;
            height: 122px;
        }
        
        .hotelInfo {
            // width: 135px;
            // padding-left: 15px;
            // padding-top: 15px;
			float: left;
			max-width: 200px;
			margin-left: 15px;
			margin-top: 15px;
            font-family: DINWebProCondBold, Arial, sans-serif;
            
            .hotelName {
                font-family: DINWebProCondBold, Arial, sans-serif;
                font-size: 18px;
                line-height: 18px;
                text-transform: uppercase;
				white-space: nowrap;
                
                .location {
                    font-family: DINWebProCondBold, Arial, sans-serif;
                    font-size: 18px;
                    line-height: 18px;
                    color: #666;
                }
            }
            
            .line {
                width: 17px;
                background-color: #c3c3c3;
                height: 1px;
                margin-top: 9px;
                margin-bottom: 9px;
            }
            
            .price {
                @include fontplantin;
                padding-bottom: 14px;
                font-size: 14px;
                font-style: italic;
                span {
                    font-family: DINWebPro, Arial, sans-serif;
                    color: #a96c16;
                    font-size: 14px;
                    font-style: normal;
                }
            }
        }
        
        .downArrow {
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-top: 10px solid #222222;
            border-right: 10px solid transparent;
            position: absolute;
            right: 13px;
            bottom: -10px;
        }
    }
}
section#pdpDealimage {
    @extend %grid__item;
    @extend %one-whole;
    
    padding-left: 0;
    width: 100%;
    
    div.imageWrapper {
        position: relative;
        height: 100%; 
        overflow: hidden; 
        width: 100%; 
        
        
        
        iframe, object, embed{
            width:100%
        }
        > img {
            display: block;
            position: relative;
            width: 735px;
			height:auto;
			float:right;
            cursor: pointer;
        }
        
        div.overviewWrapper {
            width: 100%;
            position: absolute;
            bottom: 26px;
            
            div.overview {
                background: #fff;
                margin: 0 35px;
                padding: 10px;
                position: relative;
                height: 1%;
                
                > img {
                    float: left;
                }
                
                div.deal {
                    float: left;
                    @include fontplantin;
                    margin-left: 20px;
                    
                    h3 {
                        color: #a96c16;
                        font-size: 29px;
                        margin-top: 18px;
                        line-height: 40px;
                    }
                    
                    p {
                        color: #323232;
                        font-style: italic;
                        font-size: 16px;
                    }
                }
                
                div.period {
                    float: right;
                    @include fontplantin;
                    font-size: 13px;
                    font-style: italic;
                    line-height: 16px;
                    margin-top: 58px;
                    
                    span.dates {
                        color: #a96c16;
                        font-family: DINWebPro, Arial, sans-serif;
                        font-style: normal;
                    }
                }
                
                div.special {
                    @include tag(right);
                }
            }
            
            div.overview:after {
                // clearfix :/
                clear: both;
                content: " ";
                display: block; 
                height: 0; 
            }
        }
    }
}

section#pdpDealinfo {
    @extend %grid__item;
    @extend %one-whole;
    
    padding: 0 35px;
	margin-bottom: -29px;
	
    div.info {
        @extend %grid;
        padding-top: 30px;
        h2,
        h5{
				text-transform:uppercase;
			}
        div.copy {
            @extend %grid__item;
            @extend %two-thirds;
            
            @include fontplantin;
            font-size: 15px;
            line-height: 25px;
            margin-top: 21px;
            
            div.needtoknow {
                h5 {
                    margin-bottom: 8px;
                    margin-top: 17px;
                    padding-top: 9px;
					
                }
                
                ul {
                    font-family: DINWebPro, Arial, sans-serif;
                    font-size: 13px;
                    
                    li {
                        list-style: disc inside;
                        line-height: 22px;
                    }
                }
            }
        }
        
        div.joinWrapper {
            @extend %grid__item;
            @extend %one-third;
            padding-left:20px;
			float:right;
            div.join {
                color: #fff;
                @include fontplantin;
                position: relative;
                
                img {
                    display: block;
                    width: 100%;
                }
                
                div.icon {
                    left: 0;
                    position: absolute;
                    text-align: center;
                    top: 26px;
                    width: 100%;
                    
                    span {
                        background: url('../images/sprites.png') no-repeat 0 0;
                        display: inline-block;
                        height: 68px;
                        width: 51px;
                    }
                    
                    span.ribbon {
                        background-position: -260px -239px;
                    }
                }
                
                div.highlights {
                    position: absolute;
                    text-align: center;
                    top: 112px;
                    width: 100%;
                    
                    h5 {
                        font-size: 16px;
                        margin-bottom: 13px;
                    }
                    
                    ul {
                        font-family: DINWebPro, Arial, sans-serif;
                        
                        li {
                            list-style: disc inside;
                            line-height: 22px;
                            font-size: 13px;
                        }
                    }
                }
                
                p {
                    bottom: 60px;
                    font-size: 16px;
                    font-style: italic;
                    line-height: 22px;
                    padding: 0 20px;
                    position: absolute;
                    text-align: center;
                }
                
                form {
                    // OUTLINE: 3px solid #fc0;
                    background: #fff;
                    bottom: 0;
                    height: 46px;
                    // position: absolute;
                    width: 100%;
                    
                    input {
                        border: 0;
                        font-family: DINWebPro, Arial, sans-serif;
                        font-size: 13px;
                        height: 46px;
                        line-height: 46px;
                        text-indent: 14px;
                        width: 185px;
                    }
                    
                    input::-webkit-input-placeholder {
                        color: #000;
                        opacity: 1;
                    }
                    
                    input::-moz-placeholder {
                        color: #000;
                        opacity: 1;
                    }
                    
                    input:-ms-input-placeholder {
                        color: #000;
                        opacity: 1;
                        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; /* IE 8 */
                        filter: alpha(opacity=100); /* IE 5-7 */
                    }
                    
                    a {
                        // TODO: Fix background, line-height
                        @include darkbutton;
                        
                        height: 46px;
                        line-height: 46px;
                        padding: 0 14px;
                        position: absolute;
                        right: 0;
                        text-align: center;
                    }
                    a:hover {
                        @include darkbuttonhover;
                    }
                    a:active {
                        @include darkbuttonclick;
                    }
                }
            }
        }    
    }
	div.spacer{
		margin-top:30px;
		border-top: 1px solid #c7c7c7;
		border-bottom: 1px solid #fff;
		margin-bottom:1px;
	}
	div.spacerSingle{
		border-bottom: 1px solid #c7c7c7;
	}
}

#campaign #hotelsWrapper #hotelsList .memberHotels div.hotelInfo div.order div.book.lowest-price {
    display: none;
}

#campaign div.order div.loading-wrapper {
    height: 54px;
}
