@media only screen and (min-width: 769px) {
    body#campaign {
        .campaignPage {
            height: 521px;
        }
        
        section#pdpDealimage {
            height: 560px;
        }
        
        section#pdpDealimage div.imageWrapper > img {
            width: 736px;
            height: 556px;
        }
    }
    
    #campaignOverview #centerHeader .sectionHeadings .bigLine {
        visibility: hidden;
    }
    
    section#pdpImage .social-share {
        display: none;
    }
}