body#city {
    .controls {
        font-size: 29px;
        line-height: 1;
        margin-left: 33px;
        margin-bottom: 30px;
        
        .title {
            font-family: Plantin, Arial, sans-serif;
            //text-transform: uppercase;
        }
        
        span#cityname {
            font-family: Plantin;
            font-style: italic;
        }
    }

    #cityDescriptionWrap {
        overflow: hidden;
        margin-top: 35px;
        background: #fff;

        #cityImage {
            float: left;
            height: 640px;
            width: 544px;
        }
        
        #cityDescription {
            display: table;
            height: 490px;
            float: left;
            width: 394px;
            padding: 75px;
            text-align: center;
            font-size: 15px;
            @include fontplantin;
            
            h1 {
			   font-size:18px;
               text-transform: uppercase;
               margin-bottom: 2px;
			   font-family: DINWebProCondBold;
            }
            
            #middleBox {
                vertical-align: middle;
                display: table-cell;
                line-height:25px;
            }
        }
    }
	div.spacer{
		margin:30px 35px 1px 35px;
		border-top: 1px solid #c7c7c7;
		border-bottom: 1px solid #fff;
	}
	div.spacerSingle{
		border-bottom: 1px solid #c7c7c7;
		margin:0 35px 0 35px;
	}
	section#partHotels {
		
		section#hotelsNav {
			border-top-width: 0;
		}
	}
}
