@media (max-width: 1149px) {
    body#city {
        #cityDescriptionWrap {
            #cityImage {
                float: left;
                height: 518px;
                width: 440px;
                
                img {
                    display: block;
                    width: 100%;
                }
            }
            
            #cityDescription {
                float: left;
                height: 518px;
                padding: 0 50px;
                width: 309px;
                line-height:25px;
            }
        }
    }
}