@media (min-width: 1150px) and (max-width: 1264px) {
    body#city {
        #cityDescriptionWrap {
            #cityImage {
                float: left;
                height: 565px;
                width: 480px;
                
                img {
                    display: block;
                    width: 100%;
                }
            }
            
            #cityDescription {
                float: left;
                height: 565px;
                padding: 0 60px;
                width: 375px;
            }
        }
    }
}