@media only screen and (max-width: 768px) {
    body#myAccountSettings section {
        margin-bottom: 0px;
    }

    .community-page {
        #wrapper {
            #main {
                margin-top: 23px;

                .breadcrumbs {
                    display: none;
                }

                #mobile-community-header {
                    padding-top: 28px;

                    a#trigger-login, a#trigger-register {
                        color: #ff482e;
                    }

                    h1 {
                        text-align: center;
                        font-family: Plantin;
                        font-size: 29px;
                        margin-bottom: 3px;

                        em {
                            font-size: 22px;
                            display: block;
                            margin-bottom: 15px;
                        }
                        sup{
                            font-size: 7px;
                        }
                        span.SubHeadline{
                            font-style: italic;
                            font-size: 18px;
                        }
                    }

                    p {
                        font-size: 12px;
                        line-height: 16px;
                        text-align: center;
                        font-family: DINWebPro;
                        color: #333333;


                        strong {
                            font-weight: normal;
                            font-family: DINWebProMedium;
                            color: #000000;
                        }
                    }

                    #pdpTabs {
                        margin-top: 17px;
                    }

                    p.already-member {
                        line-height: 26px;

                        span {
                            text-decoration: underline;
                            color: #bf883b;
                        }
                    }
                }

                #mobile-community-overview {
                    /*background: #bf883b url('/assets/images/mobile/tmp-icons-overview.png') no-repeat left top;*/
                    color: #000000;
                    background-color:#ffffff;
                    margin: 0px 10px 40px 10px;
                    padding: 20px 10px 10px 10px;

                    h3 {
                        font-family: DINWebProCondBold;
                        font-size: 18px;
                        line-height: 19px;
                        text-align: center;
                        text-transform: uppercase;
                        span{
                            font-family: Plantin,Arial,serif;
                            font-size:13px;
                            text-align: center;
                            font-style:italic;
                            text-transform: none;
                            line-height: 6px;
                    }
                    }

                    .benefits {
                        width: 271px; 
                        margin: auto;
                        margin-top:28px;
                        padding-left:38px;
                        .benefit {
                            width:100%;
                            height:67px;
                            letter-spacing:0.2px;
                            h4 {
                                padding-top:3px;
                                font-family: DINWebProCondBold;
                                font-size: 18px;
                                line-height: 19px;
                                text-transform: uppercase;
                            }

                            p {
                                font-family: Plantin, Arial, serif;
                                font-style: italic;
                                font-size: 13px;
                                line-height: 14px;
                                a {
                                    text-decoration: underline;
                            }
                            }

                            p.disount-percentage {
                                font-family: DINWebProCondBold;
                                font-style: normal;
                                font-size: 29px;
                                color: #e0af75;
                                line-height: 29px;
                            }
                            
                        }
                        .miles {
                            margin-bottom: 11px;
                        }
                        div.benefiticon{
                            margin:auto;
                            width:58px;
                            height:38px;
                            float:left;
                            margin-right:9px;
                        }

                        div.breakfast{
                            background: url('../images/sprites.png') no-repeat -269px -349px;
                        }
                        div.exclusive{
                            background: url('../images/sprites.png') no-repeat -154px -349px;
                        }
                        div.plane{
                            background: url('../images/sprites.png') no-repeat -433px -349px;
                        }
                        div.private{
                            background: url('../images/sprites.png') no-repeat -212px -349px;
                        }
                        div.wifi{
                            background: url('../images/sprites.png') no-repeat -326px -349px;
                        }
                        div.check{
                            background: url('../images/sprites.png') no-repeat -490px -244px;
                        }
                    }
                    div.benefit-header{
                        width:100%;
                        img{
                            margin-left:8px;
                        }
                        a{
                            display:inline-block;
                            border-bottom:1px solid #000000;
                            padding-bottom:3px;
                        }
                    }
                    .emailInput {
                        text-align: center;

                        input#emailMobile {
                            background-color: #f7f7f4;
                            border: 0 none;
                            box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.5);
                            color: #000000;
                            font-family: DINWebPro;
                            font-size: 14px;
                            height: 46px;
                            position: relative;
                            text-indent: 12px;
                            width: 155px;
                            line-height: 20px;
                        }

                        input::-webkit-input-placeholder {
                            font-color: #666666;
                        }
                        input::-moz-placeholder {
                            font-color: #666666;
                        }
                        input:-ms-input-placeholder {
                            font-color: #666666;
                        }

                        button#joinByEmailMobile {
                            @include lightbutton;
                            border: none;
                            height: 46px;
                            line-height: 36px;
                            width: 125px;
                            padding: 0;
                            cursor: pointer;
                        }
                    }
                }

                #centerHeader {
                    display: none;
                }

                .sectionHeadings {
                    .bigLine {
                        display: none;
                    }

                    .sectionHeading {
                        padding: 16px 0px 16px 0px;
                        text-align: center;
                    }

                    .sectionSubHeading {
                        display: none;
                    }
                }

                #myaccountBookings {
                    padding: 0px 10px;

                    #myaccountBookingsWrapper {
                        margin-top: 0px;
                        padding: 0px;
                    }
                }

                .upcomingBookingOutsideWrapper {
                    margin-top: 19px;

                    .upcomingBookingWrapper {
                        min-height: 1px;
                    }
                }

                .roomImage {
                    display: none;
                }

                div.roomInfo {
                    width: 100%;
                    min-height: 1px;
                    padding-top: 6px;
                    float: none;
                    height: auto;

                    div {
                        margin-left: 15px;
                    }

                    .roomName {
                        line-height: 18px;
                    }

                    .roomName .confirmNumber {
                        font-size: 28px;
                        line-height: 28px;
                        display: block;
                        padding-top: 2px;
                    }

                    .roomClick {
                        text-decoration: none;
                        font-size: 13px;
                        color: #000000;
                        border-bottom: none;

                        .icon-arrow-small-down,
                        .icon-arrow-small-up {
                            font-size: 4px;
                            position: relative;
                            top: -2px;
                            left: 1px;
                        }
                    }

                    div.toggleRoomInfo {
                        margin: 0px !important;

                        div {
                            margin-left: 0px;
                        }
                    }
                }

                div.roomPrice {
                    #detailPrice {
                        width: 65%;

                        span#leftPrice {
                            float: left;
                            padding-left: 20px;
                            margin-right: 0px;
                        }
                    }

                    #totalPrice {
                        width: 35%;
                    }
                }

                #upcomingBooking {
                    margin-bottom: 0px;
                }

                #cancelledBooking, 
                #pastBooking {
                    margin-top: 10px;

                    #cancelledBookingWrapper .pastBookRoom,
                    #pastBookingWrapper .pastBookRoom {
                        height: auto;
                        margin-top: 20px;

                        > .roomInfo {
                            padding-bottom: 14px;
                        }

                        .roomInfo {
                            height: auto;
                            width: 100%;

                            .viewAllDetails {
                                margin-bottom: 0px;

                                .hotelDepositPolicy {
                                    margin-bottom: 0px;
                                }
                            }
                        }
                    }

                    div.togglePastHeight {
                        height: auto !important;
                    }
                }

                section#myaccountOverview {
                    padding: 0 10px;

                    div#myaccountOverviewWrapper {
                        margin-top: 5px;

                        #myaccountNewsWrapper {
                            float: none;
                            width: 100%;
                            margin-bottom: 0;

                            header {
                                margin-bottom: 15px;
                                border-bottom: 1px solid #c7c7c7;
                            }
                            .newsColumn {
                                float: none;
                                width: 100%;
                                clear: both;
                                overflow: auto;

                                h3 {
                                    font-size: 25px;
                                }

                                .news {
                                    h4 {
                                        font-size: 17px;
                                    }
                                    .imgWrap {
                                        display: block;
                                    }
                                    .newsInfo {
                                        width: auto;
                                        float: none;
                                        font-family: Plantin,Arial,serif;
                                        font-size: 14px;
                                        line-height: 19px;
                                        margin-left: 99px;
                                    }
                                }
                            }
                            #column1 {
                                margin: 0 0 25px;

                                img {
                                    width: 45%;
                                    height: auto;
                                    float: left;
                                    margin-right: 3%;
                                }
                                h1 {
                                    margin-top: 0;
                                }
                            }

                        }
                        #myaccountUpcomingBookingWrapper {
                            display: none;

                            float: none;
                            width: 100%;
                            margin: 0;

                            header {
                                margin-bottom: 15px;
                                border-bottom: 1px solid #c7c7c7;
                            }

                            #noUpcomingBookings {
                                padding-top: 20px;
                            }
                        }

                        #communitySales {
                            display:none;

                            header {
                                .sectionHeadings {
                                    padding-bottom: 10px;

                                    .sectionHeading {
                                        padding-bottom: 10px;
                                    }
                                }
                            }
                            .communitySalesWrapper {
                                .privateSales {
                                    padding: 20px 0;

                                    .roomImages {
                                        height: auto;

                                        img {
                                            width: 100%;
                                            height: auto;
                                        }
                                        .discountSection {
                                            height: auto;
                                            margin: 0;
                                            padding: 10px;
                                            text-align: center;

                                            .floatLeft, .floatRight {
                                                float: none;
                                                margin: 0;
                                            }
                                            .floatLeft {
                                                h1 {
                                                    margin-bottom: 10px;
                                                }
                                                p {
                                                    color: #666;
                                                    font-size: 15px;
                                                }
                                            }
                                            .floatRight {
                                                ul li {
                                                    border-left: 0;
                                                    padding: 0;

                                                    .discountCategory {
                                                        font-size: 14px;
                                                    }
                                                    .discountValue {
                                                        font-size: 14px;
                                                        padding-left: 3px;
                                                    }
                                                    div {
                                                        display: inline-block;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    .roomDetails {
                                        
                                        > div {
                                            min-height: 1px !important;
                                        }
                                        
                                        margin-top: 10px;
                                        
                                        div.the-description {
                                            display: none;
                                        }
                                        
                                        .sale-details,
                                        .close-details {
                                            text-align: center;
                                            
                                            position: relative;
                                            top: 10px;
                                        }
                                        
                                        .close-details {
                                            display: none !important;
                                        }
                                        
                                        .arrowUp{
                                            background:url("../images/sprites.png") repeat scroll -207px -25px;
                                            display:inline-block;
                                            height:6px;
                                            margin-left:5px;
                                            width:10px;
                                        }
                                        
                                        .arrowDown{
                                            background:url("../images/sprites.png") repeat scroll -120px -34px;
                                            display:inline-block;
                                            height:6px;
                                            margin-left:5px;
                                            width:10px;
                                        }
                                        
                                        p {
                                            width: 100%;
                                            margin-left: 0;
                                        }
                                        ul {
                                            color: #666;
                                            margin-left: 0;

                                            li {
                                                font-family: Plantin,Arial,serif;
                                                font-size: 14px;
                                                line-height: 19px;
                                                font-style: italic;
                                            }
                                        }
                                        .priceBook {
                                            position: relative;
                                            margin-top: 20px;

                                            div {
                                                float: none;
                                                width: 50%;
                                                text-align: left;
                                                padding-top: 9px;
                                                margin-bottom: 6px;
                                            }
                                            .book {
                                                width: 110px;
                                                margin-top: 0;
                                            }
                                            
                                            > a {
                                                position: absolute;
                                                right: 0px;
                                                bottom: -7px;
                                            }
                                        }
                                    }
                                    
                                    .roomDetailsOpen {
                                        .sale-details {
                                            display: none !important;
                                        }
                                        
                                        .close-details {
                                            display: block !important;
                                        }
                                        
                                        div.the-description {
                                            display: block;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                section#profileSettings {
                    padding: 0px 10px;

                    section {
                        margin-bottom: 0px;
                    }

                    .bigLine {
                        display: none;
                    }

                    .personal-details {
                        padding-top: 10px;
                        padding-bottom: 11px;
                        color: #000000;
                        border-bottom: 1px solid #c7c7c7;

                        h2 {
                            font-family: Plantin;
                            font-size: 20px;
                            line-height: 24px;
                        }

                        .required-fields {
                            float: right;
                            font-family: DINWebProMedium;
                            font-size: 13px;
                            line-height: 20px;
                            position: relative;
                            top: 3px;
                        }

                        h3 {
                            font-family: Plantin;
                            font-style: italic;
                            font-size: 16px;
                            line-height: 20px;
                        }
                    }

                    div.form-cntr {
                        padding-bottom: 4px;

                        div.form-elements {
                            padding-top: 8px;

                            div.elements-cntr {
                                padding-top: 7px !important;
                                padding-bottom: 7px !important;
                            }

                            > .id {
                                display: none;
                            }

                            > .name {
                                span + span {
                                    margin-top: 16px;
                                }
                            }

                            > .country {
                                padding-right: 50px !important;
                            }

                            > .address {
                                .also-address {
                                    span {
                                        color: #999999;
                                    }
                                }

                                .also-address + input {
                                    margin-bottom: 0px;
                                }
                            }

                            > .postal-code {
                                > span {
                                    display: block;
                                    margin-right: 0px;
                                }

                                span + span {
                                    margin-top: 16px;
                                }
                            }

                            .element-label {
                                margin-bottom: 9px;
                            }

                            input.text {
                                width: 100%;
                                border: 1px solid #c7c7c7 !important;
                                box-shadow: none;
                                height: 44px !important;
                                line-height: normal;
                            }

                            div.elements-cntr.name > span {
                                display: block;
                                margin-right: 0px;
                            }

                            div.elements-cntr {
                                position: relative;

                                .check-mark {
                                    position: absolute;
                                    right: 6px;
                                    top: 38px;
                                    z-index: 900;
                                }

                                #chkName {
                                    top: 107px;
                                }

                                #chkCity {
                                    top: 22px;
                                }

                                div.tzSelect {
                                    display: none !important;
                                }

                                select {
                                    display: inline !important;
                                    border: 1px solid #c7c7c7 !important;
                                    box-shadow: none;
                                    height: 44px !important;
                                    line-height: normal;
                                    text-indent: 4px;
                                }

                                select#country {
                                    width: 100%;
                                }

                                select#accountGender {
                                    width: 134px;
                                }

                                select#dateBirthYear {
                                    width: 134px;
                                }

                                select#dateBirthMonth,
                                select#dateBirthDate {
                                    width: 72px;
                                    margin-left: 6px;
                                }

                                select#currency {
                                    width: 100%;
                                }

                                select#countryCompany{
                                    width: 100%;
                                }
                            }

                            p {
                                font-family: Plantin;
                            }
                        }

                        div.sectionHeading {
                            padding: 0px;
                            font-size: 20px;
                            line-height: 44px;
                        }
                    }

                    .communication-pref {
                        margin-bottom: 80px;

                        p.footer-notes {
                            padding-bottom: 10px;
                        }

                        input.my-account-save {
                            bottom: -46px;
                        }

                        p.common-link {
                            left: 0px;
                            bottom: -35px;
                        }
                    }
                }
            }
        }

        .welcome-thank-you {
            background: #FFFFFF;
            margin: 16px 10px 40px 10px;
            padding: 14px 10px 24px 10px;
            text-align: center;
            font-family: Plantin;

            h2 {
                font-size: 22px;
                margin-bottom: 12px;
                line-height: 25px;

                .sub-line {
                    font-size: 16px;
                    display: block;
                    line-height: 18px;
                }
            }

            p {
                font-size: 15px;
                line-height: 21px;
            }

            .gobtn {
                @include darkbutton;
                margin-top: 22px;
            }
        }
    }
}
