@media only screen and (min-width: 1px) and (max-width: 768px) {
    #contact #main{
	    padding-top:40px;
	}
	section#contactTollfree header, section#contactHeadquarters header, section#contactOffices header{
	    padding:0;
		div.sectionHeadings div.sectionHeading{
			margin-bottom:20px;
		}
	}

	section#contactTollfree{
	    padding:0 0 5px;
		div#contactTollFreeGeneralWrapper{
			width:100%;
			padding:0 10px;
			div#contactTollFreeGeneral{
			    padding:0;
				background:none;
				> ul {

				    li {
					    padding-top:0;
						padding-bottom:20px;
						p{
							display:none;
						}
						h2{
							font-size:20px;
							line-height:20px;
						}
					}
				}
			}
		}
		div#contactTollFreeList{
		    width:100%;
			padding:0 10px;
			ul#areas{
			    > li{
				    padding-bottom:10px;
					min-height:0;
					div.areaName{
					    position:relative;
					    width:100%;
						color:#fff;
						background:#222222;
						text-align:center;
						padding:12px 30px 10px 10px ;
						span.arrow{
						    background:url("../images/sprites.png");
							background-position:-304px -132px;
							right:15px;
							top:20px;
							display:block;
							height:8px;
							width:15px;
							position:absolute;

						}

					}
					> ul.areaLocations{
						padding:20px  15px 0;
						display:none;
						a{
						    text-decoration:underline;
						}
					}

				}
				li.open{
				    > ul.areaLocations{
					    display:block;
					}
					div.areaName span.arrow{
					    background-position:-317px -133px;
					}
				}
				li.africa, li.americas, li.asiaOceania, li.europe, li.other {
				    background:none;
					margin-bottom:0;
					padding-top:0;
				}
			}
		}
		div.email-inquiry, div.mice-inquiry{
		    border-top:1px solid #c7c7c7;
			padding:20px 0 0;
			letter-spacing:normal;
			text-align:center;
			margin:10px 10px 0;
			h2{
				font-size:20px;
				font-family:Plantin;
				margin-bottom:20px;

			}
			p{
			    font-family:DINWebPro;
				font-size:13px;
				line-height:18px;
				a{
					border-bottom:1px solid #a96c16;
					color:#a96c16;
					display:inline-block;
				}
			}
		}
                div.mice-inquiry {
                    border: none;
                    span.call-us {
                        color: #a96c16;
                    }
                }
	}
	section#contactHeadquarters{
	    padding:0;

	    div#generalHeadquartersWrapper{
		    width:100%;
			padding:0 10px 2px;
			div#generalHeadquarters{
			    background:none;
				text-align:left;
				border-bottom:1px solid #c7c7c7;
				.icon{
					display:none;
				}
				h2{
					font-size:20px;
				}
				p.address{
					margin-bottom:20px;
				}
				ul{
					padding:0;
					li{
					    border-bottom:none;
						height:auto;
						line-height:auto;
					    div.item{
					     	width:45px;
							line-height:22px;
						    span.icon{
							    display:none;
							}
						}
						div.value{
						    line-height:22px;
							float:none;
							a.tel{
								color:#000;
								border-bottom:none;
							}
						}
					}
				}
			}


	    }

		div#headquarters{
			padding:0 10px;
			width:100%;
			ul{
				> li{
					width:100%;
					div.contactDetails{
					    background:none;
						border-top:1px solid #c7c7c7;
						padding:15px 0;
						margin:0;
						h3{
							font-size:20px;
                            width: 100%;
						}
						span.sectionHeadingBar{
							display:none;
						}
						a.tel{
							color:#000;
							border-bottom:none;
						}
					}

                    div.item,
                    div.value {
                        line-height:22px;
                    }
				}
			}
		}

	}
	section#contactOffices{
	    padding:0;

		ul#officeRegions{
			width:100%;

			padding:0 10px;


			> li{
				width:100%;
				padding-top:0;
				min-height:0;
				margin-bottom:20px;
				border-bottom:1px solid #c7c7c7;
				h2{
					font-size:28px;
					width:100%;
					padding-left:0;
				}
				ul{
				    padding-left:0;
					width:100%;
					li.office{
					    border-bottom:1px solid #c7c7c7;
						padding:15px 0 20px;
						overflow:hidden;
						margin-bottom:2px;
					    h3{
						    font-size:20px;
						}
						span.sectionHeadingBar{
						    display:none;
						}
						div.address{
						    width:100%;
							margin-bottom:10px;
						}

                        ul.contactInfo {
                            width: 100%;

                            li div.item {
                                width: 45px;
                                line-height:22px;
                            }
                        }
					}
					li.office:last-child div.address{
					    margin-bottom:10px;
					}
				}
			}
			li#regionEurope, li#regionAmericas, li#regionAsia{
				background:none;
			}

		}
	}

	section#contactCancel {
	    header {
		padding: 0;
	    }
	    div#cancel-step1 {
		div.sectionHeadings {
		    div.sectionSubHeading {
			line-height: 19px;
			padding: 10px 0;

			span {
				float: none;
				text-align: right;

			}
		    }
		}
		div.cancel-form {
		    padding: 20px 10px 0;

		    form {
			ul {
			    li {
				input {
				    width: 100%;
				}
			    }
			}
		    }
		}
	    }
	}
}
