@media (max-width: 1149px) {
    div#main, body#pdp.tabFindinginfinity,
    body#pdp div.fixed-wrapper, body#pdp div.full-wrapper,
    body#stories div.fixed-wrapper, body#stories div.full-wrapper,
    body#spgPage div.fixed-wrapper, body#spgPage div.full-wrapper {
        section.contentbox{
            div.contentboxContent{
                p{        
                    a.cta{
                        height: 24px;
                        line-height: 26px;
                        font-size: 13px;
                        padding: 0 10px;
                    }
                }
            }
        }
        
        section.cb_a {
            div.contentboxContent{
                div.cb_a_Col2 {
                    div.cb_a_Copy{
                        text-align:left;
                        padding:0 40px;
                    }
                }
            }
        }
        section.cb_b {
            div.contentboxContent {
                display: table;
                
                div.cb_b_Col1,
                div.cb_b_Col2 {
                    display: table-cell;
                }
                
                div.cb_b_Col2 {
                    vertical-align: middle;
                    
                    div.cb_b_Copy {
                        padding-top: 0;
                        padding:0 40px;
                    }
                    
                    > ul {
                        display: none;
                    }
                }
            }
        }
        
        section.cb_c {
            div.contentboxContent {
                div.cb_c_Row1 {
                    div.cb_c_Image1 {
                        display: none;
                    }
                    
                    div.cb_c_Copy {
                        padding-bottom: 25px;
                        padding-top: 35px;
                        text-align: center;
                    }
                }
            }
        }

        section.cb_d {
            div.contentboxContent {
                display: table;
            }
            div.contentboxContent div.cb_d_Col1{
                float:none;
            }
            div.contentboxContent div.cb_d_Col1,
            div.contentboxContent div.cb_d_Col2 {
                display: table-cell;
                vertical-align: middle;
            }
            
            div.contentboxContent div.cb_d_Col1 > ul {
                display: none;
            }
            
            div.contentboxContent div.cb_d_Copy {
                height: auto;
                padding:0 40px;
            }
        }
        
        section.cb_e {
            div.contentboxContent {
                div.cb_e_Row2 {
                    div.cb_e_Copy {
                        padding-bottom: 0px;
                        padding-top: 35px;
                        text-align: center;
                    }
                    
                    span.cb_e_image5,
                    span.cb_e_image6 {
                        display: none;
                    }
                    p:last-child{
                        margin-bottom:0;
                    }
                }
            }
        }
        
        section.cb_f{
            div.contentboxContent{
                div.cb_f_Col1{
                    div.cb_f_Copy{
                        padding:40px 40px 0;
                    }
                }
            }
        }
        section.cb_g{
            div.contentboxContent{
                div.cb_g_Col2{
                    div.cb_g_Copy{
                        padding: 0 40px 40px;
                        p:last-child{
                            margin-bottom:0;
                        }
                    }
                }
            }
        }
        
        section.cb_h{
            div.contentboxContent{
                div.cb_h_Copy{
                    padding: 40px 70px 0;
                }
            }
        }
                
        
        section.cb_i {
            div.contentboxContent {
                div.cb_i_Col1 {
                    display:table-cell;
                    float:none;
                }
                div.cb_i_Col2 {
                    height: auto;
                    display:table-cell;
                    float:none;
                    vertical-align:middle;
                    
                    div.cb_i_Copy {
                        height: auto;
                        padding:0 40px;
                    }
                    
                    ul {
                        display: none;
                    }
                }
            }
        }
        
        // section.cb_j
        section.cb_k{ 
            div.contentboxContent{
                div.cb_k_Copy{
                    padding: 0 40px;
                }
            }
        }
        
        section.cb_l {
            div.contentboxContent {
                display: none;
            }
            
            div.contentboxContentSm {
                display: block;
                
                div.cb_l_Image1 {
                    display: none;
                }
                
                div.cb_l_Copy1 {
                    padding-bottom: 0px;
                    padding-top: 35px;
                    text-align: center;
                }
                p{        
                    a.cta{
                        height: 24px;
                        line-height: 26px;
                        font-size: 13px;
                        padding: 0 10px;
                    }
                }
                p:last-child{
                    margin-bottom:0;
                }
            }
        }
        
        section.cb_m {
            div.contentboxContent {
                display: none;
            }
            
            div.contentboxContentSm {
                display: block;
                
                div.cb_m_Image1,
                div.cb_m_Image3 {
                    display: none;
                }
                
                div.cb_m_Copy1,
                div.cb_m_Copy2 {
                    height: auto;
                    padding: 35px 40px 0px 40px;
                    vertical-align:top;
                    p.ctaWrapper {
                        text-align: center;
                    }
                }
                
                div.cb_m_Copy1{
                    padding-left:40px;
                    padding-right:20px;
                }
                div.cb_m_Copy2{
                    padding-left:40px;
                    padding-right:20px;
                }
                
            }
        }
    }

    div.full-wrapper {
        section.cb_o {
            div.cb_o_Content {
                width: 1024px;
            }
        }

        section.cb_p {
            div.cb_p_Content {
                width: 1024px;

                div.cb_p_Copy {
                    margin: 0 0 0 40px;
                }
            }
        }

        section.cb_q {
            div.cb_q_Content {
                width: 944px;
                padding: 50px 0;
            }
        }
    }
}

@media (max-width: 1023px) {
    div#main, div.fixed-wrapper, div.full-wrapper {
        section.cb_p {
            div.contentboxContent {
                div.bg>img{
                    width: 100%;
                    margin:0;
                }
                div.cb_p_Content {
                    top: 70px;
                    text-align: left;
                }
            }
        }
        section.cb_q {
            div.contentboxContent {
                width: 100%;
                div.bg>img{
                    width: 100%;
                    margin:0;
                }
                div.cb_q_Content {
                    letter-spacing: 0;
                    padding: 50px 58px 0 40px;

                    div.cb_q_headings {
                        width: 300px;
                        padding-right: 30px;
                        float: left;
                    }
                    div.cb_q_Copy {
                        width: 540px;
                        float: left;
                    }
                }
            }
        }
    }

    div.full-wrapper {
        section.cb_o {
            div.bg>img{
                min-height: 640px;
            }

            div.contentboxContent {
                div.cb_o_Content {
                    width: 1024px;

                    div.cb_o_Content_innerWrapper {
                        width: 512px;

                        img {
                            margin: 40px auto;
                        }
                        div.cb_o_Copy {
                            width: 320px;
                        }
                    }
                }
            }
        }
        section.cb_q {
            div.cb_q_Content {
                width: 906px;
            }
        }
    }
}