section.contentbox {
    @extend %grid__item;
    @extend %one-whole;

    margin-bottom: 30px;//$sectionBottomSpacing;
    padding: 0;

    img {
        display: block;
        width: 100%;
    }

	.blockHeadline{
	    font-family:DINWebProCondBold, Arial, sans-serif;
		font-size:17px;
		color:#000;
		text-transform:uppercase;
		margin-bottom:10px;
        letter-spacing:0.5px;
	}
	.blockSubHeadline{
	    font-family:DINWebProCondBold, Arial, sans-serif;
		font-size:22px;
		color:#000;
		margin-bottom:5px;
		text-transform:uppercase;
        letter-spacing:0.3px;
	}
	.blockDivider{
        height:	2px;
        border-bottom:1px solid #c7c7c7;
		border-top: 1px solid #c7c7c7;
		background-color:#f7f7f4;
		margin: 0px 35px 30px 35px;

	}
    header {

        div.sectionHeadings {
            border-bottom: 0;
            margin-bottom: 0;

            div.sectionHeading {
                margin-bottom: 0;
                padding-left: 0;
                font-family: DINWebProCondBold;
                font-size: 13px;
                color: #000000
            }

            div.sectionSubHeading {
                padding-left: 0;
				line-height: 23px;
                font-family: DINWebProCondBold;
                font-size: 18px;
                color: #000000;
                font-style: normal;
                margin-bottom: 0;
            }
        }
    }

    div.contentboxContent,
    div.contentboxContentSm {
        @extend %grid;

		margin-left: 0px;

        p {
            font-family: Plantin, Georgia, serif;
            font-size: 15px;
            line-height: 25px;
            margin-bottom: 1em;

            a {
                color: #aa5500;
                text-decoration: underline;
            }

            a:hover {
                text-decoration: none;
            }

            a.cta {
                @include darkbutton;
                padding: 0 15px;
                text-decoration: none;
            }
        }
    }

    div.contentboxContentSm {
        display: none;
    }
}

section.cb_a {
    div.contentboxContent {
        display: table;

        div.cb_a_Col1,
        div.cb_a_Col2 {
            @extend %grid__item;
            @extend %one-half;

            display: table-cell;
            padding: 0;
        }

        div.cb_a_Col2 {
            vertical-align: middle;

            div.cb_a_Copy {
                padding: 0 75px 0 75px;
                text-align: left;
            }
        }
    }
}

section.cb_b {
    div.contentboxContent {
        position: relative;
        display:table;

        div.cb_b_Col1,
        div.cb_b_Col2 {
            @extend %grid__item;
            @extend %one-half;

            padding: 0;
        }

        div.cb_b_Copy {
            padding: 25px 80px 0 45px;

            p {
                font-size: 15px;
                line-height: 28px;
                margin-bottom: 0.5em;

                span.quote {
                    font-size: 30px;
                }
            }

            p.quoteIcon {
                margin-bottom: 5px;

                > span {
                    background: url('../images/sprites.png') no-repeat -107px -42px;
                    display: inline-block;
                    height: 36px;
                    width: 36px;
                }
            }

            p.credit {
                font-family: DINWebProCondBold, Arial, sans-serif;
                font-size: 12px;
                line-height: 14px;
                text-transform: uppercase;
                margin-bottom: 1em;
            }
        }

        div.cb_b_Col2 {
            > ul {
                width: 545px;

                li {
                    bottom: 0;
                    position: absolute;
                    overflow: hidden;
                    width: 545px !important;
                }
            }
        }
    }
}

section.cb_c {
    div.contentboxContent {

        div.cb_c_Row2 {
            img {
                @extend %grid__item;
                @extend %one-half;

                padding: 0;
                float:left;
            }
        }

        div.cb_c_Row1 {
            @extend %grid;
            @extend %grid--full;

            display: table;

            div.cb_c_Copy {
                @extend %grid__item;
                @extend %one-half;

                display: table-cell;
                padding: 0 75px;
                vertical-align: middle;
            }
        }
    }
}

section.cb_d {
    div.contentboxContent {
        position: relative;

        div.cb_d_Col1{
            float:left;
        }
        div.cb_d_Col1,
        div.cb_d_Col2 {
            @extend %grid__item;
            @extend %one-half;

            padding: 0;
        }

        div.cb_d_Col1 {
            > ul {
                @extend %grid;
                @extend %grid--full;

                bottom: 0;
                position: absolute;

                li {
                    @extend %grid__item;
                    @extend %one-half;

                    float: left;
                    width: 272px;
					padding: 0;
                }

                li:last-child {
                    width: 273px;
                }
            }
        }

        div.cb_d_Copy {
			display: table-cell;
			height: 320px;
			overflow: hidden;
            padding: 0 75px;
			vertical-align: middle;
        }
    }
}

section.cb_e {
    div.contentboxContent {

        .cb_e_image1,
		.cb_e_image2,
		.cb_e_image3,
		.cb_e_image4,
		.cb_e_image5,
		.cb_e_image6{
            @extend %grid__item;
            @extend %one-quarter;

            padding: 0;
        }

		.cb_e_image1,
		.cb_e_image3,
		.cb_e_image5 {

			width: 272px;
            display: table-cell;

			> img {

				width: 100%;
			}
		}

		.cb_e_image2,
		.cb_e_image4,
		.cb_e_image6 {

			display: table-cell;
			width: 273px;

			> img {

				width: 100%;
			}
		}

        div.cb_e_Row2 {
            @extend %grid;
            @extend %grid--full;

            display: table;

            div.cb_e_Copy {
                @extend %grid__item;
                @extend %one-half;

                display: table-cell;
                padding: 0 75px;
                vertical-align: middle;
            }

            span.cb_e_image5,
            span.cb_e_image6 {

                display: table-cell;
            }

            img {
                @extend %grid__item;
                @extend %one-half; // this makes no sense???

                width: 100%;
                padding: 0;
            }
        }
    }
}

section.cb_f {
    div.contentboxContent {

        div.cb_f_Col1 {
            @extend %grid__item;
            @extend %one-half;

			.blockHeadline,.blockSubHeadline{
			    color:#ffffff;
			}
            padding: 0;
            position: relative;
            float:left;

            div.cb_f_Copy {
                @extend %grid__item;
                @extend %one-whole;

                color: #fff;
                padding: 70px 70px 0 70px;
                position: absolute;
                top: 0;
            }
        }

        div.cb_f_Col2 {
            @extend %grid__item;
            @extend %one-half;

            padding: 0;
        }
    }
}

section.cb_g {
    div.contentboxContent {

        .blockHeadline,.blockSubHeadline{
			color:#ffffff;
		}

        div.cb_g_Col1 {
            @extend %grid__item;
            @extend %one-half;

            padding: 0;
            float:left;
        }

        div.cb_g_Col2 {
            @extend %grid__item;
            @extend %one-half;

            padding: 0;
            position: relative;
            float:left;

            div.cb_g_Copy {
                @extend %grid__item;
                @extend %one-whole;

                color: #fff;
                padding: 0 70px 50px 70px;
                position: absolute;
                bottom: 0;
            }
        }
    }
}

section.cb_h {
    div.contentboxContent {
        position: relative;
        width: 100%;
        .blockHeadline,.blockSubHeadline{
			color:#ffffff;
		}
        div.cb_h_Copy {
            @extend %grid__item;
            @extend %one-whole;

            color: #fff;
            padding: 70px 70px 0 70px;
            position: absolute;
            text-align: center;
            top: 0;
            width: 100%;

            p {
                margin: 0 auto 1em auto;
                width: 400px;
            }
        }
    }
}

section.cb_i {
    div.contentboxContent {
        overflow:hidden;

        div.cb_i_Col1 {
            @extend %grid__item;
            @extend %six-tenths;

            padding: 0;
            float:left;
        }

        div.cb_i_Col2 {
            @extend %grid__item;
            @extend %four-tenths;

            float:left;
            padding: 0;

            > ul {
                @extend %grid;
                @extend %grid--full;

                li {
                    @extend %grid__item;
                    @extend %one-half;

					padding-left: 0;
                    float:left;
                }
            }

            div.cb_i_Copy {
                @extend %grid__item;
                @extend %one-whole;

                padding: 0 75px;
				display: table-cell;
				height: 436px;
				overflow: hidden;
				vertical-align: middle;
                text-align: center;
                
                li {
                    list-style-type: disc;
                    list-style-position: inside;
                    
                }
            }
        }
    }
}

section.cb_j {
    div.contentboxContent {
        position: relative;
        width: 100%;

        .playerBtn{
            position:absolute;
            left:47%;
            top:35%;
            background: url('../images/sprites.png') -183px -40px ;
            width:82px;
            height:82px;
            z-index:6;
            pointer:cursor;
        }

        > p {
            margin-top: -45px;
            position: absolute;
            top: 50%;
            width: 100%;

            a.playbutton {
                margin: 0 auto;
            }
        }

        div.cb_j_Description {
            @extend %grid__item;
            @extend %one-whole;

            background-color: rgba(34,34,34,0.8);
            text-align: center;
            height: 52px;
            padding: 0;
            position: absolute;
            bottom: 0;
            width: 100%;

            p {
                color: #fff;
                font-family: Plantin, Georgia, serif;
                font-size: 15px;
                line-height: 52px;
                margin: 0;
            }
        }
    }
}

section.cb_k {
    div.contentboxContent {
        overflow:hidden;

        div.cb_k_Col1,
        div.cb_k_Col2 {
            @extend %grid__item;
            @extend %one-half;

            padding: 0;

        }
        div.cb_k_Col1 {
            float:left;
        }
        div.cb_k_Col2 {
            float:right;
        }
        div.cb_k_Copy {

			display: table-cell;
			height: 320px;
            padding: 0 75px;
			vertical-align: middle;
			overflow: hidden;
        }
    }
}

section.cb_l {
    div.contentboxContent,
    div.contentboxContentSm {

        div.cb_l_Image1,
        div.cb_l_Image3 {
            @extend %grid__item;
            @extend %one-half;

            padding: 0;
        }

		div.cb_l_Image1,
		div.cb_l_Copy1 {

			display: table-cell;
		}

        div.cb_l_Copy1,
        div.cb_l_Copy2 {
            @extend %grid__item;
            @extend %one-half;

            padding: 70px 75px 0 75px;
        }

		div.cb_l_Copy1 {

			padding: 0 75px;
			vertical-align: middle;
			overflow: hidden;
		}

        div.cb_l_Image2 {
            @extend %grid__item;
            @extend %one-whole;

            padding: 0;
        }
    }
}

section.cb_m {
    div.contentboxContent,
    div.contentboxContentSm {

        div.cb_m_Image1,
        div.cb_m_Image3 {
            @extend %grid__item;
            @extend %one-half;

            padding: 0;
        }

        div.cb_m_Copy1,
        div.cb_m_Copy2 {
            @extend %grid__item;
            @extend %one-half;

            padding: 70px 75px 0 75px;
        }

		div.cb_m_Copy1 {

			display: table-cell;
			height: 320px;
			padding: 0 75px;
			overflow: hidden;
			vertical-align: middle;
		}

		div.cb_m_Copy2 {

			display: table-cell;
			/*height: 320px;*/
			padding: 0 75px;
			vertical-align: middle;
		}

        div.cb_m_Image1 {

			display: table-cell;
		}

        div.cb_m_Image2 {
            @extend %grid__item;
            @extend %one-whole;

            padding: 0;
        }

        div.cb_m_Image3 {

			display: table-cell;
		}
    }
}

section.cb_n {
    .sectionHeadings {
            text-align: center;
            .sectionHeading {
                font-family: Plantin, Arial, sans-serif !important;
                font-size: 29px !important;
            }
            .sectionSubHeading {
                font-style: italic !important;
                font-family: Plantin, Arial, sans-serif !important;
                font-size: 29px !important;
                line-height: 28px !important;
                margin-bottom: 20px !important;
            }
        }
	> div.imageWrapper {

		position: relative;

		> div.playerBtn {

			//background: url("../images/sprites.png") repeat scroll -183px -40px rgba(0, 0, 0, 0);
			//height: 82px;
			left: 50%;
			position: absolute;
			top: 50%;
			//width: 82px;
			z-index: 6;
            margin-top: -33px;
            margin-left: -45px;
		}
	}

    div.contentboxContent {

		background-color: #FFFFFF;
		letter-spacing: normal;
		padding: 52px;

		div.cb_n_Copy {

			> ul {
				display: table;
				width: 100%;
				height: 100%;

				li.cb_n_Col1,
				li.cb_n_Col2 {

					display: table-cell;
				}

				li.cb_n_Col1 {

					width: 59%;
					vertical-align: top;
					padding-right: 33px;

					> p {

						font-family: Plantin, Georgia, serif;
						font-size: 16px;
						line-height: 1.5;
						margin: 0;
					}
				}

				li.cb_n_Col2 {

					width: 40%;
					vertical-align: middle;
					text-align: center;
					padding-left: 33px;
					text-align: center;

					> p {

						font-family: Plantin, Georgia, serif;
						font-size: 18px;
						font-style: italic;
						line-height: 25px;
						padding: 0 32px;
						margin-bottom: 10px;
					}

					> p.quoteIcon {

						> span {

							background: url("../images/sprites.png") no-repeat scroll -107px -42px rgba(0, 0, 0, 0);
							display: inline-block;
							font-style: italic;
							height: 36px;
							width: 36px;
						}
					}

					> p.credit {

						font-family: DINWebProCondBold,Arial,sans-serif;
						font-size: 13px;
						font-style: normal;
						line-height: 14px;
						margin-bottom: 1em;
						text-transform: uppercase;
					}
				}
			}
		}
	}
}

section.cb_o {
    div.contentboxContent {
        position: relative;
        width: 100%;
        div.bg>img {
            margin-left: -25%;
            display: block;
            width: auto;
            min-height: 0%!important;
        }
        
        div.cb_o_Content {
            width: 545px;
            height: 640px;
            height: 100%;
            background-color: #f7f7f4;
            position: absolute;
            right: 0;
            top: 0;
            text-align: center;
            letter-spacing: 0;

            img {
                margin: 50px 163px;
                width: 225px;
                //For IE
                height: 225px;
            }
            div.cb_o_Copy {
                width: 320px;
                margin: 0 auto;
            }
        }
    }
}

section.cb_p {
    div.contentboxContent {
        position: relative;
        width: 100%;
        div.bg>img{
            margin-left: -25%;
            display: block;
            width: auto;
            min-height: 0%!important;
        }

        div.cb_p_Content {
            width: 545px;
            position: absolute;
            left: 0;
            top: 173px;
            letter-spacing: 0;

            div.cb_p_Copy {
                width: 400px;
                margin: 0 auto;
                * {
                    color: white;
                }
                p a.cta {
                    background: #222222;
                    color: white;
                }
            }
        }
    }
}

section.cb_q {
    div.contentboxContent {
        width: 100%;
        div.bg>img {
            margin-left: -25%;
            display: block;
            width: auto;
            min-height: 0%!important;
        }
        div.cb_q_Content {
            letter-spacing: 0;
            padding: 50px 80px;
            
            div.cb_q_headings {
                width: 300px;
                padding-right: 30px;
                float: left;
            }
            div.cb_q_Copy {
                width: 600px;
                float: left;
            }
        }
    }
}

span.blockHeadingBar {
    margin-left: auto;
    margin-right: auto;
    //padding-left: 15px;

    @include header-bar(#000, 88px, 5px, 20px);
}

section.contentbox div.contentboxContent ul li {
    padding-left: 0;
}

div.fixed-wrapper {
    > .blockDivider {
        height:	2px;
        border-bottom:1px solid #c7c7c7;
		border-top: 1px solid #c7c7c7;
		background-color:#f7f7f4;
		margin: 0px 35px 30px 35px;
    }
}

div.full-wrapper {
    section.contentbox {
        .blockDivider {
            display: none;
        }
    }

    section.cb_o, section.cb_p, section.cb_q {
        div.bg {
            overflow: hidden;
            >img{
                margin-left: 0;
                display: block;
                width: auto;
                min-height: 100%;
                min-width: 100%;
            }
        }
    }

    section.cb_o {
        div.cb_o_Content {
            height: 100%;
            background-color: transparent;
            text-align: right;
            width: 1090px;
            left: 0;
            margin: 0 auto;

            div.cb_o_Content_innerWrapper {
                width: 545px;
                height: 100%;
                display: inline-block;
                text-align: center;
                background-color: #f7f7f4;
            }
        }
    }

    section.cb_p {
        div.cb_p_Content {
            width: 1090px;
            left: 0;
            right: 0;
            margin: auto;

            div.cb_p_Copy {
                margin: 0 0 0 74px;
            }
        }
    }

    section.cb_q {
        div.cb_q_Content {
            width: 942px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

#stories {
    section.cb_q {
        div.contentboxContent {
            div.cb_q_Content {
                padding-bottom: 0;

                div.cb_q_Copy > p {
                    margin-bottom: 0;
                }
            }
        }
    }
}
