@media only screen and (min-width: 1px) and (max-width: 768px) {
    div#main, body#pdp.tabFindinginfinity,
    body#pdp div.fixed-wrapper, body#pdp div.full-wrapper,
    body#stories div.fixed-wrapper, body#stories div.full-wrapper,
    body#spgPage div.fixed-wrapper, body#spgPage div.full-wrapper {
        section.contentbox {
            display: block;
            .blockHeadline, .blockSubHeadline {
                font-size: 17px;
                margin: 0;
                letter-spacing: normal;
                color: #000;
            }
            .blockHeadline {
                margin: 8px 0;
            }
            .blockSubHeadline {
                font-size: 26px;
            }
			div.contentboxContent {
				//padding:10px;
			}
			.blockDivider{
			  margin:0 10px 30px;
			}
        }
        section.cb_a, section.cb_b, section.cb_c, section.cb_d, section.cb_e, section.cb_f, section.cb_g, section.cb_h, section.cb_i, section.cb_j, section.cb_k, section.cb_l, section.cb_m, section.cb_n {
            overflow: none;
            div.contentboxContent {
                p {
                    margin-bottom: 0;
                }
                a.cta {
                    margin-top: 10px;
                }
                div.img-padding {
                    padding: 10px;
                }
                div.horz-padding {
                    padding: 0 10px;
                }
                .playerBtn {
                    left: 50%;
                    top: 50%;
                    margin-left: -41px;
                    margin-top: -61px;
                }
                div.cb_j_Description {
                    display: block;
                    position: relative;
                    height: auto;
                    width: auto;
                    text-align: left;
                    padding: 0 10px;
                }
                div.cb_a_Col1, div.cb_a_Col2, div.cb_b_Col1, div.cb_b_Col2, div.cb_c_Row2, div.cb_d_Col1, div.cb_d_Col2, div.cb_e_Row2, div.cb_f_Col1, div.cb_f_Col2, div.cb_g_Col1, div.cb_g_Col2, div.cb_i_Col1, div.cb_i_Col2, div.cb_k_Col1, div.cb_k_Col2 {
                    display: block;
                    width: 100%;
                }
                div.cb_a_Col1, div.cb_b_Col1, div.cb_c_Row2, div.cb_d_Col2, div.cb_f_Col1, div.cb_f_Col2, div.cb_g_Col1, div.cb_g_Col2, div.cb_i_Col1, div.cb_k_Col1, div.cb_k_Col2 {
                    padding: 10px;

                    img {
                        width: 100%;
                        height: auto;
                        float: none;
                    }
                }
                div.cb_c_Row2 {
                    width: auto;
                }
                div.cb_a_Col2, div.cb_b_Col2, div.cb_c_Row1, div.cb_d_Col1, div.cb_e_Row2, div.cb_f_Col1, div.cb_g_Col2, div.cb_i_Col2, div.cb_k_Col1, div.cb_k_Col2 {
                    clear: both;
                    float: none;
                    div.cb_a_Copy, div.cb_b_Copy, div.cb_c_Copy, div.cb_d_Copy, div.cb_e_Copy, div.cb_f_Copy, div.cb_i_Copy {
                        padding: 0 10px;
                    }
                    div.cb_c_Copy, div.cb_e_Copy, div.cb_i_Copy {
                        text-align: left;
                    }
                    div.cb_f_Copy, div.cb_g_Copy {
                        color: #000;
                        clear: both;
                        position: relative;
                        padding-top: 10px;
                    }
                    div.cb_g_Copy {
                        padding: 10px 0 0;
                    }
                }
                div.cb_e_Row1 {
                    padding: 10px;
                    div.cb_e_image1, div.cb_e_image2, div.cb_e_image3, div.cb_e_image4, div.cb_e_image5, div.cb_e_image6 {
                        display: inline-block;
                        float: none;
                        width: 50%;
                    }
                }
                div.cb_h_Copy {
                    clear: both;
                    position: relative;
                    padding: 10px 10px 0;
                    color: #000;
                    text-align: left;

                    p {
                        padding: 0;
                        margin: 0;
                        width: auto;
                    }
                }
                div.cb_k_Copy {
                    display: block;
                    height: auto;
                    padding: 10px 0 0;
                }
            }
            div.contentboxContentSm {
                p a.cta {
                    margin-top: 10px;
                }
                div.cb_l_Image2 {
                    padding: 0 10px;
                }
                div.cb_l_Copy1 {
                    padding: 10px;
                    text-align: left;
                }
                div.cb_m_Image2 {
                    padding: 0 10px;
                }
                div.cb_m_Copy1, div.cb_m_Copy2 {
                    width: 100%;
                    padding: 10px;
                    display: block;
                }
            }
        }
        section.cb_n {
            div.imageWrapper {
                //padding: 0 10px;
                .playerBtn {
                    left: 50%;
                    top: 50%;
                    margin-left: -38px;
                    margin-top: -32px;
					background:none;
					width:20%;
					max-width:75px;
					height:auto;
					img{
						width:100%;
					}
                }
            }
            div.contentboxContent {
                padding: 10px;
                background: none;
                div.cb_n_Copy {
				margin-top:20px;
                    > ul {
                        li.cb_n_Col1, li.cb_n_Col2 {
                            display: block;
                            width: 100%;
                            padding: 0;
							> p.quoteIcon > span{
								display:none;
							}
                        }
                        li.cb_n_Col2 {
                            margin-top: 30px;
                            p {
                                line-height: 21px;
                            }
                            p.credit {
                                margin-top: 10px;
                            }
                        }
                    }
                }
            }
        }
        section.cb_o {
            div.contentboxContent {
                div.cb_o_Content {
                    width: 100%;
                    height: auto;
                    position: static;
                    img {
                        margin:0;
                        padding:0;
                        width: 100%;
                        height: auto;
                    }
                    div.cb_o_Copy {
                        background: transparent;
                        position: static;
                        text-align: left;
                        margin: 10px;
                        width: auto;
                    }
                }
            }
            div.bg {
                margin:0 10px;
                >img {
                    width: 100%;
                    margin: 0;
                }
            }
        }

        section.cb_p {
            div.contentboxContent {
                div.cb_p_Content {
                    width: 100%;
                    height: auto;
                    position: static;
                    div.cb_p_Copy {
                        position: static;
                        text-align: left;
                        margin: 10px;
                        width: auto;
                        * {
                            color: black;
                        }
                        p a.cta {
                            background: #222222;
                            color: white;
                        }
                    }
                }
            }
            div.bg {
                margin:0 10px;
                >img {
                    width: 100%;
                    margin: 0;
                }
            }
        }
        section.cb_q {
            div.contentboxContent {
                div.cb_q_Content {
                    position: relative;
                    width: 100%;
                    padding: 0;
                    .cb_q_headings {
                        margin: 10px;
                        clear: both;
                    }
                    div.cb_q_Copy {
                        position: static;
                        text-align: left;
                        margin: 10px;
                        width: auto;
                        * {
                            color: black;
                        }
                        p a.cta {
                            background: #222222;
                            color: white;
                        }
                    }
                }
            }
            div.bg {
                margin:0 10px;
                // make the image edge to edge
                // display: inline;
                >img {
                    width: 100%;
                    margin: 0;
                }
            }
        }
    }

    div.fixed-wrapper {
        > .blockDivider {
            margin: 0 10px 30px;
        }
    }

    div.full-wrapper {
        section.cb_o {
            div.bg>img{
                display: none;
            }

            div.contentboxContent {
                div.cb_o_Content {
                    div.cb_o_Content_innerWrapper {
                        width: auto;
                        margin: 0 10px;
                        display: block;
                    }
                }
            }
        }
    }

    body#pdp {
        padding: 0;

        div.full-wrapper {
            section.cb_o {
                div.contentboxContent {
                    div.bg {
                        margin: 0;
                    }

                    div.cb_o_Content {
                        div.cb_o_Content_innerWrapper {
                            div.cb_o_Copy {
                                margin: 20px 0 10px;
                            }
                        }
                    }
                }
            }

            section.cb_p {
                div.contentboxContent {
                    div.bg {
                        margin: 0;
                    }

                    div.cb_p_Content {
                        margin-top: 20px;
                    }
                }
            }

            section.cb_q {
                div.contentboxContent {
                    div.bg {
                        margin: 0;
                    }
                }

                div.cb_q_Content {
                    width: auto;
                }
            }
        }
    }

    .fixed-wrapper,
    .full-wrapper {
        position: relative;

        div.doubleLine {
            visibility: hidden;
        }
    }

    #stories {
        section.cb_q {
            div.contentboxContent {
                div.cb_q_Content {
                    div.cb_q_Copy > p {
                        margin-bottom: 1em;
                    }
                }
            }
        }
    }
}
