@mixin contactinfo {
    display: table;

    li {
        display: table-row;
        line-height: 19px;

        div {
            display: table-cell;
        }

        div.item {
            font-family: DINWebProMedium, Arial, sans-serif;
            padding-right: 10px;
        }

        div.value {
            font-family: DINWebPro, Arial, sans-serif;
        }

        a {
            color: #a96c16;
            border-bottom: 1px solid #a96c16;
            display: inline-block;
            line-height: 18px;
        }
    }
}

section#contactCancel,
section#contactTollfree,
section#contactHeadquarters,
section#contactOffices {
    position: relative;

    header {
        @extend %grid__item;
        @extend %one-whole;

        padding: 0 0 0 35px;

        div.sectionHeadings {
            border-bottom: 1px solid #fff;
            margin-bottom: 24px;
            text-align: center;

            div.sectionHeading {
                margin-bottom: 33px;
            }

            ul.breadcrumbs {
                height: 42px;
                position: static;
                width: 100%;
            }

            ul#contactPages {
                @include dhtabslegacy;

                position: static;
                height: 51px;

                li {
                    height: 50px;
                    float: left;
                }

                li:first-child {
                    margin-left: 0;
                }
            }
        }
    }
}

section#contactTollfree {
    @extend %grid;

    margin-bottom: $sectionBottomSpacing;
    margin-left: 0;
    padding: 0 35px 0 5px;

    div#contactTollFreeGeneralWrapper {
        @extend %grid__item;
        @extend %one-third;

        div#contactTollFreeGeneral {
            @include imageshadow;

            background: #fff;
            padding-bottom: 20px;
            text-align: center;

            > ul {

                > li {
                    padding: 0 50px; 
                    padding-bottom: 20px;
                    padding-top: 30px;

                    h2 {
                        font-family: Plantin, Georgia, serif;
                        font-size: 16px;
                        margin-bottom: 5px;
                    }

                    p {
                        font-family: DINWebPro, Arial, sans-serif;
                        font-size: 13px;
                        line-height: 18px;
                    }

                    p.icon {
                        margin-bottom: 19px;

                        span {
                            background: url('../images/sprites.png') no-repeat 0px -239px;
                            display: block;
                            height: 68px;
                            margin: 0 auto;
                            width: 52px;
                        }

                        span.pen {
                            background-position: -52px -239px;
                        }

                        span.calendar {
                            background-position: -411px -239px;
                        }

                        span.chat {
                            background-position: -104px -239px;
                        }
                    }
                }

                li.li-contact-form {
                    padding-left: 0px;
                    padding-right: 0px;
                    display: none;
                }

                a {
                    color: #a96c16;
                    border-bottom: 1px solid #a96c16;
                    display: inline-block;
                }
                span.call-us {
                    color: #a96c16;
                }
            }

            form {
                background-color: #f5f5f5;
                font-family: DINWebPro, Arial, sans-serif;
                margin: 0 20px;
                overflow: hidden;
                padding: 29px 22px 35px 22px;
                position: relative;
                text-align: left;

                li {
                    clear: left;

                    > label {
                        display: block;
                        font-family: DINWebProMedium, Arial, sans-serif;
                        font-size: 13px;
                        margin-bottom: 7px;
                    }

                    div.tzSelect {
                        float: left;
                        width: 100% !important;
                    }

                    select {
                        width: 100%;
                    }

                    input[type=text], div.selectBox {
                        border: 0;
                        margin-bottom: 30px;
                        width: 100%;
                    }

                    textarea {
                        border: 0;
                        width: 100%;
                    }

                    div#contactCommentsWrapper {
                        margin-bottom: 30px;
                    }

                    input[type=text] {
                        box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.50);
                        height: 46px;
                        font-size: 14px;
                        line-height: 46px;
                        text-indent: 12px;
                    }

                    label.radio {
                        @include boxsizing;

                        float: left;
                        height: 21px;
                        line-height: 24px;
                        margin-bottom: 23px;
                        padding-left: 30px;
                        position: relative;
                        width: 40%;

                        span.icon {
                            background: url('../images/sprites.png') no-repeat -128px -101px;
                            display: block;
                            height: 21px;
                            position: absolute;
                            top: 0px;
                            left: 0;
                            width: 21px;
                        }

                        span.icon.checked {
                            background-position: -107px -101px;
                        }

                        input {
                            display: none;
                        }
                    }

                    div#contactCommentsWrapper {
                        background: #fff;
                        box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.50);
                        padding: 10px;

                        textarea {
                            line-height: 20px;
                        }
                    }

                    input.submit {
                        @include darkbutton;

                        border: 0;
                        padding: 0 23px;
                        position: absolute;
                        right: 0; bottom: 0;
                        // float: right;
                    }
                    
                    div.errorMessage {
                        display: none;
                    }
                }

                li.contactLastname,
                li.contactEmailaddress,
                li.contactTelephone {
                    border-bottom: 1px solid #c4c4c4;
                    margin-bottom: 29px;
                }

                li.hide {
                    display: none;
                }
                
                li.contactBy {
                    margin-bottom: 10px;
                }
                li.error {
                    input, #contactCommentsWrapper {
                        box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5), 0px 0px 0px 5px #BF883B inset;
                    }
                    div.errorMessage {
                        color: #a96c16;
                        font-family: DINWebPro, Arial, sans-serif;
                        font-size: 12px;
                        padding-bottom: 10px;
                    }
                }
            }
        }
    }

    div#contactTollFreeList {
        @extend %grid__item;
        @extend %two-thirds;

        ul#areas {
            @extend %grid;

            margin: 0;

            > li {
                @include imageshadow;

                background-color: #f5f5f5;
                display: block;
                margin-bottom: 25px;
                min-height: 105px;
                padding-bottom: 5px;
                padding-top: 29px;

                div.areaName {
                    @extend %grid__item;
                    @extend %one-third;

                    font-size: 29px;
                    font-family: DINWebProCondBold, Arial, sans-serif;
                    line-height: 29px;
                    text-transform: uppercase;
                }

                ul.areaLocations {
                    @extend %grid__item;
                    @extend %two-thirds;

                    padding-left: 0;

                    h3.country, 
                    p.country {
                        font-family: Plantin, Georgia, serif;
                        font-size: 16px;
                        margin-bottom: 8px;
                    }

                    p.number {
                        font-family: DINWebPro, Arial, sans-serif;
                        font-size: 12px;
                        margin-bottom: 11px;
                        padding-bottom: 11px;

                        b {
                            font-family: DINWebProMedium, Arial, sans-serif;
                            font-weight: normal;
                        }
                    }
                }
            }

            li.africa {
                background: #fff url('../images/contact/map_search-bar-grey-africa.png') no-repeat top right;
            }

            li.americas {
                background: #fff url('../images/contact/map-search-baar-grey-americas.png') no-repeat top right;
            }

            li.asiaOceania {
                background: #fff url('../images/contact/map-search-bar-grey-asia-oceania.png') no-repeat top right;
            }

            li.europe {
                background: #fff url('../images/contact/map-search-bar-grey-europe.png') no-repeat top right;
            }

            li.other {
                background: #fff url('../images/contact/map-search-bar-grey-world.png') no-repeat top right;
            }
        }
    }
}

section#contactHeadquarters {
    @extend %grid;

    margin-bottom: $sectionBottomSpacing;
    margin-left: 0;
    padding: 0 35px 0 5px;

    div#generalHeadquartersWrapper {
        @extend %grid__item;
        @extend %one-third;

        div#generalHeadquarters {
            @include imageshadow;

            background: #fff;
            padding-left: 0px;
            padding-bottom: 20px;
            text-align: center;

            p.icon {
                margin-bottom: 19px;
                padding-top: 30px;

                span.building {
                    background: url('../images/sprites.png') no-repeat -156px -239px;
                    display: block;
                    height: 68px;
                    margin: 0 auto;
                    width: 52px;
                }
            }

            h2, p.address {
                font-family: Plantin, Georgia, serif;
                font-size: 16px;
                line-height: 20px;
            }

            h2 {
                margin-bottom: 23px;
            }

            p.address {
                margin-bottom: 35px;
            }

            ul {
                font-family: DINWebPro, Arial, sans-serif;
                font-size: 12px;
                padding: 0 15px;
                text-align: left;

                li {
                    border-bottom: 1px solid #c3c3c3;
                    height: 39px;
                    line-height: 39px;
                    overflow: hidden;

                    div.item {
                        float: left;
                        font-family: DINWebProMedium, Arial, sans-serif;

                        span.icon {
                            background: url('../images/sprites.png') no-repeat -107px -82px;
                            display: inline-block;
                            height: 19px;
                            margin-right: 14px;
                            position: relative;
                            top: 4px;
                            width: 19px;
                        }
                    }

                    div.value {
                        float: right;

                        a {
                            color: #a96c16;
                            border-bottom: 1px solid #a96c16;
                            display: inline-block;
                            line-height: 18px;
                        }
                    }
                }

                li.fax div.item span.icon {
                    background-position: -126px -82px;
                }

                li.email div.item span.icon {
                    background-position: -145px -82px;
                }

                li:last-child {
                    border-bottom: none;
                }
            }
        }
    }

    div#headquarters {
        @extend %grid__item;
        @extend %two-thirds;

        > ul {
            @extend %grid;

            > li {
                @extend %grid__item;
                @extend %one-half;

                div.contactDetails {
                    @include imageshadow;

                    background: #fff;
                    margin-bottom: 30px;
                    padding: 15px;

                    h3 {
                        font-family: Plantin, Georgia, serif;
                        font-size: 16px;
                        line-height: 20px;
                        margin-bottom: 12px;
                        width: 65%;
                    }

                    span.sectionHeadingBar {
                        @include header-bar(#c3c3c3, 17px, 1px, 10px);
                    }

                    ul {
                        @include contactinfo;
                    }
                }
            }
        }
    }
}

section#contactOffices {
    @extend %grid;

    margin-bottom: $sectionBottomSpacing;
    margin-left: 0;
    padding: 0 35px 0 5px;

    ul#officeRegions {
        @extend %grid__item;
        @extend %one-whole;

        padding-left: 30px;

        > li {
            @extend %grid;
            @include imageshadow;

            background: #f5f5f5;
            margin-bottom: 24px;
            margin-left: 0;
            min-height: 190px;
            padding-top: 30px;

            h2 {
                @extend %grid__item;
                @extend %one-third;

                font-family: DINWebProCondBold, Arial, sans-serif;
                font-size: 29px;
                line-height: 29px;
                text-transform: uppercase;
            }

            > ul {
                @extend %grid__item;
                @extend %two-thirds;

                li.office {
                    clear: left;

                    h3 {
                        font-family: Plantin, Georgia, serif;
                        font-size: 16px;
                        line-height: 20px;
                        padding-bottom: 11px;
                    }

                    div.address {
                        float: left;
                        font-family: DINWebPro, Arial, sans-serif;
                        line-height: 20px;
                        margin-bottom: 46px;
                        width: 40%;
                    }

                    ul.contactInfo {
                        @include contactinfo;

                        display: block;
                        float: left;
                        width: 60%;
                    }

                    span.sectionHeadingBar {
                        @include header-bar(#c3c3c3, 17px, 1px, 10px);
                    }
                }

                li.office:last-child {
                    div.address {
                        margin-bottom: 27px;
                    }
                }
            }
        }

        > li:last-child {
            margin-bottom: 0;
        }

        li#regionEurope {
            background: #fff url('../images/contact/officeEurope.png') no-repeat top right;
        }

        li#regionAmericas {
            background: #fff url('../images/contact/officeAmericas.png') no-repeat top right;
        }

        li#regionAsia {
            background: #fff url('../images/contact/officeAsia.png') no-repeat top right;
        }
    }
}

section#contactCancel {
    header {
        padding: 0;
    }
    
    #btn-cancel-complete {
        @include darkbutton;
        z-index: 20;
        position: absolute;
        right: 0;
        bottom: 0;
    }
    #btn-cancel-complete:hover {
        @include darkbuttonhover;
    }
    #btn-cancel-complete:active {
        @include darkbuttonclick;
    }

    div#cancel-step1 {
        div.sectionHeadings {
            text-align: left;
            border-bottom: 1px solid #fff;

            div.sectionHeading {
                margin: 0 0 5px;
            }

            div.sectionSubHeading {
                font-size: 16px;
                margin: 0;
                padding-bottom: 17px;
                border-bottom: 1px solid #C7C7C7;

                span {
                    font-style: normal;
                    float: right;
                    font-size: 12px;
                    color: #555;
                    display: block;
                    font-family: DINWebProMedium,Arial,sans-serif;
                }
            }
        }
        div.cancel-form {

            form {
                ul {
                    li {
                        label {
                            color: #000;
                            display: block;
                            font-family: DINWebProMedium,Arial,sans-serif;
                            font-size: 13px;
                            line-height: 17px;
                            padding-top: 30px;
                            margin-bottom: 7px;
                        }
                        input {
                            background-color: #FFF;
                            border: 0px none;
                            box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
                            color: #000;
                            font-family: DINWebPro,Arial,sans-serif;
                            font-size: 14px;
                            height: 46px;
                            line-height: 46px;
                            position: relative;
                            text-indent: 12px;
                            width: 300px;
                        }
                        button {
                            @include darkbutton;
                            border: 0;
                        }
                        button:hover {
                            @include darkbuttonhover;
                        }
                        button:active {
                            @include darkbuttonclick;
                        }
                        div.errorMessage {
                            color: #A96C16;
                            font-family: DINWebPro,Arial,sans-serif;
                            font-size: 12px;
                            margin-top: 10px;
                        }
                        div.valid {
                            background: url('../images/sprites.png') no-repeat -149px -49px;
                            display: none;
                            height: 27px;
                            left: 318px;
                            position: absolute;
                            top: 71px;
                            width: 27px;
                        }
                    }
                    li:first-child {
                        label {
                            padding-top: 0;
                        }
                    }
                    li.divider-line {
                        border-top: 1px solid #C7C7C7;
                        border-bottom: 1px solid #fff;
                        margin: 30px 0;
                    }
                    li.cancelConfirmWrapper {
                        margin-bottom: 30px;
                    }
                    li.error {
                        input {
                            box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5), 0px 0px 0px 5px #BF883B inset;
                        }
                    }
                }
            }
        }
    }
}

#contact{
	#main{
		padding-top: 61px;
	}
}
