body#countryPage {
    #main{
		margin-top:8px;
	}
    div.controls {
        margin-right: 28px;
        margin-left: 33px;
        
        > h1 > span.title, 
        > span.title {
            font-family: Plantin, Arial, sans-serif;
            font-size: 29px;
            line-height: 1;
            //text-transform: uppercase;
            
            span.name {
                @include fontplantin;
                font-style: italic;
                text-transform: capitalize;
            }
        }
    }
    
    section#pdpInfo {
        margin-bottom: 0;
        margin-top: 0;
        padding-top: 42px;
		text-align:left;
    }
    
    div#mapWrapper {
        margin-bottom: 30px;
        margin-top: 32px;
    }
    
    div#countryCityList {
        @extend %grid;
        
        margin-left: 0;
        padding: 0 35px 0 5px;
        
		font {
			text-transform: capitalize;
		}
		
        div#countryCityListCol1 {
            @extend %grid__item;
            @extend %one-third;
            
            margin-bottom: $sectionBottomSpacing;
            
            div.seperator {
                @include header-bar(#767676, 17px, 1px, 12px);
            }
            
            p {
                @include fontplantin;
                font-size: 22px;
                font-style: italic;
                line-height: 26px;
            }
        }
        
        div#countryCityListCol2 {
            @extend %grid__item;
            @extend %two-thirds;
            
            margin-bottom: $sectionBottomSpacing;
            
            ul {
                li {
                    @include imageshadow;
                    
                    background: #ffffff;
                    margin-bottom: 30px;
                    padding: 30px 0 30px 30px;
                    position: relative;
             
                    h2, 
                    h3 {
                        font-family: DINWebProCondBold, Arial, sans-serif;
                        font-size: 18px;
                        line-height: 18px;
                        margin-bottom: 9px;
                        text-transform: uppercase;
                    }
                    
                    div.seperator {
                        @include header-bar(#b0b0b0, 17px, 1px, 12px);
                    }
                    
                    div.description {
                        font-family: DINWebPro, Arial, sans-serif;
                        font-size: 13px;
                        line-height: 19px;
                        width: 60%;
                    }
                    
                    a {
                        @include lightbutton;
                        
                        position: absolute;
                        right: 14px;
                        top: 38%;
                    }
                    a:hover {
                        @include lightbuttonhover;
                    }
                    a:active {
                        @include lightbuttonclick;
                    }
                }
            }
        }
    }
}