@media only screen and (min-width: 1px) and (max-width: 768px) {
    body#deal div#wrapper div#main{
        #pdpDealimage{
            margin:12px 0 0;
            width:100%;
            border-bottom:none;
            padding-bottom:0;

            div.imageWrapper{
                margin: 12px 10px 0;
                width:100%;
                display:block;
                margin:0;
                
                #availability-widget-holder {
                    float: none;
                    margin-bottom: 20px;
                }

                #dealContent {
                    display:block;
                    width:100%;
                    padding:15px 0 0;
                }
                #dealOverview {
                    display:none;
                }
                .dealInfo {
                    position:relative;
                    font-family:Plantin, Arial, serif;
                    color: #fff;
                    text-align:center;

                    .discountLabel {
                        padding: 3px 20px 10px;
                        
                        span.discountMsg {
                            color: #222;
                            font-size: 14px;
                            font-style: normal;
                            font-family: DINWebPro;
                        }
                        
                        .discountTriangle.leftPosition {
                            display: none;
                        }
                    }
                    .title{
                        margin: 0 0 5px;
                        color:#222;
                        font-size:25px;
                        
                        a {
                            color:#ccc;
                            font-family:DINWebPro;
                            font-size:12px;
                            text-decoration:underline;
                        }
                    }
                    
                    .bottomArrow{
                        display: none;
                    }
                }
                #dealContent{
                    padding:15px 0;
                    .IconWrap{
                        padding-left:15px;
                    }
                    #bookingInfo{
                        padding-right:15px;
                    }
                    ul{
                        .benefitDesc{
                            width:70%;
                            margin-top: 5px;
                        }
                        #dealRate{
                            float:none;
                            text-align:center;
                            a.checkAvailBtn{
                                display:none;
                            }
                            .from{
                                display:block;
                            }
                        }
                    }

                }
                h3{
                    font-style:italic;
                    font-family:Plantin;
                    font-size:16px;
                    text-align:center;
                }

                .room-info-heading {
                    font-family: DINWebProCondBold, Arial, sans-serif;
                    font-size: 22px;
                    font-style: normal;
                    margin-bottom: 10px;
                    text-transform: uppercase;
                    line-height: 22px;
                    text-align: left;
                }
            }
            
            .view-all-deals {
                margin-bottom: 20px;
                font-size: 14px;
                font-style: normal;
                font-family: DINWebPro;
            }

        }
        #Calendar {
            margin-bottom:20px;
            .calendar-holder {
                display:block;
            }
        }
    }
    body.dealPage{
        section#pdpRooms{
            padding:0;
        }
    }
}
