body#deal {

    .unavailableRoomsWrapper {
        width: 730px;
        float: left;
        margin-right: 0;
    }

    div#wrapper {
        div#main {
            #pdpTabs{
                padding-left:35px;
            }
            #pdpDealimage{
                margin:35px;
                padding-bottom: 30px;
                border-bottom: 1px solid #c7c7c7;
                width: 1025px;
                
                .view-all-deals {
                    text-decoration: underline;
                }
            }
            div.imageWrapper {
                overflow:visible;
                
                #availability-widget-holder {
                    float: right;
                    margin: 0 0 35px 0;
                }
                
                #dealOverview{
                    float: left;

                    h3{
                        font-size: 29px;
                        line-height: 42px;
                        margin: 0 auto;
                        font-family:Plantin;
                        line-height:29px;
                    }
                    p{
                        font-family:Plantin;
                        font-size:18px;
                        color:#ffffff;
                        margin-top:15px;
                        line-height:24px;
                    }
                    a{
                        font-size:12px;
                        color:#cccccc;
                        font-family:DINWebPro;
                        text-decoration:underline;
                    }
                    a:hover{
                        color:#FFFFFF;
                    }
                    .discountLabel{
                        .discountMsg{
                            font-family: DINWebPro;
                            font-size: 13px;
                            // padding-bottom: 7px;
                            display: block;
                        }
                    }
                }
                
                .doubleLine{
                    width:100%;
                    height:2px;
                    border-bottom:1px solid #c7c7c7;
                    border-top:1px solid #c7c7c7;
                    clear:both;
                    margin-bottom:20px;
                }
                #dealContent{
                    width:680px;
                    padding:25px 0 0;
                    overflow: auto;
                    float: left;
                    clear: left;

                    .benefitDesc{
                        margin-top:10px;
                        margin-bottom:20px;
                        float:left;
                        width:85%;
                        font-size:18px;
                        font-family:Plantin;
                        font-style:italic;
                        h5{
                             font-weight:bold;
                             font-style:normal;
                        }
                        h5.header{
                            font-weight:normal;
                        }
                        ul{
                           margin-left: 20px;
                           
                           li{
                                list-style-type: disc;
                           }
                        }
                    }
                    
                    .benefitDescNeedToKnow {
                        font-style:normal;
                        
                        ul {
                            margin: 0px;
                            
                            li {
                                list-style-type: none;
                            }
                        }
                    }
                    
                    .IconWrap{
                        float:left;
                        
                        .needtoknow {
                            background: url(/assets/images/sprites-ux-updates.png) no-repeat 0 -50px;
                        }
                        .needtoknow:before {
                            content: "";
                        }
                    }
                    #dealRate{
                        float:right;
                        font-size:18px;
                        line-height:18px;
                        font-family:Plantin;
                        margin-top:12px;
                        .from{
                            font-style:italic;
                            .fromValue{
                                color:#b87d2b;
                                font-family:DINWebPro, Arial, sans-serif;
                                font-style:normal;
                            }
                        }
                        a.checkAvailBtn{
                            @include lightbutton;
                            margin-top:10px;
                            float:right;
                        }
                        a.checkAvailBtn:hover {
                            @include lightbuttonhover;
                        }
                        a.checkAvailBtn:active {
                            @include lightbuttonclick;
                        }
                    }
                }
                .title {
                    a {
                        font-family:DINWebPro, Arial, sans-serif;
                        color:#555;
                        border-bottom: 1px solid;
                    }
                }
            }
        }
        
        section#pdpBook {
            box-shadow: none;
            margin-bottom:50px;
            > a.bookNow {
                @include lightbutton;
                float: right;
                margin: 30px 45px 8px 0;
                
            }
            > a.bookNow:hover {
                @include lightbuttonhover;
            }
            > a.bookNow:active {
                @include lightbuttonclick;
            }
            
            > p#pdpBookCalendarClear {
                float: left;
                margin-left: 45px;
            }
        }
        
        p.common-link {
            border-bottom: 1px solid #c3c3c3;
            float: right;
            font-family: DINWebPro, Arial, sans-serif;
            font-size: 12px;
            letter-spacing: normal;
            margin-top: -33px;
            margin-right: 45px;
            
            > a:link, > a:active, > a:hover {
                color: #000;
            }
        }
    }
    
    #availability-widget{
        #availability-widget-datePicker {
            left: -385px;
        }
    }
}

@media (min-width: 769px) and (max-width: 1264px) {
    body#deal {
        div#wrapper {
            div#main {
                div.view-all-deals {
                    padding-top: 15px;
                }
            }
        }
    }
}

@media (min-width: 1150px) and (max-width: 1264px) {
    body#deal {
        div#wrapper {
            div#main {
                #pdpDealimage{
                    width: 910px;
                    .imageWrapper {
                        #dealContent{
                            width:610px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1149px) {
    body#deal {
        div#wrapper {
            div#main {
                #pdpDealimage{
                    width: 784px;
                    .imageWrapper {
                        #dealContent{
                            width:530px;
                        }
                    }
                }
            }
        }
    }
}

body#deal.dealPage div#wrapper div#main #pdpDealimage div.imageWrapper #dealContent {
    width: 100%;
}

@media (min-width: 1265px) {
    body#deal.dealPage div#wrapper div#main #pdpDealimage div.imageWrapper #dealContent {
        width: 730px;
    }
}
