section#discoverusAtAGlance,
section#discoverusFindingInfinity {
    @extend %grid;
    
    /*margin-top: 65px;*/
    margin-bottom: $sectionBottomSpacing;
    margin-left: 0;
    position: relative;
    
    header {
        @extend %grid__item;
        @extend %one-whole;
        
        padding: 0 35px 0 35px;
        
        div.sectionHeadings {
            margin-bottom: 0;
            text-align: center;
            
            ul.breadcrumbs {
                height: 42px;
                position: static;
                width: 100%;
            }
            
            ul#contactPages {
                @include dhtabslegacy;
                
                position: static;
                height: 51px;
                
                li {
                    height: 50px;
                    float: left;
                }
                
                li:first-child {
                    margin-left: 0;
                }
            }
        }
    }
    
    div.imageWrapper {
        @extend %grid__item;
        @extend %one-whole;
    
        padding-left: 0;
        position: relative;
        width: 100%;
        
        .playerBtn{
            position:absolute;
            left:47%;
            top:35%;
            background: url('../images/sprites.png') -183px -40px ;
            width:82px;
            height:82px;
            z-index:6;
            pointer:cursor;
        }
        img {
            display: block;
            position: relative;
            width: 100%;
        }
        
        p.caption {
            @include fontplantin;
            font-size: 15px;
            margin: 21px 0 0 0;
            line-height: 21px;
            padding: 0 50px 70px 75px;
            text-align: center;
        }
    }
}

// THIS IS NOT SPECIFIC ENOUGH I DONT KNOW WHAT IT'S FOR, SO FOR NOW, IT'S GONE
// div.sectionHeading {
    // margin-bottom: 22px;
// }

// div.sectionHeadings {
    // border-bottom: 1px solid #fff;
// }


