@media only screen and (min-width: 1px) and (max-width: 768px) {
	section#discoverusFindingInfinity {
		margin-bottom: 25px;
	}
	section#discoverusAtAGlance header, section#discoverusFindingInfinity header {
		padding: 0;

		div.sectionHeadings {
			height: 74px;

			div.sectionHeading {
				margin-bottom: 15px;
				padding: 0;
			}

			ul#contactPages{
				background: #E7E7E3;
				position: absolute;
				border-top:1px solid #c7c7c7;
				height:auto;
				top: 41px;

						li{
							border-left:1px solid #c7c7c7;
							border-bottom:1px solid #c7c7c7;
							padding: 8px 11px;
							background:#e7e7e3;
							color:#999999;
							float:left;
							height:auto;
							margin:0;

							a {
								background:none;
								box-shadow:none;
								height:auto;
								font-size:13px;
								line-height:13px;
								text-shadow:none;
								margin:0;
								padding:0;

							}
							a:hover{
							background:none;
						    }

						}

				li:last-child {
				    border-right: 1px solid #c7c7c7;
				}

						li.selected{
						    background:#f7f7f4;
							border-top: none;
							border-bottom:none;
							border-right:none;
							padding-top: 9px;
							a{
								background:none;
								box-shadow:none;
								height:auto;
								font-size:13px;
								line-height:13px;
								text-shadow:none;
								border:none;
								margin:0;
								padding:0;

							}

						}
				li.selected:last-child {
				    border-right: 1px solid #c7c7c7;
				}
			}
			ul.breadcrumbs {
				height: auto;
				padding-bottom: 10px;
			}
		}
	}

	section#discoverusFindingInfinity header {
		div.sectionHeadings {
			height: 103px;

			ul#contactPages {
				top: 70px;
			}
		}
	}

	section#discoverusAtAGlance div.imageWrapper, section#discoverusFindingInfinity div.imageWrapper {
		padding: 10px;

		div#thumbWrapper {
			position: relative;

			.playerBtn {
				left: 50%;
				top: 50%;
				margin-left: -41px;
				margin-top: -41px;
			}
		}

		p.caption {
			padding: 0 10px;
			text-align: left;
		}
	}
}
