/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block; float: left;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {position: relative;  zoom: 1;}
.flex-viewport {padding-top: 65px; max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}


/* Control Nav */
.flex-control-nav { position: absolute; bottom: 30px; text-align: center; right: 60px; z-index: 10;}
.flex-control-nav li {margin: 0 9px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 10px; height: 10px; display: block; background: #F7F7F4; background: rgba(236,236,236,0.9); cursor: pointer; text-indent: -9999px; border-radius: 5px;}
.flex-control-paging li a:hover {background: #F7F7F4;}
.flex-control-paging li a.flex-active {background: #feeb09; cursor: default;}

.flex-prev,
.flex-next {
    background: url('../images/sprites.png') -268px -33px;
    display: block;
    height: 49px;
    margin-top: -25px;
    position: absolute;
    top: 50%;
    width: 25px;
}

.flex-prev {
    left: 0;
}

.flex-next {
    background-position: -293px -33px;
    right: 0;
}