#gallery-asset {
    #social-sidebar{
        bottom: 50%;
        margin-bottom: -69px;
        
        .linkedin-share, .gplus-share, .email-share {
            display: none;
        }
    }
    
    .pinterest-share {
        background-color:#cbcbc5 !important;
         
        &:hover {
            background-color:#B7B7B1 !important;
        }
    }
}

.pinterest-share {
    width: 48px;
    height: 48px;
    display: block;    
    background-image:url("/assets/images/pinterest-icon.png") !important;
    background-repeat:no-repeat !important;
    background-position:center center !important;
    cursor: pointer;
}

.gallery-single-asset {
    clear:both;
    min-height:510px;
    width:100%;
    
    .gallery-item {
        margin: 0 auto;
        margin-top:100px;
        margin-bottom: 20px;
        height: 510px;
        position: relative;
        
        img, iframe{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 100%;
            max-height: 100%;
        }
        
        iframe {
            width: 90%;
            height: 90%;
        }
    }
    .iframe-wrapper {
        width:100%;
        height: 56.25%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .caption-wrapper {
        position: relative;
    }
    .asset-caption {
        margin: 0 auto;
        margin-bottom: 15px;
        text-align: center;
        font-family: DINWebPro;
        color: #000;
        font-size: 12px;
        line-height: 28px;
        
        a {
            color: #000;
        }
    }
    .back-to-gallery {
        margin: 0 auto;
        margin-bottom: 20px;
        text-align: center;
        font-family: DINWebPro;
        color: #B7B7B1;
        font-size: 12px;
        line-height: 28px;
        
        a {
            color: #B7B7B1;
        }
    }
}

@media (min-width: 769px) {
    .gallery-single-asset {
        .gallery-item {
            margin-top:30px;
        }
        .iframe-wrapper {
            width:100%;
            height:100%;
        }
    }

}