#gallery { 
    #wrapper {
        min-height: 10px !important;
    }
    .gallery-wrapper {
        width: 100%;
    }
}
/**
 * Gallery grid, with media items
 */
.gallery-matrix {
   
    clear:both;
    margin-top:75px;
    
    div.grid__3 {
        width: 100%;
        float: left;
        margin-left: 0;
    }

    div.gutter-sizer { 
        width: 15px; 
    }

    .grid-item  {
        overflow:hidden;
        line-height:100%; 
        font-size:0;

        margin-bottom: 15px; 

        &.grid-item-queued {
            display:none; 
        }

        .media-item {

            position:relative; 
            cursor:pointer;
            text-align:center;

            // for loading and broken images
            min-width:100px;
            min-height:100px;
            &.is-loading {
                background-color:#dcdcdc;
                background-image:url("../images/loading.gif");
                background-repeat:no-repeat;
                background-position:center center;
            }
            
            &:hover {
                opacity: 0.5;
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                transition: all 0.5s ease;
            }

            img {
                max-width:100%;
            }
            
            iframe {
                width:100%;
                display: none;
            }
                
            .video-thumbnail {
                width:100%;
            }

            .overlay {
                width:100%;
                height:100%;
                position:absolute;
                top:0;
                left:0;
                text-align:center;

                span.video-icon-helper {
                    display:inline-block;
                    height:100%;
                    vertical-align:middle;
                }

                img.video-icon {
                    width:20%;
                    max-width:90px;
                    vertical-align:middle;
                }
            }

        }

    }

}

.btn-load-wrapper {
    text-align:center;
    width:100%;
    margin-bottom: 20px;
    margin-top: 5px;
}

.btn-load {
    display: inline-block;
    position: relative;
    width: 175px;
    height: 35px;
    text-transform: uppercase;
    font-family: DINWebProCondBold;
    font-size: 13px;
    color:#000;
    line-height: 38px;
    border: 1px solid #000;
    cursor: pointer;
    
    &.disabled {

        &:before {
            content: "";
            width: 32px;
            height: 32px;
            position: absolute;
            left: -40px;
            margin-top: 9px;
        }
    }    
}

.clearfix-v2 {
    &:before, &:after {
        content: '';
        display: table;
    }

    &:after {
        clear: both;
    }

    *zoom: 1;
}  

.lightbox-gallery-open {
    opacity: 1 !important;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    display: block !important;
}

.lightbox-gallery {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20011;
    background: #f7f7f4;
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0;
    overflow-y: hidden;
    
    div{
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .lightbox-header {
        padding: 14px;
        height: 5%;

        color: #fff;

        .lightbox-title {
            float: left;
        }
        
        
    }
    
    .lightbox-close {
        position: absolute;
        display: block;
        top: 20px;
        right: 10px;
        background: url(/assets/images/gallery/lb-gallery-close.png) no-repeat;
        width: 23px;
        height: 23px;
        cursor: pointer;
        z-index: 9999;
    }

    .lightbox-nav {
        display: none;
        position: absolute;
        top: 60px;
        right: 20px;
        z-index: 9999;

        .lightbox-left-nav, .lightbox-right-nav {
            display: block;
            margin-bottom: 25px;
            width: 15px;
            height: 30px;
            cursor: pointer;
        }

        .lightbox-left-nav {
            background: url(/assets/images/gallery/lb-gallery-prev.png) no-repeat;
        }

        .lightbox-right-nav {
            background: url(/assets/images/gallery/lb-gallery-next.png) no-repeat;
        }
    }

    .lightbox-content {
        width: 100%;
        height: 100%;
        margin: auto 0;
        padding: 65px 10px;
        padding-bottom: 0;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        position: relative;

        .lightbox-media-wrapper img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        img {
            height: 100%;
        }

        img.mobile-ie {
            width: 100% !important;
            height: auto !important;
            margin: 0 !important;
            position: static !important;
        }

        .lightbox-media-wrapper {
            height: 85%;
            display: block;
            position: relative;

            .video-js {
                width: 100%;
                height: 100%;
            }
        }

        .lightbox-media-wrapper iframe {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    .lightbox-caption-outer-wrapper {
        width: 100%;

        .lightbox-media-total {
            text-align: center;
            margin: 0;
            background: transparent;
            font-size: .9em;
            display: none;
        }

        .lightbox-caption-inner-wrapper {
            height: 100%;

            .lightbox-caption-arrow {
                display: none;
            }

            .lightbox-caption {
                margin-top: 15px;

                .lightbox-description {
                    display: none;
                    white-space: normal;
                    font-family: DINWebPro;
                    font-size: 12px;
                    line-height: 28px;
                    color: #000;
                    
                    a {
                        color: #000;
                    }
                }
            }
        }
        
        .lightbox-mobile-share-wrapper {
            display: none;
        }
    }
}

.gallery-lightbox-mobile-social-share {
    display: none;
}

.gallery-lightbox-social-sidebar {
    display: none;
    position: absolute;
    top: 50%;
    right: 0px;
    z-index: 9001;
    overflow: hidden;
    transform: translateY(-50%);
    
    .pinterest-share {
        background-color:#888 !important;
        
        &:hover {
            background-color: #B7B7B1 !important;
        }
    }
        
    a {
        display: block;
        border: 0;
        margin: 0 0 -2px -1px;
        background: #ffffff;
        color: #888;
        
        &.not-image {
            display: none;
        }
        
        &:hover {
            background: #f7f7f4;
            color: #B7B7B1;
        }
        
        i {
            font-size: 48px;
        }
    }
}
@media (max-width: 768px) {
    .gallery-matrix {
        margin-left:15px;        
        margin-right:15px;
        
        .video-overlay {
            display: none;
        }
    }
    
    .lightbox-gallery {
        .lightbox-caption-outer-wrapper {
            position: absolute;
            min-height: 85px;
            bottom: 0;
            right:0;
            left:0;
            padding-left: 10px;
            padding-right: 10px;
            background: #f7f7f4;
            
            &.hidden-mobile-media-info {
                display: none;
            }
            
            .lightbox-mobile-share-wrapper {
                display: block;
                text-align:center;
                width:100%;
                margin-bottom: 15px;
                margin-top: 5px;
                
                .lightbox-mobile-share {
                    display: inline-block;
                    position: relative;
                    width: 65px;
                    height: 22px;
                    text-transform: uppercase;
                    font-family: DINWebProCondBold;
                    font-size: 14px;
                    color:#000;
                    line-height: 22px;
                    border: 1px solid #000;
                    cursor: pointer;
                }
                
                &.is-hidden {
                    display: none;
                }
            }
        }
        
        .gallery-lightbox-mobile-social-share.is-open{
            display: block;
            width: 100%;
            height: 100%;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            z-index: 20021;
            background: #f7f7f4;
            position: absolute;
            top: 0;
            left: 0;
            
            .social-share-inner-wrapper {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
            }
            
            .mobile-share-title {
                width:100%;
                height: 18px;
                font-size: 12px;
                line-height: 18px;
                color: #000;
                font-family: DINWebPro;
                text-align: center;
                margin-bottom: 40px;
            }
            
            a {
                display: block;
                border-bottom: 1px solid #f7f7f4;
                color: #fff;
                text-transform: uppercase;
                width:100%;
                height: 50px;
                background: #888;
                font-family: DINWebProCondBold;
                font-size: 14px;
                line-height: 50px;
                text-align: center;
            }
            
            .mobile-social-share-close {                
                background: url(/assets/images/gallery/lb-gallery-close.png) no-repeat;
                width: 23px;
                height: 23px;
                margin: 0 auto;
                margin-top: 40px;
                cursor: pointer;
            }
        }
    }

}
@media (min-width: 769px) {
    .gallery-matrix {
        margin-top:1.38%;
        margin-left:1.38%;
        margin-right:1.38%;
        
        div.grid__3 {
            width: 32.41%;
        }
        
        div.gutter-sizer { 
            width: 1.38%; 
        }
        
        .grid-item  {
            margin-bottom: 1.38%; 
            
            .media-item {
                img.video-thumbnail.vimeo {
                    display: none;
                }
                
                img.video-thumbnail.video-ready {
                    display: none;
                }
                
                iframe.video-ready {
                    display: block;
                }
                
                .video-overlay {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    z-index:5;
                    top:0;
                    left:0;
                }
            }
        }
    }
    
    .ie9 {
        .grid-item  {
            .media-item {
                img.video-thumbnail.vimeo {
                    display: block;
                }
                
                iframe.video-ready {
                    display: none;
                }
            }
        }
    }
    
    .lightbox-gallery {

        .lightbox-header {
            margin: 15px;
            
            .lightbox-gallery-link {
                font: normal bold 16px Arial; 
                color: #FFF; 
                cursor: pointer; 
                line-spacing: 24px;
                text-transform: capitalize;
            }
        }
        
        .lightbox-close {
            top: 12px;
            right: 12px;
        }
        
        .lightbox-nav {
            display: block;
        }

        .lightbox-content {
            height: 100%;
            padding: 50px 105px;
            
            .lightbox-media-wrapper {
                height: 95%;
            }

            .lightbox-content-inner-wrapper {
                top: 50%;
                transform: translateY(-50%);

                .lightbox-video-wrapper {
                    position: static;
                    padding: 0;
                    height: 100%;
                }

                .lightbox-video-wrapper iframe {
                    position: static;
                }
            }

        }

        .lightbox-caption-outer-wrapper {
            position: relative;
            bottom: 0;
            left: 0;

            .lightbox-media-total {
                float: right;
                text-align: right;
                margin: 0 50px 0 0;
                width: 33%;
                font-size: 1.4em;
                position: absolute;
                bottom: 34px;
                right: 10px;
                display: none;

            }

            .lightbox-caption-inner-wrapper {
                width: 100%;
                height: 100px;
            }
        }
    }
    
    .gallery-lightbox-social-sidebar {
        display: block;
        
        &.is-hidden {
            display: none;
        }
    }
    

}