@media (min-width: 1150px) and (max-width: 1264px) {
    div#sidebarTop {
        //outline: 5px solid #f0f;
    }
    header#searchEngine {
            // min-width: 1000px;
        div#datePicker{
			right:30.2%;
				#datePickerArrow{
					left:285px;
			}
		}
	}
    div#wrapper, div.fixed-wrapper {
        width: 1150px;
    }
    div.wrapper {
        width: 1090px;
    }
    div#searchEngineForm {
                form#SearchForm {
                    width: 89.3%;
                }
    }
    
    footer#mainFooter {

        div#socialMedia {
	    padding-left: 0;
        }
    }
    div#main{
        section#pdpBook {
            div#bookCalendar {
                div.datepickerContainer>table>tbody>tr>td:first-child{
                    padding: 0 38px 0 42px;
                }
            }
        }
    }
}


@media (min-width: 1150px) {
    footer#mainFooter {
    
        ul#footerLinks {
            > li {
                width: 16.6%;
            }
        }
    }
}
