@media (max-width: 1149px) {
    div#sidebarTop {
        //outline: 5px solid #0ff;
    }

    div#wrapper, div#bottom-wrapper, div.fixed-wrapper {
        width: 1024px;
    }

    div#wrapper {
        header#searchEngine {
            // min-width: 1000px;
            #datePicker{
				right:24.2%;
				#datePickerArrow{
					left:285px;
				}
			}
            div#searchEngineForm {
                form#SearchForm {
                    width: 80.5%;
                    
                    > ul {
                        position:relative;
                        > li {
                           
                        }
                        > li#searchDateCheckIn {
                           width: 13.544%;
                        }
                        > li#searchDateCheckOut {
                           width: 13.544%;
                        }
                        
                        > li#searchGuestsWrapper {
                            width: 14.688%;
                            
                            > a#searchGuestsTotals {
                                background-color: #fff;
                            }
                        }
                        
                        > li#searchInputWrap {
                            width: 38.84%;
                        }
                        
                        > li#searchButtonWrap {
                            position:absolute;
                            right:0;
                            width: 12.4313%;
                        }
                    }
                }
            }
        }
    }
    
    div.wrapper {
        width: 1024px;
    }

    footer#mainFooter {
        li.header{
            font-size:16px;
        }
        p#footerQuote {
            display: none;
        }
        
        > ul#footerLinks {
            > li {
                width: 16.6%;
            }
        }

        p#copyright {
            width: 44%;
        }
        
        div#socialMedia {
            >ul li {
                margin-right: 9px;
            }
        }
    }
}

@media (min-width: 1024px) and (max-width: 1149px) {
    footer#mainFooter {

        ul#footerLinks {
            > li {
                width: 16.6%;
            }
        }
    }
}
