@media (min-width: 1px) and (max-width: 768px) {

    footer#mainFooter .wrapper {
        width: auto;
        padding: 0;
    }

    #lightboxRegisterAuto {
        h5 {
            line-height: 35px;
            padding: 20px 0;
        }
        .register-content {
            width: 100%;
            margin-left: 0;
            .inside-content .for-mobile{
                width: 250px;
                margin: 47px auto;
                position: relative;

                .checkbox, .email-address, .checkbox-label, .email-address, .join-button, .checkbox-check {
                    left: 0;
                    top: 0;
                }
                .checkbox-label {
                    left: 20px;
                }
                .checkbox-please {
                    left: -32px;
                    top: -50px;
                    -webkit-transform: scaleX(-1);
                    -moz-transform: scaleX(-1);
                    -ms-transform: scaleX(-1);
                    -o-transform: scaleX(-1);
                    transform: scaleX(-1);

                    p {
                        -webkit-transform: scaleX(-1);
                        -moz-transform: scaleX(-1);
                        -ms-transform: scaleX(-1);
                        -o-transform: scaleX(-1);
                        transform: scaleX(-1);
                    }
                }

                .email-address {
                    width: 100% !important;
                    top: 24px;
                }

                .join-button {
                    width: 100% !important;
                    padding: 0;
                    top: 68px;
                }
            }
        }
    }
    
    #secureCampaign{
        h5{
            margin:44px 10px;
        }
        div#lightboxPromoForm form .promoWrapper {
            input{
                width:100%;
            }
            a{
                float:none;
            }
        }
    }
    
    .dh-side-shopping-cart {
        padding-bottom: 0px;
        
        .count {
            background: #9a9a9a;
        }
    }

    section#oe_tabs {
        padding: 0;

        div ul li a {
            font-size: small;
        }
    }
    
    section.filter-fixed {
        top: 67px;
        z-index: 100;
        position: fixed !important;
        width: 100%;
    }

    #noResult {
        margin-left: 0px;
    }
}

@media (min-width: 440px) and (max-width: 552px) { 

    section#oe_tabs div ul li a {
	font-size: small;
	padding: 0 7px;
    }
}

@media (min-width: 321px) and (max-width: 439px) { 

    section#oe_tabs div ul li a {
	font-size: x-small;
	padding: 0 7px;
    }
}


@media (min-width: 1px) and (max-width: 320px) {

    section#oe_tabs div ul li a {
        font-size: x-small;
        padding: 0 3px;
    }
}
