@media (max-width: 768px) {
   
   
	body#home { 
	    padding-top: 67px;
        
        div.sectionHeadings div.sectionHeading, div.sectionHeadings div.sectionSubHeading {
			padding-left:0;
			border-bottom:none;
			font-size:25px;
		}
		
	
		div#main{
		    padding-top: 0;
            .sectionHeadingBar, .sectionSubHeading{
				display:none;
				
			}
		 
			header{
				padding-left:0;
				margin-top:20px;
				border-bottom: 1px solid #c7c7c7;
				position:relative;
				.mobile_arrows{
					position:absolute;
					right:0;
					top:15px;
					width:15px;
					height:10px;
					background-image:url('../images/sprites.png');
					background-position: -283px -132px;
					   
				}
		
			}			
			div#homepageBanner {
				margin-bottom:230px;
				text-align:center;
				padding: 0 10px;
				
				.homepageBannerCopyWrapper {
					.homepageBannerCopy{
						bottom:auto;
						top:106%;
						left:0;
						right:0;
						margin:0 auto;
						padding:0;
						width:80%;
							p.category{
							font-size: 16px;
							margin-bottom: 0;
							color: #666666;
							text-shadow: none;
							margin-top:0;
						}
						p.headline{
							font-size: 16px;
							text-shadow: none;
							color: #000000;
						}
						h2.description {
								font-size:25px;
								color:#000;
								text-shadow:none;
								line-height:30px;
						
						}
					}
				}
				ul.slides > li.flex-active-slide{
					p.category{
						font-size: 16px;
						margin-bottom: 0;
						color: #666666;
						text-shadow: none;
						margin-top:0;
					}
					p.headline{
						font-size: 16px;
						text-shadow: none;
						color: #000000;
					}
					h2.description{
							font-size:25px;
							color:#000;
							text-shadow:none;
							line-height:30px;
					
					}
				}
				.flex-control-nav{
					left:0;
					right:0;
					margin: 0 auto;
				}
			}
			
			section#newValueProposition {
			    margin:0 10px;
				border-top: 1px solid #c7c7c7;
				padding:0;
				
			    header 
				{
					div.sectionHeadings{
						padding-bottom: 20px;
                        margin-bottom: 0;
						span{
						    font-style:normal;
						}
						div.sectionSubHeading {
                            display: none;
						}
					}
				}
				
			    div#newValue{
				    padding:0 0 20px 0;
					border-bottom: 1px solid #c7c7c7;
					
					.column1{
						float:none;
						width:100%;
						.textWrapper{
							width:70%;
						}
						.newValueSpacer{
							margin-right:0;
							margin-bottom:8px;
							margin-top:10px;
						}
						.contentBox{
							width:100%;
							.sectionSubHeading{
								display:none;
							}   
							div.count{
								height:24px;
							}
						}
						.last{
							display:block;
							clear: both;
						}
					}
					.column2{
						float:none;
						width:100%;
						.newValueImg{
							display:none;
						}
						.emailInput  {
						    margin-top: 17px;
						    input#email{
							    max-width:239px;
								width:65%;
							}
						}
					}
				}
			}
			
			div#findingWeekends, section#spinTheGlobe, section#findingInfinity {
				display:none;
			}
			section#topDestinations{
			    margin-bottom:0;
				padding:0 10px;
				
				header 
				{
				    ul#topDestinationsList {
					    display:none;
					}
					div.sectionHeadings{
						padding-bottom: 20px;
                        margin-bottom: 0;
						.sectionSubHeading{
							display:none;
						}
					}
					div.sectionSubHeading {
                        display: none;
					}
				    
				}
				.selected{
					margin:0;
				}
				ul.topDestination{
					width:100%;
					border-bottom: 1px solid #c7c7c7;
					display:block;
					p.viewAll{
						text-align:center;
						margin-bottom:15px;
			    	}
				}
			    li.topDestinationFull{
				    display:none;
					padding:0;
					.topDestinationShort{
						display:none;
					}
				}
				.mobiletab {
					display:block;
					position:relative;
					.city{
						background:#222222;
						color:#fff;
						font-size:29px;
						font-family:DINWebProCondBold;
						text-transform:uppercase;
						text-align:center;
						padding: 10px 0 5px 0;
						letter-spacing:0.2px;
						clear:both;
					}
					.mobile_arrows_cities{
						display:block;
						position:absolute;
						right:15px;
						top:20px;
						width:15px;
						height:10px;
						background-image:url('../images/sprites.png');
						background-position:-304px -133px;
					}
					.summaryMobile{
						width:200px;
						margin:0 auto;
						padding: 10px 0 50px;
						div.count{
							background: url("../images/sprites.png") no-repeat  -441px -198px;
							color:#fff;
							font-size: 18px;
							height: 21px;
							width:45px;
							float: left;
							text-align:center;
							padding: 10px 2px;
						}
						div.countDescription {
							float: left;
							font-family: Plantin, Arial, sans-serif;
							font-size: 18px;
							margin-left: 4px;
							line-height: 43px;
							letter-spacing: normal;

						}
					}
					
				}
				div.summary{
					 display:none;
				}		
				
			}
			section#madeByOriginals{
			    padding:0 10px;
				margin-bottom:0;
				
				header 
				{
					div.sectionHeadings{
						padding-bottom: 20px;
                        margin-bottom: 0;
						.sectionSubHeading {
							margin-top:20px;
						}
					}
				}
				div#originalProperty{
				    display:none;
				}
				
				div#original {
				    display:none;
				}
				div#original_mobile{
				    border-bottom:1px solid #c7c7c7;
				    display:block;
				    width:100%;
					padding:0 0 30px 0;
					position:relative;
					
					div.column1{
						width:46%;
						padding-right:10px;
						float:left;
						
						.caption{
						    font-family:Plantin;
							color:#000000;
							font-size:17px;
							font-style:italic;
							line-height:24px;	
						}
						p{
							font-family: Plantin,Arial,serif;
							font-size: 15px;
							line-height: 22px;
							margin-bottom:35px;
						}
						.line{
							margin-top: 20px 0;
						}
						
						a { 
							@include darkbutton;
							position:absolute;
							bottom:30px;
							left:0;
							
						}
						a:hover {
							@include darkbuttonhover;
						}
						a:active {
							@include darkbuttonclick;
						}
					}
					div.column2{
					    width:50%;
						float:left;
						img{
						    width:100%;
							max-width:320px;
						}
					} 
				    
				}
			}
			section#newHotels{
				padding:0 10px;
				width:100% !important;
				
				header 
				{
					div.sectionHeadings{
						//padding-bottom: 20px;
                        //margin-bottom: 0;
						border-bottom: 1px solid #fff;
					}
					div.sectionSubHeading {
                        display: none;
				    }
				}

                                div.caption {
                                    height: auto;
                                }

				.propertyName{
					font-size:28px;
					line-height:28px;
				}
				img{
					width:100%;
					border-top:none;
				}
				.line{
					display:none;
				}
                p.viewAll{
					text-align:center;
					
				}
				div.from{
					margin-top:10px;
				}
			}
			
			
		}
	}
}