body#home {
    div#main {
        letter-spacing: -0.31em;
        margin-top: 10px;
    }
}

div#homepageBanner {
    @extend %grid__item;
    @extend %one-whole;
    
    margin-bottom: $sectionBottomSpacing;
    padding: 35px 35px 0 35px;
    position: relative;
    
    .homepageBannerCopyWrapper {
        color: #fff;
        height: 100%;
        position: relative;
        top: 0;
        width: 100%;
        
        &:hover {
            cursor: pointer;
        }
        
        div.homepageBannerCopyOuter {
            display: table;
            //height: 600px;
            position: relative;
            width: 100%;
			
			> img {
				
				position: relative;
				z-index: 0;
			}
        }
        
        .homepageBannerCopy {

            width: 460px;
			position: absolute;
			padding-bottom: 35px;
            padding-left: 35px;
			bottom:0;
			z-index: 1;
	
            
            p.category {
                font-family: DINWebProCondBold, Arial, sans-serif;
                color: #FFED00;
                font-size: 16px;
                text-transform: uppercase;
				letter-spacing: 0.5px;
                text-shadow: rgba(0,0,0,0.3) 2px 2px 1px;
				line-height: 16px;
            }
            
            p.headline,
            h2.description {
                text-shadow: rgba(0,0,0,0.3) 2px 2px 1px;
            }
            
            p.headline {
			    font-family: DINWebProCondBold, Arial, sans-serif;
				padding-bottom: 8px;
                text-transform: uppercase;
				font-size: 16px;
				line-height: 16px;
            }
            
            p.spacer {
                background: #fff;
                height: 5px;
                margin: 23px auto;
                width: 48px;
            }
            
            h2.description {
			    @include fontplantin;
                font-size: 35px;
                line-height:42px;
                margin-bottom:12px;
            }
            
            p.button {
			
				//position: absolute;
				//bottom: 156px;
				//bottom: 41.1%;
				//width: 100%;
				
                a {
                    @include darkbutton;
					font-size: 13px;
                    height: 24px;
					line-height: 26px;
                    padding: 0 10px;
                }
                a:hover {
                    @include darkbuttonhover;
                }
                a:active {
                    @include darkbuttonclick;
                }
            }
        }
    }
}


section#noLogin {
    header#homePage {
        position:relative;
        div.sectionHeadings {
            border-bottom: 1px solid #FFFFFF;
			div.sectionHeading {
			    padding-top:13px;
			}
            div.sectionSubHeading {
                border-bottom: 1px solid #c7c7c7;
                margin-bottom: 0px;
                padding-bottom: 19px;
            }
        }
        p {
           
            right: 0;
            position: absolute;
            margin-top:-40px;
            
            a {
                border-bottom: 1px solid #a3a3a3;
                color: #5e5e5e;
                padding-bottom: 2px;
            }
        }
    }
}

div.loginAsMember {
        height: 35px;
        width: 100%;
        color: #5e5e5e;
        font-family: DINWebPro;
}

body#home {
    section.homeNoLogin {
        padding-top: 10px;
        
        div.nonMemberSection {
            @include imageshadow;
        }
    }
}

section#newValueProposition{
    margin-bottom: 43px;
    padding: 0 35px 0 5px;
	
    header {
        @extend %grid__item;
        @extend %one-whole;
        
        div.sectionHeadings {
            border-bottom: 1px solid #fff;
            margin-bottom: 20px;
			margin-top:3px;
            span{
				font-style:italic;
			}
            div.sectionSubHeading {
                border-bottom: 1px solid #c7c7c7;
                margin-bottom: 0;
                padding-bottom: 16px;
            }
        }
	}
	div#newValue {
        @extend %grid__item;
        @extend %one-whole;
		overflow: hidden;
		font-size: 18px;
		
		div.caption {
			width: 100%;
			max-height: 127px;
			overflow: hidden;
		}
        
        div.column1,
        div.column2{
            float: left;
            @include fontplantin;
        }
        div.column1 {
			margin-bottom: 15px;
            width:55.8%;
			overflow: hidden;
			font-family: Plantin, Arial, sans-serif;
			div.contentBox{
				display:inline-block;
				float:left;
				div.count {
					background:url('../images/sprites.png') no-repeat -444px -150px;
					height: 24px;
					width:40px;
					float: left;
					text-align:center;
					padding: 10px 0 10px 3px;
				}
				div.dash{
					margin-left:-3px;
					height: 0px;
					width:17px;
					float: left;
					text-align:left;
					padding: 10px 0px;
					border-bottom: 1px solid #d2d2d2;
				}
				div.textWrapper{
					line-height: 22px;
					display:inline-block;
					padding-left:9px;
					padding-top:9px;
				}
				div.sectionSubHeading {
					font-style:italic;
				}
			}
			div.newValueSpacer{
				margin-top:20px;
				margin-bottom:18px;
				margin-right: 74px;
				div.spacerBar{
					width:auto;
					height:0px;
					border-top: 1px solid #c7c7c7;
					border-bottom: 1px solid #fff;
				}
				div.spacer{
					height:1px;
				}
			}
			.last{
			    display:none;
			}
        }
        
        div.column2 {
            position: relative;
            text-align: center;
            width:39.2%;
			overflow: hidden;
			div.newValueImg{
				width:112px;
				height:126px;
				margin-left: auto;
				margin-right: auto;
/*				background:url('../images/home/whydesign.png') no-repeat -3px -3px;;*/
			}
			div.register{
				padding-left:10px;
				line-height: 23px;
				margin-bottom:8px;
				span{
					font-style:italic;
				}
			}
			.emailInput {
				text-align: center;
				input#email {
					background-color: #ffffff;
					border: 0 none;
					box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.5);
					color:#666666;
					font-family: DINWebPro, Arial, sans-serif;
					font-size: 14px;
					height: 38px;
					position: relative;
					text-indent: 12px;
					margin-bottom: 10px;
					width: 239px;
					line-height: 22px;
				}

				input::-webkit-input-placeholder {
					font-family: DINWebPro, Arial, sans-serif;
					font-style: normal;
					font-size: 14px;
					color:#666666;
				}
				input::-moz-placeholder {
					font-family: DINWebPro, Arial, sans-serif;
					font-style: normal;
					font-size: 14px;
					color:#666666;
				}
				input:-ms-input-placeholder {
					font-family: DINWebPro, Arial, sans-serif;
					font-style: normal;
					font-size: 14px;
					color:#666666;
				}
				
				button#joinByEmail {
					@include darkbutton;
					border: none;
					height: 38px;
					line-height: 36px;
					width: 95px;
					padding: 0;
					cursor: pointer;
					letter-spacing:0.5px;
				}

				button#joinByEmail:hover {
					@include darkbuttonhover;
				}
				button#joinByEmail:active {
					@include darkbuttonclick;
				}
			}
			.login{
				p {
					font-size:12px;
					font-family: DINWebPro, Arial, sans-serif;
					height:19px;
					a {
						border-bottom: 1px solid #a96c16;
						color: #a96c16;
					}
				}
			}
        }
	}
}
section#topDestinations {
    margin-bottom: $sectionBottomSpacing;
    padding: 20px 35px 0 5px;
    
    header {
        @extend %grid__item;
        @extend %one-whole;
        
        div.sectionHeadings {
            margin-bottom: 20px;
            border-bottom: 1px solid #fff;
        }
        
        ul#topDestinationsList {
            @include dhtabslegacy;
            text-align:right;
        }
		ul#topDestinationsListMobile {
            display:none;
        }
    }
    
    ul.topDestination {
        display: none;
    }
    .mobiletab{
		display:none;
	}
    ul.topDestination.selected {
        display: block;
        margin-left: 20px;
        margin-right: -20px;
    }
    
    li.topDestinationFull {
        @extend %grid__item;
        @extend %desk--one-third;
        padding: 0px 15px 0px 15px;
        span.itemInfo {
            color: #a96c16;
            float: right;
            font-family: DINWebPro, Arial, sans-serif;
            font-size: 14px;
            font-style: normal;
			position: absolute;
			right: 15px;
			bottom: 13px;
        }
        
        span.from {
            color: #a96c16;
            font-family: DINWebPro, Arial, sans-serif;
            font-style: normal;
        }
        
        div.summary {
            padding-bottom: 12px;
            overflow: hidden;
            padding-left: 7px;
            
            div.count {
			background:url('../images/sprites.png') no-repeat -444px -150px;
                font-family: Plantin, Arial, sans-serif;
                font-size: 18px;
                height: 27px;
				width:40px;
                float: left;
				text-align:center;
				padding: 10px 2px;
            }
            
            div.countDescription {
                float: left;
                font-family: Plantin, Arial, sans-serif;
				font-size: 18px;
				margin-left: 4px;
				line-height: 43px;

            }
        }
        
        div.topDestinationImage {
            clear: left;
            position: relative;
            width: 100%;
            
            img {
                display: block;
                width: 100%;
                @include imageshadow;
            }
            
            div.special {
                @include tag(right);
            }
        }
        
        p.caption {
            background-color: #fff;
            padding: 15px 15px 13px 15px;
			position: relative;
			overflow: hidden;
			line-height: 1.2;
            
            span.captionTitle {
                display: block;
                font-family: DINWebProCondBold, Arial, sans-serif;
                font-size: 18px;
                margin-bottom: 5px;
                text-transform: uppercase;
                
                a {
                    color: #000;
                }
            }
            
            span.captionSubtitle {
                float: left;
                font-family: DINWebPro, Arial, sans-serif;
                font-size: 13px;
                // width: 60%;
            }
            
            span.captionDescription {
                @include fontplantin;
                font-size: 14px;
                font-style: italic;
            }
        }

        /*p.caption:hover {
            @include celldropshadow;
        }*/
    
        ol {
            background: #ffffff;
            //padding: 0 15px 0 12px;
            
            li {
                
                font-family: DINWebPro, Arial, sans-serif;
                font-size: 13px;
                height: 46px;
                line-height: 48px;
                overflow: hidden;
				
                > .item-cntr {
                    margin: 0 15px 0 15px;
                    border-top: 1px solid #BFBFBF;
					display: block;
					
					> span.item-title {
						
						display: inline-block;
						width: 70%;
					}
					
					 span.itemInfo {
						position: relative;
						bottom: 0;
						right: 0;
					 }
                }
                section:first-child {
                    //border: 0;
                }
            }
            /*li:hover {
                background-color: #ffffff;
                section {
                    border: 0;
                }
            }*/
            a{
               color:#000000;
            } 
            /*li:last-child {
                border: 0;
            }*/
        }
        
        > ul {
            @extend %grid;
            @extend %grid--full;
            
            li.topDestinationShort {
                @extend %grid__item;
                @extend %desk--one-half;
                
                margin-top: 13px;
                //width: 49.6%;
				overflow: hidden;
				
                span.captionTitle {
                    font-size: 15px;
                    margin-bottom: 0;
                }
                
                img {
                    @include imageshadow;
					display: block;
					width: 152px;
                }
				
				p.caption {
					
					//width: 122px;
					overflow: hidden;
				}
            }

            /*li.topDestinationShort:hover {
                @include celldropshadow;
            }*/
            
            > li:first-child {
                padding-right: 7px;
            }
            
            > li:last-child {
                padding-left: 7px;
            }
        }
    }
}

div#findingWeekends {
    padding: 0 35px 0 5px;
}

section#weekendGetaway,
section#findingInfinity {
    @include dhsection;
    @extend %one-third;
    
    padding: 0 0 0 35px;
    padding: 0 0 0 30px;
    @include fontplantin;
	.sectionHeading{
	    margin-bottom: 17px;
    }
    div.image {
        position: relative;
        //width: 100%;
        
        img {
            display: block;
            //width: 100%;
            @include imageshadow;
        }
        
        p.cta {            
            bottom: 20px;
            padding: 0;
            position: absolute;
            text-align: center;
            width: 100%;
            
            a {
                @include darkbutton;
            }
            a:hover {
                @include darkbuttonhover;
            }
            a:active {
                @include darkbuttonclick;
            }
        }
    }
    
    p {
        @include fontplantin;
        font-size: 15px;
        line-height: 22px;
        padding: 15px;
		
    }
}

section#findingInfinity {
    div.caption {
		font-family: DINWebProCondBold,Arial,sans-serif;
		font-size: 18px;
		line-height: 18px;
		text-transform: uppercase;
		background:#ffffff;
		padding:15px;
		
		div.wgaContent{
            margin-top:5px;

			p{
			    text-transform:none;
				padding:0;
                a.learnMore{
                    color:#A96C16;
                    font-size:12px;
                    text-decoration:none;
                    border-bottom: 1px solid #A96C16;
                    padding-bottom: 0px;
                }
			}

			div.location:last-of-type{
				padding:0 0 10px 0;
			}
        }
        div.location {
            color: #666;
        }
		
	}

    header {
        div.sectionHeadings {
            margin-bottom: 0;
            border-bottom: 0;
        }
    }
    .image{
        width:320px;
    }
}

//For A/B testing
section.findingInfinityABTesting {
    padding: 0 10px 0 35px !important;
    .image{
        width:auto !important;
    }
}
//..For A/B testing

section#weekendGetaway {
    @extend %two-thirds;
    
    padding: 0 35px 0 30px;
    padding: 0 0 0 30px;
    
    img {
        border-top: 0;
        display: block;
        padding-top: 0;
    }
    
    div.images {
        @include imageshadow;
        
        border-top: 1px solid #fff;
        display: table;
        // height: 306px;
        padding-top: 25px;
        width: 100%;
        
        div.col1 {
            display: table-cell;
            width: 152px;
            img{
                width:152px;
            }
        }
        
        div.col2 {
            display: table-cell;
            width: 518px;
            img{
                width:518px;
            }
        }
    }
    
    div.caption {
        background: #fff;
        clear: left;
        font-family: DINWebProCondBold, Arial, sans-serif;
        font-size: 18px;
        line-height: 18px;
        padding: 15px 15px 13px;
		//padding: 2.3%;
        position: relative;
        text-transform: uppercase;
        
        div.wgaContent{
            margin-top:5px;
			width:475px;
			p{
			    text-transform:none;
				padding:10px 0 0 0;
			}
        }
        span.location {
            color: #666;
        }
        
        div.from {
            //padding-right: 20px;
            //padding-top: 25px;
			padding-right: 3%;
			padding-top: 3.8%;
            position: absolute;
            right: 0;
            bottom: 45px;
        }
        
        a {
            color: #000;
        }
        
        a.bookNow {
            @include lightbutton;
            
            bottom: 0;
            position: absolute;
            right: 0;
        }

        a.bookNow:hover {
            background-image: -webkit-gradient(linear, left top, left bottom, from(#ffed1d), to(#ffed1d)); /* Chrome, Safari 4+ */
            background-image: -webkit-linear-gradient(top, #ffed1d, #ffed1d); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
            background-image:    -moz-linear-gradient(top, #ffed1d, #ffed1d); /* Firefox 3.6-15 */
            background-image:      -o-linear-gradient(top, #ffed1d, #ffed1d); /* Opera 11.10-12.00 */
            background-image:         linear-gradient(to bottom, #ffed1d, #ffed1d); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
        }
        
        a.bookNow:active {
            @include lightbuttonclick;
        }

        //For A/b Testing
        a.bookNowABTest {
            @include darkbutton;
            width: 154px;
            padding: 0;
            bottom: 0;
            position: absolute;
            right: 0;
            text-align: center;
        }
        a.bookNowABTest:hover {
            @include darkbuttonhover;
        }
        a.bookNowABTest:active {
            @include darkbuttonclick;
        }
        //.. For A/B Testing
    }

    header {
        div.sectionHeadings {
            margin-bottom: 0;
            border-bottom: 0;
        }
    }
}

section#madeByOriginals {
    margin-bottom: $sectionBottomSpacing;
    padding: 0 35px 0 5px;

    header {
        @extend %grid__item;
        @extend %one-whole;
        
        div.sectionHeadings {
            border-bottom: 1px solid #fff;
            margin-bottom: 25px;
            
            div.sectionSubHeading {
                border-bottom: 1px solid #c7c7c7;
                margin-bottom: 0;
                padding-bottom: 17px;
            }
        }
        
        p.viewAll {
            bottom: 20px;
            margin: 0;
            position: absolute;
            right: 0;
        }
    }
    div#original_mobile{
		display:none;
		@extend %grid__item;
        @extend %two-thirds;
		overflow: hidden;
		
		div.caption {
			width: 100%;
			max-height: 127px;
			overflow: hidden;
		}
	}
    div#original {
        @extend %grid__item;
        @extend %two-thirds;
		overflow: hidden;
		
		div.caption {
			width: 100%;
			max-height: 123px;
			overflow: hidden;
		}
        
        div.column1,
        div.column2,
        div.column3 {
            float: left;
            @include fontplantin;
            
            img {
                display: block;
                //width: 100%;
            }
        }
        
        div.column1 {
            font-size: 21px;
            font-style: italic;
            @include fontplantin;
            line-height: 24px;
            //width: 22.11%;
            width:148px;
			overflow: hidden;
            
            p {
				padding-bottom: 11px;
                margin: 20px 15px 4px 15px;
            }
            
            div.line {
                margin-left: 15px;
                margin-top: 0;
                margin-bottom: 25px;
            }
        }
        
        div.column2 {
            position: relative;
            text-align: center;
            //width: 47.6%;
            width:319px;
			overflow: hidden;
            
            p {            
                bottom: 20px;
                position: absolute;
                text-align: center;
                width: 100%;
                
                a {
                    @include darkbutton;
                }
                a:hover {
                    @include darkbuttonhover;
                }
                a:active {
                    @include darkbuttonclick;
                }
            }
        }
        
        div.column3 {
            //width: 29.9%;
            width:200px;
			overflow: hidden;
            
            p {
                font-size: 15px;
                @include fontplantin;
                line-height: 22px;
                padding: 10px 15px;
            }
            
            p.captionTitle {
                font-family: DINWebProCondBold, Arial, sans-serif;
                font-size: 18px;
                line-height: 18px;
                text-transform: uppercase;
                padding-top: 17px;
            }
            
            div.line {
                margin-left: 15px;
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }
    }
    
    div#originalProperty {
        @extend %grid__item;
        @extend %one-third;
        
        img {
            display: block;
            width: 320px;
            @include imageshadow;
        }
        
        div.caption {
            background-color: #fff;
            font-family: DINWebProCondBold, Arial, sans-serif;
            line-height: 18px;
            font-size: 18px;
            text-transform: uppercase;
            padding: 20px 15px 18px 15px;
			height: 93px;
			overflow: hidden;
            
            span.propertyName a {
                color: #000;
            }
            
            span.location {
                color: #666;
            }
            
            div.line {
				
				display: block;
                margin: 11px 0;
            }
            
        }
    }
}

section#spinTheGlobe {
    @include dhsection;
    @extend %two-thirds;
    
	width: 705px;
    overflow: hidden;
    padding-left: 5px;
    position: relative;
	
   .sectionHeading{
	    margin-bottom:17px;
	}
	
	> header {
		
		margin-left: 30px;
	}
    
    div#spinTheGlobeMapWrapper {
	
		padding-left: 30px;
        width: 670px;
        z-index: 1;
    }
    
    div#sc {
        position: absolute;
        top: 0;
        height: 684px;
        width: 1024px;
        overflow:hidden;
        
        > div {
            background: url('../images/home/spintheglobe_b.jpg') no-repeat 0 0;
            height: 684px;
            position: absolute;
            top: 0;
            width: 1024px;
        }
        
        div#sc1 {
            left: 0;
        }
        
        div#sc2 {
            left: 1024px;
        }
        
        z-index: 2;
    }

    header {
        div.sectionHeadings {
            margin-bottom: 0;
            border-bottom: 0;
        }
    }
}

section#newHotels {
    @include dhsection;
    @extend %one-third;
    
	width: 32.1%;
    padding-left:30px;
	overflow: hidden;
    .sectionHeading{
	    margin-bottom:17px;
	}
    //For A/B Testing
    .left-align {
        float: left;
    }
    .clear {
        clear: both;
    }
    //.. For A/B Testing
    img {
        display: block;
        width: 320px;
        @include imageshadow;
    }
    
    div.caption {
        background-color: #fff;
        font-family: DINWebProCondBold, Arial, sans-serif;
        line-height: 18px;
        font-size: 18px;
        text-transform: uppercase;
		padding: 20px 15px 18px 15px;
		overflow: hidden;
        
        span.propertyName a {
            color: #000;
        }
        
        span.location {
            color: #666;
        }
		
        div.line {
		
			margin: 11px 0;
        }
		
		p.viewAll {
			
			margin-top: 16px;
		}
		
		> img {
			
			height: 188px;
		}
        //For A/B Testing
        
        div.hotelContents {
            position: relative;
            
            span.propertyName a {
                color: #000;
            }
            span.location {
                color: #666;
            }
            div.line {
                margin: 11px 0;
            }
            p.viewAll {
                margin-top: 16px;
            }
            > img {
               height: 188px;
            }
        }
        div.fromForDesktop {
            padding-right: 7%;
            padding-top: 3.8%;
            position: absolute;
            right: 0;
            bottom: 45px;
        }
        div.book {
            color: #000;


            div.learnmorebtn{
                @include darkbutton;

                width: 154px;
                padding: 0;
                text-align: center;
                position: absolute;
                right: 0;
                bottom: 0;
            }
            div.learnmorebtn:hover {
                @include darkbuttonhover;
            }
            div.learnmorebtn:active {
                @include darkbuttonclick;
            }
        }
        //..For A/B Testing
    }

    
    header {
        div.sectionHeadings {
            margin-bottom: 0;
            border-bottom: 0;
        }
    }
}
//For A/B Testing
.newHotelABTest {
    width: 33.3% !important;
    div.caption {
        height: 126px !important;
        position: relative !important;
    }
}
//..For A/B Testing
span.sectionHeadingBar {
    @include header-bar(#000, 88px, 5px, 16px);
}