@media (min-width: 1150px) and (max-width: 1264px) {
    section#topDestinations li.topDestinationFull > ul li.topDestinationShort img{
                width:133px;
    }
    section#newValueProposition{
        div#newValue{
            font-size:16px;
            
            div.column1{
                div.textWrapper{
                    line-height:20px;
                }
            }
            div.column2{
                div.register{
                    line-height:20px;
                }
            }
        }
    }
    section#findingInfinity{
        div.image{
            width:282px;
        }
    }
    section#weekendGetaway{
        div.caption div.wgaContent{
			width:400px;
		}
		div.images{
            div.col1 {
               
                width: 135px;
                img{
                    width:135px;
                }
            }
            div.col2 {
               
                width: 459px;
                img{
                    width:459px;
                }
            }
        }    
    }
    body#home {
    /*
        div#datePicker {
            right: 64px;
        }
 */
        div#main {
            section#madeByOriginals {
                #originalProperty {
                   img{
                       width:282px;
                    }
                    div.caption{
                        padding: 15px;
                    }
                }
            
                div#original {
                    
                    .column2 {
                        width:284px;
                        img {
                            width:285px;
                        }
                    }
                    
                    div.column1 {
                        position: relative;
                        width: 309px;
                        img{
                            width:187px;
                        }
                        div.caption {
                            position: absolute;
                            width: 40.8%;
                            max-height: 100%;
                        }
                        
                        > a#mbImage1 {
                            float: right;
                            width: 187px;
                        }
                        
                        > a#mbImage2 {
                            float: right;
                            clear: both;
                            width: 187px;
                        }
                    }
                    
                    .column3 {
                        display: none;
                    }
                }
            }
            section#spinTheGlobe {
                width:629px;
                div#spinTheGlobeMapWrapper{
                    width:594px;
                    img{
                        width:594px;
                    }
                }
            }
            section#newHotels {
                width:313px;
                img{
                    width:100%;
                }
                div.caption{
                    height:100px;
                    padding:20px 15px 0 15px;
                    
                }
            }
            //For A/B Testing
            .newHotelABTest {
                width: auto !important;

                div.caption {
                    height: 166px !important;
                }
            }
            //.. For A/B testing
        }
    }
}