@media (min-width: 769px) and (max-width: 1149px) {
    body#home {
        div#datePicker {
            right: 195px;
        }
        
        div#main {
            section#newValueProposition{
                    div#newValue{
                        font-size:16px;
                        
                        div.column1{
                            width: 56.8%;
                            div.textWrapper{
                                line-height:20px;
                                width: 83%;
                            }
                            div.newValueSpacer{
                                margin-right: 73px;
                            }
                        }
                        div.column2{
                            width: 43.2%;
                            
                            div.register{
                                line-height:20px;
                            }
                        }
                    }
                }
            div#findingWeekends {
            
                section#findingInfinity,
                section#weekendGetaway {
                    p {
                        font-size: 12.5px;
                        line-height: 1.6;
                    }
                }
                section#findingInfinity{
                    .image{
                        width:240px;
                    }
                    div.caption{
                        div.wgaContent{
                            font-size:16px;
                            line-height:16px;
                            
                            p{
                                font-size: 14px;
                                line-height:20px;
                            }
                        }
                    }
                }
                section#weekendGetaway{
                     div.col2 {
                       
                        width: 509px;
                        img{
                            width:509px;
                        }
                    }
                }
            }
            
            section#madeByOriginals {
                div#originalProperty{
                    div.caption{
                        font-size:16px;
                        line-height:16px;
                        
                        div.from{
                            font-size:13px;
                            span.fromValue{
                                font-size:13px;
                            }
                        }
                    }
                }
                div#originalProperty img{
                     width:240px;
                }
                div#original {
                    .column2 {
                        width:240px;
                        img{
                            width:100%;
                        }
                    }
                  
                    div.column1 {
                        position: relative;
                        width: 265px;
                        
                        img{
                            width:100%;
                        }
                        div.caption {
                            position: absolute;
                            width: 40.8%;
                            max-height: 100%;
                        }
                        
                        > a#mbImage1 {
                            float: right;
                            width: 157px;
                        }
                        
                        > a#mbImage2 {
                            float: right;
                            clear: both;
                            width: 157px;
                        }
                    }
                    
                    .column3 {
                        display: none;
                    }
                }
            }
            div#findingWeekends{
                section#weekendGetaway {
                    div.wgaContent{
                        width:310px;
                        font-size:16px;
                        line-height:16px;
                        
                        p{
                            font-size: 14px;
                            line-height:20px;
                        }
                    }
                    div.caption {

                        height: 100%;
                        line-height: 1;
                    }

                    div.images {
                        div.col1 {
                            display: none;
                        }
                    
                        div.col2 {
                            width: 100%;
                        }
                    }
                }
            }
            section#topDestinations {
                > ul.topDestination {
                    > li {
                        width: 33.333%;
                    }
                }
                
                li.topDestinationFull {
                    width:33.33%;
                    
                    div.summary {
                        padding-left: 0;
                        
                        div.countDescription {
                            height: 30px;
                            margin-left: 0;
                        }
                        
                        div.count {
                            display: none;
                        }
                    }
                    
                    p.caption span.captionTitle {
                        padding-right: 25px;
                        font-size:16px;
                    }
                    p.caption span.captionSubtitle {
                        font-size:12px;
                    }
                    p.caption span.itemInfo {
                        font-size:13px;
                    }
                    p.caption span.captionDescription {
                        font-size:12px;
                        
                        span.from{
                            font-size:13px;
                        }
                    }
                    ol, > ul {
                        display: none;
                    }
                }
            }

            section#madeByOriginals {
                div#original {
                    div.column1 {
                        div.caption {
                            padding: 0;
                            
                            > p {
                                margin-top: 9px;
                                padding-bottom: 9px;
                                font-size: 17px;
                                line-height: 1.3;
                            }
                        }
                    }
                }
                
                div#originalProperty {
                    div.caption {
                        height: 71px;
                        
                        div.line {
                            display: none;
                        }
                    }
                }
            }
            
            section#newHotels {
                div.caption {
                    height: 28px;
                    font-size:16px;
                    line-height:16px;
                    
                    div.from{
                        font-size:13px;
                    }
                    div.line {
                        display: none;
                    }
                }
            }
            
            section#spinTheGlobe {
                width: 540px;
                #spinTheGlobeMapWrapper {
                    width:100%;
                    img{
                        width:100%;
                    }
                }
            }
            
            section#newHotels {
                padding-left:35px;
                padding-right:30px;
                width: 305px;
                img{
                    width:100%;
                }
                div.caption{
                    padding:20px 15px 55px 15px;
                }
            }
            
            //For A/B Testing
            .newHotelABTest {
                padding-right: 0 !important;
                div.caption { 
                    height: 166px;
                }
            }
            //.. For A/B testing

            p.caption {
                span.captionTitle {
                    font-size: 16px;
                }
                
                span.captionDescription,
                span.from,
                span.itemInfo {
                    font-size: 12.5px;
                }
                
                span.itemInfo {
                    top: 14px;
                }
            }

            div.caption {
                padding: 15px;
                font-size: 16px;
                line-height: 1;

                div.from {
                    margin-top: 6px;
                    font-size: 12.5px;
                    
                    .fromValue {
                        font-size: 12.5px;
                    }
                }
            }
            
            div#homepageBanner {
                ul.slides {
                    > li.flex-active-slide {
                        p.category {
                            
                            margin-bottom: 10px;
                        }
                        
                        p.headline {
                            font-size: 16px;
                        }
                        
                        h2.description {
                            font-size: 18px;
                        }
                        
                        p.spacer {
                            margin-top: 15px;
                            margin-bottom: 20px;
                        }
                
                        p.button {
                            bottom: 216px;
                        }
                    }
                }
                
                > ol.flex-control-nav {
                    bottom: 30px;
                }
                div.homepageBannerCopyWrapper{
                    div.homepageBannerCopy{
                        h2.description {
                            font-size:29px;
                            line-height:35px;
                        }
                    }
                }
            }
        }
    }
}