@media (max-width: 320px) {
  
	body#home {
	    
		div#main{	
			div#homepageBanner {
				margin-bottom:270px;
				text-align:center;
				 padding: 0 10px 0;
				
				.homepageBannerCopyWrapper {
					.homepageBannerCopy{
						bottom:auto;
						top:104%;
						left:0;
						right:0;
						margin:0 auto;
						padding:0;
						
					}
				}
				ul.slides > li.flex-active-slide {
					p.category{
						font-size: 16px;
						margin-bottom: 0;
						color: #666666;
						text-shadow: none;
						margin-top:0;
					}
					p.headline{
						font-size: 16px;
						text-shadow: none;
						color: #000000;
					}
					h2.description {
							font-size:25px;
							color:#000;
							text-shadow:none;
					
					}
				}
				.flex-control-nav{
					left:0;
					right:0;
					margin: 0 auto;
				}
			}
		}
	}
}