@media (max-width: 768px) {
    body#hotelsAndResorts {
        div#wrapper {
            div#main {
                section#pdpInfo {
                    
                }
            
                div.controls {
                    text-align: center;
                    margin: 5px 0px 0px 0px;
                }
                
                .hotel-resorts-nav {
                    padding: 0px 10px;
                    margin-top: 15px;
                    
                    .button-near-you {
                        @include lightbutton;
                        
                        font-size: 14px;
                        width: 65%;
                        display: inline-block;
                        vertical-align: top;
                        
                        height: 37px;
                        line-height: 39px;
                        
                        .icon-geolocator {
                            position: relative;
                            top: 1px;
                        }
                    }
                    
                    .button-view-map {
                        @include darkbutton;
                        
                        font-size: 14px;
                        width: 35%;
                        display: inline-block;
                        padding: 0px;
                        text-align: center;
                        
                        height: 37px;
                        line-height: 39px;
                        
                        .icon-map-icon {
                            position: relative;
                            top: 1px;
                        }
                    }
                }
                
                div.regions-and-countries {
                    display: none;
                }
                
                .regions-and-countries-mobile {
                    padding: 0px 10px 10px 10px;
                    margin-top: 20px;
                    
                    .region {
                        background: #FFFFFF;
                        margin-bottom: 10px;
                        
                        .region-heading {
                            background: #222222;
                            text-align: center;
                            text-transform: uppercase;
                            color: #FFFFFF;
                            font-size: 29px;
                            font-family: DINWebProCondBold;
                            height: 41px;
                            line-height: 41px;
                            padding-top: 3px;
                            position: relative;
                            
                            .icon-arrow-down-black {
                                color: #FFFFFF;
                                position: absolute;
                                right: 15px;
                                top: 20px;
                                font-size: 5px;
                            }
                        }
                        
                        .countries {
                            padding: 10px 0px;
                            display: none;
                            
                            .country {
                                display: block;
                                font-family: Plantin,Arial,serif;
                                font-style: italic;
                                color: #000000;
                                font-size: 22px;
                                line-height: 32px;
                                text-align: center;
                            }
                            
                            .country:active {
                                color: #a96c16;
                            }
                        }
                    }
                }
            }
        }
    }
    
    body#hotelsAndResorts.mobile-map-visible {
        div#wrapper {
            #close-map {
                display: block !important;
            }
            
            div#main {
                padding: 0px;
                margin: 0px;
                
                section#pdpInfo {
                    display: none !important;
                }
            
                div.controls {
                    display: none !important;
                }
                
                .hotel-resorts-nav {
                    display: none !important;
                }
                
                div#mapWrapper {
                    display: block;
                }
                
                .regions-and-countries-mobile {
                    display: none !important;
                }
            }
            
        }
    }
    
    body#city, 
    body#countryPage {
        #main {
            margin-top: 8px;
            
            section#pdpInfo {
                text-align: center !important;
                padding: 47px 10px 0px 10px !important;
                
                .breadcrumbs {
                    margin-left: 0px !important;
                    text-align: center;
                    padding-bottom: 4px;
                }
            }
            
            div.controls {
                margin: 0px;
                text-align: center;
                line-height: 20px;
                
                > h1 > span.title,
                > span.title {
                    font-size: 20px;
                    line-height: 30px;
                    
                    span.name {
                        display: block;
                        font-size: 29px;
                        line-height: 30px;
                    }
                }
                
                span#cityname {
                    display: block;
                    font-size: 29px;
                    line-height: 30px;
                }
            }
            
            div#mapWrapper {
                display: none;
            }
            
            div#countryCityList {
                padding: 14px 10px 0px 10px;
                
                div#countryCityListCol1 {
                    display: none;
                }
                
                div#countryCityListCol2 {
                    padding: 0px;
                    margin: 0px;
                    margin-bottom: 0px;
                    width: 100%;
                    
                    ul {
                        li {
                            margin-bottom: 20px;
                            padding: 14px 15px 45px 15px;
                            color: #222222;
                            
                            h3 {
                                font-size: 28px;
                                line-height: 28px;
                                margin-bottom: 8px;
                            }
                            
                            a {
                                position: absolute;
                                right: 0px;
                                bottom: 0px;
                                top: auto;
                            }
                            
                            div.description {
                                width: 100%;
                            }
                            
                            div.seperator {
                                margin-bottom: 9px;
                            }
                        }
                    }
                }
            }
        }
        
        #cityDescriptionWrap {
            display: none;
        }
    }
    
    body#city {
        #main {
            > div.spacer {
                display: none;
            }
            
            > div.spacerSingle {
                display: none;
            }
            
            #partHotels {
                padding-top: 0px;
                
                #hotelsNav {
                    padding: 0px;
                    margin-bottom: 0px !important;
                }
                
                #hotelsWrapper {
                    padding-top: 0px;
                }
            }
        }
    }
}
