body#hotelsAndResorts {
    div#wrapper {
        div#main {
            section#pdpInfo {
                padding: 0;
                margin-top: 0;
                margin-bottom: 45px;
            }
        
            div.controls {
                margin-right: 28px;
                margin-left: 30px;
				margin-top:27px;
                
                > h1 > span.title, 
                > span.title {
					@include fontplantin;
                    font-size: 29px;
                    line-height: 1;
                }
            }
        
            div#mapWrapper {
                margin-top: 28px;
            }
        
            div.regions-and-countries {
                padding: 30px 34px;
				overflow: hidden;
            }
            
            ul.bulletless {
                > li {
                    list-style-type: none;
                }
            }
            
            ul.regions {
                
                > li {
                    width: 31.2%;
                    float: left;
                    vertical-align: top;
                    
                    > div.region-cntr {
                        @include imageshadow;
                        
                        padding: 30px;
                        margin-bottom: 30px;
                        background-color: #ffffff;
                        
                        > div.header {
                            font-family: DINWebProCondBold, Arial, sans-serif;
                            font-size: 29px;
                            line-height: 1;
                            text-transform: uppercase;
                        }
                    
                        > div.bar {
                            width: 17px;
                            height: 1px;
                            margin: 14px 0;
                            display: block;
                            background-color: #c3c3c3;
                            overflow: hidden;
                        }
                        
                        ul.countries-cntr {
                            font-family: DINPro, Arial, sans-serif;
                            font-size: 16px;
                            line-height: 1.7;
                            text-transform: capitalize;
                            
                            > li {
                                > a:active, > a:visited, > a:link {
                                    color: #000;
                                }
                                
                                > a:hover {
                                    color: #a96c16;
                                }
                            }
                        }
                    }
                }
                
                > li.spacer {
                    overflow: hidden;
                    width: 3%;
                }
            }
            
            #mapWrapper {
                clear: both;
                height: 640px;
            }
        }
    }
}