#mobile-image-gallery {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #222222;
    z-index: 20019;
    
    .close {
        position: absolute;
        width: 14px;
        height: 15px;
        background: url('../images/sprites.png') no-repeat -268px -141px;
        right: 12px;
        top: 12px;
    }
    
    .bottom {
        position: fixed;
        bottom: 20px;
        left: 0px;
        width: 100%;
        color: #FFFFFF;
        font-family: Plantin,Arial,serif;
        font-size: 12px;
        font-style: italic;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 1px 1px #222222;
    }
    
    .images {
        position: absolute;
        left: 10px;
        top: 10px;
        overflow: hidden;
        
        .image-holder {
            position: absolute;
            left: 0px;
            top: 0px;
            
            .image {
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center center;
                float: left;
            }
        }
        
        .button-left {
            position: absolute;
            width: 22px;
            height: 34px;
            left: 12px;
            background: url('../images/sprites.png') no-repeat -218px -308px;
        }
        
        .button-right {
            position: absolute;
            width: 22px;
            height: 34px;
            right: 12px;
            background: url('../images/sprites.png') no-repeat -256px -308px;
        }
    }
}