@media (max-width: 768px) {
    #close-map {
        display: none !important;
        position: fixed;
        right: 0px;
        top: 0px;
        z-index: 21006;
        
        .shadow {
            background: #000000;
            opacity: 0.5;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
            filter: alpha(opacity=50);  /* IE 5-7 */
            width: 40px;
            height: 40px;
        }
        
        .cross {
            background: url("../images/sprites.png") no-repeat scroll -268px -141px rgba(0, 0, 0, 0);
            height: 15px;
            position: absolute;
            right: 12px;
            top: 12px;
            width: 14px;
        }
    }
    
    div#mapWrapper,  {
        display: none;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: auto !important;
        z-index: 21005;
        margin: 0px !important;
        padding: 0px !important;
        background: #FFFFFF;
        
        .sidebarHelper {
            display: none;
        }
        
        .infobox {
            width: 300px !important;
            -webkit-box-shadow: none !important;
            -moz-box-shadow: none !important;
            box-shadow: none !important;
            height: 110px;
            margin-left: -229px !important;
            margin-bottom: 42px !important;
            
            > a {
                width: 254px !important;
            }
            
            > img {
                
            }
            
            .mapHotels {
                height: 110px;
                
                img {
                    width: 110px;
                    height: 110px;
                }
                
                .hotelInfo {
                    max-width: 144px;
                    overflow: hidden;
                    
                    .hotelName {
                        font-size: 16px;
                        line-height: 16px !important;
                        
                        .location {
                            font-size: 16px;
                            line-height: 16px !important;
                        }
                    }
                    
                    .price {
                        span {
                            font-family: DINWebProMedium;
                        }
                    }
                }
                
                .downArrow {
                    display: none;
                }
            }
        }
    }
    
   .mobile-map-visible {
        #main {
            margin: 0px !important;
        }
        
        //div#wrapper {
            #close-map {
                display: block !important;
            }
            
            div#main {
                padding: 0px;
                margin: 0px;
                
                section#pdpInfo {
                    display: none;
                }
            
                #partHotels {
                    display: none;
                }

                div#mapWrapper {
                    display: block !important;
                    visibility: visible !important;
                    height: auto !important;
                }
            }
            
            footer#mainFooter {
                display: none;
            }
            
        // }
        
        #mapWrapper {
            &.hidden {
                div {
                    visibility: visible;
                }
            }
        }
    }
}