$sectionBottomSpacing: 70px;
$color-green: #B1D398;
$color-red: #F29A79;
$color-yellow: #FFF59B;
$color-blue: #C0DFDA;
$color-light-grey: #B7B7B1;

html, body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin cal-cell-hover {
    background: linear-gradient(to bottom, #484848 0%, #484848 59%, #2e2e2e 60%, #2e2e2e 100%);
    background: -webkit-linear-gradient(93deg, #000000 45%,#262626 20%);
    background: -webkit-gradient(linear, top, bottom, color-stop(0.5, #000000), color-stop(1, #262626));
}


@media only screen and (min-width: 769px) {
    #header-container {
        box-sizing: border-box;
        padding-bottom: 60px;
        z-index: 200;
        position: relative;
        
        .wrapper {
            height: auto;
            background: #FFFFFF;
        }
    }
    
    #title {
        float: left;
        margin: 33.6px 0px 12.8px 16px;
            
        a {
            display: block;
            border: 0;
            font-size: 36.8px;
            color: $color-black;
        }
    }

    body#bookingFlow {
        div#title {
            margin-top: 34px;
        }
    }

    nav#topnav {
        color: $color-grey;
        font-family: DINWebProMedium, sans-serif;
        font-size: 12.8px;
        float: right;
        padding-right: 16px;
        
        ul {
            margin: 16px 0 0;
        }
        
        li {
            display: inline-block;
            margin-right: 16px;
            
            > a:hover {
                color: $color-black;
            }
        }
        
        li:last-child {
            margin-right: 0;
        }
        
        a {
            color: $color-grey;
            text-decoration: none;
            border: 0;
        }
            
        .currencySwitchButton {
            a {
                cursor: pointer;
                    
                i {
                    font-size: 4px;
                    position: relative;
                    top: -1.6px;
                }
            }
            
            > a:hover {
                color: $color-black;
            }
        }
        
        .currencySwitchList {
            display: none;
            position: absolute;
            top: 40px;
            width: 230px;
            background: $color-white;
            box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
            z-index: 9900;
            
            ul {
                max-height: 400px;
                overflow: auto;
                margin: 0;
                padding: 0;

                li {
                    display: block;
                    margin: 0;
                    
                    a {
                        display: block;
                        padding: 7.2px 7.2px 4.8px;
                        border-bottom: 1px solid $color-light-grey;
                        cursor: pointer;
                        
                        span {
                            font-weight: bold;
                        }
                    }
                   
                    a:hover {
                        background: #FFED00;
                        color: $color-black;
                    }
                }
                
                li:last-child {
                    a {
                        border-bottom: 0;                    
                    }
                }
            }
            
            .currencySwitchArrow {
                background: transparent url("/assets/images/dh-light/sprites.png") no-repeat scroll -272px -8px;
                top: -11px;
                height: 11px;
                left: 57px;
                position: absolute;
                width: 18px;
            }
        }
    }

    nav#mainnav {
        clear: right;
        float: right;
        margin-top: 16px;
        padding-right: 16px;
        
        li {
            display: inline-block;
            margin-right: 17px;
            margin-top: 1px;
            
            a {
                border-bottom: 1px solid $color-white;
                color: $color-black;
                text-transform: uppercase;
                font-family: DINWebProCondBold, sans-serif;
                font-size: 19.2px;
                padding-bottom: 3px;
            }
            
            a:hover {
                border-bottom: 1px solid $color-grey;
            }
        }
        
        li:last-child {
            margin-right: 0;
        }
    }

    #search-bar {
        background: #ebebe6;
        position: absolute;
        width: 100%;
        z-index: 9000;
        -webkit-transition: background 420ms ease-in-out;
        -moz-transition: background 420ms ease-in-out;
        -ms-transition: background 420ms ease-in-out;
        -o-transition: background 420ms ease-in-out;
        transition: background 420ms ease-in-out;
        left: 0px;
        
        a {
            border: none;
        }
        
        .calendar-icon {
            width: 19px;
            height: 17px;
            background: url('../images/dh-light/sprites.png') no-repeat -529px -49px;
            display: inline-block;
            position: relative;
            left: -2px;
            top: 3px;
        }
        
        .wrapper {
            max-width: 1090px;
            margin: 0 auto;
            padding: 0px 16px;
            box-sizing: border-box;
        }
        
        button {
            background: #ffed00 none repeat scroll 0 0;
            border: 0 none;
            color: #000;
            cursor: pointer;
            font-family: DINWebProCondBold,sans-serif;
            font-size: 19.2px;
            line-height: 16px;
            padding: 20.8px 48px;
            text-transform: uppercase;
            vertical-align: bottom;
        }
        
        #search-form {
            float: left;
            //width: 25%;
            position: relative;
            
            i {
                position: relative;
                top: 4px;
                color: $color-grey;
                -webkit-transition: all 280ms ease-in-out;
                -moz-transition: all 280ms ease-in-out;
                -ms-transition: all 280ms ease-in-out;
                -o-transition: all 280ms ease-in-out;
                transition: all 280ms ease-in-out;
                font-size: 22px;
            }
            
            #search-input {
                background: none;
                border: 0;
                border-left: 1px solid $color-grey;
                font-family: DINWebPro,sans-serif;
                font-size: 14.4px;
                color: $color-black;
                padding: 12.8px 11.2px 6.4px;
                margin: 11.2px 8px;
                width: 70%;
                outline: none;
            }
        }
        
        #search-form.error {
            #search-input {
                color: $color-error;
            }
            
            #search-input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
                color: $color-error;
            }
            
            #search-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
               color: $color-error;
               opacity:  1;
            }
            
            #search-input::-moz-placeholder { /* Mozilla Firefox 19+ */
               color: $color-error;
               opacity:  1;
            }
            
            #search-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
               color: $color-error;
            }
        }
        
        #search-params {
            float: right;
            position: relative;
            
            > span {
                display: inline-block;
                border-left: 1px solid $color-grey;
                margin: 9.6px 0px;
                padding: 9.6px 16px;
                color: $color-black;
                font-family: DINWebPro,sans-serif;
                font-size: 14.4px;
                
                i {
                    margin: 0 4.8px 0 0;
                    cursor: pointer;
                }
                
                i.icon-arrow-small-down {
                    font-size: 5px;
                    position: relative;
                    top: -1.6px;
                    margin: 0 0 0 4.8px;
                }
                
                span.label {
                    width: 82px;
                    display: inline-block;
                    cursor: pointer;
                }
            }
            
            span#choose-guests {
                width: 179px;
                box-sizing: border-box;
                padding: 1.25rem 1rem 0.75rem;
           
                br {
                    display: none;
                }
            
                span {
                    cursor: pointer;
                }
            }

            button#search-start:hover {
                background: #fff669;
            }
        }
    }
    
    #search-bar.search-bar-fixed {
        position: fixed;
        top: 0px;
        z-index: 9000;
        background: rgba(235,235,230,1);
    }
    
    div#search-bar-calendar {
        position: absolute;
        right: 230px;
        top: 70px;
        
        .calendar-tail {
            position: absolute;
            width: 20px;
            height: 15px;
            left: 283px;
            top: -15px;
            background: url('/assets/images/dh-light/calendar-tail.png') no-repeat left top;
            display: none;
        }
        
        div.dividerCal{
            height: 165px;
            left: 294px;
            position: absolute;
            top: 70px;
            width: 1px;
            background:#c3c3c3;
            display:none;
        }

        div.datePickerClose {
            background: url('../images/dh-light/calendar-close.png') no-repeat top right;
            display: none;
            width: 15px;
            height: 15px;
            position: absolute;
            right: 15px;
            top: 15px;
            cursor: pointer;
        }

        div.datePickerArrow {
            background: url('../images/sprites.png') no-repeat -460px 0px;
            display: none;
            height: 11px;
            left: 283px;
            position: absolute;
            top: -11px;
            width: 22px;
        }
        
        div.datePickerLegend {
            display: none;
            position: absolute;
            bottom: 10px;
            left: 40px;
            font-family: DINWebPro,Arial,sans-serif;
            color: #555;
            
            span {
                display: inline-block;
                height: 12px;
                width: 12px;
                margin: 0 4px 0 10px;
            }
            
            span:first-child {
                margin-left: 0;
            }
            
            .dp-legend-green {
                background: $color-green;
            }
            
            .dp-legend-red {
                background: $color-red;
            }
            
            .dp-legend-yellow {
                background: $color-yellow;
            }
            
            .dp-legend-blue {
                background: $color-blue;
            }
        }

        div.datePickerClearAll {
            bottom: 11px;
            display: none;
            font-family: DINWebPro, Arial, sans-serif;
            font-size: 12px;
            padding-left: 14px;
            position: absolute;
            right: 39px;

            a {
                border-bottom: 1px solid #c3c3c3;
                color: #000;
            }

            span.clearIcon {
                background: url('../images/sprites.png') no-repeat -179px -13px;
                display: block;
                height: 6px;
                left: 0;
                position: absolute;
                top: 6px;
                width: 6px;
            }
        }

        a.datePickerCycleMonth {
            display: none;
            height: 38px;
            position: absolute;
            top: 133px;
            width: 21px;

            span {
                display: block;
                height: 14px;
                position: absolute;
                top: 13px;
                width: 8px;
            }
        }

        a.datePickerPrevMonth {
            left: 10px;

            span {
                background: url('../images/sprites-ux-updates.png') no-repeat -137px -8px;
                left: 7px;
            }
        }

        a.datePickerNextMonth {
            right: 10px;

            span {
                background: url('../images/sprites-ux-updates.png') no-repeat -112px -8px;
                right: 7px;
            }
        }

        div.datepicker {
            background: #FFFFFF;
            box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.3);
            height: 277px;
            width: 591px;
        }

        div.datepickerContainer > table > tbody > tr > td {
            padding: 0 0 52px 38px;

        }

        div.datepickerContainer > table > tbody > tr > td:first-child {
            //border-right: 1px solid #c3c3c3;
            padding: 0 38px 52px 39px;
        }

        table.datepickerViewDays {
            width: 216px;

            tr.calHead {
                th {
                    font-size: 14px;
                }

                th.datepickerMonth {
                    color: #040404;
                    font-family: plantin;
                    text-align: center;
                    padding-bottom: 5px;
                    padding-top: 19px;

                    span.datepickerMonthYear {
                        color: #999 ;
                    }
                }
            }

            tr.datepickerDoW {
                th {
                    color: #666;
                    font-family: plantin;
                    font-size: 11px;
                    line-height: 31px;
                    text-align: center;
                    text-transform: uppercase;
                }
            }

            td {
                background: #e0e0e0;
                border: 1px solid #f5f5f0;
                height: 26px;
                text-align: center;

                a {
                    color: #333;
                    display: block;
                    font-size: 12px;
                    font-family: DINWebPro, Arial, sans-serif;
                    height: 26px;
                    line-height: 28px;
                    width: 30px;
                }
            }
            
            td:hover {
                background: #333;
                //@include cal-cell-hover;
                a {
                    color: #FFFFFF;
                }
            }
            
            td.date-available {
                background: $color-green;
            }
            
            td.date-available:hover {
                @include cal-cell-hover;
            }
            
            td.date-booked {
                background: $color-red;
            }
            
            td.date-booked:hover {
                @include cal-cell-hover;
            }
            
            td.date-noarrival {
                background: $color-yellow;
            }
            
            td.date-noarrival:hover {
                @include cal-cell-hover;
            }
            
            td.date-conditions {
                background: $color-blue;
            }
            
            td.date-conditions:hover {
                @include cal-cell-hover;
            }

            td.datepickerNotInMonth,
            td.datepickerNotInMonth.datepickerSelected,
            td.datepickerDisabled {
                background: #f7f7f6 !important;

                a {
                    color: #f7f7f6;
                    cursor: default;
                }
            }
            
            td.datepickerDisabled {
                a {
                    color: #b3b3b3;
                }
            }
            
            td.datepickerNotInMonth {
                a {
                    color: #f7f7f6;
                }
            }

            td.datepickerSelectedDisabled {
                background: #333333 !important;

                a {
                    color: #fff;
                }
            }
            
            td.datepickerSelected {
                background: #b5b5b5;

                a {
                    color: #6c6c6c;
                }
            }
            
            td.date-checkin,
            td.date-checkout {
                background: #333333;

                a {
                    color: #fff;
                }
            }
            
            tbody.datepickerMonths,
            tbody.datepickerYears {
                display: none;
            }
        }
    }
    
    #choose-guests {
        position: relative;
    }

    ul#guestsPicker {
        background: #fff;
        border: 1px solid #c3c3c3;
        display: none;
        left: -1px;
        position: absolute;
        top: 48px;
        width: 169px;

        li[id^='ageForChild'] {
            border-top: 2px solid #C3C3C3;
        }

        li {
            color: #000;
            font-family: DINWebPro, Arial, sans-serif;
            font-size: 12px;
            height: 46px;
            line-height: 50px;
            padding-left: 10px;
            position: relative;

            span.label_child {
                line-height: 40px;
                height: 25px;
                display: block;
            }
            span.label_child_hint {
                line-height: 25px;
                height: 10px;
                float: left;
                font-style: italic;
                font-size: x-small;
            }

            div.spinner {
                border-left: 1px solid #e6e6e6;
                box-shadow: -1px 0 0px 0px #f2f2f2;
                font-size: 13px;
                height: 46px;
                padding-left: 17px;
                position: absolute;
                right: 0;
                top: 0;
                width: 59px;
                box-sizing: border-box;

                span.spinnerValue {
                }

                a.spinnerIncrease,
                a.spinnerDecrease {
                    display: block;
                    height: 23px;
                    overflow: hidden;
                    position: absolute;
                    text-indent: 100px;
                    right: 0;
                    top: 0;
                    width: 33px;
                }

                a.spinnerIncrease {
                    background: url('../images/sprites.png') no-repeat -107px -19px;
                }

                a.spinnerDecrease {
                    background: url('../images/sprites.png') no-repeat -140px -19px;
                    top: 23px;
                }
            }
        }

        li:first-child {
            border-bottom: 1px solid #c3c3c3;
        }

    }
    
    #searchEngineAutocomplete {
        display: none;
        position: absolute;
        top: 58px;
        left: 34px;
        width: 300px;
        border: 1px solid #C3C3C3;
        -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
        -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
        box-shadow: 0 1px 4px rgba(0,0,0,0.3);
        
        a {
            color: #000000;
        }
        
        li {
            background: #fff;
            display: block;
            font-family: DINWebPro, Arial, sans-serif;
            font-size: 14px;
            height: 46px;
            line-height: 46px;
            position: relative;

            ul {
                display: none;
                position: absolute;
                top: 1px;
                left: 290px;
                -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
                -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
                box-shadow: 0 1px 4px rgba(0,0,0,0.3);
                width: 300px;
                max-height: 280px;
                overflow-y: auto;

                li {
                    overflow: hidden;
                    position: relative;
                    padding: 0 10px;
                }
                
                li:hover {
                    background: #ebebe6;
                }
            }

            span {
                color: #000000;
            }
            
            > div {
                padding: 0 20px 0 40px;
                z-index: 200;
                position: relative;
                border-top: 1px solid #d5d3d1;
                
                .icon {
                    position: absolute;
                    left: 16px;
                    top: 13px;
                    font-size: 18px;
                    color: #95928b;
                }
            }
        }

        li.auto-suggest-list > div {
            border: none;
        }
        
        li:hover {
            cursor: pointer;

            ul {
                display: block;
            }
            
            div {
                background: #ebebe6;
            }
        }
        
        li.auto-suggest-list:hover {
            div {
                background: transparent;
            }
            
            div:hover {
                background: #ebebe6;
            }
            
            div.selected {
                background: $color-auto-sugg-hover;
            }
        }
        
        > li {
            height: 47px;
            
            div.selected {
                background: $color-auto-sugg-hover;
            }
        }
        
        > li.auto-suggest-list {
            background-color: #fff;
            height: auto;
            overflow-y: auto;
        }
        
        .shadow-fix {
            position: absolute;
            display: none;
            width: 10px;
            height: 47px;
            right: 0px;
            top: 0px;
            background: #FFFFFF;
        }
    }
}

@media (min-width: 769px) and (max-width: 1149px) {
    #search-bar {
        .wrapper {
            max-width: 1024px;
        }
        #search-params {
            span#choose-guests {
                width: 117px;
                padding: 0.3rem 1rem;
                position: relative;
                top: 4px;
                margin-top: 0.5rem;
                
                br {
                    display: inline;
                }
            }
        }
    }
    
    #choose-guests {
        position: relative;
    }
}

@media (max-width: 1024px) {
    #header-container {
        padding-top: 90px;
        
        > header {
            position: absolute;
            left: 0px;
            top: 0px;
            height: 90px;
            width: 100%;
        }
    }
}

#social-sidebar {
    display: block;
    position: fixed;
    bottom: 80px;
    right: 0px;
    z-index: 9001;
    overflow: hidden;
}

#social-sidebar a {
    display: block;
    border: 0;
    margin: 0 0 -2px -1px;
    background: $color-white;
    color: $color-icon-grey;
}

#social-sidebar a:hover {
    background: $color-off-white;
    color: $color-light-grey;
}

#social-sidebar a i {
    font-size: 48px;
}

@media (max-width: 768px) {
    #social-sidebar {
        display: none;
    }
}
