@media only screen and (min-width: 769px) {
    #sidebar {
        display: none !important;
    }
    
    #wrapper, .fixed-wrapper {
        background: #f7f7f4 !important;
        max-width: 1090px !important;
    }
    
    div#main {
        margin-left: 0px !important;
        margin-top: 0px !important;
    }
    
    footer#mainFooter {
        margin: 0px !important;
    }
    
    header#searchEngine {
        display: none !important;
    }
}
