body#partners {
    section .sectionHeadings .sectionHeading {
        padding: 0;
    }

    section.partnersCategories {
        
        .sectionHeadings .sectionHeading {
            font-size: 16px;
            border-bottom: 1px solid #e3e3e3;
            padding: 0 0 5px;
        }

        .partner-cards {
            .dh-partner-container {
                border-bottom: 1px solid #e3e3e3;
            }
            
            .partner-copy span {
                font-weight: bold;
            }

            .partner-link a {
                color: #a96c16;
                border-bottom: 1px solid #a96c16;
            }
            
            .partner-image {
                display: block;
                text-align: center;
                img {
                    width: 200px;
                }
            }
        }
    }
}