@media only screen and (min-width: 1px) and (max-width: 768px) {
    body#partners #partners-container {
        padding: 0 10px;
        section#partnersHeading {
            margin: 0;
        }
    }

    body#partners section .sectionHeadings .sectionHeading {
        text-align: center;
    }

    body#partners section.partnersCategories {
        margin-top: 30px;
        
        .partner-cards {
            overflow: auto;

            .dh-partner {
                width: 100%;
                height: auto;
                border-bottom: 1px solid #e3e3e3;
                margin: 30px 0;

                .partner-copy {
                    padding: 0;
                    font-family: Plantin,Georgia,serif;
                    font-size: 15px;
                    line-height: 22px;
                }

                .partner-link {
                    display: block;
                    margin: 10px 0 30px;
                    padding: 0;
                }
            }
        }
    }
}

@media only screen and (min-width: 769px) {
    body#partners {

        #partners-container section#partnersHeading div.sectionHeadings {
            margin: 0;
        }
        
        section.partnersCategories {
            margin: 60px 0;
            
            div.sectionHeadings {
                margin: 0;
            }
            
            .partner-cards {
                overflow: auto;
                
                .dh-partner {
                    box-sizing:border-box;
                    -moz-box-sizing:border-box;
                    -webkit-box-sizing:border-box;
                    width: 50%;
                    display: inline-block;
                    vertical-align: top;
                    border-right: 1px solid #e3e3e3;
                    margin: 30px 0;

                    .partner-copy {
                        padding: 0 30px;
                        font-family: Plantin,Georgia,serif;
                        font-size: 15px;
                        line-height: 22px;
                    }

                    .partner-link {
                        padding: 0 30px;
                        display: block;
                        margin: 10px 0 15px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 769px) and (max-width: 1149px) {
        .dh-partner:nth-child(2n) {
            border-right: 0 !important;
    }
}
