@media only screen and (min-width: 1150px) {
    body#partners section.partnersCategories .partner-cards {
        .dh-partner {
            width: 33.33%;
        }
        .dh-partner:nth-child(3n) {
            border-right: 0;
        }
    }
}

