@media (min-width: 1150px) and (max-width: 1264px) {
    #currentDeals {
        .currentDeal{
            .description{
                height:auto;
                h5{
                   line-height:26px;
                }
                p{
                    line-height:26px;
                }
            }
        }
	}
	
    section#pdpImage {
        div.caption, 
        p.caption {
            width: 255px;
            padding: 15px 15px;
        }
    }
    
    section#pdpBook {
        div#bookCalendar div#loadingimg,
        div#bookCalendar div#loadingimg2 {
            right: 26px;
            text-align: center;
            width: 432px;
            
            img {
                margin: 120px;
            }
        }
        
        div#bookCalendar div#loadingimg1 {
            left: 26px;
            text-align: center;
            width: 450px;
            
            img {
                margin: 120px;
            }
        }
        div.pdp-room-img-cntr .no-image {
            line-height: 201px !important;
        }
    }
    section#pdpRooms{
        section#roomsWrapper{
            ul{
                li{
                    div.roomInfo{
                        width:449px;
                    }
                }
            }
        }
    }
    body#pdp.tabFindinginfinity {
        div#fiWrapper {
            padding: 49px 37px 0 37px;
        }

        div.inner-wrapper {
            padding: 0 37px;
        }
    }
    
    section#pdpAboutyourstay {
        width: 630px;
        padding-right: 0px;
    }
    
    .about-your-stay-icons {
        .icon-holder {
            .stay-icon { 
                width: 205px;
                padding-left: 68px;
                
                .icon-subheadline {
                    max-height: 48px;
                }
            }
        }
    }
    
    #pdp.tabDeals section#pdpDealsoverview {
        width: 584px;
        
        > ul {
            > li{
                div.image {
                    width: 158px;
                }
            }
        }
    }
}
