@media (max-width: 1149px) {
    div#bookCalendar > .datepicker > .datepickerContainer > table > tbody > tr > td:last-child {
        display: none;
    }
    #currentDeals {
        .currentDeal{
            .description{
                height:auto;
                h5{
                   line-height:26px;
                }
                p{
                    line-height:26px;
                }
            }
        }
	}

    section#pdpTabs div ul li a {
        padding: 0px 14px;
    }

    section#pdpImage {
        div.caption, 
        p.caption {
            width: 226px;
            padding: 15px 10px;
        }
    }
	
    section#pdpBook {
        div#bookCalendar > .datepicker > .datepickerContainer {
            padding-right: 0;
        }
    
        a#pdpBookNextMonth {
            right: 0;
        }

        a#pdpBookPrevMonth {
            left: 0;
        }
    
        div#bookCalendar div#loadingimg,
        div#bookCalendar div#loadingimg1 {
            right: 0;
            text-align: center;
            width: 100%;
            
            img {
                margin: 120px;
            }
        }
        
        div#bookCalendar div#loadingimg1 {
            left: 0;
        }
        
        div#bookCalendar div#loadingimg2 {
            width: 1px;
            height: 1px;
            visibility: hidden;
        }
    
        div#pbpBookRooms > ul > li div.roomInfo h4 {
            margin-bottom: 5px;
        }

        div#pbpBookRooms > ul > li div.roomInfo span.room-info-differ {
            display: block;
            margin-bottom: 12px;
            position: static;
            text-align: right;
        }

        div.pdp-room-img-cntr .no-image {
            line-height: 175px !important;
        }
    }
    
    body#pdp.tabFindinginfinity {
        div#fiWrapper{
            padding: 35px 35px 0 35px;
        }

        div.inner-wrapper {
            padding: 0 35px;
        }

        div#fiWrapper, div.inner-wrapper {            
            section#fiContent {
                div#fiSection1 {
                    div.col2,
                    div#fiImage1 {
                        width: 476px;
                    }
                    
                    div#fiImage2 {
                        width: 235px;
                    }

                    div#fiImage3,
                    div#fiImage4 {
                        width: 235px;
                    }
                }
                
                div#fiSection2 div#fiImage5,
                div#fiSection2 div#fiImage6 {
                    width: 386px;
                }
                
                div#fiSection4 div#fiImage7,
                div#fiSection4 div#fiImage8,
                div#fiSection4 div#fiImage9 {
                    width: 255px;
                }
                
                div#fiSection3 {
                    div#fiCopyText2,
                    div#fiCopyText3 {
                        width: 219px;
                    }
                    
                    div#fiFeaturedHotels {
                        width: 220px;
                    }
                }
            }
        }
    }
    
    section#pdpAboutyourstay {
        width: 548px;
        padding-right: 0px;
    }
    
    .about-your-stay-icons {
        .icon-holder {
            .stay-icon { 
                width: 166px;
                padding-left: 68px;
                margin-right: 17px;
                
                .icon-subheadline {
                    max-height: 48px;
                }
            }
        }
    }
    
    #pdp.tabDeals section#pdpDealsoverview {
        width: 496px;
        
        > ul {
            > li{
                div.image {
                    width: 158px;
                }
            }
        }
    }
}
