
#pdp{
   #main{
        margin-top: 48px;
   }
}
section#pdpInfo {
    @extend %grid__item;
    @extend %one-whole;

    margin-bottom: 12px;
    padding: 0px 35px 0 35px;
    /*position: relative;*/
    text-align: center;
    margin-top: -4px !important;

	#mobile-facts-btn{
		display:none;
	}

	ul.breadcrumbs{
	    padding-bottom: 10px;
	}
    ul.social {
        position: absolute;
        right: 35px;
        text-align: right;
        top: 0;

        li {
            font-family: DINWebPro, Arial, sans-serif;
            display: block;
            font-size: 10px;
            height: 14px;
            line-height: 16px;
            margin-bottom: 8px;
            padding-left: 21px;
            text-transform: uppercase;

            a {
                color: #333;
            }

            span {
                background: #fff url('../images/sprites.png') no-repeat -259px -19px;
                border-radius: 7px;
                display: inline-block;
                height: 14px;
                line-height: 14px;
                margin-right: 7px;
                position: relative;
                top: 3px;
                width: 14px;
            }
        }

        li.favourite {
            span {
                background-position: -273px -19px
            }
        }
    }

    div.ratingsPrice {

        text-align: center;


        span.rating {
            color: #a96c16;
            font-family: DINWebPro, Arial, sans-serif;
            font-size: 29px;
            line-height: 34px;
        }

        span.from {
            @include fontplantin;
            font-size: 18px;
            font-style: italic;
            line-height: 18px;

            span.fromValue {
                color: #a96c16;
                font-family: DINWebPro, Arial, sans-serif;
                font-style: normal;
            }
        }
    }

    h1, h2, p#pdpDetails {
        text-align: center;
    }

    h1, .pdp-info-heading {
        font-family: PLANTIN, Arial, sans-serif;
        font-size: 29px;
        margin-bottom: 15px;
        line-height: 27px;
        text-transform: uppercase;
        color: #000000;
    }

    h2 {
        color: #666;
        font-size: 18px;
        font-family: DINWebProCondBold, Arial, sans-serif;
        margin-bottom: 17px;
        line-height: 18px;
        text-transform: uppercase;
    }

    p#pdpDetails {
        margin-top: 5px;
        font-size: 12px;
        font-style: normal;
        color: #333333;
        font-family: DINWebPro, Arial, sans-serif;
		line-height: 18px;

        span.value {

            font-family: DINWebPro, Arial, sans-serif;
            font-style: normal;
            text-transform: uppercase;
        }
    }
}

section#pdpTabs {
    @extend %grid__item;
    @extend %one-whole;

    height: 52px;
    margin-bottom: 2px;
    padding: 0 35px 0 30px;
    position: relative;
    
    div {
        
        border-top: 1px solid #c7c7c7;
        
        border-bottom: 1px solid #fff;
        height: 52px;
        overflow: visible;
        padding-left: 0px;
        width: 100%;

        ul {
            @include dhtabs;

            
            border-bottom: 1px solid #c7c7c7;            
            height: 52px;
            position: relative;
            width: 100%;
            text-align:center;
            
            li {
                height: 52px;
            }
            
            li a {
                display:inline-block;
                height: 52px;
                line-height: 56px;
            }
            li:first-child {
                margin-left: 0;
            }

            li.special {
                float: right;

                a {
                    background: linear-gradient(178deg, #b87d2b 0%, #b87d2b 50%, #a96c16 55%, #a96c16 100%);
                    background: -webkit-linear-gradient(93deg, #a96c16 45%, #b87d2b 20%);
                    background-repeat: repeat;
                    background-attachment: scroll;
                    background-position: 0 0;
                    background-color: transparent;
                    color: #fff;
                    text-shadow: none;
                }

                a:hover {
                    background: #a96c16;
                }
            }
        }
    }
    a.tab-nav {
        display:none;
    }
}

section#pdpImage {
    @extend %grid__item;
    @extend %one-whole;

    padding-left: 0;
    width: 100%;

    div.imageWrapper {
        position: relative;
        //cursor:pointer;
        img {
            display: block;
            position: relative;
            width: 100%;

        }

        a.fullscreenLink {
            background: url('../images/sprites.png') no-repeat -215px 0px;
            bottom: 8px;
            color: #fff;
            display: block;
            font-family: DINWebPro, Arial, sans-serif;
            font-size: 11px;
            height: 35px;
            line-height: 36px;
            position: absolute;
            right: 8px;
            text-align: center;
            width: 44px;
        }
    }

    div.caption, 
    p.caption {
        @include fontplantin;
        font-size: 18px;
        position: absolute;
        width: 280px;
        background: #222222;
        color: #ffffff;
        right: 35px;
        bottom: 0px;
        padding: 15px 20px;
        line-height: 25px;
        font-style: italic;
    }
    
    .social-share {
        display: block;
        border-bottom: 1px solid #3d3d3d;
        height: 23px;
        margin-bottom: 16px;
        
        .buttons {
            float: right;
            position: relative;
            top: -7px;
            right: -5px;
            
            .label {
                display: inline-block;
                font-size: 12px;
                color: #6c6c6c;
                font-family: DINWebPro;
                font-style: normal;
                position: relative;
                top: -3px;
                padding-right: 4px;
            }
            
            .button {
                display: inline-block;
                width: 26px;
                height: 22px;
                background: url('../images/social.png');
            }
            
            .button-facebook {
                background-position: 0px 0px;
            }
            
            .button-twitter {
                background-position: -26px 0px;
            }
            
            .button-pinterest {
                background-position: -52px 0px;
            }
            
            .button-google {
                background-position: -104px 0px;
            }
            
            .button-facebook:hover {
                background-position: 0px -22px;
            }
            
            .button-twitter:hover {
                background-position: -26px -22px;
            }
            
            .button-pinterest:hover {
                background-position: -52px -22px;
            }
            
            .button-google:hover {
                background-position: -104px -22px;
            }
        }
    }
}

section#pdpBook {
    @extend %grid__item;
    @extend %one-whole;
    border: 1px solid #f7f7f7;

    margin-bottom: 0; //$sectionBottomSpacing;
    padding: 57px 0 0 0;



    h2 {
        font-family: Plantin, Arial, sans-serif;
        font-size: 29px;
        line-height: 22px;
        text-transform: capitalize;
        text-align: center;
        margin-bottom: 6px;
        span.h2-italic {
            font-family: PLANTIN, Arial, sans-serif;
            font-size: 29px;
            font-style: italic;
            text-transform: lowercase;
        }
        #numRooms, #numAdults {
            font-style: italic;
        }
        > span#pdpBookRooms {
            border-bottom: 1px solid #c3c3c3;
            color: #a96c16;
            display: inline-block;
            position: relative;
            span#amountRooms{
                font-family: DINWebProCondBold, Arial, sans-serif;
            }
            div.roomsSelect,  div.adultsSelect{
                background: #fff;
                box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);
                display: none;
                left: -51px;
                position: absolute;
                top: 35px;
                width: 112px;
                z-index: 2;

                span.arrow {
                    background: url('../images/sprites.png') no-repeat -273px -8px;
                    height: 11px;
                    left: 47px;
                    position: absolute;
                    top: -11px;
                    width: 18px;
                }

                ul {
                    width: 100%;

                    li {
                        color: #000;
                        border-bottom: 1px solid #bbb;
                        font-family: DINWebPro, Arial, sans-serif;
                        font-size: 12px;
                        height: 30px;
                        line-height: 30px;
                        text-align: left;
                        text-indent: 16px;
                        text-transform: none;

                        a {
                            color: #000;
                            display: block;
                            height: 30px;
                        }
                    }

                    li:last-child {
                        border-bottom: #fff;
                    }

                    li:hover a {
                        background: #ffed00;
                        border-bottom: 1px solid #ffed00;
                    }
                }
            }
        }

        > span#pdpBookAdults{
            border-bottom: 1px solid #c3c3c3;
            color: #a96c16;
            display: inline-block;
            position: relative;
            span#amountAdults{
                font-family: DINWebProCondBold, Arial, sans-serif;
            }
            div.adultsSelect,  div.adultsSelect{
                background: #fff;
                box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);
                display: none;
                left: -51px;
                position: absolute;
                top: 35px;
                width: 112px;
                z-index: 2;

                span.arrow {
                    background: url('../images/sprites.png') no-repeat -273px -8px;
                    height: 11px;
                    left: 47px;
                    position: absolute;
                    top: -11px;
                    width: 18px;
                }

                ul {
                    width: 100%;

                    li {
                        color: #000;
                        border-bottom: 1px solid #bbb;
                        font-family: DINWebPro, Arial, sans-serif;
                        font-size: 12px;
                        height: 30px;
                        line-height: 30px;
                        text-align: left;
                        text-indent: 16px;
                        text-transform: none;

                        a {
                            color: #000;
                            display: block;
                            height: 30px;
                        }
                    }

                    li:last-child {
                        border-bottom: #fff;
                    }

                    li:hover a {
                        background: #ffed00;
                        border-bottom: 1px solid #ffed00;
                    }
                }
            }
        }
        span#pdpBookRooms:hover, span#pdpBookAdults {
            cursor: pointer;
        }
    }

    h3 {
        @include fontplantin;
        font-size: 18px;
        font-style: italic;
        text-align: center;
        margin-bottom: 12px;
    }

    div#bookCalendar {
        @include calendar;
    }

    p#notableLocalEvents,
    p#pdpBookCalendarClear {
        font-family: DINWebPro, Arial, sans-serif;
        font-size: 12px;
        margin-top: 11px;

        span {
            background: url('../images/sprites.png') no-repeat -266px 0px;
            display: inline-block;
            height: 7px;
            margin-right: 11px;
            width: 7px;
        }
    }

    p#notableLocalEvents {
        float: left;
        padding-left: 47px;
    }

    p#pdpBookCalendarClear {
        float: right;
        padding-right: 56px;

        a {
            color: #000;
            border-bottom: 1px solid #c3c3c3;
        }

        span {
            background-position: -178px -12px;
            margin-right: 8px;
        }
    }

    p#pdpBookCalendarClear:hover {
        cursor: pointer;
    }

    a#pdpBookPrevMonth,
    a#pdpBookNextMonth {
        background: #4e4e4e;
        height: 50px;
        position: absolute;
        top: 184px;
        width: 27px;

        span {
            display: block;
            height: 14px;
            position: absolute;
            top: 19px;
            width: 8px;
        }
    }

    a#pdpBookPrevMonth {
        left: -1px;

        span {
            background: url('../images/sprites.png') no-repeat -291px -17px;
            left: 9px;
        }
    }

    a#pdpBookNextMonth {
        right: -1px;

        span {
            background: url('../images/sprites.png') no-repeat -299px -17px;
            right: 9px;
        }
    }

    div#pbpBookRooms {
        clear: both;
        margin-bottom: 58px;//$sectionBottomSpacing;
        padding-top: 29px;
        h3{
		    margin-bottom: 0;
		}
        #viewRooms{
			float: right;
			margin-right: 45px;
			color: #000;
			border-bottom: 1px solid #c3c3c3;
			font-family: DinWebPro;
			font-size: 12px;
			margin-bottom: 20px;
		}
        > ul {
            @extend %grid;
            clear:both;
            display: block;
            margin-left: 0;
            //padding: 0 50px 0 15px;

            > li {
                @extend %grid__item;
                @extend %desk--one-third;
                position: relative;
                //margin-left: 47px;
				margin-left: 4.4%;
                padding-left: 0;
                //width: 300px;
				width: 27.6%;

				div.pdp-room-img-cntr {

					position: relative;

                    .no-image {
                        width: 100%;
                        background: #e8e8e8;
                        line-height: 225px;
                        text-align: center;
                    }


				}

                div.discountLabel {

                    margin-right: -9px;

                    div.discountTriangle {

                        margin-left: 0;
                        right: 0;
                    }
                }

                img {
                    @include imageshadow;

                    display: block;
                    width: 100%;
                }

                div.roomInfo {
                    background: #ffffff;
                    height: 228px;
                    padding: 19px 15px 0 15px;
                    position: relative;

                    h4 {
						width: 53%;
                        font-family: DINWebProCondBold, Arial, sans-serif;
                        font-size: 18px;
                        line-height: 18px;
                        margin-bottom: 12px;
                        text-transform: uppercase;
                    }

                    ul {

                        li {
                            font-family: DINWebPro, Arial, sans-serif;
                            list-style: disc inside;
                            line-height: 20px;
                        }

                        li.sectionHeadingBar {

                            display: block;
                            height: 1px;
                            width: 17px;
                            margin-bottom: 10px;
                            list-style-type: none;
                            background-color: #C3C3C3;
                        }
                    }

                    span.room-info-differ {

						position: absolute;
						top: 20px;
						right: 15px;
                        @include fontplantin;
                        font-style: italic;

                            font {

                                font-style: normal;
                                color: #93692F;
                            }
                    }

                    div.from {

						width: 154px;
                        bottom: 43px;
                        font-size: 16px;
                        position: absolute;
                        right: 0;
                        text-align: center;

                        span.original {
                            display: inline-block;
                            font-family: DINWebPro, Arial, sans-serif;
                            font-style: normal;
                            font-size: 10px;
                            position: relative;
                            top: -1px;

                            span {
                                border-top: 1px solid #ab5602;
                                position: absolute;
                                height: 1em;
                                top: 3px;
                                left: 0;
                                width: 100%;

                                -webkit-transform: rotate(-16deg);
                                -moz-transform: rotate(-16deg);
                                -o-transform: rotate(-16deg);
                                -ms-transform: rotate(-16deg);
                                transform: rotate(-16deg);

                                // z-index: 1;
                            }
                        }

                        span.fromValue {
                            font-size: 16px;
                        }
                    }

                    p.roomExtra {
                        bottom: 0;
                        color: #a96c16;
                        font-family: DINWebPro, Arial, sans-serif;
                        font-size: 11px;
                        left: 0;
                        line-height: 38px;
                        position: absolute;
                        text-indent: 15px;
                    }

                    a.bookNow {
                        @include lightbutton;

                        bottom: 0;
                        position: absolute;
                        right: 0;
                    }
                    a.bookNow:hover {
                        @include lightbuttonhover;
                    }
                    a.bookNow:active {
                        @include lightbuttonclick;
                    }
                }
            }
        }
    }
}

body.tabDeals section#pdpBook {
    margin-bottom: 0;
    padding-bottom: 30px;

    h3 {
        span {
            color: #a96c16;
        }
    }

    p#pdpBookCalendarClear {
        float: left;
        padding: 0 0 0 47px;
    }

    p#pdpBookNow {
        padding-right: 47px;
        margin-top: 26px;

        a {
            @include lightbutton;
            float: right;
        }
    }
}

.bigLine {
    height: 5px;
    width: 88px;
    background-color: #000000;
}

section#pdpDeals,
section#pdpDealsoverview,
section#pdpCurrentdeals,
section#nearbyProperty
 {
    margin-bottom: 60px;
    padding: 0 35px 0 5px;

    header {
        @extend %grid__item;
        @extend %one-whole;

        .bigLine {
            margin: 0 auto;
            margin-bottom: 22px;
        }

        div.sectionHeadings {
            border-bottom: 1px solid #fff;
            margin-bottom: 25px;
            padding-left: 0;
            text-align: center;
            margin-bottom: 0 !important;

            div.sectionSubHeading {
                border-bottom: 1px solid #c7c7c7;
                margin-bottom: 0;
                padding-bottom: 19px;
            }
        }

        p.viewAll {
            bottom: 20px;
            margin: 0;
            position: absolute;
            right: 0;
        }
    }

    > ul {
        margin-left: 30px;

        > li {
            @extend %grid;

            background-color: #ffffff;
            margin-left: 0;
            margin-bottom: 25px;
            display: table;
            width: 98.5%;
            min-height: 120px;
            padding: 15px 0 15px 15px;
            div.intro {
                @extend %grid__item;
                @extend %one-quarter;

                display: table-cell;
                padding-left: 0;
                vertical-align: middle;
                background: #222222;
                position: relative;

				height:144px;
                h4 {
                    color: #a96c16;
                    font-size: 19px;
                    @include fontplantin;
                    text-indent: 15px;
                }
                .discountLabel {
                    top: 10px;
                }
                .rightArrow {
                    width: 0;
                    height: 0;
                    border-top: 10px solid transparent;
                    border-bottom: 10px solid transparent;
                    border-left: 10px solid #222222;
                    position: absolute;
                    right: -10px;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                }
                div.image {
                    @include fontplantin;
                    font-size: 25px;
                    color: #ffffff;
                    text-align: center;
                    margin: 0 10px;
                    width: 240px;
                    img {
                        display: block;
                        width: 100%;
                    }
                    h2 span, h3 span{
                        font-size:13px;
                        font-style: italic;
                    }
                }
            }

            div.description {
                @extend %grid__item;
                //@extend %seven-twelfths;
				@extend %six-twelfths;

                display: table-cell;
                font-family: Plantin, Arial, sans-serif;
                font-size: 16px;
                line-height: 19px;
                padding-left: 30px;
                vertical-align: middle;
                .dealBenefits {
			     	height:144px;
					display:table-cell;
					vertical-align:middle;
                    position: relative;
                    top: 5px;

                    .dealBenefit {
                        display: table;
						padding-bottom:12px;


                        .benefitDesc {
                            display: table-cell;
                            vertical-align: middle;
							width:100%;


                        }
                    }
                    .dealBenefit:last-child {
                        margin-bottom: 0px;
                    }
                }
                
                h3,
                h5 {
                    color: #a96c16;
                    @include fontplantin;
                    font-size: 19px;
                    line-height: 24px;
                    margin-bottom: 6px;
                }

                strong {
                    font-weight: bold;
                    font-style: italic;
                }
            }

            div.cta {
                @extend %grid__item;
                //@extend %two-twelfths;
                @extend %three-twelfths;

                display: table-cell;
                vertical-align: middle;

                ul {
                    float: right;
                    margin-right: 30px;

                    li {
                        text-align: center;

                        a {
                            @include darkbutton;
                            word-break: keep-all;
							overflow: hidden;
                        }
                        a:hover {
                            @include darkbuttonhover;
                        }
                        a:active {
                            @include darkbuttonclick;
                        }

                        span.meta {
                            display: inline-block;
                            @include fontplantin;
                            font-size: 13px;
                            font-style: italic;
                            padding-top: 6px;

                            span.count {
                                color: #a96c16;
                                font-family: DINWebPro, Arial, sans-serif;
                                font-style: normal;
                            }
                        }

                    }
                }
            }
        }
    }
}

#pdp.tabDeals section#pdpDealsoverview {
    float: left;
    padding: 0px;
    width: 725px;
    
    .deals {
        margin: 30px 0px 0px 0px;
    }
}

section#pdpCurrentdeals {

    header {

        div.sectionHeadings {

			padding-top: 0;
		}
	}
    #currentDeals {
        padding-top: 35px;
        .currentDeal {
            width: 31.3%;
        }
    }
}
#currentDeals {
    padding-left: 2.8%;
	overflow: auto;
    padding-left: 35px;
    height: auto;

    .currentDeal {
        margin-right: 2.8%;

        width: 30.3%;
        float: left;
        color: #ffffff;
		position:relative;
        @include fontplantin;
		.longDesc{
			display:none;
		}
        .description {
            background: #222222;
            padding: 35px;
            position: absolute;
			height:68px;
		    top:0;
		    left:0;
			z-index:2;
			line-height: 20px;

			.discountLabel {
				top:8px;
				line-height:15px;
			}

            h3,
            h5 {
			    line-height: 20px;
				margin-bottom: 10px;
                font-size: 25px;
            }
            p {
                font-size: 15px;
            }
            .downArrow {
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-top: 10px solid #222222;
                border-right: 10px solid transparent;
                position: absolute;
                margin: auto;
                left: 0;
                right: 0;
                bottom: -10px;
                z-index: 1;
            }
        }
        .intro {
            position: relative;
			margin-top:138px;
            width: 100%;
            height: 320px;
            text-align: center;
            img, .cta {
                position: absolute;
            }
            img {
                width: 100%;
                height: 100%;
                left: 0;
            }
            .cta {
                bottom: 10px;
                margin: auto;
                left: 0;
                right: 0;
				p{
					margin-top:10px;
				}
                a {
                    @include darkbutton;
                }
                a:hover {
                    @include darkbuttonhover;
                }
                a:active {
                    @include darkbuttonclick;
                }
            }
        }
        .doubleLine {
            width: 100%;
            border-top: 1px solid #c7c7c7;
            border-bottom: 1px solid #ffffff;
        }
        .doubleLine.first {
            margin-bottom: 1px;
            margin-top: 30px;
        }
        .doubleLine:last-child {
            margin-bottom: 30px;
        }
    }
    .currentDeal:last-child {
        margin-right: 0;
    }
}

section#pdpDealsoverview {
    div.sectionHeadings {
        margin-top: 35px;
        padding-left: 0;
        text-align: left !important;
        .bigLine {
        /*
            margin-left: 0;
            */
            margin:auto;
            margin-bottom:15px;
        }
        div.sectionHeading {
            text-align:center!important;
        }
    }

    > ul {
        div.headline{
            font-family: Plantin,Arial,serif;
            font-size:29px;
            margin-bottom:8px;
        }
        > li {
            @include imageshadow;

            div.special {
                @include tag(left);
                .bottomTriangle {
                    width: 0;
                    height: 0;
                    border-right: 9px solid #846a37;
                    border-bottom: 9px solid transparent;
                    margin-top: 6px;
                    margin-left: -5px;
                }
            }
            div.special:after {
                position: absolute;
                background: linear-gradient(129deg, #b87d2b 50%, #a96c16 50%);
                content: '';
                width: 17px;
                height: 11px;
                -webkit-transform: rotate(39deg) skewX(5deg) skewY(24deg);
                right: -7px;
                top: 6px;
            }

            div.description {
                h3, 
                h5 {
                    font-size: 24px;
                    line-height: 26px;
                }

                p {
                    color: #323232;
                    @include fontplantin;
                    font-size: 16px;
                    font-style: italic;
                    line-height: 16px;
                }
            }

            div.description.no-intro {
                @extend %grid__item;
                @extend %ten-twelfths;

                padding-left: 15px;
            }
        }

        > li.no-intro-shadow {
            @include imageshadow;
        }
    }
}

section#pdpCurrentdeals {
    header div.sectionHeadings {
        margin-top: 0;
        padding-left: 0;
        sup{
            font-size:12px;
        }
    }
}

section#pdpAboutyourstay {
    position:relative;
    width: 700px;

    @extend %grid__item;
    @extend %one-whole;

    margin-bottom: 30px; //$sectionBottomSpacing;
    padding: 30px 0 0 35px;
    
    .important-informations {
        padding-bottom: 5px;
        
        .important-information {
            height: 23px;
            background: #e8e8e8;
            font-family: DINWebPro, Arial, sans-serif;
            color: #000000;
            font-size: 13px;
            line-height: 22px;
            padding-left: 7px;
            margin-bottom: 10px;
            display: inline-block;
            
            span {
                display: inline-block;
                position: relative;
            }
            
            .label {
                top: -1px;
            }
            
            .icon {
                color: #a3a3a3;
                line-height: 22px;
                margin-right: 4px;
                top: 0px;
                font-size: 12px;
            }
            
            .tail {
                width: 7px;
                height: 22px;
                background: url('../images/sprites-ux-updates.png') no-repeat -54px -1px;
                right: -7px;
            }
        }
    }
    
    div.about {
        @extend %grid;
        margin: 0px !important;

        div.video {
            @extend %grid__item;
            @extend %one-half;
            padding: 0px;


			width:100%;
            position:relative;

			div.fluid-width-video-wrapper {
                width: 100%;
				height: 100%;
				overflow: hidden;
				max-height:none;
                padding: 0px;
			}

			div#videoWrap{
				float: left;
				height: auto;
				overflow: hidden;
				position: relative;
				width: 186px;
				margin-right: 22px;
				img {
					width: 100%;
				}
			}



			.playerBtn{
                /*background: url('../images/sprites.png') -183px -40px ;*/
				position:absolute;
				left:40%;
				top:35%;
				width:20%;
                height:82px;
                /*width:82px;*/
				max-width:75px;
				z-index:6;
				pointer:cursor;

			}

        }

        div.description {
            @extend %grid__item;
            @extend %one-half;
            //width: 500px;
			width: 47.6%;

            p {
                @include fontplantin;
                font-size: 18px;
                line-height: 25px;

                a {
                    color: #a96c16;
                    text-decoration: underline;
                }
            }
        }

        div.description.description-novideo {
            @extend %one-whole;
        }
    }

    ul.facts {
        @extend %grid;

        background: #f5f5f5;
        margin-left: 0;
        padding: 30px 0 0 30px;

        li {
            @extend %grid__item;
            @extend %one-third;

            padding: 10px 0 30px 70px;
            position: relative;

            span.icon {
                background: url('../images/sprites.png') no-repeat 0 -200px;
                display: block;
                height: 39px;
                left: 0;
                position: absolute;
                top: 0;
                width: 56px;
            }

            span.icon.flighttime {
                background-position: -112px -200px;
            }

            span.icon.poolgym {
                background-position: -224px -200px;
            }

            span.icon.localtemp {
                background-position: -56px -200px;
            }

            span.icon.businessservices {
                background-position: -168px -200px;
            }

            span.icon.currency {
                background-position: -280px -200px;
            }

            div.title {
                @include fontplantin;
                font-size: 16px;
                margin-bottom: 7px;
            }

            div.fact {
                font-family: DINWebPro, Arial, sans-serif;
            }
        }
    }
}

section#pdpAboutyourstay.unbookable {
    width: 95%;
}

.about-your-stay-icons {
    background: #FFFFFF;
    padding-top: 26px;
    padding-left: 25px;
    padding-bottom: 26px;
    margin: 30px 35px 30px 35px;

    .icon-holder {
        clear: both;
        margin-bottom: 0px;
        height: 78px;

        .stay-icon {
            width: 240px;
            margin-right: 20px;
            padding-left: 70px;
            float: left;
            color: #000000;
            min-height:40px;
            
            .icon-description {
                @include fontplantin;
                font-size: 16px;
                line-height: 25px;
                padding-top: 7px;
                overflow: hidden;
            }

            .icon-subheadline {
                font-family: DINWebPro, Arial, sans-serif;
                font-size: 12px;
                line-height: 16px;
                max-height: 32px;
                overflow: hidden;
                padding-top: 2px;
            }
        }

        .stay-icon-services {
            background: url('../images/pdp/icons/services.png') no-repeat left top;
        }

        .stay-icon-nearest-airport {
            background: url('../images/pdp/icons/nearest-airport.png') no-repeat left top;
        }

        .stay-icon-conference-meetings {
            background: url('../images/pdp/icons/conference-meetings.png') no-repeat left top;
        }

        .stay-icon-event-space {
            background: url('../images/pdp/icons/event-space.png') no-repeat left top;
        }

        .stay-icon-food-drink {
            background: url('../images/pdp/icons/food-drink.png') no-repeat left top;
        }

        .stay-icon-adults-only {
            background: url('../images/pdp/icons/adults-only.png') no-repeat left top;
        }

        .stay-icon-internet {
            background: url('../images/pdp/icons/internet.png') no-repeat left top;
        }

        .stay-icon-seasonal-hotel {
            background: url('../images/pdp/icons/seasonal-hotel.png') no-repeat left top;
        }

        .stay-icon-kids {
            background: url('../images/pdp/icons/kids.png') no-repeat left top;
        }

        .stay-icon-weather {
            background: url('../images/pdp/icons/weather.png') no-repeat left top;
        }

        .stay-icon-directions {
            background: url('../images/pdp/icons/directions.png') no-repeat left top;
        }

        .stay-icon-spa-recreation {
            background: url('../images/pdp/icons/spa-recreation.png') no-repeat left top;
        }

        .stay-icon-spa-recreation {
            background: url('../images/pdp/icons/spa-recreation.png') no-repeat left top;
        }

        .stay-icon-snow-ski {
            background: url('../images/pdp/icons/snow-ski.png') no-repeat left top;
        }
        
        .stay-icon-checkin-checkout {
            background: url('../images/pdp/icons/checkin-checkout.png') no-repeat left top;
        }

        .stay-icon-art-on-display {
            background: url('../images/pdp/icons/art-on-display.png') no-repeat left top;
        }
    }
}

/*PDP overview tab-PDP Community Benefits Section */

section#pdpCommunityBenefits {
    margin-bottom: $sectionBottomSpacing;
    padding: 0;

    ul {
        padding: 60px 0;
        margin: 45px 33px;
        border: 1px solid #c7c7c7;
        border-left: none;
        border-right: none;

        > li {
            width: 19.3%;
            display: inline-block;
            text-align: center;
            vertical-align: top;

            div.benefitTitle {
                font-family: DINWebProCondBold;
                font-size: 18px;
                line-height: 1.5;
                margin-top: 10px;
                text-transform: uppercase;
            }
            div.benefitSubtitle {
                @include fontplantin;
                font-style: italic;
                font-size: 13px;
            }
            div.benefitDetails {
                font-family: DINWebProCondBold;
                font-size: 29px;
                color: #e0af75;
                line-height: 45px;
            }

            div.benefiticon{
                margin:auto;
                width:39px;
                height:58px;
            }

            div.check{
                background: url('../images/sprites.png') no-repeat -494px -349px;
            }
        }

        >li:first-child {
            @include fontplantin;
            font-size: 25px;
            margin-right: 2%;
            width: 34%;

            span {
                font-style: italic;
            }
            
            a {
                border: 1px solid #c7c7c7;
                display: block;
                font-family: DINWebProCondBold;
                font-size: 16px;
                margin: 23px auto;
                padding: 7px 0;
                width: 135px;
            }
        }
    }
}

/*PDP overview tab-PDP Community Benefits Section */

section#pdpNeighbourhood {
    @extend %grid__item;
    @extend %one-whole;

    margin-bottom: $sectionBottomSpacing;
    padding: 0;

    header {
        margin-bottom: 23px;
        text-align: center;

        div.sectionHeadings {
            margin-bottom: 0;
            padding-left: 0;
            div.bigLine {
                margin: auto;
                margin-bottom: 15px;
            }
            div.sectionHeading {
                padding-left: 0;
            }
        }
    }

    div#neighbourhoodInfo,div#neighbourhoodInfoTab {
        @extend %grid;
        
        padding: 0px 33px;
        margin-left: 4px;

        div#neighbourhoodMapWrapper,div#neighbourhoodMapWrapperHalf {
            @extend %grid__item;
            @extend %one-whole;

            
            
            #neighbourhoodMap {
                @include blocklowershadow;
                height: 470px;
            }

            div.infobox {
                background: #fff;
                box-shadow: 0 00 2px 2px rgba(0,0,0,0.2);
                padding: 15px;
                margin-left: -230px;
                margin-bottom: 40px;
                white-space: nowrap;
                width: auto !important;
                height: auto;

                span.arrow {
                    background: url('../images/sprites.png') no-repeat -291px 0;
                    bottom: -17px;
                    right: 15px;
                    position: absolute;
                    height: 17px;
                    width: 24px;
                }

                p {
                    font-family: DINWebPro, Arial, sans-serif;
                    font-size: 12px;

                    a {
                        border-bottom: 1px solid #b4b4b4;
                        color: #000;
                        display: inline-block;
                    }
                }

                p.name {
                    font-family: DINWebProCondBold, Arial, sans-serif;
                    font-size: 18px;
                    margin-bottom: 5px;
                    text-transform: uppercase;
                    margin-right:25px;
                }

                p.address {
                    margin-bottom: 5px;
                }
            }
        }
        div#neighbourhoodMapWrapperHalf{
            @extend %one-half;
            overflow: hidden;

            padding: 0;
            div#neighbourhoodDescription {
                height:355px;
                font-family: Plantin,Arial,serif;
                padding: 56px 58px;
                .heading {
                    font-size:16px;
                    text-transform: uppercase;
                }
                /*.heading {
                    font-family: Plantin,Arial,sans-serif;
                    font-size: 29px;
                    line-height: 28px;
                }*/
                p.address{
                    font-family: DINWebPro, Arial, sans-serif;
                    font-size:12px;
                    padding: 6px 2px 9px 2px;
                    line-height: 16px;
                }
                .horizontalSpacer{
                    width: 17px;
                    padding: 6px 1px;
                }
                p.locationDescription{
                    font-size:15px;
                    padding: 4px 0px;
                    line-height: 25px;
                    width: 88%;
                }
                div.cta {
                    @include darkbutton;
                    padding: 0 15px;
                    letter-spacing: 0;
                    margin: 7px 0;
                }
            }
        }
        .neighbourhoodBackground{
            background:#fff;
        }
    }

    div#neighbourhoodGuide {
        padding: 0 35px;
        
        div.horizontalSpacer{
            padding: 35px 0;
        }
        div.locationDescription{
            float:left;
            width:70%;
        }
        div.nearestInfo{
            .spacerWrapper{
                width:5%;
                padding:5px 0;
                .horizontalSpacer{
                    padding:0;
                }
            }
            float:left;
            width:30%;
        }
        
    }    
    
    div#neighbourhoodGuide {
        padding: 0 34px;
        
        div.horizontalSpacer{
            padding: 30px 0 24px;
        }
        div.locationDescription{
            float:left;
            width:65%;
            @include fontplantin;
            font-size:18px;
            
        }
        div.nearestInfo{
            float:left;
            width:25%;
            font-size:12px;
            font-family: DINWebPro, Arial, sans-serif;
            padding:0 38px;
            line-height:16px;
            
            h4{
                font-size:16px;
                @include fontplantin;
            }
            h5{
                padding-top:11px;
            }
            .spacerWrapper{
                width:7%;
                padding:11px 0;
                .horizontalSpacer{
                    padding:0;
                }
            }
            
        }
        
    }
    
    div#neighbourhoodInfoTab{
        padding:0;
        margin:0;
        div#neighbourhoodMapWrapper{
            padding:0;
        }
        .horizontalSpacer{
        
        }
    }
}



section#pdpViewalldeals {
    @extend %grid__item;
    @extend %one-whole;

    margin-bottom: $sectionBottomSpacing;
    padding-right: 50px;
}

body#pdp span.sectionHeadingBar {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;

    @include header-bar(#000, 88px, 5px, 20px);
}

section#noResult {
    padding: 25px 35px 35px 35px;
    letter-spacing: normal;

    > p.header {
        padding-bottom: 22px;
        font-size: 24px;
		line-height:24px;
        text-align: center;
		font-style:italic;
		padding-top:40px
    }

    h1 {
        @include fontplantin;
        font-size: 29px;
        padding-bottom: 30px;
        span {
           // font-family: DINWebProCondBold, Arial, sans-serif;
        }

        i {
            margin-left: 5px;
        }
    }

    p, ul {
        @include fontplantin;
        //padding: 0 10px;
        font-size: 16px;
    }

    p {
        padding-bottom: 20px;
    }

    li {
        padding-bottom: 5px;
        list-style-type: initial;
        list-style-position: inside;
    }
}

// #calendar {
    // letter-spacing: normal;
    // background-color: #ffffff;
    // box-shadow: 0px -93px 11px -85px #cccccc;
    // -webkit-box-shadow: 0px -93px 11px -85px #cccccc;
    // padding-top: 50px;
    // padding-bottom: 30px;

    // i {
        // @include fontplantin; // THIS WON'T WORK
    // }
// }

.youmayalsolike {
    header {
        .bigLine {
            margin: auto auto 20px auto;
        }
    }
}
.searchResult {
    .memberHotels {
        .order {
            height: 0px !important;
            padding-top: 9px;

            #compare {
                margin-top: 5px !important;
            }
        }
    }
}

.searchPage {
    border-top: none !important;
    overflow: hidden;

    #hotelsNav {
        padding-top: 20px !important;
    }

    #hotelsWrapper {
        padding-top: 0;
    }
}

#locationNav {
    font-family: DINWebPro, Arial, sans-serif;
    color: #727272;

    a {
        text-decoration: none;
        color: inherit;
    }

    .navImage {
        background: url('../images/sprites.png') no-repeat -257px 5px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

#partHotels {
    #hotelsNav {
        div {
            float: left;

            h1 {
                font-family: Plantin, Arial, sans-serif;
                font-size: 29px;
                line-height: 60px;

                i {
                    @include fontplantin;
                    margin-left: 5px;
                }

                span {
                    @include fontplantin;
                    font-weight: bold;
                }
            }
            span#saveSearch {
                float: right;
                margin-left: 14px;
                margin-top: 5px;

                div#whiteCircle {
                    background-color: #ffffff;
                    border-radius: 100%;
                    width: 16px;
                    height: 16px;
                    margin-right: 5px;

                    span {
                        margin-left: 4px;
                    }
                }

                a {
                    color: inherit;
                    font-family: DINWebPro;
                    font-size: 11px;
                }
            }
        }
    }
}

#partHotels[class="searchPage"] {
    margin-bottom: 25px;
}

.infoBox {
    margin-bottom: 0px;
}

.facebookRating {
    background-image: linear-gradient(179deg, #3558d6 50%, #2346c4 50%) !important;
    background-image: -webkit-linear-gradient(270deg, #3558d6 50%, #2346c4 50%) !important;
    background-iamge: -moz-linear-gradient(179deg, #3558d6 50%, #2346c4 50%) !important;
    background-image: -o-linear-gradient(179deg, #3558d6 50%, #2346c4 50%) !important;
}

.facebookRating:after {
    background-image: linear-gradient(127deg, #3558d6 50%, #2346c4 50%) !important;
    background-image: -webkit-linear-gradient(-40deg, #3558d6 50%, #2346c4 50%) !important;
    background-iamge: -moz-linear-gradient(-40deg, #3558d6 50%, #2346c4 50%) !important;
    background-image: -o-linear-gradient(127deg, #3558d6 50%, #2346c4 50%) !important;
}

.bottomLabel {
    border-right-color: #2e3454 !important;
}

.mCSB-scrollTools {
    display: block;
}
.loading-wrapper {
    width: 100%;
    height: 130px;
    text-align: center;
      
    table {
        width: 100%;
        height: 100%;
    }
}
ul.featurePrice {
    display: none;
    font-family: DINWebPro;
    padding-top: 10px;
    padding-right: 15px;
    font-size: 13px;

    li {
        .discountFeature {
            color: #a96c16;
        }

        height: 30px;
        padding-bottom: 12px;

        span:nth-child(1) {
            float: left;

            .hotelFeature {
            }
        }

        .right {

            .oldPrice {
                position: relative;
            }

            .oldPrice:before {
                position: absolute;
                content: "";
                left: 0;
                top: 50%;
                right: 0;
                border-top: 2px solid;
                border-color: #d5aa80;
                -webkit-transform:rotate(-20deg);
                -moz-transform:rotate(-20deg);
                -ms-transform:rotate(-20deg);
                -o-transform:rotate(-20deg);
                transform:rotate(-20deg);
            }
        }
    }
}

.facebookPeople {
    padding-bottom: 13px;
    padding-top: 13px;

    ul {
        width: 100%;

        li {
            display: inline-block;
            margin-right: 15px;

            img {
                width: 40px;
                height: 40px;
                box-shadow: 1px -1px 4px 1px #cccccc;
                margin-right: 7px;
            }
            #facebook, #question {
                height: 20px;
                width: 20px;
                margin-bottom: 9px;
                margin-top: 11px;
                box-shadow: none;
            }

            span {
                margin-top: 14px;
                font-family: DINPro, Arial, sans-serif;
                color: #5e5e5e;
                float: right;

            }

            #question {
                margin-left: -7px;
            }
        }

        li#viaFacebook {
            span {
                color: #a8a8a8;
            }
        }
    }
}

#calendar, #hotelsNoAvailability header, .unavailableRoomsWrapper header {
    text-align: center;

    .bigLine {
        margin: auto;
    }

    h1 {
        font-family: Plantin, Arial, sans-serif;

        font-size: 25px;
        padding-top: 15px;
    }

    h5 {
        @include fontplantin;
        font-style: italic;
        font-size: medium;
    }
}

div#hotelsNoAvailability header, .unavailableRoomsWrapper header {

    //margin-top: 77px;
    h1{
		font-size:29px;
		@include fontplantin;
		span{
			font-style:italic;
		}
	}
	h5{
		font-size:18px;
		margin-bottom: 19px;
	}
    p {
        padding-bottom: 21px !important;
    }

    #noAvailableMsg {
        font-family: DINWebPro Medium;
        font-weight: bold;
        span {
            margin-left: 8px;
            position: absolute;
            margin-top: 2px;
        }
    }

    .order {
        padding-top: 0px;
    }

    .button {
        background: linear-gradient(180deg, #262626 50%, #000000 50%) !important;
        background-image: -webkit-linear-gradient(270deg, #262626 50%, #000000 50%) !important; /* Chrome 10-25, iOS 5+, Safari 5.1+ */
        background-image:    -moz-linear-gradient(270deg, #262626 50%, #000000 50%) !important; /* Firefox 3.6-15 */
        background-image:      -o-linear-gradient(180deg, #262626 50%, #000000 50%) !important; /* Opera 11.10-12.00 */
        color: #fff !important;
        text-shadow: none !important;
        margin-top: 5px;
    }

    .noAvailable {
        padding-top: 38px !important;
    }
}

.discountLabel {
    padding: 3px 0;
    position: absolute;
    background-color: #B87D2B;
    background-image: -moz-linear-gradient(270deg, #B87D2B 50%, #A96C16 50%);
    right: -9px;
    top: 20px;
    padding: 3px 20px;

    .discountMsg {
        @include fontplantin;
        color: #fff;
    }
}

.discountLabel::after {
    position: absolute;
    background-color: #B87D2B;
    background-image: -moz-linear-gradient(320deg, #B87D2B 50%, #A96C16 50%);
    content: "";
    transform: rotate(53deg) skewX(15deg) skewY(5deg);
    width: 12px;
    height: 13px;
    top: 4px;
    left: -6px;
}

.discountLabel.leftPosition {
    right: inherit;
    left: -9px;
}

.discountLabel.leftPosition::after {
    left: initial;
    right: -6px;
}

.discountTriangle {
    position: absolute;
    right: 0px;
    bottom: -9px;
    width: 0px;
    height: 0px;
    border-left: 9px solid #846A37;
    border-bottom: 9px solid transparent;
}

.discountTriangle.leftPosition {
    left: 0px;
    right: inherit;
    border-left: medium none;
    border-right: 9px solid #846A37;
}

body#deal {
    .discountLabel {
        position: relative;
        background: none;
        right: inherit;
        top: inherit;
        padding: 0 0 10px;

        .discountMsg {
            @include fontplantin;
            color: #000;
        }
    }

    .discountLabel::after {
        display: none;
    }

    .discountLabel.leftPosition {
        right: inherit;
        left: inherit;
    }

    .discountLabel.leftPosition::after {
        left: initial;
        right: inherit;
    }

    .discountTriangle {
        display: none;
        position: absolute;
        right: 0px;
        bottom: -9px;
        width: 0px;
        height: 0px;
        border-left: 9px solid #846A37;
        border-bottom: 9px solid transparent;
    }

    .discountTriangle.leftPosition {
        display: none;
        left: 0px;
        right: inherit;
        border-left: medium none;
        border-right: 9px solid #846A37;
    }
}

body#pdp.tabFindinginfinity {
    div#fiWrapper {
        padding: 35px 94px 0 95px;
    }

    div.inner-wrapper {
        padding: 0 94px 0 95px;
    }

    div#fiWrapper, div.inner-wrapper {
        div#fiBanner {
            @include imageshadow;

            margin-bottom: 60px;
            width: 100%;

            img {
                display: block;
                width: 100%;
                max-width: 900px;
            }
        }

        section#fiContent {
            div.sectionHeadings {
                margin-bottom: 17px;

                span.sectionHeadingBar {
                    margin: 0 0 20px 0;
                    padding: 0;
                }

                div.sectionHeading {
                    padding-left: 0;
                    text-transform: capitalize;
                }

                div.sectionSubHeading {
                    border-bottom: 1px solid #c7c7c7;
                    margin-bottom: 0;
                    padding-left: 0;
                    padding-bottom: 19px;
                }
            }

            div#fiIntro {
                @include fontplantin;

                font-size: 20px;
                font-style: italic;
                line-height: 27px;
                margin-bottom: 25px;
            }

            div#fiCopyText1,
            div#fiCopyText2,
            div#fiCopyText3 {
                @include fontplantin;

                font-size: 16px;
                line-height: 22px;
            }

            div#fiImage1,
            div#fiImage2,
            div#fiImage3,
            div#fiImage4,
            div#fiImage5,
            div#fiImage6,
            div#fiImage7,
            div#fiImage8,
            div#fiImage9 {
                img {
                    display: block;
                    width: 100%;
                }
            }

            div#fiSection1 {
                margin-bottom: 50px;
                overflow: hidden;

                div.col1,
                div.col2 {
                    float: left;
                }

                div.col1 {
                    padding-left: 4px;
                    padding-right: 30px;
                    width: 269px;
                }

                div.col2 {
                    width: 598px;
                }

                div#fiQuote {
                    @include fontplantin;
					margin-top: 84px;

                    p {
                        font-size: 20px;
                        line-height: 28px;
                        text-align: center;
                        margin-bottom: 30px;

                        span.quote {
                            font-size: 30px;
                        }
                    }

                    p.quoteIcon {
                        margin-bottom: 5px;

                        > span {
                            background: url('../images/sprites.png') no-repeat -107px -42px;
                            display: inline-block;
                            font-style: italic;
                            height: 36px;
                            width: 36px;
                        }
                    }

                    p.credit {
                        font-family: DINWebProCondBold, Arial, sans-serif;
                        font-size: 12px;
                        line-height: 14px;
                        text-transform: uppercase;
                        margin-bottom: 1em;
                    }
                }

                div#fiImage1 {
                    // height: 400px;
                    float: left;
                    margin-bottom: 6px;
                    width: 598px;
                }

                div#fiImage2 {
                    // height: 400px;
                    margin-right: 6px;
                    float: left;
                    width: 296px;
                }

                div#fiImage34 {
                    float: left;
                }

                div#fiImage3,
                div#fiImage4 {
                    // height: 197px;
                    width: 296px;
                }

                div#fiImage3 {
                    margin-bottom: 6px;
                }
            }

            div#fiSection2 {
                margin-bottom: 76px;

                div#fiImage5,
                div#fiImage6 {
                    float: left;
                    // height: 600px;
                    margin-bottom: 44px;
                    width: 447px;
                }

                div#fiImage5 {
                    margin-right: 6px;
                }
            }

            div#fiSection3 {
                clear: left;
                margin-bottom: 76px;
                overflow: hidden;
				float:left;

                div#fiCopyText2,
                div#fiCopyText3 {
                    float: left;
                    padding-right: 40px;
                    width: 260px;
                }


            }
            div#fiFeaturedHotels {
				@include imageshadow;

				background-color: #fff;
				float: right;
				padding: 26px 20px 17px;
				width: 255px;

				h5 {
					@include fontplantin;

					font-size: 16px;
					line-height: 20px;
					margin-bottom: 22px;
					text-align: center;
				}

				div.spacer {
					@include header-bar(#c3c3c3, 17px, 1px, 10px);

					margin: 0 auto 24px auto;
				}

				ul {
					font-family: DINWebProCondBold, Arial, sans-serif;
					line-height: 15px;
					font-size: 15px;
					text-align: center;
					text-transform: uppercase;

					li {
						margin-bottom: 20px;

						span.propertyName a {
							color: #000;
						}

						span.location {
							color: #666;
						}

						div.from {
							margin-top: 5px;
						}
					}

					li.hide-me {

						display: none;
					}
				}

				> p.viewAll {

					> span {

						border-bottom: 1px solid #B4B4B4;
						color: #000000;
						display: inline-block;
						font-family: DINWebPro,Arial,sans-serif;
						font-size: 12px;
						text-decoration: none;
						cursor: pointer;
					}
				}
			}
            div#fiSection4 {
                clear: left;
                margin-bottom: 69px;
                overflow: hidden;

                div#fiImage7,
                div#fiImage8,
                div#fiImage9 {
                    // height: 400px;
                    float: left;
                    width: 296px;
                }

                div#fiImage7,
                div#fiImage8 {
                    margin-right: 6px;
                }
            }
        }

        section.contentbox{
            div.contentboxContent{
                padding: 52px 0;
                background-color:inherit;
            }
        }
    }

    #videoLightbox{
        max-height:506px !important;
    }
}

section#nearbyProperty{
    overflow: hidden;
    
    #hotelsList {
        width: 97%;
        float: left;
        margin: 30px 0 0 3%;
        padding-top: 0;
        
        .memberHotels {
            @include imageshadow;
            
            background-color: #fff;
            margin-bottom: 30px;
            overflow: hidden;
            position: relative;
            
            div.hotelImage {
                float: left;
                width: 56.4%;
                
                img {
                    display: block;
                    width: 100%;
                }
            }
            
            div.hotelInfo {
                float: left;
                width: 41%;
                padding-top: 2.4%;
                padding-left: 2%;
                
                div.hotelName {
                    padding-right: 4%;
                    font-family: DINWebProCondBold, Arial, sans-serif;
                    font-size: 18px;
                    line-height: 18px;
                    text-transform: uppercase;
                    
                    .location {
                        color: #666;
                    }
                    
                    #rate {
                        float: right;
                        margin-top: -10%;
                        font-family: DINWebPro, Arial, sans-serif;
                        color: #963;
                    }

                }
            
                div.line {
                    width: 17px;
                    background-color: #c3c3c3;
                    height: 1px;
                    margin-top: 5%;
                    margin-bottom: 0;
                }
                
                .hotelDesc{
                    padding-top:20px;
                }
                
                p {
                    padding-top: 5%;
                    padding-bottom: 14%;
                    line-height: 19px;
                    padding-right: 6%;
                    font-family: DINWebPro, Arial, sans-serif;
                    color: #000;
                    font-size: 13px;
                }
                
                div.order {
                    //height: 63px;
                    margin-top: 4px;
                    //position: absolute;
                    bottom: 0;
                    right: 0;
                    
                    #compare {
                        float: left;
                        margin-top: 36px;
                        font-family: DINWebPro, Arial, sans-serif;
                        color: #000;
                        
                        input[type="button"].checkbox {
                            background-image: url("../images/check-box.png");
                            vertical-align:middle;
                            heigth: 16px;
                            width: 16px;
                            background-color: transparent;
                            background-repeat: no-repeat;
                            border: none;
                        }
                        
                        span {
                            margin-left: 10px;
                        }
                    }
                    
                    div.book {
                        text-align: center;
                        float: right;
                        display: block;
                        
                        div.price {
                            bottom: 45px;
                            @include fontplantin;
                            font-size: 14px;
                            font-style: italic;
                            position: absolute;
                            right: 18px;
                            
                            span {
                                color: #a96c16;
                                font-family: DINWebPro, Arial, sans-serif;
                                font-style: normal;
                            }
                        }
                        
                        div.buttonLearn {
                            @include darkbutton;
                            
                            bottom: 0;
                            position: absolute;
                            right: 164px;
                        }
                        
                        div.button {
                            @include lightbutton;
                            
                            bottom: 0;
                            position: absolute;
                            right: 0;
                        }

                        div.button:hover {
                            @include lightbuttonhover;
                        }
                        div.button:active {
                            @include lightbuttonclick;
                        }
                        div.learnmorebtn{
                            @include darkbutton;
                            
                            bottom: 0;
                            position: absolute;
                            right: 0;
                        }
                         div.learnmorebtn:hover {
                            @include darkbuttonhover;
                        }
                        div.learnmorebtn:active {
                            @include darkbuttonclick;
                        }
                        a {
                           color: #000;
                        }
                    }
                }
            }
        }
    }
}

.roomRateTerms {
    text-decoration: underline;
    display: block;
    margin-top: 5px;
}

.roomRateCancelPolicy {
    position: relative;
    top: 5px;
    display: none;
    color: #666666;
    line-height: 19px;
    max-width:300px;
}

.feature-request-new-left {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 200px;
    height: 640px;
}

.feature-request-new-right {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 200px;
    height: 470px;
}

.the-new-pdp-info {
    border-top: 1px solid #d4d0ce;
    border-bottom: 1px solid #d4d0ce;
    line-height: 19px;
    margin-bottom: 20px;
    color: #333333;
    font-family: DINWebPro, Arial, sans-serif;
    font-size: 13px;
    padding-bottom: 4px;
    padding-top: 8px;
    
    .slash {
        display: inline-block;
        padding-left: 4px;
        padding-right: 4px;
    }
}

#pdpInfo #pdpDetails {
    display: none !important;
}
