
@media only screen and (min-width: 1px) and (max-width: 768px) {
    #main {
        height: auto !important;
    }

    section#noResult {
        padding: 38px 10px;

		font-family:Plantin;
        .noResultCopy{
		    font-size:18px;
			font-style:italic;
			text-align:center;


		}
		> p.header{
			font-size:29px;
			line-height:30px;
			padding:0 20px 25px;


		}
        h1 {
            font-size: 29px;
            text-align: center;
            padding-bottom: 7px;

            i {
                display: block;
            }
        }

        p, ul {
            font-size: 13px;
            line-height: 18px;
        }

        p {
            padding-bottom: 5px;
        }

        .by-country {
            background: #262626;
            background: -moz-linear-gradient(top, #262626 0%, #262626 51%, #050607 52%, #050607 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#262626), color-stop(51%,#262626), color-stop(52%,#050607), color-stop(100%,#050607));
            background: -webkit-linear-gradient(top, #262626 0%,#262626 51%,#050607 52%,#050607 100%);
            background: -o-linear-gradient(top, #262626 0%,#262626 51%,#050607 52%,#050607 100%);
            background: -ms-linear-gradient(top, #262626 0%,#262626 51%,#050607 52%,#050607 100%);
            background: linear-gradient(to bottom, #262626 0%,#262626 51%,#050607 52%,#050607 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#262626', endColorstr='#050607',GradientType=0 );
            display: block;
            margin: 0 auto;
            font-family: DINWebProCondBold,Arial,sans-serif;
            text-transform: uppercase;
            font-size: 14px;
            width: 138px;
            line-height: 35px;
            text-align: center;
            color: #FFFFFF;
            padding-top: 2px;
            margin-top: 14px;
        }
    }

    .calendar-no-result-mobile {
        padding-bottom: 40px !important;

        header {
            margin-bottom: 12px;

            h1 {
                font-family: Plantin,Arial,sans-serif;
                font-size: 25px;

                span {
                    font-style: italic;
                }
            }

            h5 {
                font-family: Plantin,Arial,sans-serif;
                font-size: 16px;
                font-style: italic;
            }
        }
    }

    #partHotels {
        padding-top: 9px;

        .view-distance-in {
            margin-top: 9px;
            font-family: DINWebPro;
            font-size: 12px;
            color: #333333;
            text-decoration: underline;
        }

        section#pdpInfo {
            text-align: center !important;
            padding: 0px 10px;

            .breadcrumbs {
                margin-left: 0px !important;
                text-align: center;
            }
        }

        #hotelsNav {
            margin: 0px 10px 30px 10px !important;

            .notActive {
                box-shadow: none;
            }

            .active {
                box-shadow: none;
                background: #e7e7e3;
            }

            div {
                float: none;
                text-align: center;

                h1 {
                    font-size: 20px;
                    line-height: 30px !important;

                    i {
                        display: block;
                        font-size: 29px;
                    }
                }
            }

            .search-details {
                font-family: dinwebpro;
                margin-top: 10px;
                font-size: 14px;

                span {
                    text-decoration: underline;
                    color: #a96c16;
                }
            }

            nav {
                margin-top: 18px;
                float: none !important;

                .navLabel {
                    font-size: 12px !important;
                    line-height: 31px !important;
                    padding: 0px 0px 0px 10px;
                }

                .navValue {
                    font-size: 12px !important;
                    line-height: 31px !important;
                    float: right;
                    margin-right: 21px;
                }

                #sort {
                    position: relative;
                    float: left;
                    background: #FFFFFF;
                    height: 31px;
                    width: 58%;

                    .tzSelect {
                        display: none !important;
                    }

                    select {
                        display: block !important;
                        position: absolute;
                        left: 0px;
                        top: 0px;
                        width: 100% !important;
                        height: 100% !important;
                        opacity: 0 !important;
                        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)" !important; /* IE 8 */
                        filter: alpha(opacity=0) !important; /* IE 5-7 */
                    }

                    li {
                        margin-right: 0px !important;
                    }

                    .navSprite {
                        position: absolute;
                        background: url('../images/sprites.png') no-repeat -206px -24px;
                        width: 10px;
                        height: 6px;
                        right: 6px;
                        top: 12px;
                    }
                }

                #view {
                    float: right;

                    .navLabel {
                        padding: 0px !important;
                        font-size: 11px;
                    }

                    li#mapView {
                        margin-left: 10px;
                    }

                    li div {
                        width: 31px !important;
                        height: 31px !important;
                    }

                    li#mapView span.icon {
                        top: 6px !important;
                        left: 10px !important;
                    }

                    li#listView span.icon {
                        top: 11px !important;
                        left: 10px !important;
                    }
                }
            }
        }

        #hotelsWrapper {
            padding: 9px 10px 0px 10px;

            .sidebarHelper {
                display: none;
            }

            #hotelsList {
                margin: 0px;
                width: 100%;

                .memberHotels {
                    margin-bottom: 20px;

                    div.hotelInfo {
                        float: none;
                        padding: 0px !important;
                        width: 100% !important;
                        clear: both;

                        .hotelName {
                            padding: 24px 15px 0px 15px;
                            font-size: 28px;
                            line-height: 18px;

                            a {
                                line-height: 28px;
                            }

                            .location {
                                font-size: 18px;

                                br {
                                    display: none;
                                }
                            }
                        }

                        div.line {
                            margin-left: 15px;
                            margin-top: 6px;
                        }

                        div.order {
                            > p {
                                display: block;
                                padding: 7px 15px 0px 15px;
                                font-family: Plantin,Arial,serif;
                            }

                            div.book {
                                float: none;

                                div.price {
                                    position: static;
                                    text-align: left;
                                    line-height: 40px;
                                    min-height: 40px;
                                    padding: 12px 0px 0px 15px;

                                    span {
                                        font-weight: bold;
                                    }
                                }

                                div.learnmorebtn {
                                    padding: 0px 15px;
                                }

                                div.button {
                                    padding: 0px 24px;
                                    width: auto;
                                }

                                .mobile-only {
                                    div.learnmorebtn {
                                        right: 116px;
                                    }
                                }
                            }
                        }

                        ul.featurePrice {
                            font-family: Plantin,Arial,serif;
                            padding-left: 15px;
                            padding-bottom: 46px;
                            padding-top: 12px;

                            > li {
                                display: block;
                            }

                            li {
                                line-height: 21px;
                                padding: 0px;
                                clear: both;
                                height: auto;

                                span:nth-child(1) {
                                    float: none;
                                }

                                > span:first-child {
                                    float: none;
                                    display: inline-block;
                                    width: 55%;
                                }

                                .discountFeature {
                                    margin-left: 1px;
                                    font-style: none;
                                    font-family: dinwebpro;
                                    font-weight: bold;
                                }

                                .discountFeatureSpacer {
                                    margin-left: -8px;
                                }
                                .discountFeatureDesktopSpacer {
                                    display: none;
                                }
                            }
                        }
                    }

                    div.hotelImage {
                        width: 100% !important;
                        position: relative;

                        > a > img {
                            display: none;
                        }

                        > img {
                            height: auto;
                        }
                    }
                }
            }
        }
    }


	section#pdpInfo {
	     margin-bottom:0;
		#mobile-facts-btn{
		    display:block;
			font-family:DINWebPro, Arial, sans-serif;
			font-size:13px;
			color:#333333;
			margin: 15px auto;
			.arrow{
			    background:url('../images/sprites.png') -207px -25px;
				display:inline-block;
				width:10px;
				height: 5px;
                margin-left: 5px;
			}
			#mobile-facts-info{
			    display:none;
				text-align:center;
				line-height: 25px;
                margin-top: 5px;
				span{
				   font-weight:bold;
				   color:#000000;
				   text-transform: uppercase;
				}
			}
	    }
	    #pdpDetails{
		    display:none;
	    }

	}
	section#pdpTabs{

        padding: 0 30px;
		margin-bottom:0;
		height:auto;

        a.tab-nav {
            position: absolute;
            display: block;
            border: 1px solid #c7c7c7;
	    background: #fff;
            padding: 0 13px;
            line-height: 31px;
            z-index: 1000;
            display: none;
        }

        a.next-tab {
            right: 0;
        }

        a.prev-tab {
            left: 0;
        }

	    .flex-viewport{
			padding:0;
		}

		div {
			border:none;
			width:100%;
			height: 33px;
			position: relative;
			overflow: hidden;

			ul {
				border:none;
				height:auto;
				position: absolute;
				width: 2000px;
				background: #fff;
				border-bottom:1px solid #c7c7c7;
				border-top:1px solid #c7c7c7;

				li {
					border-left:1px solid #c7c7c7;
					padding: 8px 11px;
					background:#fff;
					color:#999999;
					float:left;
					height:auto;
					margin:0;

					a {
						background:none;
						box-shadow:none;
						height:auto;
						font-size:13px;
						line-height:13px;
						text-shadow:none;
						margin:0;
						padding:0;

					}
					a:hover{
				        background:none;
				    }

				}

				li:last-child {
				    border-right: 1px solid #c7c7c7;
				}

				li.selected{
					background:#000;
					border-bottom:none;
					border-right:none;
					border-top: none;
					position: relative;
					top: 0;
					line-height: 15px;

					a{
						background:none;
						box-shadow:none;
						height:auto;
						font-size:13px;
						line-height:13px;
						text-shadow:none;
						border:none;
						margin:0;
						padding:0;

					}

				}
				li.selected:last-child {
				    border-right: 1px solid #c7c7c7;
				}
			}
		}
	}
	section#pdpImage, .bookingRoomImage {

        div.caption,
	    p.caption{
		    margin-top:-2px;
			position:relative;
			width:auto;
			right:0;
		}
        
        .social-share {
            height: 19px;
            margin-bottom: 7px;
            
            .buttons {
                float: left;
                position: relative;
                top: -10px;
                left: 0px;
                height: 10px;
            }
        }

		.img-count, #imgCount{
			display:none;
		}

		.overlay {
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;

			.shadow {
				background: none repeat scroll 0 0 #000000;
				height: 33px;
				opacity: 0.5;
                                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
                                filter: alpha(opacity=50); /* IE 5-7 */
				position: absolute;
				right: 0;
				top: 0;
				width: 43px;
			}

			.icon-arrows {
				color: #ffffff;
				font-size: 16px;
				position: absolute;
				right: 13px;
				top: 8px;
			}
		}
	}
	section#pdpAboutyourstay{
	    margin-top: 10px;
	    padding: 0 10px;
        width: auto;
        
        .important-informations {
            padding-right: 7px;
            padding-bottom: 10px;
            
            .important-information {
                height: 40px;
                line-height: 18px;
                position: relative;
                display: block;
                
                .label {
                    top: 3px;
                    padding-left: 26px;
                }
                
                .icon {
                    position: absolute;
                    left: 14px;
                    top: 1px;
                }
                
                .newline-date-mobile {
                    display: block;
                    position: absolute;
                    left: 6px;
                    top: 18px;
                }
                
                .tail {
                    width: 7px;
                    height: 40px;
                    background: url('../images/sprites-ux-updates.png') no-repeat -61px 0px;
                    position: absolute;
                    right: -7px;
                    top: 0px;
                }
            }
        }
        
	    div.sectionHeadings div.sectionHeading {
            padding-left: 0;
	    }

	    div.about {
            margin-left: 0;

            div.video {
                padding-left: 0;

                div.fluid-width-video-wrapper {
                    max-height:300px;
                    padding-left: 0;
                }
            }
            
            div.description {
                p {
                    font-size: 15px;
                    line-height: 24px;
                }
            }
	    }

		.video{

		}
	}
	section#pdpAboutyourstay.unbookable{
    width: auto;
  }

    .about-your-stay-icons {
        margin-top:20px;
        
        .icon-holder .stay-icon {
            min-height: 50px;
            .icon-description{
                display:none;
            }
            .icon-subheadline{
                font-size: 13px;
                padding-top: 12px;
            }
        }
    }
    
	section#pdpBook, section.contentbox, section#pdpCurrentdeals,section#pdpDealsoverview{
		display:none;
	}

	.tabDeals section#pdpDealsoverview{
	    display:block;
		padding:0 10px;
		margin-top:12px;
		header{
			display:none;
		}
		> ul{
			margin:0;
			> li{
				display:block;
				padding:0;
				margin-bottom:18px;
				width:100%;

			div.intro{
					display:block;
					width:100%;
					// padding:45px 0 20px 0;
					height:auto;
                    
					.rightArrow{
						display:none;
					}
                    
                    .image {
                        width: auto;
                        
                        h2 {
                            padding: 40px 0 30px;
                        }
                    }
				}
				div.description{
					padding:20px 15px 0;
					display:block;
					width:100%;
					height:auto !important;
                    
				   .dealBenefits{
						display:block;
						height:auto;
				   }
				}
				div.cta{
					display:inline-block;
					width:100%;
                    position: relative;
                    top: inherit;
                    right: 20px;
                    margin-bottom: 20px;

					ul{
						margin-right:0;
					}

				}
			}
		}
	}

    #mobileMapWrapper{
	    width:94%;
	    height:auto;
		left:0;
		top:0;
		margin:3%;
		z-index:21005;
		display:none;
		#mobileMapCanvas{
			width:100%;
            height:640px;
			div.infobox {
				background: #fff;
				box-shadow: 0 00 2px 2px rgba(0,0,0,0.2);
				padding: 15px;
				margin-left: -120px;
				margin-bottom: 40px;
				white-space: nowrap;
				width: auto !important;
				height: auto;
				.directions{
					display:block;
					margin-top:10px;
					a{
						color:#a96c16;
						border-bottom:1px solid #a96c16;
					}
				}
				span.arrow {
					background: url('../images/sprites.png') no-repeat -291px 0;
					bottom: -17px;
					right: 85px;
					position: absolute;
					height: 17px;
					width: 24px;
				}

				p {
					font-family: DINWebPro, Arial, sans-serif;
					font-size: 12px;

					a {
						border-bottom: 1px solid #b4b4b4;
						color: #000;
						display: inline-block;
					}
				}

				p.name {
					font-family: DINWebProCondBold, Arial, sans-serif;
					font-size: 18px;
					margin-bottom: 5px;
					text-transform: uppercase;
					margin-right:25px;
				}

				p.address {
					margin-bottom: 5px;
				}
			}

		}

	}
	.mobile-map-visible {
	    overflow:hidden;
	    div#main div#mobileMapWrapper{
			display:block !important;
			height:auto !important;
			visibility:visible !important;
		}
	}
	#mobileMapWrapper.hidden{
		height:1px;
        position:absolute;
		top:0;
		visibility:hidden;
	}
	//finding infinity
	body#pdp.tabFindinginfinity {
		div#fiWrapper {
		    padding: 10px 10px 0;
		}

		div.inner-wrapper {
		    padding: 0 10px;
		}

		div#fiWrapper, div.inner-wrapper {
			div#fiBanner{
				display:none;
				margin-bottom:20px;
			}
			section.contentbox div.contentboxContent{
				padding:0;
			}
			section#fiContent {
				div.sectionHeadings {
				    text-align:center;
				    border-bottom: 0;
					div.sectionSubHeading {
						border-bottom:none;
						padding-bottom:0;
					}
					span.sectionHeadingBar{
						margin:0 auto 20px;
					}
				}
				div#fiIntro{
				    font-size:15px;
					line-height:20px;
					margin-bottom:10px;

				}
				div#fiSection1{
				    margin-bottom:30px;
					div.col1{
						width:100%;
					}
					div.col2{
						width:100%;
						padding:30px 0 0;
					}
					div#fiQuote{
						display:none;
						padding:20px;
						p{
							font-style:italic;
							margin-bottom:17px;
						}
					}
					div#fiImage1{
						margin-bottom:30px;
					}
					div#fiImage1, div#fiImage3, div#fiImage4{
						width:100%;
					}
					div#fiImage3{
						margin-bottom:2%;
					}
					div#fiImage2{
						width:49%;
						margin-right:2%;
					}
					div#fiImage34{
						width:49%;

					}

				}
				div#fiSection2{
					div#fiImage5{
						width:49%;
						margin-right:2%;
						margin-bottom:30px;
					}
					div#fiImage6{
						width:49%;
						margin-bottom:30px;

					}
				}
				div#fiSection3{
				    margin-bottom:0;
				    div#fiCopyText3, div#fiCopyText2{
						width:100%;
					}
				}
				div#fiSection4{
					div#fiImage7, div#fiImage8, div#fiImage9{
						width:32%;
					}
					div#fiImage7, div#fiImage8{
						margin-right:2%;
					}
				}
				div#fiFeaturedHotels{
					width:100%;
					float:none;
					clear:both;
					padding: 26px 0 17px;
					margin-top:20px;
					h5{
						font-size:22px;
					}
				}
				div#fiSection4{
					margin-bottom:30px;
				}

			}
		}
	}
	div#communitySignupBox{
		width:100%;
		p, div.login{
			display:none;
		}
		div.caption{
			margin-top:10px;
			margin-bottom: 20px;
		}
		.emailInput{
		    input#email{
				width:68%;
			}
			button#joinByEmail{
				width:95px;
			}
		}
	}

  /*PDP overview tab-PDP Community Benefits Section */

  section#pdpCommunityBenefits {

      ul {
          padding: 0 0 90px 0;

          > li, li:first-child {
              display: block;
              width: 100%;
              margin-top: 21px;
              text-align: center;

              div.benefitTitle {
                  margin: 0;
              }

              a {
                  position: absolute;
                  bottom: 7px;
                  margin-left: auto;
                  margin-right: auto;
                  left: 0;
                  right: 0;
              }
          }
      }
  }

    div.fixed-wrapper section#pdpCommunityBenefits {
        ul {
            > li a {
                bottom: 77px;
            }
        }
    }

  /*PDP overview tab-PDP Community Benefits Section */

    section#pdpNeighbourhood {
        div#neighbourhoodInfoTab{
            width:94%;
            padding:3%;
            div#neighbourhoodMapWrapper div#neighbourhoodMap{
                height:290px;
            }
        }
        div#neighbourhoodGuide{
            padding:0 3%;
            div.horizontalSpacer{
                padding:0 0 10px;
            }
            div.locationDescription{
                width:100%;
                font-size:15px;
                line-height:25px;
            }
            div.nearestInfo{
                width:100%;
                font-size:12px;    
                padding:50px 0 0;
                
                h4{
                    font-size:16px;
                }
                h5{
                    font-size:12px;
                }
                p{
                    font-size:12px;
                }
            }
        }
    }
    
    #pdp.tabDeals section#pdpDealsoverview {
        float: none;
        width: auto;
        margin: 0px 10px;
        
        .deals {
            
        }
    }
    
    section#nearbyProperty{
        div#hotelsList{
            .memberHotels {
                div.hotelInfo{
                    width:100%;
                    padding-left:0;
                    div.hotelName{
                        padding:0 5%;
                    }
                    div.line{
                        margin:0 5%;
                    }
                    div.order{
                        position:inherit;
                        div.book{
                            float:none !important;

                            div.buttonLearn, div.button,div.price{
                                position:inherit;
                            }
                            div.price{
                                width:94%;
                                text-align:right;
                            }
                            div.buttonLearn, div.button{
                                clear:both;
                                overflow:inherit;
                                width:38%;
                                font-size:14px;
                                line-height:39px;
                                margin:10px 0;
                                padding:0 3%;
                            }
                        }
                    }
                }
                div.hotelImage{
                    width:100%;
                }
                div.order{
                    width:100%;
                }
            }
        }
    }
    
    #pdp.tabDeals section#pdpDealsoverview > ul > li div.image {
        width: auto;
    }
}
