@media only screen and (min-width: 1px) and (max-width: 479px) {
	section#pdpAboutyourstay{
		div.about div.video div.fluid-width-video-wrapper {
			max-height:180px;
	    }
	}
    
    #pdp.tabDeals section#pdpDealsoverview > ul > li div.image {
        width: auto;
    }
}