@media only screen and (max-width: 768px) {
    section#privacyPolicy {
        padding: 0 10px;
        margin-bottom: 40px;

        header {
            div.sectionHeadings {
                div.sectionHeading {
                    margin-bottom: 20px;
                }
            }
        }

        div.content {
            padding: 20px 0 4px;

            div.subtitle, div.copy {
                width: 100%;
                padding: 0 10px;
            }
            div.subtitle h2 {
                width: 100%;
                padding: 0 0 10px;
                text-align: center;
            }
            div.copy {
                p {
                    font-size: 15px;
                    line-height: 20px;
                }
                strong {
                    font-weight: normal;
                    font-size: 19px;
                }
            }
        }
    }
}
