.impressum,
.privacyPolicy{
	#main{
		margin-top: 8px;
	}
}

section#privacyPolicy,
section#impressum {
    @extend %grid__item;
    @extend %one-whole;
    
    margin-bottom: $sectionBottomSpacing;
    margin-left: 0;
    margin-top: 65px;
    padding: 0 35px 0 35px;
    
    header {
        div.sectionHeadings {
            text-align: center;
            margin-bottom: 0;
            border-bottom: 0;
            
            div.sectionHeading {
                margin-bottom: 38px;
                padding-left: 0;
            }
        }
    }
    
    div.content {
        @extend %grid;
        
        background: #fff;
        margin-bottom: 25px;
        margin-left: 0;
        padding: 30px 0 4px 0;
        
        div.subtitle {
            @extend %grid__item;
            @extend %one-third;
            
            padding: 0;
            
            h2 {
                font-family: DINWebProCondBold, Arial, sans-serif;
                font-size: 29px;
                line-height: 29px;
                padding-left: 30px;
                text-transform: uppercase;
                width: 65%;
            }
        }
        
        div.copy {
            @extend %grid__item;
            @extend %two-thirds;
            
            @include fontplantin;
            font-size: 16px;
            line-height: 25px;
            padding: 0 30px;
            
            h3 {
                border-top: 1px solid #c3c3c3;
                font-family: DINWebProCondBold, Arial, sans-serif;
                font-size: 18px;
                height: 1px;
                margin-top: 20px;
                overflow: visible;
                padding-bottom: 24px;
                padding-top: 10px;
                text-transform: uppercase;
                white-space: pre;
                width: 17px;
            }
            
            p {
                margin-bottom: 1.5em;
            }
			strong{
				font-family: DINWebProCondBold, Arial, sans-serif;
				font-size:18px;
                text-transform: uppercase;
			}
        }
    }
    
    div.content:last-child {
        margin-bottom: 0;
    }
}

section#impressum div.content div.copy h3 {
    margin-top: 48px !important;
}