/* ==========================================================================
    Media Queries for 480px screens
========================================================================== */

@media only screen and (min-width: 480px) and (max-width: 768px) {
    li#icon_login {
        font-size: 22px;
    }

    div.ui-dialog {
        div.ui-dialog-content{
            form{
                ul{
                    li.lightboxCheckboxWrapper {
                        margin-bottom:5px;
                    }
                }
            }
        }
    }

}
