/* ==========================================================================
    Media Queries for General non-desktop screens
========================================================================== */

.mobile-only {
    display: none !important;
}

.mobile-only-inline {
    display: none !important;
}

.desktop-only-inline {
    display: inline !important;
}

@mixin mobile-yellow-button {
	text-align: center;
	font-family: DINWebProCondBold, Arial, sans-serif;
	font-size: 16px;
	line-height: 44px;
	color: #222222;
	text-transform: uppercase;
	letter-spacing: 0.5px;

	background: #ffed1d;
	background: -moz-linear-gradient(top, #ffed1d 50%, #f5e313 50%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#ffed1d), color-stop(50%,#f5e313));
	background: -webkit-linear-gradient(top, #ffed1d 50%,#f5e313 50%);
	background: -o-linear-gradient(top, #ffed1d 50%,#f5e313 50%);
	background: -ms-linear-gradient(top, #ffed1d 50%,#f5e313 50%);
	background: linear-gradient(to bottom, #ffed1d 50%,#f5e313 50%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffed1d', endColorstr='#f5e313',GradientType=0);
}
@media only screen and (min-width: 1px) and (max-width: 768px) {
    .metric-value,
    .mile-value,
    #header-wide-bg {
        display: none;
    }

    ul.breadcrumbs {
        li {
            float: none;

            a {
                position: relative;
                top: -3px;
            }
        }

        li.seperator {
            width: 16px;
        }
    }
    
    div.ui-dialog {
        div.ui-dialog-content {
            form {
                li {
                    div.valid {
                        left: auto;
                        right: 10px;
                    }
                }
            }
        }
    }

    @mixin mobile-input {
        border: 1px solid #c7c7c7;
        background: url(/assets/images/mobile/mobile-search-gps.png) no-repeat right center;
        padding: 11px 38px 11px 18px;
        font-family: DINWebPro, Arial, sans-serif;
        font-size: 14px;
        /*line-height: 42px;*/
        height: 20px;
        margin: 0px;
        letter-spacing: -0.5px;
        outline: none;
        -webkit-appearance: none;
        border-radius: 0;
    }



    @mixin mobile-black-button {
        background: #262626;
        background: -moz-linear-gradient(top, #262626 0%, #262626 51%, #050607 52%, #050607 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#262626), color-stop(51%,#262626), color-stop(52%,#050607), color-stop(100%,#050607));
        background: -webkit-linear-gradient(top, #262626 0%,#262626 51%,#050607 52%,#050607 100%);
        background: -o-linear-gradient(top, #262626 0%,#262626 51%,#050607 52%,#050607 100%);
        background: -ms-linear-gradient(top, #262626 0%,#262626 51%,#050607 52%,#050607 100%);
        background: linear-gradient(to bottom, #262626 0%,#262626 51%,#050607 52%,#050607 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#262626', endColorstr='#050607',GradientType=0 );
    }

    @mixin date-picker {
        .datepickerContainer {
            padding: 0px 2px;
        }

        .datepickerContainer > table {
            width: 100%;

            > tbody > tr > td > table {
                width: 100%;

                .datepickerMonths,
                .datepickerYears {
                    display: none;
                }

                th, td {
                    text-align: center;
                }

                .datepickerMonth {
                    @include fontplantin;
                    font-size: 16px;
                    color: #000000;
                    line-height: 30px;
                    padding-bottom: 2px;
                }

                .datepickerDoW th {
                    @include fontplantin;
                    font-size: 13px;
                    color: #929292;
                    line-height: 22px;
                    padding-bottom: 2px;
                }

                .datepickerDays a {
                    @include fontplantin;
                    font-size: 13px;
                    display: block;
                    height: 27px;
                    background: #e8e8e8;
                    line-height: 27px;
                    color: #878787;
                    margin: 2px;
                }

                .datepickerDays .datepickerNotInMonth a {
                    display: none;
                }

                .datepickerSelected a {
                    background: #000000;
                    color: #FFFFFF;
                }

                .datepickerGoPrev,
                .datepickerGoNext {
                    font-family: DINWebPro, Arial, sans-serif;
                    font-size: 16px;
                    color: #828282;
                }

                .datepickerGoPrev {
                    text-align: left;
                    padding-left: 10px;
                }

                .datepickerGoNext {
                    text-align: right;
                    padding-right: 10px;
                }

                .datepickerGoPrev:before {
                    content: '<';
                }

                .datepickerGoNext:before {
                    content: '>';
                }
            }
        }
    }

    body.lightbox-currently-open {
        #wrapper {
            /*display: none !important;*/
            width: 1px !important;
            height: 1px !important;
            overflow: hidden !important;
        }
        
        #main {
            width: 1px !important;
            height: 1px !important;
            overflow: hidden !important;
        }
    }

    div#sidebar{
	    display:none;
	}

	div#main{
        margin-left: 0 !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
	}

    div#wrapper, div.fixed-wrapper {
        overflow: hidden;
    }

    .mobile-only {
        display: block !important;
    }
    .mobile-only-tabs {
        display: block;
    }

    .mobile-only-inline {
        display: inline !important;
    }

    .desktop-only {
        display: none !important;
    }

    .desktop-only-inline {
        display: none !important;
    }

    div#wrapper, div.fixed-wrapper {
        width: 100%;
        background: #f7f7f4;
    }

    .clear {
        clear: both;
    }

    footer#mainFooter {
        position: relative;
		clear:both;
        margin: 0;
        padding: 0;
        overflow: auto;

        ul#footerLinks {
            margin: 45px 0 25px;

            li {
                width: auto;
                display: block;
                padding: 0;

                ul {

                    li {
                        padding: 0;

                        i {
                            float: right;
                            color: #404040;
                            font-size: 12px;
                        }
                    }

                    li.footerURL {
                        display: none;

                        .icon-external-link {
                            display: none !important;
                        }
                    }

                    li.external-link {
                        .icon-external-link {
                            display: block !important;
                        }
                    }

                    li.sectionHeadingBar {
                        display: none;
                    }
                }
            }

            >li {
                border-top: 1px solid #404040;
                padding-top: 15px;
                margin: 0 10px;
            }

            >li:last-child {
                border-bottom: 1px solid #404040;
            }

            li.header {
                font-size: 19px;
                margin-bottom: 10px;

                i {
                    float: right;
                    font-size: 6px;
                    line-height: 15px;
                    color: #404040;
                }
            }
        }

        p#copyright {
            width: auto;
            display: block;
            padding: 0 10px 10px;
            font-size: 12px;
            text-align:center;
        }

        div#socialMedia {
            width: auto;
            padding: 0 0 45px;
            display: block;
            float: none;

            ul {
                text-align: center;

                li {
                    float: none;
                    display: inline-block;
                    margin: 0 5px;
                }

                li.norton, span.vertical-bar {
                    display: none;
                }
            }
        }
    }

    html {
        background: #f7f7f4;

        body {
            padding-bottom: 40px;
            background: #f7f7f4;
        }
    }



    div#sidebar {
	    display: block;
        left: -1024px;
        position: fixed;
        top: 0;
        height: 100%;
        width: 77%;
        padding: 16px;
        background: #222121;
        z-index: 20001;
        overflow: auto;

        div#sidebarTop {
            //width: 90%;
            position: relative;
            
            a:hover {
                color: inherit;
            }

            a#logo {
                background-image: none;
                height: auto;
                width: 150px;
                margin: 0 0 15px;
                color: #555;
                font-size: 25px;
                
                img {
                    width: 24px;
                    height: 24px;
                }
            }

            div#mobile-close {
                float: right;
                color: #555;
                font-size: 16px;
                padding:0 0 10px 10px;

                i {
                    color: #CFCFCF;
                }
            }
            
            nav#mainMenu {
                margin-left: 0;
                font-size: 16px;
            }

            nav#mainMenu li {
                border-top: 1px solid rgba(255, 255, 255, 0.1);
                padding: 5px 0 2px;
                color: #fff;
            }

            nav#mainMenu li:last-child {
                border-bottom: 1px solid #555;
            }

            nav#mainMenu li.sectionHeadingBar {
                display: none;
            }

        }

        nav#userMenu {
            margin-top:16px;
            margin-left: 0;
            width: 80%;
            position: static;
            bottom: 0;

            p.sidebar-tagline {
                color: #CFCFCF;
                margin-bottom: 16px;
                font-family: Plantin,Arial,serif;
                font-size: 14px;
                line-height: 18px;
            }

            li {
                padding-left: 0;
                background: none;
                line-height: 28px;

                div.menu-font {
                    color: #707070;
                }
            }

            li.sectionHeadingBar {
                display: none;
            }

            li#icon_login {
                background: none;
                overflow: auto;
            }

            li.mobile-only {
                font-family: DINWebProCondBold,Arial,sans-serif;
                text-transform: uppercase;

                a.callRegister, a.callLogin {
                    @include mobile-black-button;
                    background: #000;
                    display: block;
                    font-size: 14px;
                    float: left;
                    text-align: center;
                    padding: 8px 32px 4px;
                    text-shadow: 0 0 0;
                }

                a.callRegister {
                    @include mobile-yellow-button;
                    background: #FFED00;
                    margin-right: 10px;
                    line-height: 28px;
                    font-size: 14px;
                    letter-spacing: normal;
                    color: #222;
                    white-space: nowrap;
                }

                a.callLogin:hover {
                    color: #fff;
                }

            }

            li#icon_social {
                clear: both;
                margin: 20px 0 10px;

                a {
                    font-size: 27px;
                    color: #888;
                    margin-right: 7px;
                }

                a:hover {
                    color: #fff;
                }

            }

        }

        a {
            color: #CFCFCF;
        }

    }

    header#searchEngine {
        display: none;
    }

    .calendar-holder {
		border: 1px solid #c7c7c7;
		border-bottom: none;
		display: none;
		background:#ffffff;

		.datepicker {
			@include date-picker;
		}
		.datepickerDisabled a{
		    background:#666666;
		}
		.clear-all {
			float: right;
			font-family: DINWebPro, Arial, sans-serif;
			font-size: 16px;
			color: #666666;
			line-height: 30px;
			margin-right: 4px;

			span {
				text-decoration: underline;
				font-size: 12px;
				line-height: 30px;
			}
		}
	}
	#Calendar{
		padding:0 10px;
		text-align:center;
		.calendar-holder{
			border-bottom: 1px solid #c7c7c7;
			margin-bottom:20px;
		}
	}
	.bookNow{
	    @include mobile-yellow-button;
		padding:11px 30px;
	}
    header#searchEngineMobile {
        display: block;
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        background: #FFFFFF;
        /*border-bottom: 1px solid #ddddda;*/
        z-index: 20010;
        -webkit-box-shadow: 0px 1px 2px 0px rgba(100, 100, 100, 0.50);
        -moz-box-shadow:    0px 1px 2px 0px rgba(100, 100, 100, 0.50);
        box-shadow:         0px 1px 2px 0px rgba(100, 100, 100, 0.50);
        border: none !important;

        .container {
            /*border-bottom: 1px solid #c8c8c5;*/

            .mobile-header-button {
                float: left;
                padding: 24px 14px;
                text-align: center;

                i {
                    font-size: 18px;
                }
            }

            .search-button {
                float: right;
            }

            .logo {
                line-height: 65px;
                height: 64px;
                text-align: center;
                font-size: 24px;
                padding-top: 3px;
            }

            .search {
                padding: 0px 10px;
                clear: both;
                display: none;
                position: relative;

                .search-box {
                    @include mobile-input;

                    display: inline-block;
                    vertical-align: top;
                    margin-bottom: 10px;
                }

                .attention {
                    background: #bf883b;
                    color: #FFFFFF;
                    border-color: #bf883b;
                }

                .attention::-webkit-input-placeholder { /* WebKit browsers */
                    opacity: 1;
                    color: #FFFFFF;
                }
                .attention:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                    opacity: 1;
                    color: #FFFFFF;
                }
                .attention::-moz-placeholder { /* Mozilla Firefox 19+ */
                    opacity: 1;
                    color: #FFFFFF;
                }
                .attention:-ms-input-placeholder { /* Internet Explorer 10+ */
                    opacity: 1;
                    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; /* IE 8 */
                    filter: alpha(opacity=100); /* IE 5-7 */
                    color: #FFFFFF;
                }

                .button {
                    @include mobile-yellow-button;

                    display: inline-block;
                    width: 68px;
                }

                .geo-location-button {
                    position: absolute;
                    height: 32px;
                    width: 32px;
                    right: 85px;
                    top: 6px;
                    background: #FFFFFF;
                    opacity: 0;
                    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
                    filter: alpha(opacity=0); /* IE 5-7 */
                }

                .auto-suggest {
                    position: absolute;
                    left: 10px;
                    top: 44px;
                    background: #FFFFFF;
                    border-left: 1px solid #c7c7c7;
                    border-right: 1px solid #c7c7c7;
                    display: none;
                    z-index: 20001;
                    overflow-y: auto;

                    > li {
                        border-bottom: 1px solid #c7c7c7;
                    }

                    div {
                        font-family: DINWebPro, Arial, sans-serif;
                        font-size: 14px;
                        color: #010101;
                        line-height: 26px;
                        padding: 8px 15px;
                    }

                    .count {
                        color: #999999;
                    }
                    
                    .suggestion .icon {
                        display: inline-block;
                        margin-right: 10px;
                        color: #95928b;
                        font-size: 18px;
                        position: relative;
                        top: 2px;
                    }
                }
            }

            .search-more {
                padding: 0px 10px;
                display: none;

                .row {
                    padding: 11px 0px 13px 0px;
                    height: 22px;
                    position: relative;
                    border-top: 1px solid #c7c7c7;

                    .input-holder {
                        position: absolute;
                        right: 0px;
                        top: 11px;
                        width: 50%;
                        height: 22px;

                        .label {
                            font-family: DINWebPro, Arial, sans-serif;
                            font-size: 14px;
                            color: #000000;
                            line-height: 22px;
                            padding-left: 20px;

                            i {
                                float: right;
                                margin: 3px 7px 0 0;
                            }
                        }

                        .label-checkout {
                            i {
                                margin-right: 0;
                            }
                        }

                        select {
                            width: 100%;
                            height: 22px;
                            position: absolute;
                            left: 0px;
                            top: 0px;
                            opacity: 0;
                            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
                            filter: alpha(opacity=0); /* IE 5-7 */
                        }
                    }

                    .input-holder:first-child {
                        right: auto;
                        left: 0px;
                        border-right: 1px solid #c7c7c7;

                        .label {
                            padding-left: 0px;
                        }
                    }

                    .icon-dropdown {
                        position: absolute;
                        background: url('../images/sprites.png') no-repeat -164px 0px;
                        width: 12px;
                        height: 18px;
                        right: 8px;
                        top: 1px;
                    }

                    .icon-dropdown-children {
                        right: 0px;
                    }
                }

                .row:first-child {
                    padding: 4px 0px 10px 0px;
                    border-top: none;

                    .input-holder {
                        top: 4px;
                    }
                }


            }
        }

        .one-search {
            .search {
                display: block;
            }
        }

        .two-search {
            .search {
                display: block;
            }

            .search-more {
                display: block;
            }
        }
        
        .calendar-holder {
            border: 1px solid #c7c7c7;
            border-bottom: none;
            display: none;
            background:#ffffff;

            .datepicker {
                .datepickerContainer {
                    padding: 0px 2px 0px 1px;
                }

                .datepickerContainer > table {
                    width: 100%;

                    > tbody > tr > td > table {
                        width: 100%;

                        .datepickerMonths,
                        .datepickerYears {
                            display: none;
                        }

                        th, td {
                            text-align: center;
                        }

                        .datepickerMonth {
                            font-family: Plantin;
                            font-size: 16px;
                            color: #000000;
                            line-height: 30px;
                            padding-bottom: 2px;
                        }

                        .datepickerDoW th {
                            font-family: Plantin;
                            font-size: 13px;
                            color: #929292;
                            line-height: 22px;
                            padding-bottom: 2px;
                        }

                        .datepickerDays a {
                            font-family: DINWebPro,Arial,sans-serif;
                            font-size: 13px;
                            display: block;
                            height: 27px;
                            background: #e0e0e0;
                            line-height: 30px;
                            color: #333333;
                            margin: 0px 0px 1px 1px;
                        }

                        .datepickerSelected a {
                            background: #000000;
                            color: #FFFFFF;
                        }

                        .datepickerGoPrev,
                        .datepickerGoNext {
                            font-family: DINWebPro, Arial, sans-serif;
                            font-size: 16px;
                            color: #828282;
                        }

                        .datepickerGoPrev {
                            text-align: left;
                            padding-left: 10px;
                        }

                        .datepickerGoNext {
                            text-align: right;
                            padding-right: 10px;
                        }

                        .datepickerGoPrev:before {
                            content: '<';
                        }

                        .datepickerGoNext:before {
                            content: '>';
                        }
                        
                        td.datepickerSelected a {
                            color: #6c6c6c;
                            background: #b5b5b5;
                        }
                        
                        td.datepickerSelectedFirst a,
                        td.datepickerSelectedLast a {
                            background: #333333;
                            color: #FFFFFF;
                        }
                        
                        td.datepickerDisabled a {
                            color: #b3b3b3;
                            background: #f7f7f6;
                        }
                        
                        td.datepickerNotInMonth a {
                            color: #f7f7f6;
                            background: #f7f7f6;
                        }
                    }
                }
            }
        }
    }

    /*body.small-height {
        header#searchEngineMobile {
            position: absolute;
            background: red;
        }
    }*/

    /* jQuery UI Dialog / Lightbox rules */

    div.ui-dialog {

        div.ui-dialog-content {
            padding: 10px;

            h5 {
                margin: 25px 0 15px;
                font-size: 32px;
                line-height: 32px;
            }

            form {

                padding: 20px 14px;
                margin-bottom: 20px;

				li.error input{
				    box-shadow:0 1px 2px -1px rgba(0, 0, 0, 0.5), 0 0 0 3px #a96c16 inset;
				}
                ul {
                    padding: 0;
                    margin-bottom: 20px;

                    li {
                        margin-bottom: 20px;

                        input {
                            width: 100%;
                        }
						div.errorMessage{
							margin-bottom:20px;
						}
                    }
                }
            }
        }
    }

    div.lightbox {

        p {
            padding: 0;
            text-align: center;
        }
    }

    #lightboxRegister {
        p {
            text-align: left;
        }
    }
    
    #lightboxAccountDelete {
        width: 100% !important;
        
        h5 {
            margin-top: 0px !important;
        }
        
        #lightboxAccountDeleteForm {
            > p {
                @include fontplantin;
                font-size: 13px;
                line-height: 18px;
            }
        }
    }
    
    div#lightboxUpdatePreferences {
        .element-label {
            width: 62%;
        }
    }

    .cvsHelp p {
        padding-top: 40px !important;
    }
    
    .mobile-currency {
        color: #CFCFCF;
        position: relative;
        font-size: 14px;
        font-family: DINWebProMedium,sans-serif;

        div.selected-currency {
            /* background: url(/assets/images/mobile/currency-dropdown-arrow.png) no-repeat right center; */
            text-transform: uppercase;
            display: inline-block;
            padding-right: 10px;
            font-weight: bold;

            i {
                font-size: 5px;
                color: #777;
                position: relative;
                top: -2px;
                left: 5px;
            }
        }

        span {
            color: #fff;
            float: left;
            margin-right: 7px;
            
            i {
                top: 1px;
                position: relative;
                margin-right: 3px;
            }
        }

        select.mobile-only {
            background: none;
            color: #cfcfcf;
            border: 0;
            position: absolute;
            opacity: 0;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
            filter: alpha(opacity=0); /* IE 5-7 */
            top: 0;
        }

        select.mobile-only option {
            background: #333;
        }

    }

	.mobile-fade{
	    position: relative;
        max-height: 8.2em; /* exactly six lines */
        overflow: hidden;
	}

	.mobile-fade:after{
		content: "";
		text-align: left;
		position: absolute;
		bottom: 0;

		right: 0;
		width: 100%;
		height: 5.2em; /* exactly one (last) line */
		background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #f7f7f4 95%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	}

    footer.mobile-footer {
        position: fixed;
        bottom: -1px;
        height: 41px;
        width: 100%;
        background: #000;
        color: #fff;
        font-family: DINWebPro, Arial, sans-serif;
        text-align: center;
        z-index: 20000;

        > div {
            background: url(/assets/images/mobile/sticky-footer-border.png) repeat-y right center;
            display: block;
            float: left;
            padding: 8px 13px;
            font-size: 15px;
            line-height: 40px;

            a {
                display: block;
                height: 100%;
                width: 100%;

                i {
                    font-size: 21px;
                    color: #777;
                    position: relative;
                    top: 4px;
                    right: 2px;
                }
            }

        }
        
        .mobile-footer-currency {
            background: transparent;
        }
        
        .mobile-footer-currency .mobile-currency {
            font-size: 12px;
            font-family: DINWebProMedium, arial;
        }
        
        .mobile-footer-currency .mobile-currency span {
            display: none;
        }

        .mobile-footer-currency .mobile-currency select {
            width: 100%;
            height: 100%;
        }
        
        .mobile-footer-currency .mobile-currency div.selected-currency i {
            font-size: 4px;
            left: 4px;
        }

    }

    footer.mobile-footer-standard {
        min-width: 320px;

        > div {
            padding: 0;
            font-size: 12px;
        }

        .mobile-footer-call {
            width: 126px;
            
            .icon-LHN-Icon-Assistance {
                top: 2px;
                font-size: 16px;
            }
        }
        
        .mobile-footer-location {
            width: 123px;
            
            .icon-geolocator {
                top: 2px;
                right: 3px;
                font-size: 13px;
            }
        }

        .mobile-footer-currency {
            width: 71px;
        }
    }

    footer.mobile-footer-availability, footer.mobile-footer-book-now {
        > div {
            padding: 0;
        }

        .mobile-footer-call {
            width: 12%;
            
            .icon-LHN-Icon-Assistance {
                top: 2px;
                font-size: 16px;
            }
        }

        .mobile-footer-location {
            width: 12%;
            
            .icon-geolocator {
                top: 2px;
                right: 1px;
                font-size: 13px;
            }
        }

        .mobile-footer-currency {
            width: 20%;
            border-right: 0;
        }

        .mobile-footer-cta {
            width: 56%;

            a {
                @include mobile-yellow-button;
                display: block;
                font-size: 14px;
                text-shadow: 1px 1px 0 #fff;
                line-height: 40px;
            }

        }

    }

    footer.mobile-footer-book-now {
           /*bottom: 90px;*/
    }

    div.ui-dialog {
        height: 100% !important;
        overflow-y: scroll;
    }

    .mobile-image-swipe {
	    overflow:hidden;
        .images {
            position: relative;

            .image-holder {
                position: absolute;

                .image {
                    float: left;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center top;
                    
                    picture {
                        width: 100%;
                    }
                }
            }
        }

        .overlay {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;

            .shadow {
                position: absolute;
                right: 0px;
                top: 0px;
                width: 43px;
                height: 33px;
                background: #000000;
                opacity: 0.5;
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
                filter: alpha(opacity=50); /* IE 5-7 */
                display: none;
            }

            .icon-arrows {
                position: absolute;
                right: 12px;
                top: 8px;
                color: #FFFFFF;
                font-size: 16px;
                display: none;
                opacity: 1;
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; /* IE 8 */
                filter: alpha(opacity=100); /* IE 5-7 */
            }

            .img-link { 
                width: 1px;
                height: 1px;
            }
            
            .distance {
                font-family: DINWebProMedium, Arial, sans-serif;
                font-size: 16px;
                color: #000000;
                background: url('../images/mobile/distance-background.png');
                width: 77px;
                line-height: 33px;
                text-align: center;
                display: none;
                white-space: nowrap;
            }
        }
    }

    div#page404 {
        min-width:0;

        div#pageWrapper404 {
            padding:0;
            margin: 38px 13px;

            div#magicMashin {
                display:none;
            }

            div#text404 {
                margin-left:0;
                width:auto;
                font-size:13px;
                line-height:18px;

                p {
                    margin-bottom:19px;
                }

                h1 {
                    text-align:center;
                    line-height:28px;
                }

                h2:first-of-type {
                    display:none;
                }

                h2 {
                    font-size:16px;
                }

                ul {
                    display:none;
                }

                div.line {
                    display:none;
                }
            }
        }
    }

    .body-input-open {
        footer.mobile-footer {
            display: none !important;
        }

        header#searchEngineMobile {
            position: absolute !important;
        }
    }
	
	
}
