/* ==========================================================================
    Media Queries for 320px screens
========================================================================== */

@media only screen and (min-width: 1px) and (max-width: 479px) {

    @mixin mobile-input {
        font-size: 14px;
    }

    @mixin mobile-yellow-button {
        font-size: 16px;
        line-height: 44px;
        letter-spacing: 0.5px;
    }

}
