#rooms {
	div#main{
		margin-top: 48px;
	}
}
#pdpRooms{
    margin-top:35px;
	margin-left:35px;

	#roomsGeneralWrapper{
	    width:267px;
		margin-right: 30px;
		float:left;
		.sectionHeadings{
			
			.sectionHeading, .sectionSubHeading{
			    font-size:29px;
			    font-family:Plantin;
			    text-transform:none;
			}
			.sectionSubHeading{
			    font-size: 18px;
				font-style:italic;
				font-family:Plantin;
				margin-bottom:0;
			}
		}
		#roomsGeneralDesc{
		    margin-top:20px;
			font-family:Plantin;
			font-size:16px;
			line-height:25px;
		}	
    }
	#roomsDescWrapper{
	    width:267px;
		margin-right: 30px;
		position:absolute;
		margin-top:90px;
		.sectionHeadings{
			border-bottom: 1px solid #C7C7C7;
			
			.sectionHeading, .sectionSubHeading{
			    font-size:29px;
			    font-family:Plantin;
			    text-transform:none;
			}
			.sectionSubHeading{
			    font-size: 18px;
				font-style:italic;
				font-family:Plantin;
				border-bottom: 1px solid #FFFFFF;
				margin-bottom:0;
			}
		}
		#roomsGeneralDesc{
		    margin-top:20px;
			font-family:Plantin;
			font-size:16px;
			line-height:25px;
		}	
    }

    #roomsWrapper{
		width:730px;
        /* min-height: 500px; */
		float:left;
		margin-left:30px;
    }

    .unavailableRoomsWrapper{
		width:730px;
		float:right;
        margin-right:34px;
        display:none;
    }

    #roomsWrapper, .unavailableRoomsWrapper {
		ul li{
		    padding:30px 30px 0;
			background:#ffffff;
			margin-bottom:30px;
			overflow:hidden;
			.roomImage, .bookingRoomNoImage{
			    float:left;
				margin-right:20px;
				position:relative;
				width:320px;
				height:240px;
				.img-count{
				    top:13px;
					right:13px;
				}
				img{
					width:100%;
				}
			}
			.bookingRoomNoImage{
			    background-color: #e8e8e8;
				p{
				    line-height:240px;
					text-align:center;
					font-size:12px;
					font-family:DINWebPro;
				}
				
			}
			.roomInfo{
			    float:left;
				overflow:hidden;
				position:relative;
				min-height:250px;
				padding-bottom:32px;
				width:262px;
				font-family:DINWebPro, Arial, sans-serif;
				
                h4, .room-info-heading {
		            font-family: DINWebProCondBold, Arial, sans-serif;
                    font-size: 22px;
                    margin-bottom: 10px;
                    text-transform: uppercase;	
                    line-height:22px;
				}
				a {
                    border-bottom: 1px solid #a96c16;
                    color: #a96c16;
                }

				.roomInfoSeperator{
				    @include header-bar(#c3c3c3, 17px, 1px, 10px);
					margin-top:10px;
				}
				.roomDescShort{
				    color: #000000;
                    font-size: 13px;
                    line-height: 19px;
                    margin-bottom: 10px;
				}
				.roomDescFull{
				    color: #343434;
				    display:none;
					line-height: 19px;
					font-size:13px;
				}
				a.selectRoom {
                    @include lightbutton;
                            
                    border-bottom: none;
                    bottom: 0;
                    color: #222;
                    position: absolute;
                    right: 0;
                    float:right;
                }
                a.selectRoom:hover {
                    @include lightbuttonhover;
                }
                a.selectRoom:active {
                    @include lightbuttonclick;
                }
			}
		}
        
        .mobile-image-swipe {
            .overlay {
                width: 100%;
            }
        }
	}	
}
body.roomsPage{
    a.readmore,a.readless{
        font-size:12px;
    }
}
body.roomsPage,body.dealPage{
    .roomInfoWrapper{
        clear:both;
        border-bottom: 1px solid #C3C3C3;
        font-family: DINWebPro;
        
        .roomAmenitiesWrapper, .roomTC{
                width:50%;
                float:left;
        }
        .roomAmenitiesWrapper{
            padding:26px 0 22px;
        }
        .roomAmenitiesWrapper:hover{
            cursor:pointer;
        }
        .roomTC{
           padding:16px 0;
        }
        .roomDropdown{
            float:left;
            padding: 5px 0 0 20px;
            color:#666666;
            line-height: 19px; 
            display:none;
        }
        .roomTC{
            div{
                float:right;
            }
            div.yellow-button{
                width:103px;
            }
            div.rateWrapper{
                
                font-size:16px;
                padding-right:20px;
                height: 35px;

                div{
                    clear:both;
                }
                .rate{
                    color:#a96c16;                    

                    span{
                        color:#000000;
                        font-family: Plantin;
                        font-style:italic;
                    }
                }
                .hotelCurrency{
                    font-size:10px;
                    line-height: 18px;
                }                
            }
            .cancelPolicy{
                font-family: DINWebProMedium;
                font-size:10px;
                text-align:right;
                padding: 8px 0;
                line-height: 17px;
            }
        }
        
        .roomInfoToggle{
            font-family: DINWebProCondBold;
            font-size: 18px; 
            color:#000000;

            .icon{
                font-size:5px;
                width:20px;
                height:20px;
                float:left;
                line-height:16px;
            }
        }
    
    }
    .lastWrapper{
        margin-bottom:32px;
    }
}
body.dealPage{
    section#pdpRooms{
        margin-left:0;
        #roomsWrapper{
                margin-left:0;
        }
    }
}