@media (min-width: 1150px) and (max-width: 1264px) {
    body.roomsPage{
        #pdpRooms {
            #roomsGeneralWrapper{
                text-align: justify;
                width: 97%; 
            }
            #roomsDescWrapper{
                margin-bottom: 30px;
                text-align: justify;
                width: 97%; 
                position:static;
                .sectionHeadings{
                    border:none;
                    .sectionSubHeading{
                        border:none;
                    }
                }
            }
            section#roomsWrapper, .unavailableRoomsWrapper {
                width: 97%;
                margin-left:0;
            }
        }
    }
}