@media (min-width: 1024px) and (max-width: 1149px) {
    body.roomsPage,body.dealPage{
        #pdpRooms {
            section#roomsWrapper, .unavailableRoomsWrapper {
                width:780px;
                float:left;
                margin-left:0;
            }
        }
    }
}