@media only screen and (min-width: 1px) and (max-width: 768px) {

	section#pdpRooms{
	    padding: 0 10px;
	    margin:12px 0 0 0;
        
        div#availability-widget-holder{
            float:none;
            width:auto;
            margin:0 0 20px;
            
            div#availability-widget{
                padding:2px 0 0;
            }
        }
		header{
		    display:none;
		}
        .unavailableRoomsWrapper header {
            display:block;
        }
		section#roomsWrapper, .unavailableRoomsWrapper {
			width: 100%;
		    margin-right: 0;
			float:none;

			ul{
			   li{
					padding:0;
					margin-bottom:20px;
					.roomInfo{
						padding: 0 15px 40px;
						margin-top:26px;
						min-height: 0;
						width:auto;
						float: none;
						.selectRoom{
							right:0;
						}
						h4{
						   color:#333333;
						   font-size:28px;
						   line-height:28px;
						}
						a{
							color:#000;
							font-size:13px;
							border-bottom:none;
							font-family:DINWebPro;
							.arrowUp{
								background:url("../images/sprites.png") -207px -25px ;
								display: inline-block !important;
								height:6px;
								margin-left:5px;
								width:10px;
							}
							.arrowDown{
								background:url("../images/sprites.png") -120px -34px ;
								display: inline-block !important;
								height:6px;
								margin-left:5px;
								width:10px;
							}

						}
						.roomDescFull{
							padding-right:15px;
						}
					}
					.roomImage{
					    width:100%;
						margin-right:0;
						margin-bottom: 20px;
						height:auto;
						.image-replace,.img-count{
							display:none;
						}
						.mainImage{
						   img{
						        width:100%
							}
						}
					}
					.bookingRoomNoImage{
						display:none;
					}
			    }
			}

		}
		section#roomsDescWrapper{
			display:none;
		}
	}
    body.roomsPage,body.dealPage{
        #pdpRooms{
            section#roomsWrapper{
                margin-left:0;
                
                .roomInfoWrapper{
                    padding: 0 15px;
                    
                    >div{
                        width:100%;
                    }
                    
                    div.rateWrapper{
                        float:left;
                        
                        .rate{
                            float:left;
                        }
                        
                        #bookingSummaryTotalNights{
                            margin-left:4px;
                        }
                        
                        .hotelCurrency{
                            float:left;
                        }
                    }
                }
            }
        }
    }
    
    //body.roomsPage .roomInfoWrapper .roomTC div.rateWrapper
}
