@media only screen and (min-width: 1px) and (max-width: 768px) {
    #salescontacts #wrapper #main {
        margin-top: 55px !important;

        #centerHeader {
            display: inherit;
        }

        .sectionHeadings .sectionSubHeading {
            display: inherit;
        }

        .contacts-region {
            margin: 10px;
            padding: 20px 15px;

            h2 {
                width: 100%;
                margin-bottom: 15px;
                float: none;
            }

            .contacts-group {
                width: auto;
                float: none;

                .single-contact div {
                    vertical-align: top;
                    display: block;
                    width: 100%;
                }
            }

            .continent-sprite {
                display: none;
            }
        }
    }
}

@media only screen and (min-width: 500px) and (max-width: 768px) {
    .tabSalesContacts {
        .contacts-region {
            .contacts-group {
                .single-contact {
                    float: left;
                    width: 50%;
                }
            }
        }
    }
}
