
body#salescontacts {
    #main {
        ul.breadcrumbs {
            padding-bottom: 10px;
            margin: 0 35px;
        }
        section#salesContactsHeading {
            .bigLine {
                margin: 0 35px;
            }
        }
    }
}

.tabSalesContacts {
    .contacts-region {
        clear: both;
        background: #fff;
        padding: 25px;
        overflow: auto;
        margin: 25px;

        h2 {
            font-family: DINWebProCondBold,Arial,sans-serif;
            font-size: 29px;
            line-height: 29px;
            text-transform: uppercase;
            float: left;
            width: 320px;
        }

        .contacts-group {
            float: right;
            width: 50%;

            .single-contact {
                display: block;
                margin-bottom: 30px;

                span.sectionHeadingBar {
                    display: block;
                    width: 17px;
                    height: 1px;
                    margin-bottom: 10px;
                    background-color: #C3C3C3;
                }

                div {
                    display: inline-block;
                    width: 48%;
                    font-family: DINWebPro,Arial,sans-serif;
                    line-height: 20px;

                    span {
                        font-weight: bold;
                        display: inline-block;
                        width: 60px;
                    }
                }

                .contact-name {
                    display: block;
                    width: 100%;
                    font-family: Plantin,Georgia,serif;
                    font-size: 16px;
                    line-height: 20px;
                    margin-bottom: 10px;
                }
            }

            .single-contact:last-child {
                margin-bottom: 0;
            }
        }

        .continent-sprite {
            float: left;
            clear: left;
            width: 138px;
            margin: 10px 30px 0;
            background: url(../images/sprite-continents.png) no-repeat top center;
        }

        #continent-europe {
            height: 140px;
            background-position: center top;
        }

        #continent-americas {
            height: 190px;
            background-position: center -155px;
        }

        #continent-asia {
            height: 190px;
            background-position: center -365px;
        }
    }
}
