header#searchEngine {
    div#searchEngineForm {
        ul#searchEngineAutocomplete {
            li.auto-suggest-list {
                background-color: #fff;
                height: auto;
                padding: 0;
                
                div {
                    padding: 0 10px;
                }
                
                div:hover, div.selected {
                    background: #ffed00;
                }
            }
        }
    }
}
div.learnmorebtn{
    @include darkbutton;
    
    bottom: 0;
    position: absolute;
    right: 0;
}
 div.learnmorebtn:hover {
    @include darkbuttonhover;
}
div.learnmorebtn:active {
    @include darkbuttonclick;
}
ul.hotels-list {
    max-height: 330px;
    max-width: 335px;
    overflow-y: auto;
    overflow-x: hidden;

    > li {
        > a {
            display: block;
        }
        
        a:active, a:link, a:visited {
            color: #000;		
        }
    }
}
 
body#campaign {
	section#partHotels{
		section#hotelsNav{
			padding-top:0;
			div{
				h1 {
					line-height:45px;
				}
			}
		}
	}

	section#calendar {
	
		overflow: hidden;
		
		> header {
			
			> h1 {
				
				> span {
					
					font-style: italic;
				}
			}
		}
	
		div#bookCalendar {
		
			@include calendar;
			
			div#loadingimg {
				
				> img {
					
					margin: 140px 0 0 0;
				}
			}
		}
		
		p#pdpBookCalendarClear {
			
			float: left;
			margin-top: 8px;
			padding-left: 45px;
		}
		
		a.bookNow {
		
			background: linear-gradient(178deg, #FFED1D 0%, #FFED1D 57%, #F5E313 58%, #F5E313 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
			color: #222222;
			float: right;
			font-family: DINWebProCondBold,Arial,sans-serif;
			font-size: 16px;
			height: 35px;
			letter-spacing: 1px;
			line-height: 39px;
			margin: 30px 45px 40px 0;
			overflow: hidden;
			text-align: center;
			text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.75);
			text-transform: uppercase;
			width: 154px;
		}
	}
}

.filter-category {
    .filter-option {
        position: relative;
        padding-left: 22px;
        padding-top: 2px;
    }
    
    .filter-option:hover {
        color: #a96c16;
    }
    
    .check {
        position: absolute;
        left: 1px;
        top: 1px;
        width: 14px;
        height: 14px;
        background: #cececc;
    }
    
    .filter-option-active {
        font-family: DINWebProMedium,Arial,sans-serif;
        
        .check {
            left: 0px;
            top: 0px;
            width: 16px;
            height: 16px;
            background: #363734 url('../images/check-white.png') no-repeat 2px 3px;
        }
    }
}