@media (max-width: 1264px) {
    .store-listing {
        .product-holder {
            width: 927px;
        }
    }
    
    .store-listing-product {
        width: 288px;
        margin-right: 21px;
        
        .image-holder {
            img {
                top: -24px;
            }
        }
    }
    
    .store-detail-main-holder {
        padding-right: 30px;
        text-align: right;
    }
    
    .store-detail-main {
        text-align: left;
    }
    
    .store-detail-order {
        position: relative;
        right: auto;
        top: auto;
        margin-top: 20px;
        display: inline-block;
        text-align: left;
    }
}

// Styles added to reposition store-detail-order things
@media only screen and (min-width: 1150px) and (max-width: 1264px) {
    .store-detail-content {
        .description p {
            max-height: 220px;
            overflow: hidden;
        }
    }
    
    .store-detail-order {
        position: static;
        background: transparent;
        float: left;
        
        .price {
            position: absolute;
            left: 514px;
            top: 393px;
            line-height: 35px;
            margin: 0px;
        }
        
        .add-to-cart {
            position: absolute;
            right: 180px;
            top: 393px;
            width: 110px;
            margin: 0px;
        }
        
        .view-cart {
            position: absolute;
            right: 60px;
            top: 393px;
            width: 110px;
            margin: 0px;
        }
        
        .quantity {
            display: none;
        }
    }
}
