// Override mobile styles with tablet or mobile landscape styles

@media only screen and (max-width: 1025px) {
    #store {
        div#wrapper {
            width: 100%;
        }
    }
}


// Store listing

@media only screen and (min-width: 561px) and (max-width: 1025px) {
    
	.store-listing-holder {
        margin: 0 20px;
    }
    
    .store-listing {
        .product-holder {
            width: 103%;
        }
    }
    
    .store-listing-product {
        margin-right: 3%;
        width: 47%;
        height: auto;
        padding-bottom: 50px;
        
        .image-holder {
            height: auto;
        }
    }
    
}


// Product detail

@media only screen and (min-width: 768px) and (max-width: 1025px) {
    .store-detail-main {
        height: auto;
    }
    
    .store-product-image {
        width: 62%;
        max-width: 420px;
        
        img {
            width: 100%;
            height: 100%;
        }
    }
    
    .store-detail-content {
        clear: both;
        padding: 0px 20px 50px 20px;
        
        .switch {
            padding-left: 0px;
            display: none;
        }
        
        .description {
            height: auto;
            display: block !important;
            padding-top: 20px;
        }
        
        .facts {
            display: block !important;
            height: auto;
            border-top: 1px solid #d6d6d6;
            padding-top: 18px;
            font-size: 13px;
            margin-bottom: 18px;
            
            span {
                font-size: 14px;
            }
        }
    }
    
    .store-detail-order {
        position: absolute;
        top: 20px;
        right: 30px;
        width: 30%;
        padding-left: 0px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 768px) {
    .store-detail-order {
        width: 236px;
    }
}


// Checkout 

@media only screen and (min-width: 768px) and (max-width: 1023px) {

}
