@media (max-width: 1149px) {
    .store-listing {
        .product-holder {
            width: 798px;
        }
    }
    
    .store-listing-product {
        width: 248px;
        margin-right: 18px;
        
        .image-holder {
            img {
                top: -4px;
            }
        }
    }
    
    .store-detail-main-holder {
        padding-right: 30px;
        text-align: right;
    }
    
    .store-form-block {
        li.first-name {
            clear: left;
        }
    }
}

@media only screen and (min-width: 1026px) and (max-width: 1149px) {
    .store-product-image {
        margin-right: 15px;
    }
    
    .store-detail-content {
        .social-share {
            right: auto;
            bottom: auto;
            left: 0px;
            top: 450px;
            padding:0px;
            width: 450px;
            
            .buttons {
                float: none;
                background: #222222;
                padding-top: 7px;
                padding-bottom: 6px;
                margin: 0px;
                
                .label {
                    padding-left: 15px;
                }
            }
        }
        
        hr {
            display: none;
        }
    }
    
    .store-detail-order {
        position: absolute;
        float: none;
        left: auto;
        top: auto;
        right: 30px;
        bottom: 25px;
        height: 35px;
        width: 304px;
        
        .price {
            text-align: left;
            line-height: 35px;
        }
        
        .quantity {
            display: none;
        }
        
        .add-to-cart {
            position: absolute;
            right: 110px;
            top: 0px;
            width: 100px;
            margin: 0px;
        }
        
        .view-cart {
            position: absolute;
            right: 0px;
            top: 0px;
            width: 100px;
            margin: 0px;
        }
    }
}