// Header
@media only screen and (min-width: 1px) and (max-width: 768px) {
    #checkoutTitle {
        position: relative;
        padding-top: 84px;
        top: auto;
    }
    
    #storeCheckoutHeader {
        background: transparent;
        
        > div {
            height: auto;
        }
        
        div#checkoutSteps {
            ul {
                width: 188px;
                margin: 0px auto;
                position: relative;
                left: auto;
                bottom: auto;
                padding-top: 15px;
                height: 35px;
            }
            
            li {
                width: auto;
                margin: 0px 6px;
            }
            
            div.step,
            div.name {
                display: none;
            }
            
            div.stepNumber {
                position: relative;
                top: auto;
                left: auto;
                height: 35px;
                width: 35px;
                line-height: 37px;
            }
        }
    }
}


// Store listing

@media only screen and (min-width: 1px) and (max-width: 560px) {
    .store-listing-holder {
        margin: 0 10px;
        
        .cart-button-holder {
            .store-dark-button {
                width: 100%;
            }
        }
    }
    
    .store-listing {
        .product-holder {
            width: 100%;
        }
    }
    
    .store-listing-product {
        height: auto;
        padding-bottom: 50px;
        width: 100%;
        
        .image-holder {
            height: auto;
        }
        
        .copy {
            max-height: 150px;
            height: auto;
        }
    }
}


// Product detail

@media only screen and (min-width: 1px) and (max-width: 767px) {
    .store-detail-main-holder {
        padding: 0px 10px 60px 10px;
        position: relative;
    }
    
    .store-product-image {
        width: 100%;
        float: none;
        max-width: 420px;
        margin: 0 auto;
        
        img {
            width: 100%;
            height: 100%;
        }
    }
    
    .store-detail-content {
        clear: both;
        padding: 0px;
        position: relative;
        
        .switch,
        hr {
            display: none;
        }
        
        .social-share {
            right: auto;
            bottom: auto;
            left: 0px;
            top: 0px;
            padding:0px;
            width: 100%;
            
            .buttons {
                float: none;
                background: #222222;
                padding-top: 8px;
                padding-bottom: 8px;
                max-width: 420px;
                margin: 0 auto;
                
                .label {
                    padding-left: 15px;
                }
            }
        }
        
        .description {
            height: auto;
            padding-top: 60px;
            margin-bottom: 0px;
            padding-bottom: 18px;
            border-bottom: 1px solid #d4d4d4;
        }
        
        .facts {
            border-top: 1px solid #FFF;
            padding-top: 12px;
            display: block;
            height: auto;
            padding-bottom: 12px;
            border-bottom: 1px solid #d4d4d4;
            margin: 0px;
            -webkit-text-size-adjust: 100%;
        }
        
        .fact {
            color: #000;
            font-size: 13px;
            line-height: 24px;
            
            span {
                color: #000;
                font-size: 14px;
                line-height: 24px;
            }
        }
    }
    
    .store-detail-order {
        margin: 0px auto;
        background: transparent;
        width: 90%;
        padding: 0px;
        display: block;
        border-top: 1px solid #FFF;
    }
    
    .store-detail-main {
        height: auto;
        background: transparent;
    }
}


// Cart

@media only screen and (min-width: 1px) and (max-width: 1025px) {
    .cart-detail-main-products {
        margin-bottom: 20px;
    }
    
    .cart-detail-main-product-header, 
    .cart-detail-main-product {
        display: none;
    }
    
    .cart-detail-main {
        margin: 0px 20px;
        
        .cart-detail-main-product-mobile {
            display: block;
        }
    }
}

@media only screen and (min-width: 1px) and (max-width: 767px) {
    .cart-detail-discount {
        width: 100%;
        height: auto;
        margin-bottom: 25px;
    }
    
    .cart-detail-summary {
        width: auto;
        float: none;
        clear: both;
    }
    
    .cart-detail-main {
        margin: 0px 10px;
    }
}

@media only screen and (min-width: 1px) and (max-width: 500px) {
    .cart-detail-main-continue,
    .cart-detail-main-footer, 
    .cart-detail-main-header {
        width: 100%;
        margin-right: 0px;
        
        .store-dark-button, 
        .store-yellow-button {
            width: 100%;
        }
    }
    
    .cart-detail-main-continue {
        margin-top: 0px;
    }
    
    .cart-detail-main {
        .cart-detail-main-product-mobile {
            display: block;
            font-size: 12px;
            line-height: 28px;
            min-height: 140px;
            
            .product-detail {
                padding-left: 10px;
            }
            
            .product-image {
                width: 140px;
                height: 140px;
            }
            
            .product-name-mobile {
                font-size: 18px;
                line-height: 18px;
            }
            
            .quantity {
                select {
                    width: 95px;
                    height: 28px;
                }
                
                .value {
                    left: 40px;
                    width: 30px;
                }
                
                .icon {
                    left: 80px;
                    top: 13px;
                }
               
                .remove-item {
                    font-size: 12px;
                    height: 15px;
                    line-height: 15px;
                    left: 99px;
                    top: 7px;
                    overflow: hidden;
                }
            }
        }
    }
}

@media only screen and (min-width: 1px) and (max-width: 360px) {
    .cart-detail-main {
        .cart-detail-main-product-mobile {
            min-height: 110px;
            line-height: 25px;
            
            .product-detail {
                padding-top: 10px;
            }
            
            .product-image {
                width: 110px;
                height: 110px;
            }
            
            .product-name-mobile {
                font-size: 17px;
                line-height: 17px;
                padding-bottom: 4px;
            }
        }
    }
}


// Checkout common

@media only screen and (min-width: 1px) and (max-width: 1025px) {
    #checkoutOrderSummary {
        display: none;
    }
    
    #checkoutOrderSummaryMobile {
        display: block;
        float: none;
        width: 100%;
        margin-top: 30px;
    }
    
    #storeCheckoutVerifyAccount {
        padding-right: 0px;
        overflow: visible;
    }
    
    #checkoutWrapper {
        > div {
            padding-left: 20px; 
            padding-right: 20px;
        }
    }
}

@media only screen and (min-width: 1px) and (max-width: 767px) {
    #checkoutWrapper {
        > div {
            padding-left: 10px; 
            padding-right: 10px;
        }
    }
}


// Verify Account

@media only screen and (min-width: 560px) and (max-width: 767px) {
    #storeCheckoutNewCustomer,
    #storeCheckoutCommunityMembers {
        .content-holder {
            width: 80%;
        }
    }
}

@media only screen and (min-width: 1px) and (max-width: 559px) {
    #storeCheckoutNewCustomer,
    #storeCheckoutCommunityMembers {
        width: 100%;
        float: none;
        
        .content-holder {
            width: 100%;
        }
    }
    
    #storeCheckoutCommunityMembers {
        padding-top: 30px;
    }
    
    #storeCheckoutVerifyAccount {
        .verify-account {
            > div {
                background: transparent;
            }
        }
    }
}

@media only screen and (min-width: 1px) and (max-width: 400px) {
    #storeCheckoutVerifyAccount .heading .required {
        line-height: 20px;
        float: none;
        text-align: right;
    }
    
    #storeCheckoutNewCustomer,
    #storeCheckoutCommunityMembers {
        .button {
            width: 100%;
        }
    }
}


// Review order

@media only screen and (min-width: 1px) and (max-width: 1025px) {
    .store-review-summary {
        .cost-confirm {
            display: none;
        }
        
        .cost-confirm-mobile {
            display: block;
            margin-top: 25px;
        }
    }
}

@media only screen and (min-width: 1px) and (max-width: 767px) {
    .store-review-summary .cost-confirm-mobile {
        width: 100%;
        float: none;
        
        .cost {
            width: auto;
        }
        
        .store-yellow-button {
            width: 100%;
        }
    }
    
    .store-shipping-billing-items {
        > div {
            float: none;
            width: 100%;
            border-width: 0px !important;
            min-height: 1px;
        }
        
        .padding {
            border-width: 0px !important;
            padding: 0px;
            min-height: 1px;
        }
        
        .shipping,
        .billing {
            padding-bottom: 25px;
        }
    }
}


// Checkout step 2 and 3

@media only screen and (min-width: 1px) and (max-width: 767px) {
    .store-sign-in-bar {
        height: auto;
        text-align: center;
        overflow: auto;
        padding: 7px 20px;
        
        .member {
            float: none;
            display: block;
        }
    }
    #storeCheckoutShipping, #storeCheckoutBilling {
        padding-right: 0;
    }    
    
    .store-form-block .description {
        display: block;
        -webkit-text-size-adjust: 100%;
    }
    
    .store-form-block li {
        width: auto;
        display: block;
        padding-right: 8%;
    }
    .store-form-block li input.text {
        width: 100%;
    }
    .store-form-block li .valid {
        left: inherit !important;
        right: 0px !important;
    }
    .store-form-block li.first-name, .store-form-block li.last-name, .store-form-block li.company-name, .store-form-block li.vat-number, .store-form-block li.city {
        padding-right: 0;
        width: 45%;
    }
    .store-form-block li.last-name, .store-form-block li.vat-number, .store-form-block li.city {
        padding-right: 7%;
    }
    .store-form-block li.city {
        width: 53%;
    }
    .store-form-block li.postcode {
        width: 30%;        
    }
    .store-form-block li.title, .store-form-block li.first-name, .store-form-block li.company-name, .store-form-block li.country, .store-form-block li.city, .state-province {
        margin-right: 2%;
    }
    .store-form-block li.country {
        float: none;
        width: auto;
        padding-right: 6%;
        
        .tzSelect {
            width: 100% !important;
            
            .store-country_selectbox {
                width: 100% !important;
            }
            
            ul.dropDown {
                width: 100% !important;
            }
        }
    }
    .store-form-block li.state-province {
        float: none;
        width: auto;
        padding-right: 6%;
    }
    #storeCheckoutBilling .continue-holder .store-prompted-bar {
        text-align: center;
        line-height: 17px;
        padding: 10px;
        height: auto;
    }
    div#checkoutSteps a.back-to-step {
        height: 36px;
        left: 0px;
        width: 36px;
    }
}

@media only screen and (min-width: 1px) and (max-width: 560px) {
    .store-form-block li.first-name, .store-form-block li.last-name, .store-form-block li.company-name, .store-form-block li.vat-number, .store-form-block li.city {
        width: 93%;
    }
}
