/* Hier kende dingen kopen */

html body.store-checkout {
    padding-bottom: 0px;
}

.store-yellow-button {
    @include lightbutton;
    
    font-size: 14px;
    line-height: 37px;
    width: 174px;
}

.store-grey-button {
    font-family: DINWebProCondBold, Arial, sans-serif;
    font-size: 14px;
    cursor: pointer;
    text-align:center; 
    line-height:37px; 
    background-color:#e8e8e8; 
    width:70px; 
    height: 35px; 
}

.store-dark-button {
    @include darkbutton;
    width: 100%;
    padding: 0px;
    text-align: center;
    cursor: pointer;
    width: 174px;
}

.dh-bread {
    color: #333;
    text-transform: capitalize;
    font-family: DINWebPro,Arial,sans-serif;
    font-size: 12px;
    line-height: 13px;
    text-align: center;
    
    span, 
    a {
        display: inline-block;
    }
    
    span {
        background: url("../images/sprites.png") no-repeat scroll -259px 0;
        height: 7px;
        margin: 3px 6px 0px 6px;
        width: 4px;
        line-height: 9px;
    }
}

.dh-page-heading {
    color: #000000;
    font-family: PLANTIN,Arial,sans-serif;
    font-size: 29px;
    line-height: 27px;
    text-align: center;
    margin: 14px 0 30px;
}


body#store.store-checkout #searchEngine {
    display: none;
}

@media only screen and (min-width: 769px) {
    body#store.store-checkout #sidebar {
        display: none;
    }
}


// Store listing

.store-listing-holder {
    margin: 0 35px;
    
    .cart-button-holder {
        border-bottom: 1px solid #d4d4d4;
        height: 49px;
        
        .store-dark-button {
            float: right;
        }
    }
    
    .cart-button-holder-bottom {
        height: 35px;
        border-bottom: 0px solid #d4d4d4;
    }
}

.store-listing {
    border-top: 1px solid #FFF;
    padding-top: 25px;
    padding-bottom: 60px;
    
    .product-holder {
        width: 1050px;
    }
}

.store-listing-product {
    width: 320px;
    height: 465px;
    background: #FFF;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
    display: block;
    position: relative;
    
    .image-holder {
        height: 240px;
        overflow: hidden;
        display: block;
        
        img {
            width: 100%;
            position: relative;
            top: -40px;
        }
    }
    
    .copy {
        display: block;
        font-family: Plantin,Arial,serif;
        font-size: 14px;
        line-height: 20px;
        color: #333;
        padding: 20px 15px 0px 20px;
        overflow: hidden;
        height: 150px;
    }
    
    .heading {
        font-family: DINWebProCondBold,Arial,sans-serif;
        font-size: 18px;
        line-height: 24px;
        text-transform: uppercase;
        color: #000;
    }
    
    hr {
        margin: 11px 0px;
        height: 0px;
        border-top: 1px solid #b4b4b4;
        border-bottom: 0px solid #b4b4b4;
        width: 20px;
    }
    
    .store-grey-button {
        position: absolute;
        right: 0px;
        bottom: 0px;
        text-transform: uppercase;
        width: 120px;
        letter-spacing: 1px;
    }
    
    .price {
        display: block;
        position: absolute;
        left: 20px;
        bottom: 0px;
        font-family: DINWebProMedium,Arial,sans-serif;
        font-size: 15px;
        line-height: 35px;
        color: #333;
    }
}


// Product detail

.store-detail-main-holder {
    padding: 40px 240px 60px 35px;
    position: relative;
}

.store-detail-main {
    background: #FFF;
    width: 100%;
    height: 450px;
    position: relative;
}

.store-detail-order {
    background: #FFF;
    color: #333333;
    width: 150px;
    height: 230px;
    position: absolute;
    right: 30px;
    top: 40px;
    padding: 0px 15px;
    
    .price {
        text-align: center;
        font-family: DINWebProMedium, Arial, sans-serif;
        font-size: 17px;
        line-height: 69px;
    }
    
    .button {
        @include darkbutton;
        width: 100%;
        padding: 0px;
        text-align: center;
        margin-top: 15px;
        cursor: pointer;
    }
    
    .view-cart {
        background: #e8e8e8;
        color: #151515;
    }
}

.store-detail-order .quantity,
.checkoutOrderSummary .currency {
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    font-family: DINWebPro, Arial, sans-serif;
    font-size: 13px;
    line-height: 41px;
    position: relative;
    
    .icon {
        font-size: 4px;
        position: absolute;
        right: 0px;
        top: 18px;
    }
    
    .value {
        float: right;
        text-align: right;
        margin-right: 17px;
    }
    
    select {
        position: absolute;
        left: 0px;
        top: 11px;
        width: 100%;
        height: 20px;
        opacity: 0;
    }
}

.store-product-image {
    width: 450px;
    position: relative;
    float: left;
    margin-right: 30px;
    
    .mobile-image-swipe .overlay {
        width: 100%;
    }
    
    .indicator-holder {
        padding-left: 14px;
        text-align: center;
        position: absolute;
        bottom: 14px;
        left: 0px;
        width: 100%;
    }
    
    .indicator {
        display: inline-block;
        margin-right: 14px;
        width: 10px;
        height: 10px;
        background: #ededed;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .indicator-active {
        background: #ffec14;
    }
}

.store-detail-content {
    padding-right: 30px;
    color: #333333;
    
    .switch {
        padding: 25px 20px 23px 20px;
        font-size: 11px;
        color: #666666;
        font-family: DINWebPro, Arial, sans-serif;
        
        span {
            display: inline-block;
            margin-right: 15px;
            border-bottom: 1px solid #666666;
            cursor: pointer;
            padding-bottom: 2px;
        }
        
        span.selected {
            border-bottom: 0px solid #666666;
        }
    }
    
    .description {
        @include fontplantin;
        font-size: 16px;
        line-height: 24px;
        height: 315px;
        overflow: hidden;
        margin-bottom: 20px;
    }
    
    .headline {
        font-family: DINWebProCondBold, Arial, sans-serif;
        font-size: 18px;
        text-transform: uppercase;
        line-height: 24px;
    }
    
    .facts {
        display: none;
        padding-top: 2px;
        margin-bottom: 20px;
        height: 313px;
    }
    
    .fact {
        font-family: DINWebPro, Arial, sans-serif;
        font-size: 12px;
        line-height: 21px;
        color: #666666;
        
        span {
            font-family: DINWebProMedium, Arial, sans-serif;
            display: inline-block;
            margin-right: 3px;
            color: #333333;
            font-size: 13px;
            line-height: 21px;
        }
    }
    
    hr {
        margin: 0px;
        height: 0px;
        border-top: 1px solid #d6d6d6;
        border-bottom: 0px solid #d6d6d6;
    }
    
    .social-share {
        display: block;
        height: 23px;
        position: absolute;
        bottom: 14px;
        right: 26px;
        
        .buttons {
            float: right;
            position: relative;
            
            .label {
                display: inline-block;
                font-size: 12px;
                color: #6c6c6c;
                font-family: DINWebPro;
                font-style: normal;
                position: relative;
                padding-right: 4px;
                top: 3px;
            }
            
            .button {
                display: inline-block;
                width: 26px;
                height: 22px;
                background: url('../images/social.png');
            }
            
            .button-facebook {
                background-position: 0px 0px;
            }
            
            .button-twitter {
                background-position: -26px 0px;
            }
            
            .button-pinterest {
                background-position: -52px 0px;
            }
            
            .button-google {
                background-position: -104px 0px;
            }
            
            .button-facebook:hover {
                background-position: 0px -22px;
            }
            
            .button-twitter:hover {
                background-position: -26px -22px;
            }
            
            .button-pinterest:hover {
                background-position: -52px -22px;
            }
            
            .button-google:hover {
                background-position: -104px -22px;
            }
        }
    }
}

.cart-detail-main {
    margin:0 35px;
    padding-bottom: 50px;

    .cart-detail-main-header-holder {
        border-bottom: 1px solid #d4d4d4;
    }
    
    .cart-detail-main-product-header {
        border-top: 1px solid #fff;
    }
    
    .cart-detail-main-header, .cart-detail-main-footer{
        margin-bottom: 10px;
        float:right;
    }
    
    .cart-detail-main-footer {
        clear: right;
    }
    
    .error {
        color: red;
        line-height: 20px;
    }
    
    .success {
        color: green;
        line-height: 20px;
    }
    
    .no-products {
        text-align: center;
    }
    
    .col {
        width: 18%;
        float: left;
        
        .label {
            font-family: DINWebProMedium, Arial, sans-serif;
            padding-left: 20px;
            font-size: 13px;
            line-height: 40px;
        }
    }
    
    .col:first-child {
        width: 46%;
        
        .label {
            padding-left: 0px;
        }
    }
    
    .product-image {
        width: 160px;
        height: 160px;
    }
    
    .product-price, .product-subtotal {
        font-family: DINWebProMedium, Arial, sans-serif;
        font-size: 16px;
        line-height: 160px;
    }

    .product-quantity-wrapper{
        margin:26px auto 0; 
        width: 103px;
        border-top: 1px solid #d7d7d7;
        border-bottom: 1px solid #d7d7d7;
        padding: 3px 0;
        height: 35px;
    }
    
    .product-quantity{
        padding-top: 20px;
        
        .quantity {
            float: left;
            font-family: DINWebPro, Arial, sans-serif;
            font-size: 13px;
            line-height: 35px;
            position: relative;
            margin-right: 9px;
            
            .icon {
                font-size: 4px;
                position: absolute;
                right: 0px;
                top: 16px;
            }
            
            .value {
                float: right;
                text-align: right;
                margin-right: 17px;
                display: inline-block;
                width: 7px;
            }
            
            select {
                position: absolute;
                left: 0px;
                top: 11px;
                width: 100%;
                height: 20px;
                opacity: 0;
            }
        }
        
        .quantity-update-button{
            float:left;
        }
        
        a.remove-item{
            text-decoration: underline;
            font-weight: normal;
            font-size: 12px;
            float: right;
            padding-top: 10px;
            margin-top: 4px;
            font-family: DINWebPro, Arial, sans-serif;
        }
    }

    .cart-detail-main-product {
        margin-bottom: 15px;
        clear: both;
        height: 160px;
        
        .col {
            height: 160px;
            text-align:center;
            background: #fff;
        }
        
        .line-right {
            background: #fff url('../images/store/cart-spacer.png') no-repeat center right;
        }
    }
    
    .product-name {
        font-family: Plantin;
        font-size: 25px;
        padding: 0 30px;
        text-align: left;
        display: table-cell;
        vertical-align: middle;
        height: 160px;
    }
    
    .cart-detail-main-product-mobile {
        display: none;
        background: #FFFFFF;
        min-height: 160px;
        margin-top: 10px;
        font-family: DINWebPro,Arial,sans-serif, Arial, sans-serif;
        font-size: 16px;
        line-height: 35px;
        
        .product-name-mobile {
            font-family: DINWebProCondBold,Arial,sans-serif, Arial, sans-serif;
            font-size: 21px;
            line-height: 22px;
            text-transform: uppercase;
            border-bottom: 1px solid #d4d4d4;
            padding-bottom: 12px;
        }
        
        .product-detail {
            overflow: hidden;
            padding: 20px 10px 0px 20px;
        }
        
        .price {
            border-bottom: 1px solid #d4d4d4;
            
            span {
                font-family: DINWebProMedium,Arial,sans-serif, Arial, sans-serif;
            }
        }
        
        .subtotal {
            span {
                font-family: DINWebProMedium,Arial,sans-serif, Arial, sans-serif;
            }
        }
        
        .quantity {
            border-bottom: 1px solid #d4d4d4;
            position: relative;
            
            select {
                position: absolute;
                left: 0px;
                top: 0px;
                width: 145px;
                height: 35px;
                opacity: 0;
                z-index: 2;
            }
            
            .value {
                position: absolute;
                left: 80px;
                top: 0px;
                text-align: right;
                width: 40px;
            }
            
            .icon {
                font-size: 4px;
                position: absolute;
                left: 130px;
                top: 16px;
            }
           
            .remove-item {
                font-size: 14px;
                text-decoration: underline;
                border-left: 1px solid #d4d4d4;
                padding-left: 15px;
                height: 20px;
                line-height: 20px;
                position: absolute;
                left: 154px;
                top: 8px;
            }
        }
    }
}

.cart-summary-wrapper{
    margin-top: 0px;
    clear: both;
}

.cart-detail-discount{
    float: left;
    width: 240px;
    height: 118px;
    font-family: DINWebPro, Arial, sans-serif;
    font-size:12px;
    padding-top: 18px;
    
    h4{
        font-family: DINWebProMedium, Arial, sans-serif;
        padding-bottom: 4px;
        font-size: 13px;
    }
    h5{
        line-height: 20px;
        padding-bottom:14px;
        color: #333333;
    }
    
    input{
        font-family: DINWebProMedium, Arial, sans-serif;
        font-size: 14px;
        float:left;
        height: 35px;
        width: 152px;
        background: none;
        border: none;
    }
    .discount-input-wrapper{
        border-top:1px solid #d4d4d2;
        border-bottom:1px solid #d4d4d2;
        padding: 3px 0;
        width: 226px;
        height: 35px;
    }
    
    input:focus{
        outline: 0;
    }
    ::-webkit-input-placeholder {
       color: #000;
    }

    :-moz-placeholder { /* Firefox 18- */
       color: #000;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
       color: #000; 
    }

    :-ms-input-placeholder {  
       color: #000; 
    }
    
    .discount-apply{
        float:left;
    }
}

.cart-detail-summary{
    font-family: DINWebPro;
    float:right;
    width: 300px;
    background-color: #fff;
    padding:18px 30px;
    p{  
        font-size: 12px;
        line-height: 15px;
        padding-bottom: 11px;
        color: #333333;
    }
    .total{
        font-family: DINWebProMedium;
        border-top: 1px solid #d7d7d7;
        font-size: 16px;
        padding-top: 13px;

    }
    span{
        float: right;
    }
}

.cart-detail-main-footer, .cart-detail-main-continue{
    margin-top: 15px;
    
    > a {
        width: 171px;
    }
}
.cart-detail-main-continue{
    margin-bottom: 15px;
    float:right;
    margin-right: 18px;
}


#htmlStoreCheckout {
    background-color: #222;
}

.store-checkout {
    div#main {
        margin: 0px !important;
        padding: 0px !important;
    }
}

#storeCheckoutHeader {
    background: #FFF;
    z-index: 1;
    
    > div {
        height: 261px;
        position: relative;
        max-width: 1265px;
        margin: 0 auto;
    }
    
    #logo {
        background: url("../images/dh_web_logo.gif") no-repeat left top;
        display: block;
        height: 140px;
        left: 28px;
        position: absolute;
        top: 33px;
        width: 138px;
    }
    
    div#headerLinks {
        color: #000000;
        font-family: DINWebPro;
        font-size: 12px;
        padding: 30px 25px 0 0;
        position: absolute;
        right: 0;
        top: 0;
        
        li {
            display: inline;
            font-family: DINWebPro,Arial,sans-serif;
            color: #000000;
        }
        
        li a {
            text-transform: none;
            font-size: 12px;
            color: #000000;
        }
        
        li.seperator {
            color: #bdbdbd;
        }
        
        .icon {
            margin-right: 10px;
            display: inline-block;
        }
        
        .icon-LHN-Icon-Assistance {
            font-size: 15px;
            line-height: 6px;
            position: relative;
            top: 1px;
        }
        
        .icon-share {
            font-size: 10px;
            line-height: 6px;
        }
    }
}
    
div#checkoutSteps {
    ul {
        display: block;
        height: 65px;
        // overflow: hidden;
        left: 8px;
        position: absolute;
        bottom: -16px;
        z-index: 1;
        width: 100%;
    }
        
    li {
        color: #bbb;
        display: block;
        float: left;
        position: relative;
        width: 20.56%;
    }
    
    div.name {
        font-family: DINWebProCondBold, Arial, sans-serif;
        font-size: 18px;
        margin-left: 0px;
        text-align: center;
        text-transform: uppercase;
        width: 198px;
    }
    
    div.check {
        display: inline-block;
        width: 14px;
        height: 13px;
        background: url('../images/check.png') no-repeat left top;
        position: relative;
        left: 3px;
        top: -1px;
    }

    div.step {
        @include fontplantin;
        font-style: italic;
        font-size: 12px;
        letter-spacing: 1px;
        position: absolute;
        left: 61px;
        top: 31px;
    }

    div.stepNumber {
        background-color: #ccc;
        border-radius: 50%;
        color: #fff;
        font-family: DINWebProCondBold, Arial, sans-serif;
        font-size: 16px;
        height: 25px;
        line-height: 27px;
        text-align: center;
        overflow: hidden;
        left: 88px;
        position: absolute;
        top: 36px;
        width: 25px;
    }

    li.current {
        color: #000;

        div.stepNumber {
            background-color: #000;
            box-shadow: 0 1px 2px rgba(0,0,0,0.3);
        }
    }

    li.completed {
        color: #8ab264;

        div.stepNumber {
            background-color: #8ab264;
        }
    }
    
    a.back-to-step {
        height: 60px;
        left: 30px;
        position: absolute;
        top: 0;
        width: 120px;
    }
}

#checkoutTitle {
    font-family: Plantin,Arial,serif;
    font-size: 29px;
    line-height: 28px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 84px;
    width: 100%;
    
    .tm {
        font-size: 11px;
        position: relative;
        left: 1px;
        top: -13px;
        line-height: 11px;
    }
    
    .prozess {
        color: #666;
        font-size: 16px;
        line-height: 18px;
    }
}

#checkoutWrapper {
    background-color: #f7f7f4;
    position: relative;
    width: 100%;
    color: #000;
    
    > div {
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        max-width: 1211px;
        
        padding: 50px 25px 60px 29px;
    }
}

#storeCheckoutFooter {
    background-color: #222;
    color: #888;
    margin-left: 0;
    padding: 0;
    width: 100%;

    > div {
        margin: 0 auto;
        max-width: 1280px;
        padding-bottom: 52px;
        padding-top: 30px;
        position: relative;

        a {
            color: #888;
            text-decoration: none;
            text-transform: uppercase;
        }

        ul {
            font-family: DINWebProMedium, Arial, sans-serif;
            font-size: 12px;
            overflow: hidden;
            padding: 0 30px;

            li {
                float: left;
                display: block;
                margin-bottom: 8px;
                margin-right: 18px;
            }
        }

        p {
            @include fontplantin;
            font-size: 13px;
            padding: 0 30px;
        }

        ul#bookingFooterIcons {
            overflow: hidden;
            padding: 0 24px 0 0;
            position: absolute;
            right: 0;
            top: 30px;

            li {
                display: block;
                float: right;
                margin: 0 0 0 25px;
            }

            li.truste {
                background: url('../images/booking/truste.png') no-repeat top left;
                height: 61px;
                width: 60px;
            }

            li.norton {
                background: url("../images/sprites.png") no-repeat scroll -328px -156px;
                height: 44px;
                margin-top: 9px;
                width: 84px;
            }
        }
    }
}

.checkoutOrderSummary {
    float: right;
    background: #FFF;
    color: #333333;
    width: 232px;
    
    .currency {
        border-bottom: 0px solid #d6d6d6;
    }
    
    .top {
        padding: 0px 15px;
    }
    
    .bottom {
        background: #222222;
        padding: 20px 15px;
        color: #FFF;
        font-family: DINWebPro, Arial, sans-serif;
        font-size: 12px;
        line-height: 16px;
        
        span {
            float: right;
        }
        
        hr {
            margin: 11px 0px 21px 0px;
            height: 0px;
            border-top: 1px solid #333333;
            border-bottom: 0px solid #333333;
        }
        
        .total {
            font-family: DINWebProMedium, Arial, sans-serif;
            font-size: 17px;
            text-transform: uppercase;
        }
    }
    
    .summary {
        @include fontplantin;
        font-size: 16px;
        line-height: 69px;
        text-align: center;
    }
    
    .product {
        border-top: 1px solid #d6d6d6;
        padding: 10px 0px;
        
        .price {
            float: right;
            margin-left: 10px;
        }
        
        .price,
        .name {
            font-family: DINWebProMedium, Arial, sans-serif;
            font-size: 13px;
            line-height: 20px;
        }
        
        .quantity {
            font-family: DINWebPro, Arial, sans-serif;
            font-size: 12px;
            line-height: 22px;
            color: #666666;
        }
        
        .links a {
            color: #a56f11;
            font-family: DINWebPro, Arial, sans-serif;
            font-size: 13px;
            text-decoration: underline;
            display: inline-block;
            margin-right: 8px;
            line-height: 20px;
        }
    }
    
    li.currencySwitch {
        span.icon {
            background-position: -190px -19px;
        }

        div.currencySwitchList {
            bottom: 30px;
            box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);
            display: none;
            left: -16px;
            position: absolute;
            width: 225px;
            z-index: 1000;

            ul {
                max-height: 400px;
                overflow-y: scroll;
                overflow-x: hidden;

                li {
                    background: #fff;
                    border-bottom: 1px solid #cfcfcf;
                    width: 100%;

                    a {
                        display: block;
                        text-indent: 15px;
                    }
                }

                li:last-child {
                    border-bottom: 0;
                }

                li:hover {
                    background-color: #ffed00;

                    a {
                        color: #000;
                    }
                }
            }
            .mCSB_container {
                margin-right: 0;
            }

            div.currencySwitchArrow {
                background: url('../images/sprites.png') no-repeat -88px 0;
                bottom: -11px;
                height: 11px;
                left: 47px;
                position: absolute;
                width: 18px;
            }
        }
    }
}

#checkoutOrderSummaryMobile {
    display: none;
}

#storeCheckoutVerifyAccount {
    padding-right: 30px;
    
    overflow: hidden;
    
    .heading {
        @include fontplantin;
        font-size: 29px;
        line-height: 60px;
        border-bottom: 1px solid #d4d4d4;
        
        .required {
            font-family: DINWebPro,Arial,sans-serif;
            font-size: 12px;
            line-height: 80px;
            color: #666666;
            float: right;
        }
    }
    
    .verify-account {
        border-top: 1px solid #FFF;
        padding-top: 30px;
        
        > div {
            background: url('/assets/images/store-line-bg.gif') repeat-y center top;
        }
    }
}

#storeCheckoutNewCustomer,
#storeCheckoutCommunityMembers {
    float: left;
    width: 50%;
    padding-top: 4px;
    
    .content-holder {
        width: 300px;
        margin: 0 auto;
    }
    
    .error {
        font-family: DINWebPro,Arial,sans-serif;
        color: red;
        display: none;
        margin-top: 10px;
    }
    
    .headline {
        font-family: DINWebProCondBold,Arial,sans-serif;
        font-size: 18px;
        line-height: 24px;
        text-transform: uppercase;
    }
    
    p {
        font-family: DINWebPro,Arial,sans-serif;
        font-size: 12px;
        line-height: 20px;
        color: #666666;
    }
    
    .button {
        margin-top: 25px;
        width: 174px;
    }
    
    label {
        display: block;
        font-family: DINWebProMedium, Arial, sans-serif;
        font-size: 13px;
        line-height: 35px;
        margin-top: 17px;
        color: #333333;
    }
    
    .text-input {
        display: block;
        border: 1px solid #d4d4d4;
        font-size: 14px;
        height: 46px;
        line-height: 46px;
        text-indent: 12px;
        width: 100%;
        margin-bottom: 5px;
    }
}

.store-prompted-bar,
.store-sign-in-bar {
    font-family: DINWebPro,Arial,sans-serif;
    color: #fff;
    background: #8ab263;
    height: 22px;
    line-height: 22px;
    padding-left: 20px;
    padding-right: 14px;
}

.store-sign-in-bar {
    .minutes {
        font-family: DINWebProMedium, Arial, sans-serif;
        text-transform: uppercase;
        font-size: 13px;
    }
    
    .member {
        float: right;
        
        a {
            color: #333333;
            text-decoration: underline;
        }
    }
}

.store-checkout-heading {
    @include fontplantin;
    font-size: 29px;
    line-height: 60px;
    border-bottom: 1px solid #d4d4d4;
}

#storeCheckoutShipping,
#storeCheckoutBilling {
    padding-right: 30px;
    overflow: hidden;
    
    .continue-holder {
        border-top: 1px solid #FFF;
        padding-top: 20px;
    }
    
    .store-prompted-bar {
        display: none;
    }
}

#storeCheckoutBilling .continue-holder {
    padding-top: 30px;
    
    .store-yellow-button {
        float: right;
        margin-left: 40px;
    }
    
    .store-prompted-bar {
        display: block;
        overflow: hidden;
    }
}

.store-title_selectbox {
    width: 105px !important;
}

.store-title_dropdown {
    height: 140px !important;
    overflow-y: auto !important;
    width: 105px !important;
}

.tzSelect .store-country_selectbox,
.tzSelect .store-state_selectbox,
.tzSelect .store-region_selectbox,
.tzSelect .store-province_selectbox {
    width: 290px !important;
    white-space: nowrap;
    overflow: hidden;
}

.store-country_dropdown,
.store-state_dropdown,
.store-region_dropdown,
.store-province_dropdown {
    width: 290px !important;
}

.store-form-block {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #d4d4d4;
    /*padding-top: 6px; // enable this to make it similar to booking form, without it it's similar to pdf creative*/
    padding-bottom: 25px;
    
    > ul > li {
        padding-top: 10px;
        position: relative;
        width: auto;
    }
    
    label {
        color: #000;
        display: block;
        font-family: DINWebProMedium,Arial,sans-serif;
        font-size: 13px;
        line-height: 17px;
        margin-bottom: 7px;
        padding-top: 20px;
    }
    
    input.text {
        width: 290px;
        background-color: #fff;
        border: 0 none;
        box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.5);
        color: #000;
        font-family: DINWebPro,Arial,sans-serif;
        font-size: 14px;
        height: 46px;
        line-height: 46px;
        position: relative;
        text-indent: 12px;
    }
    
    input.input-error {
        box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.5), 0 0 0 5px #ea0000 inset;
    }
    
    .error-message {
        color: #ea0000;
        font-family: DINWebPro,Arial,sans-serif;
        font-size: 12px;
        line-height: 12px;
        margin-top: 10px;
    }
    
    .valid {
        background: url("../images/sprites.png") no-repeat scroll -149px -49px;
        display: none;
        height: 27px;
        position: absolute;
        top: 65px;
        width: 27px;
    }
    
    li.last-name .valid {
        right: -45px;
    }
    
    li.email-address .valid {
        left: 429px;
    }
    
    li.address .valid {
        left: 614px;
    }
    
    li.city .valid {
        left: 474px;
    }
    
    .description {
        font-family: DINWebPro,Arial,sans-serif;
        font-size: 12px;
        padding-left: 10px;
    }
    
    li.title {
        width: 105px;
    }
    
    li.title,
    li.first-name,
    li.last-name,
    li.company-name,
    li.vat-number, 
    li.country,
    li.city, 
    li.postcode,
    li.state-province,
    li.state,
    li.province,
    li.region {
        float: left;
    }
    
    li.title,
    li.first-name, 
    li.company-name, 
    li.country,
    li.city {
        margin-right: 16px;
    }
    
    li.email-address, 
    li.address,
    li.use-as-billing {
        clear: both;
    }
    
    > ul > li.clear {
        clear: both;
        padding: 0px;
    }
    
    li.email-address input {
        width: 411px;
    }
    
    li.address input {
        width: 596px;
    }
    
    li.vat-number input, 
    li.postcode input {
        width: 150px;
    }
    
    li.use-as-billing,
    li.use-shipping {
        label {
            display: inline-block;
            padding-left: 10px;
            padding-top: 25px;
        }
    }
}

.store-review-summary {
    border-top: 1px solid #FFF;
    padding-top: 25px;
    
    .cost-confirm {
        float: right;
    }
    
    .cost-confirm-mobile {
        display: none;
    }
    
    .cost {
        width: 250px;
        background: #222;
        padding: 18px 30px 15px 30px;
        color: #FFF;
        font-family: DINWebPro, Arial, sans-serif;
        font-size: 12px;
        line-height: 16px;
        
        span {
            float: right;
        }
        
        hr {
            margin: 11px 0px 15px 0px;
            height: 0px;
            border-top: 1px solid #333333;
            border-bottom: 0px solid #333333;
        }
        
        .total {
            font-family: DINWebProMedium, Arial, sans-serif;
            font-size: 17px;
            text-transform: uppercase;
        }
    }
    
    .store-yellow-button {
        width: 310px;
        margin-top: 15px;
    }
}

.store-shipping-billing-items {
    overflow: hidden;
    min-height: 155px;
    font-family: DINWebPro, Arial, sans-serif;
    color: #333;
    font-size: 12px;
    line-height: 20px;
    
    > div {
        float: left;
        width: 33%;
        min-height: 155px;
    }
    
    .heading {
        font-family: DINWebProMedium, Arial, sans-serif;
        color: #000;
        line-height: 16px;
        padding-bottom: 4px;
    }
    
    .padding {
        padding-left: 25px;
        border-left: 1px solid #d4d4d4;
        min-height: 155px;
    }
    
    .shipping {
        border-right: 1px solid #FFF;
    }
    
    .billing {
        border-right: 1px solid #FFF;
    }
    
    a {
        color: #a56f11;
        text-decoration: underline;
        font-size: 13px;
    }
    
    .product {
        margin-bottom: 16px;
    }
}