body#travelproevents {
	#main {
	    ul.breadcrumbs {
		margin: 0 35px;
	    }
            #tpEventsListing {
		header {
		    div.sectionHeadings {
			text-align: center;

                        .bigLine {
                            margin: auto;
                            margin-bottom: 18px;
                        }
                        div.sectionHeading {
			    padding-left: 0;
			}
		    }
		}
                div.doubleLine {
			margin: auto;
			width: 93.5%;
			border-top: 1px solid #C7C7C7;
			border-bottom: 1px solid #FFF;
		}
                div.doubleLine.top {
		    margin-bottom: 30px;
		}
                div#tpEventsWrapper {
		    margin: 0 35px 35px;
                    text-align: center;
                    
                    div.tpEvent {
			text-align: center;
                        display: inline-block;
                        vertical-align: top;
                        width: 35%;
                        margin: 20px 4% 40px;
                        
                        span.tpEventDate {
				font-family: DINWebProCondBold;
				font-size: 12px;
				color: #000;
				text-transform: uppercase;
                                
                                small {
				    color: #888;
				}
			}
                        span.tpEventImage {
			    display: block;
                            margin: 20px auto;
                            width: 160px;
                            position: relative;
                            
				div.arrow {
					@include darkbutton;
                                        position: absolute;
                                        bottom: 3px;
                                        right: 0;
                                        padding: 0;
				}
				div.arrow:hover {
					@include darkbuttonhover;
				}
				div.arrow:active {
					@include darkbuttonclick;
				}
                        }
                        span.tpEventCopy, span.tpEventItalicCopy {
			    font-size: 20px;
                            font-family: Plantin, sans-serif;
			}
                        span.tpEventItalicCopy {
				font-style: italic;
			}
		    }
		}
	    }
	}
}

body.tp-events-page {
    #main {
        ul.breadcrumbs {
            padding-bottom: 8px;
            margin-left: 35px;
        }
        header {
            div.sectionHeadings {
                span.tpEventDate {
                    font-family: DINWebProCondBold, sans-serif;
                    font-size: 12px;
                    text-transform: uppercase;
                }
            }
        }
        section#myaccountStories {
            header {
                div.sectionHeadings {
                    margin-bottom: 20px;
                    
                    div.sectionHeading, div.sectionSubHeading {
                        padding-left: 0;
                    }
                }
            }
            .doubleLine.top {
                margin-bottom: 25px;
            }
        }
    }    
}
