@media only screen and (min-width: 1px) and (max-width: 500px) {
    body#travelproevents {
	#main {
	    ul.breadcrumbs {
		margin: 0 10px;
	    }
	    #tpEventsListing {
		div#tpEventsWrapper {
		    margin: 0 10px 35px;
		    
		    div.tpEvent {
			width: 92%;
		    }
		}
	    }
	}
    }
}
