@media only screen and (min-width: 501px) and (max-width: 768px) {
	body#travelproevents {
		#main {
		    #tpEventsListing {
			div#tpEventsWrapper {
			    div.tpEvent {
				width: 40%;
			    }
			}
		    }
		}
	}
}
