@media only screen and (min-width: 1px) and (max-width: 768px) {

    div.checkbox-group {
        float: none;
        width: 100%;
    }

    input[type="checkbox"] + label.lbl-dh-chk {
        padding-top:0 !important;
        margin-top:10px;
    }
    input[type="checkbox"]:checked + label.lbl-dh-chk {
        padding-top:0 !important;
        margin-top:10px;

    }
    html#booking form#bookingStep3 ul:not(.dropDown) li.bookingLastnameWrapper, html#booking form#bookingStep3 ul:not(.dropDown) li.bookingPostcodeWrapper, html#booking form#bookingStep3 ul:not(.dropDown) li.bookingTPguestLastnameWrapper, html#booking form#bookingStep3 ul:not(.dropDown) li.bookingTPguestPostcodeWrapper{
        margin-left:0;
    }
    html#booking form#bookingStep3 ul:not(.dropDown) li.bookingTPguestCityWrapper{
        margin-right:16px;
    }
    #travel-start-video,#travel-start-video-mobile {
        img {
            width:100%
        }
    }
    body#travelpro-signup #travel-sign-up-form #profileSettings {
        padding: 0 10px;

        div.form-cntr {

            div.personal-details.mobile-only {
                h2 {
                    padding-top: 20px;
                    padding-left: 15px;
                    padding-bottom: 18px;
                    border-bottom: 1px solid #C7C7C7;
                    font-family: Plantin,Arial,serif;
                    font-size: 29px;
                    line-height: 29px;
                }
                div.required-fields {
                    float: right;
                }
                h3 {
                    display: none;
                }
            }

            div.form-elements {
                padding-top: 10px;

                div.elements-cntr {
                    input#txtFirstName {
                        margin-bottom: 16px;
                    }
                    > span {
                        width: 100%;
                    }
                    .tzSelect {
                        width: 100% !important;
                    }
                }

                div.elements-cntr.travel-id, div.elements-cntr.company-address, div.elements-cntr.postal-code {
                    span:first-child {
                        margin-bottom: 16px;
                    }
                }

                div.element-label {
                    margin-bottom: 5px;
                }
            }

            input.my-account-save {
                margin: 28px 0;
            }

            input.text, select {
                width: 100%;
            }
        }
    }

    body#travelpro-signup #hotel-sign-up-form #profileSettings {
        padding: 0 10px;

        div.form-cntr {

            div.hotel-info-details.mobile-only {
                h2 {
                    padding-top: 20px;
                    padding-left: 15px;
                    padding-bottom: 18px;
                    border-bottom: 1px solid #C7C7C7;
                    font-family: Plantin,Arial,serif;
                    font-size: 29px;
                    line-height: 29px;
                }
                div.required-fields {
                    float: right;
                }
                h3 {
                    display: none;
                }
            }

            div.form-elements {
                padding-top: 10px;

                div.elements-cntr {
                    input#txtHotelName {
                        margin-bottom: 16px;
                    }
                    > span {
                        width: 100%;

                        textarea {
                            width: 100%
                        }
                    }

                    .chop{
                        width: 100%;
                    }

                    .tzSelect {
                        width: 100% !important;
                    }
                }

                div.elements-cntr.hotel-info-line.line-2,
                div.elements-cntr.hotel-info-line.line-4,
                div.elements-cntr.hotel-info-line.line-5 {
                    span:first-child {
                        margin-bottom: 16px;
                    }
                }

                div.elements-cntr.hotel-info-line.line-7 {
                    span:first-child, span:nth-child(2) {
                        margin-bottom: 16px;
                    }
                }

                div.elements-cntr.hotel-facilities-line.line-2 {
                    span:first-child, 
                    span:nth-child(2),
                    span:nth-child(3),
                    span:nth-child(4) {
                        margin-bottom: 16px;
                    }
                }

                div.elements-cntr.hotel-facilities-line.line-1 {
                    span:first-child {
                        margin-bottom: 16px;
                    }
                }

                div.elements-cntr.hotel-description-line.line-1,
                div.elements-cntr.hotel-description-line.line-2,
                div.elements-cntr.hotel-description-line.line-3,
                div.elements-cntr.hotel-description-line.line-4,
                div.elements-cntr.hotel-description-line.line-5,
                div.elements-cntr.hotel-description-line.line-6,
                div.elements-cntr.hotel-description-line.line-7,
                {
                    span:first-child {
                        margin-bottom: 16px;
                    }
                }

                div.elements-cntr.contact-info-line.line-1,
                div.elements-cntr.contact-info-line.line-2,
                div.elements-cntr.contact-info-line.line-4,
                div.elements-cntr.contact-info-line.line-6,
                {
                    span:first-child {
                        margin-bottom: 16px;
                    }
                }

                div.elements-cntr.contact-info-line.line-3 {
                    span:first-child, span:nth-child(2) {
                        margin-bottom: 16px;
                    }
                }

                div.element-label {
                    margin-bottom: 5px;
                }
            }

            input.my-account-save {
                margin: 28px 0;
            }

            input.text, select {
                width: 100% !important;
            }
        }
    }

}
