body#travelpro-signup {
    div.sectionHeadings {
        .sectionSubHeading {
            font-style: normal;
            text-align: center;
        }
    }
    
    #travel-start-video,#travel-start-video-mobile {
        height: auto;
        margin-top: 0;
        margin-bottom: 40px;
        text-align:center;

        img {
            height: auto;
        }

        span.watch-holder {
            position: relative;
            left: inherit;
            text-align: center;
            display: inline-block;
        }
    }
    
    section#loggedIn {
        margin-bottom: 0px;
    }
    
    section#profileSettings {
        margin-top: 20px;
        
        div.personal-data {
            padding-bottom: 40px;
        }
        
        div.form-cntr {
            div.form-elements {
                div.elements-cntr.travel-id, 
                div.elements-cntr.company-address {
                    > span {
                        margin-right: 15px;
                        display: inline-block;
                        vertical-align: top;
                    }

                    > span.check-mark {
                        display: none;
                        margin-bottom: 10px;
                        vertical-align: bottom;
                    }
                }
                
                #idType {
                    width: 300px;
                }
                
                span.cont {
                    font-family: DINWebPro, Arial, sans-serif;
                    font-size: 12px;
                }
                
                div.elements-floated {
                    padding-bottom: 0px;
                    
                    .line-1,
                    .line-2 {
                        height: 1px;
                        line-height: 1px;
                        background: #C7C7C7;
                    }
                    
                    .line-2 {
                        background: #FFFFFF;
                        margin-bottom: 28px;
                    }
                    
                    .checkbox-group {
                        margin-bottom: 20px;
                    }
                }
                
                div.travel-id {
                    div.tzSelect {
                        z-index: 101;
                    }
                }
            }
            
            p.error {
                margin-top: 10px;
                font-family: DINWebPro,Arial,sans-serif;
                font-size: 13px;
                color: #BF883B;
            }
            
            input.my-account-save {
                position: relative;
                float: right;
            }
            
            input[type=checkbox] {
                position: absolute;
                overflow: hidden;
                clip: rect(0px, 0px, 0px, 0px);
                height: 1px;
                width: 1px;
                margin: -1px;
                padding: 0px;
                border: 0px none;
            }

            input[type="checkbox"] + label.lbl-dh-chk {
                padding-left: 27px;
                height: 20px;
                display: inline-block;
                line-height: 20px;
                background-repeat: no-repeat;
                background-position: 0px 0px;
                color: #000;
                font-size: 13px;
                font-family: DINWebProMedium;
                vertical-align: middle;
                cursor: pointer;
                background-image: url('../images/chk-vlad.png');
                
                a {
                    text-decoration: underline;
                    color: #a96c16;
                }
            }

            input[type="checkbox"]:checked + label.lbl-dh-chk {
                background-position: 0px -20px;
            }
        }
        
        div.company-info {
            padding-bottom: 0px;
            
            .check-mark {
                margin-left: 15px;
            }
        }
    }
    
    #travel-register-complete {
        display: none;
        width: 800px;
        height: 540px;
        background: url('../images/travelpro/sign-up-done.png') no-repeat left top;
        text-align: center;
        
        .the-line {
            width: 88px;
            height: 5px;
            background: #000000;
            margin: 118px auto 38px auto;
        }
        
        h2 {
            text-align: center;
            @include fontplantin;
            font-size: 29px;
            margin-bottom: 12px;
            
            span {
                font-style: italic;
            }
        }
        
        p {
            text-align: center;
            font-family: DINWebPro, Arial, sans-serif;
            font-size: 12px;
            margin-bottom: 38px;
            line-height: 16px;
        }
        
        a.go-explore {
            @include darkbutton;
        }
        
        a.go-explore:hover {
            @include darkbuttonhover;
        }
    }
}

#travelpro-signup {
    .sub-heading {
        text-align: center;
        font-family: DINWebPro, Arial, sans-serif;
        font-size: 12px;
        color: #333333;
        line-height: 16px;
    }
    
    #travel-start-video, #travel-start-video-mobile{
        position: relative;
        display: block;
        width: 100%;
        height: 580px;
        margin-top: 54px;
        margin-bottom: 90px;
        
        span.watch-holder {
            position: absolute;
            width: 100%;
            height: 35px;
            left: 0px;
            bottom: 0px;
            text-align: center;
            
            span.watch {
                @include darkbutton;
                padding-left: 10px;
                padding-right: 10px;
            }
            
            span.watch:hover {
                @include darkbuttonhover;
            }
        }
    }
}

#travel-signup-video-done {
    width: 900px;
    height: 506px;
    background: #404c4b;
    text-align: center;
    
    h3 {
        @include fontplantin;
        color: #FFFFFF;
        font-style: italic;
        font-size: 29px;
        padding-top: 200px;
    }
    
    span.let-me-in {
        @include darkbutton;
        margin-top: 24px;
        padding-left: 20px;
        padding-right: 20px;
        cursor: pointer;
    }
    
    span.let-me-in:hover {
        @include darkbuttonhover;
    }
}

#travel-sign-up-form {
    display: none;
}

.youtube-wrapper {
    display:none;
   position:fixed;
   width:100%;
   top:20%;
   margin:auto 0;
   z-index:20011;
   a.close {
            z-index:101;
            background: #4e4e4e;
            border: 0;
            display: block;
            height: 35px;
            position: absolute;
            right: 0;
            top: 0;
            width: 35px;
            outline: none;
            span {
                background: url('/assets/images/sprites.png') no-repeat -268px -141px;
                display: block;
                height: 15px;
                left: 11px;
                position: absolute;
                top: 10px;
                width: 14px;
            }
        }

}
.youtube-video-container {
    position:relative;
    padding-bottom:45%;
    padding-top:30%;
    height:0;
    overflow:hidden;
    #travel-signup-video-done{
        z-index:100;
        position:absolute;
        top:0;
        width:100%;
        height:100%;
        h3{
            padding-top:30%;
        }
    }
}
.youtube-video-container iframe, .youtube-video-container object, .youtube-video-container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:75%;
}
.black_overlay{
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:20011;
	-moz-opacity: 0.8 !important;
	opacity:.80 !important;
	filter: alpha(opacity=80) !important;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)" !important; /* IE 8 */
}

#hotelStatus,
#hotelBuilding {
    width: 300px !important;
}

#txtHotelPostalCode,
#txtHotelDaysOpen,
#txtHotelDailyRate, 
#txtHotelOccupancy,
#txtHotelNumRooms,
#txtHotelNumSuites,
#txtHotelMeetingArea {
    width: 108px !important;
}

div.tzSelect {
    z-index: inherit;
}

#hotel-info,
#hotel-facilities {
    div.form-elements {
        padding-top: unset !important;
    }
}


#hotelOutlets, #hotelGuestFacilities {
    background-color: #fff;
    box-shadow: 0 1px 2px -1px rgba(0,0,0,0.5);
    color: #000;
    cursor: pointer;
    font-family: DINWebProMedium, Arial, sans-serif;
    font-size: 14px;
    height: 120px;
    position: relative;
    text-indent: 12px;
    width: 100%;
    min-width: 150px;
}

#txtHotelComments,
#txtHotelConcept,
#txtHotelArchi,
#txtHotelLocalInt,
#txtHotelBrand {
    height: 120px;
}

div#contact-info {
    div.line-1-end {
        margin-top: 30px;
        height: 1px;
        line-height: 1px;
        background: #C7C7C7;
    }
    div.line-2-end {
        background: #FFFFFF;
        margin-bottom: 28px;
        height: 1px;
        line-height: 1px;
    }

}

// global settings for this page
div#hotel-sign-up-form {
    .info {
        color: #949492;
    }

    .info-box {
        display: none;
        font-family: DINWebPro, Arial, sans-serif;
        background: #FFFFFF;
        box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.3);
        // height: 74px;
        // width: 240px;
        width: 250px;
        display: none;
        position: absolute;
        // top: -65px;
        // left: -28px;
        z-index: 10000;

        .box-tail {
            display: none;
            position: absolute;
            width: 20px;
            height: 15px;
            // left: 116px;
            // top: 9px;
            background: url(../images/dh-light/calendar-tail.png) no-repeat left top;
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: rotate(180deg);
            filter: progid:DXImageTransform.Microsoft.Matrix(M11=-1, M12=0, M21=0, M22=-1, DX=0, DY=0, SizingMethod='auto expand');
            z-index: 10001;
        }

        .closeInfoButton {
            display    : none;
            background : url(../images/dh-light/calendar-close.png) no-repeat top right;
            width      : 15px;
            height     : 15px;
            position   : absolute;
            top        : 10px;
            right      : 10px;
            cursor     : pointer;
        }

        p {
            // padding: 12px;
            padding: 18px;
            font-size: 12px;
            line-height: 1.5;
        }
    }

    .chop {
        overflow: hidden;
        display: inline-block;
        vertical-align: top;

        select {
            padding: 5px;
            margin:-5px -20px -5px -5px;
        }
    }
}

section#owning-entity,
section#mgmt-comp,
section#contact-person
{
    .subsection-heading {
        border-bottom: 1px solid #C7C7C7;
        font-family: Plantin, Arial, serif;
        font-size: 20px;
        line-height: 29px;
    }
}
