div.tzSelect {
    display: block;
    position: relative;
    width: 100%;
    z-index: 100;
    
    div.selectBox {
        background-color: #fff;
        box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.50);
        color: #000;
        cursor: pointer;
        font-family: DINWebProMedium, Arial, sans-serif;
        font-size: 14px;
        height: 46px;
        line-height: 46px;
        position: relative;
        text-indent: 12px;
        width: 100%;
        
        span.icon {
            background: url('../images/sprites.png') no-repeat -165px -8px;
            display: block;
            height: 5px;
            position: absolute;
            right: 14px;
            top: 22px;
            width: 10px;
        }
    }

    ul.dropDown {
        @include boxsizing;
        
        border: 1px solid #c3c3c3;
        left: 0;
        list-style: none;
        position: absolute;
        top: 46px;
        width: 100%;
        z-index: 100;
        
        li {
            @include boxsizing;
            
            background-color: #fff;
            border-bottom: 1px solid #c3c3c3;
            display: block;
            color: #000;
            cursor: pointer;
            font-size: 14px;
            height: 46px;
            line-height: 46px;
            overflow: hidden;
            text-indent: 12px;
            width: 100%;
        }

        li:hover {
            background-color: #ffed00;
        }

        li:last-child {
            border-bottom: none;
        }
    }
}

