@font-face {
    font-family: 'oe-icons';
    src:    url('../../fonts/oe/oe-icons.eot?98whnu');
    src:    url('../../fonts/oe/oe-icons.eot?98whnu#iefix') format('embedded-opentype'),
    url('../../fonts/oe/oe-icons.ttf?98whnu') format('truetype'),
    url('../../fonts/oe/oe-icons.woff?98whnu') format('woff'),
    url('../../fonts/oe/oe-icons.svg?98whnu#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-oe"], [class*=" icon-oe"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'oe-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-oe-dh-logo:before {
    content: "\e900";
}
.icon-oe-loupe:before {
    content: "\e90a";
}
.icon-oe-next-story:before {
    content: "\e90b";
}
.icon-oe-next-thumb:before {
    content: "\e90c";
}
.icon-oe-play:before {
    content: "\e90d";
}
.icon-oe-player-close:before {
    content: "\e90e";
}
.icon-oe-player-play:before {
    content: "\e90f";
}
.icon-oe-player-volume:before {
    content: "\e910";
}
.icon-oe-player-volume-no:before {
    content: "\e911";
}
.icon-oe-previous-story:before {
    content: "\e912";
}
.icon-oe-previous-thumb:before {
    content: "\e913";
}
.icon-oe-scroll-down:before {
    content: "\e914";
}
.icon-oe-share-story:before {
    content: "\e915";
}
.icon-oe-spg:before {
    content: "\e918";
}
.icon-oe-spg-partner:before {
    content: "\e919";
}
.icon-oe-video:before {
    content: "\e91c";
}
.icon-oe-view-hotel:before {
    content: "\e91d";
}
.icon-oe-world:before {
    content: "\e91e";
}