// Design Hotels SASS
// ==================
// Homepage
//

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

#sidebar.pushy {
    width: 100%;
}

#goldenstage-wrap {
    position: relative;
}

.gs-arrow {
    height: 100%;
    color: rgba(255,255,255,0.6);
    cursor: pointer;
    z-index: 100;
    position: absolute;
    
    .gs-arrow-inner {
        @include vertical-align($position: relative);
        background: rgba(34,34,34,0.6);
        padding: 1rem 0.5rem;
        @include link-transition;
        line-height: 0;

        i {
            font-size: 1rem;
            font-weight: normal;
        }
    }
}

.gs-arrow-right {
    right: 0;
}

.gs-arrow-down {
    @include horizontal-align($position: absolute);
    bottom: 0;
    position: absolute;
    //background: rgba(34,34,34,0.6);
    padding: 0.4rem 0.9rem 1.2rem;
    color: $color-white;
    cursor: pointer;
    z-index: 100;
    line-height: 0;
    
    i {
        font-size: 0.5rem;
    }
}

.gs-arrow:hover, .gs-arrow-down:hover {
    color: $color-white;
    
    .gs-arrow-inner {
        background: $color-darker-grey;
    }
}

.gs-arrow-down:hover {
    animation: bounce 1500ms infinite linear;
    margin-left: -23px;
}

article.goldenstage {
    color: $color-white;
    display: block;
    position: relative;
//    padding: 1rem 0;
    text-align: center;
    font-family: Plantin, serif;
    z-index: 10;
    @include dh-text-shadow;

    section {
        @include vertical-align();
        padding: 0px 3rem;        
        
        h1 {
            font-size: 4.44rem;
            font-weight: normal;
            margin: 0 0 0.5rem;
        }
        
        p {
            margin: 0 0 1.5rem;
            font-size: 1.1rem;
            text-transform: uppercase;
        }
        
        h1, p {
            a {
                border: 0;
            }
        }
        
        a {
            display: inline-block;
        }
    }
    
    .video-bg {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        z-index: -100;

        video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            width: 200%;
            left: -50%;
            height: 200%;
            top: -50%;
        }
    }
}

.gs-video-type {
    article.goldenstage {
        section {
            padding: 0px 1rem;
        }
    }
}

.slider-arrows {
    position: absolute;
    height: 450px;
    width: 100%;
    
    .gs-arrow {
        .gs-arrow-inner {
            @include vertical-align($position: relative);
            background: rgba(34,34,34,0.6);
            padding: 1rem 0.5rem;

            i {
                font-size: 1rem;
                font-weight: normal;
            }
        }
    }
    .gs-arrow:hover {
        .gs-arrow-inner {
            background: $color-darker-grey;
        }
    }
}

.slider-450 {
    .swipe-wrap {
        .single-deal, .single-hotel {
            height: 450px;
            text-align: center;
            color: $color-white;
            padding: 0 2rem;
            @include dh-text-shadow;
            
            h3 {
                font-family: DINWebProCondBold;
                font-size: 1.9rem;
                text-transform: uppercase;
                margin-bottom: 0;
                
                a {
                    color: inherit;
                    text-decoration: none;
                    border: 0;
                }
            }
            h4 {
                font-family: DINWebProCondBold, Plantin, serif;
                line-height: 1.3rem;
                margin-top: 0;
                text-transform: uppercase;
                font-size: 1.1rem;
            }
            a.trans-cta {
                @include horizontal-align(absolute);
                bottom: 2.5rem;
            }
        }
        
        .single-hotel {
            h4 {
                font-family: DINWebProCondBold;
                text-transform: uppercase;
                font-size: 1.1rem;
                line-height: 1.05;
                margin: 0.1rem 0;
            }
            h4:nth-child(2) {
                margin-top: 0.2rem;
            }
            
            .discount-icon {
                float: right;
                font-size: 5rem;
                margin-top: 0.5rem;
            }
            .hide-icon {
                display: none;
            }
        }
    }
}

.three-column, .two-column {
    overflow: auto;
    margin-top: 3.8rem;
    
    > h2 {
        margin-top: 0;
    }
    
    .view-all-cta {
        float: right;
        font-family: DinWebPro;
        font-size: 0.8rem;
        color: $color-black;
        border-color: $color-black;
        margin: 1rem;
    }
}

.world-map-wrapper, .destination-wrapper {
    text-align: center;
    
    a.cta {
        @include button-transp-black;
        display: inline-block;
    }
    a.cta:hover {
        @include button-black;
        border: 1px solid $color-black;
    }
}

.world-map-wrapper {
    overflow: hidden;
    
    #hotel-world-map {
        display: block;
        position: relative;
        width: 100%;
        height: 240px;
        overflow: hidden;
    }
    #hotel-world-map img {
        height: 310px;
        width: auto;
        position: absolute;
        top: -35px;
        left: 50%;
        transform: translateX(-50%);
    }
    
    #hotel-world-map img#home-map-hover{
        position: absolute;
        opacity: 0;
        @include link-transition;
        @include horizontal-align($position: absolute);
        z-index: 1;
    }

    #hotel-world-map img#home-map-hover:hover {
        opacity: 1;
        @include link-transition;
    }
    
    p {
        font-family: Plantin,serif;
        font-size: 1.3rem;
        margin-top: 21px;
        margin-bottom: 21px;
        min-height: 62px;
    }
}

.destination-wrapper {
    .slider-arrows {
        height: 310px;
    }
    
    .single-destination {
        width: auto;
        
        div {
            height: 312px;
            
            h3 {
                @include vertical-align($position: relative);
                font-family: DINWebProCondBold;
                font-size: 1.9rem;
                text-transform: uppercase;
                margin: 0;
                
                a {
                    border: 0;
                    color: inherit;
                }
            }
        }
        
        .cta {
            margin-top: 2rem;
            margin-bottom: 1px; /*Safari 9.0 bottom border not showing*/
        }
    }
}
    
#hotel-world-map {
    @include link-transition;
}

.collapse-icon {
    display: none;
}

#mbo {
}

@include respond-to(small-only) {

    article.goldenstage {
        .video-bg {
            video {
                display: none;
            }
        }

        section {
            margin: 0;
            
            h1 {
                font-size: 2.75rem;
                line-height: 3rem;
            }
            
            p {
                font-size: 0.9rem;
            }
        }
    }

    .why-dh-wrapper, .two-column, .three-column {
        text-align: center;
    }
    
    .world-map-wrapper {
        #hotel-world-map img {
            height: auto;
            width: 100%;
        }
    }
    
    .destination-wrapper {
        margin-top: 2rem;
    }
    
    /**
     * Changes for collapsing content blocks 
     * -----
     */
    
    .block-collapse-mobile {
        margin: 0;
        border-bottom: 1px solid #c7c7c7;
        border-top: 1px solid #ffffff;
        position: relative;
        
        .block-content {
            display: none;
        }
        
        h2 {
            margin: 12px 0;
            text-align: left;
        }
        
        .icon-arrow-small-down {
            display: block;
        }
    }
    
    .block-collapse-mobile-open {
        .block-content {
            display: block;
        }
        
        .icon-arrow-small-down {
            display: none;
        }
        
        .icon-arrow-small-up {
            display: block;
        }
    }
    
    .block-collapse-mobile-first {
        border-top: 1px solid #c7c7c7;
        margin-top: 48px;
    }
    
    #container {
        background: #f7f7f4;
    }
    
    .wrapper-with-a-baby {
        padding: 0px 10px;
    }
    
    .themes-wrapper {
        display: none;
    }
    
    .world-map-wrapper {        
        display: none;
        
        .block-content {
            padding-bottom: 2rem;            
        }
    }
    
    .collapse-icon {
        position: absolute;
        right: 0px;
        top: 28px;
        font-size: 5px;
    }
    
    .checkpoint {
        margin: 20px 0px;
    }
    
    .checkpoint:first-child {
        margin-top: 10px;
    }
    
    .checkpoint .checkpoint-wrap {
        width: 13%;
    }
    
    .checkpoint span.checkpoint-meta {
        width: 80%;
    }
    
    #top-dest-slider {
        margin-bottom: 16px;
    }
    
    /**
     * -----
     */
}

    /**
     * Special case for super-narrow screens
     */

@include respond-to(tiny, '(max-width: 350px)') {
    .checkpoint .checkpoint-wrap {
        width: 10%;
    }
    .checkpoint span.checkpoint-meta {
        width: 77%;
    }
}

@include respond-to(medium) {

    .gs-arrow {
        .gs-arrow-inner {
            padding: 1rem;

            i {
                font-size: 2rem;
            }
        }
    }

    #main-container {
        position: relative;
        z-index: 10;
        
        article#home-goldenstage {
            padding-top: 51px;            
        }
    }
    
    #main-container.main-container-no-margin {
        margin-top: 0;
    }
    
    .three-column, .two-column {
        .view-all-cta {
            margin: 1rem 0;
        }
    }
}

#mbo {
    overflow: auto;

    .mbo-left {
        a {
            border: 0;
        }
    }

    .mbo-right {
        color: $color-white;
        background: $color-mbo-grey;
        
        .mbo-right-inner {
            
            .bottom-mbo-meta {
            }
            
            p, h3 {
                font-family: Plantin, serif;
            }
            
            p {
                color: $color-mbo-text;
                line-height: 1.9rem;
                font-size: 1rem;
            }
            
            h3 {
                font-size: 1.5rem;
                margin-bottom: 0;
                line-height: 30px;
            }
            
            h4 {
                font-family: DINWebProCondBold;
                font-size: 0.9rem;
                text-transform: uppercase;
                letter-spacing: 5px;
                padding-bottom: 15px;
                line-height: 36px;
            }
        }
    }
}

@include respond-to(small-only) {
    #mbo {
        .collapse-icon {
            right: 10px;
        }
        
        .mbo-left {
            min-height: 240px;
        }
        
        .mbo-left {
            position: relative;
            overflow: auto;
            
            img {
                @include center-align($position: absolute);
                width: 70%;
                height: auto;
                -webkit-filter: blur(.01em) contrast(1.5);
                -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0);
            }
        }
        .mbo-right {
            position: relative;
            padding: 7% 7% 14%;
            overflow: auto;
            
            .mbo-right-inner {
                p {
                    margin: 0 0 2rem;
                }

                h3 {
                    margin-top: 0;
                }
                
                h4 {
                    margin: 0.7rem 0 1.3rem;
                }
            }
        }
    }
}

@include respond-to(medium-only) {
    #mbo {
        margin-top: 3.8rem;
        
        h2, .collapse-icon {
            display: none;
        }
        
        .mbo-left {
            min-height: 455px;
        }
        
        .mbo-left {
            position: relative;
            overflow: auto;
            
            img {
                @include center-align($position: absolute);
                width: 50%;
                height: auto;
                -webkit-filter: blur(.01em) contrast(1.5);
                -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0);
            }
        }
        .mbo-right {
            position: relative;
            padding: 3% 4% 8%;
            overflow: auto;
            
            .mbo-right-inner {
                p {
                    float: left;
                    width: 47%;
                    margin-top: 0;
                }
                
                .bottom-mbo-meta {
                    float: right;
                    width: 45%;
                    margin-right: 2%;
                }
                
                h3 {
                    margin-top: 0;
                }
                
                h4 {
                    margin: 0.7rem 0 1.3rem;
                }
            }
        }
    }
}

@include respond-to(large) {
    #mbo {
        margin-top: 3.8rem;
        
        h2, .collapse-icon {
            display: none;
        }
        
        .mbo-left, .mbo-right {
            min-height: 455px;
        }
        
        .mbo-left {
            position: relative;
            overflow: auto;
            float: left;
            width: 57%;
            
            img {
                @include center-align($position: absolute);
                width: auto;
                height: 6.5%;
                -webkit-filter: blur(.01em) contrast(1.5);
                -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0);
            }
        }
        .mbo-right {
            position: relative;
            float: right;
            width: 43%;
            padding: 3%;
            
            .mbo-right-inner {
                //width: 405px;
                
                .bottom-mbo-meta {
                    position: absolute;
                    width: 405px;
                    bottom: 9%;
                    left: 7%;
                }
                
                h4 {
                    margin-top: 0.6rem;
                }
            }
        }
    }
}

@include respond-to(1440p, '(min-width: 1440px)') {
    #mbo {
        
        .mbo-left, .mbo-right {
            min-height: 650px;
        }
        
        .mbo-left {
            position: relative;
            overflow: auto;
            float: left;
            width: 57%;
            
            img {
                @include center-align($position: absolute);
                width: auto;
                height: 6.5%;
                -webkit-filter: blur(.01em) contrast(1.5);
                -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0);
            }
        }
        .mbo-right {
            position: relative;
            float: right;
            width: 43%;
            padding: 4%;
            
            .mbo-right-inner {
                width: 380px;
                
                .bottom-mbo-meta {
                    position: absolute;
                    width: 380px;
                    bottom: 13%;
                    left: 10%;
                }
            }
        }
    }
}

#slider ul li:not(:nth-child(1)) {
    display: none;
}

.cookie-bar {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999999;
    background-color: #b2b3ad;
    width: 100%;
    padding: 8px 0 11px;
    margin: 0;
    font-size: 12px;
    line-height: 0;
    font-feature-settings: normal;
}

.cookie-bar__message {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: DinWebPro;
    font-size: 14px;
    color: #fff;
    line-height: 15px;
}

.cookie-bar__link-learn {
    padding: 0;
    margin: 0;
    color: #fff;
    border-bottom: 1px solid #fff;
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}

.cookie-bar__link-learn:hover {
    color: #fff;
}

.cookie-bar__link-close {
    padding: 0;
    margin: 0;
    text-decoration: none;
    border-bottom: none;
    position: relative;
    top: 3px;
    left: 15px;
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}

.cookie-bar__btn-close {
    padding: 0;
    margin: 0;
    width: 17px;
    height: 17px;
}

.cookie-bar--hide {
    display: none;
}
